{% load static %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

<table class="forms">
    <tr>
        <td><h6>Sesja:</h6></td>
        <td><h6 class="font-italic px-1 text-justify">{{ event.game }}</h6></td>
    </tr>
    <tr>
        <td><h6>Wydarzenie:</h6></td>
        <td><h6 class="font-italic px-1 text-justify">{{ event.description|linebreaksbr|truncatechars:500 }}</h6></td>
    </tr>
    <tr>
        <td><h6>Uczestnicy:</h6></td>
        <td>
            {% for profile in event.participants.all %}
                <img class="rounded-circle img-small" src="{{ profile.image.url }}">
            {% endfor %}
        </td>
    </tr>
    {% if informed %}
    <tr>
        <td><h6>Poinformowani:</h6></td>
        <td>
            {% for profile in event.informed.all %}
                <img class="rounded-circle img-small" src="{{ profile.image.url }}">
            {% endfor %}
        </td>
    </tr>
    {% endif %}
</table>