
{% load static %}
<tr>
    <td class="border-0">
        {% if request.user.profile.character_status != 'gm' and request.user.profile in event.informed.all %}
            <p><small class="text-muted">(Znasz z opowieści) {{ event.description|linebreaksbr }}</small></p>
        {% else %}
            <p class="font-18 font-italic px-1 py-1 text-justify">{{ event.description|linebreaksbr }}</p>
        {% endif %}

        {% if event.pictures.all and request.user.profile not in event.informed.all %}
            <table class="chronicle-img">
                <tr>
                {% for p in event.pictures.all %}
                    <td class="align-top">
                        <img src="{{ p.image.url }}" alt="Event img">
                        {% if p.description %}
                            <small>{{ p.description }}</small>
                        {% endif %}
                    </td>
                {% endfor %}
                </tr>
            </table>
            <br>
        {% endif %}

        {% if event.debate %}
            <p class="font-18 font-italic px-1 py-1 text-justify"><a href="{% url 'debates:debate' event.debate.topic.id event.debate.id %}">Narada: {{ event.debate.name }}</a></p>
        {% endif %}

        {% for note in event.notes.all %}
            {% if request.user == note.author %}
                {% if note.text != '' %}
                    <a style="color:{{ note.color }}"><br>Przemyślenia:<br>{{ note.text|linebreaksbr }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        <br>
    </td>
    <td class="align-top">
        <a class="btn btn-outline-dark mt-1" href="{% url 'history:chronicle-inform' event.id %}">
            <i class="icon-inform-medium"></i>
        </a>
        <a class="btn btn-outline-dark mt-1" href="{% url 'history:chronicle-note' event.id %}">
            <i class="icon-note-medium"></i>
        </a>
        {% if request.user.profile.character_status == 'gm' %}
            <a class="btn btn-outline-dark mt-1" href="{% url 'history:chronicle-edit' event.id %}">
                <i class="icon-edit-medium"></i>
            </a>
        {% endif %}
    </td>
</tr>