{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br>
    {% for chapter in chapters %}
        <h3 class="unblue mb-0">
            {% if chapter.image %}
                <img class="img-chapter" src="{{ chapter.image.url }}" alt="Chapter img">
            {% endif %}
            <a href="#{{ chapter.id }}" class="align-middle pt-2 small-caps border-bottom-dark">{{ chapter.title }}</a>
        </h3>
        <br>
    {% endfor %}
    <br><br>

    <table class="chronicle" id="chronicle" data-search="true" data-toggle="table">
        <colgroup>
            <col class="description">
            <col class="actions">
        </colgroup>
        <!-- This is neccessary to display the table with Search feature nicely  -->
        <thead class="hide">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for chapter in chapters %}
            <tr>
                <td>
                    <h2>
                        <span id="{{chapter.id}}">
                            <br><br>
                            {% if chapter.image %}
                                <img class="img-chapter-header" src="{{ chapter.image.url }}" alt="Chapter img">
                            {% endif %}
                            <br>
                            {{ chapter.title }}
                        </span>
                    </h2>
                </td>
                <td></td>
            </tr>
                {% for game in chapter.game_sessions.all %}
                    <tr>
                        <td>
                            <h4>
                                <strong><br><br>{{ forloop.counter }}. {{ game.title }}</strong><br><br>
                            </h4>
                        </td>
                        <td></td>
                    </tr>
                    {% for event in game.chronicle_events.all %}

                        {% include 'history/_one_chronicle_event.html' %}

                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}