{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>

    <h3 class="unblue">
        <strong><a href="{% url 'history:chronicle-all-chapters' %}">Pełna kronika</a></strong>
    </h3>
    <br><br>
    {% for chapter in chapters_with_allowed_games_dict %}
        <br>
        <tr><h4>{{ chapter.title }}</h4></tr>
        {% for game in chapters_with_allowed_games_dict|dict_lookup:chapter %}
        <tr>
            <td>
                <h6 class="unblue">
                    {{ forloop.counter }}.
                    <a href="{% url 'history:chronicle-one-chapter' game.id %}">{{ game.title }}</a>
                </h6>
            </td>
        </tr>
        {% endfor %}
    {% endfor %}

{% endblock content %}
