{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br>
    <table class="chronicle" id="chronicle" data-search="true" data-toggle="table">
        <colgroup>
            <col class="description">
            <col class="actions">
        </colgroup>
        <!-- This is neccessary to display the table with Search feature nicely  -->
        <thead class="hide">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for game in games %}
                <tr>
                    <td>
                        <h4>
                            <strong><br><br>{{ forloop.counter }}. {{ game.title }}</strong><br><br>
                        </h4>
                    </td>
                    <td></td>
                </tr>
                {% for event in game.chronicle_events.all %}

                    {% include 'history/_one_chronicle_event.html' %}

                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}