{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'history:chronicle-main' %}">Kronika</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <table class="chronicle" id="chronicle" data-search="true" data-toggle="table">
        <colgroup>
            <col class="description">
            <col class="actions">
        </colgroup>
        <!-- This is neccessary to display table with Search feature nicely  -->
        <thead class="hide">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for event in events %}
                <tr>
                    <td class="chronicle-event">
                        <br>
                        <p>
                            {% if event in events_informed %}
                                <small>(Znasz z opowieści)</small>
                            {% endif %}
                            {{ event.description|linebreaksbr }}
                        </p>
                        {% if event.pictures.all and event not in events_informed %}
                            <table class="chronicle-img">
                                <tr>
                                {% for p in event.pictures.all %}
                                    <td>
                                        <img src="{{ p.image.url }}" class="border-double">
                                        {% if p.description %}
                                            <small>{{ p.description }}</small>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                </tr>
                            </table>
                            <br>
                        {% endif %}
                        
                        {% if event.debate %}
                            <p><a href="{% url 'debates:debate' event.debate.topic.id event.debate.id %}">Narada: {{ event.debate.name }}</a></p>
                        {% endif %}

                        {% for note in event.notes.all %}
                            {% if request.user == note.author %}
                                {% if note.text != '' %}
                                    <a style="color:{{ note.color }}"><br>Przemyślenia:<br>{{ note.text|linebreaksbr }}</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="align-top">
                        <br>
                        <h6><a href="{% url 'history:chronicle-inform' event.id %}"><img src="{% static 'img/inform.png' %}" class="small-img"></a></h6>
                        <h6><a href="{% url 'history:chronicle-note' event.id %}"><img src="{% static 'img/note.png' %}" class="small-img"></a></h6>
                        {% if request.user.profile.character_status == 'gm' %}
                            <h6><a href="{% url 'history:chronicle-edit' event.id %}"><img src="{% static 'img/edit.png' %}" class="small-img"></a></h6>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock content %}