{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>

    <h3 class="unblue">
        <strong><a href="{% url 'history:chronicle-all-chapters' %}">Pełna historia drużyny</a></strong>
    </h3>
    <br>
    {% for game in allowed_bios_list %}
        <tr>
            <td>
                <h5 class="unblue">
                    0.
                    <a href="{% url 'history:chronicle-one-chapter' game.id %}">{{ game.title }}</a>
                </h5>
            </td>
        </tr>
    {% endfor %}

    {% for game in allowed_games_list %}
        <tr>
            <td>
                <h5 class="unblue">
                    {{ forloop.counter }}.
                    <a href="{% url 'history:chronicle-one-chapter' game.id %}">{{ game.title }}</a>
                </h5>
            </td>
        </tr>
    {% endfor %}
    <br>

{% endblock content %}
