{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_extra %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'history:chronicle-main' %}">Historia</a></li>
    <li class="breadcrumb-item"><a href="javascript:history.go(-1)">(...)</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <table class="forms">
        <tr>
            <td><h6>Sesja:</h6></td>
            <td class="justify"><small>{{ event.game }}</small></td>
        </tr>
        <tr>
            <td><h6>Wydarzenie:</h6></td>
            <td class="justify"><small>{{ event.description }}</small></td>
        </tr>
        <tr>
            <td><h6>Uczestnicy:</h6></td>
            <td><small>{{ participants }}</small></td>
        </tr>
        {% if informed %}
        <tr>
            <td><h6>Poinformowani:</h6></td>
            <td><small>{{ informed }}</small></td>
        </tr>
        {% endif %}
    </table><br><br>

    <small>Jeśli chcesz skasować przemyślenia, usuń treść i kliknij 'Zapamiętaj'.</small><br><br>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                {{ form.color|as_crispy_field }}
            </div>
            <div class="form-group col-md-10 mb-0">
                {{ form.text }}
            </div>
        </div>
        <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
        <input class="btn btn-dark" type="submit" value="Zapamiętaj">
    </form>
{% endblock content %}
