{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'history:chronicle-main' %}">Historia</a></li>
    <li class="breadcrumb-item"><a href="javascript:history.go(-1)">(...)</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    {% if request.user.profile not in event.participants.all and request.user.profile not in event.informed.all and request.user.profile.character_status != 'gm' %}
        <h4>Kto Ci powiedział, że coś takiego miało miejsce?<br>Chcesz znać tajemnice - rozmawiaj z ludźmi w świecie gry.<br>Pamiętaj, że cała gra opiera się na tym, że MG tworzy scenariusze, które odkrywasz w trakcie gry. Jeśli nie jesteś w stanie znieść tego poziomu stresu i niepewności, jaki niesie ze sobą eksploracja świata gry jako odgrywana przez Ciebie postać, to zrezygnuj z gry na rzecz książek fantasy. Ale nie psuj zabawy sobie i innym zaglądając tam, gdzie nie powinieneś!</h4>
    {% else %}
        <table class="forms">
            <tr>
                <td><h6>Sesja:</h6></td>
                <td class="justify"><small>{{ event.game_no }}</small></td>
            </tr>
            <tr>
                <td><h6>Wydarzenie:</h6></td>
                <td class="justify"><small>{{ event.description }}</small></td>
            </tr>
            <tr>
                <td><h6>Uczestnicy:</h6></td>
                <td><small>{{ participants }}</small></td>
            </tr>
            {% if informed %}
            <tr>
                <td><h6>Poinformowani:</h6></td>
                <td><small>{{ informed }}</small></td>
            </tr>
            {% endif %}
        </table><br><br>

        <h6>Poinformuj towarzyszy o wydarzeniu:</h6>
        <small class="red">1) Opowiadaj swoje losy tylko towarzyszom obecnym przy Tobie w chwili zakończenia sesji!</small><br>
        <small>2) Inne postacie znajdujące się w pobliżu mogą podsłuchać Twoją opowieść.</small><br>
        <small>3) Jeśli chcesz zaczekać na sposobny moment, powiadom MG.</small><br>    <br>

        <form method="POST" class="allowed-profiles-form-history">
            {% csrf_token %}
            {{ form|crispy }}<br>
            <small>***Aby zaznaczyć wiele postaci - użyj CTRL albo SHIFT.</small><br><br>
            <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
            <input class="btn btn-dark" type="submit" value="Poinformuj">
        </form>
    {% endif %}
{% endblock content %}
