{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'history:chronicle-main' %}">Kronika</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <p class="font-18 font-italic px-1 py-1 text-justify">
        Jesteś poinformowany o tym wydarzeniu w bardzo ogólny sposób - wiesz co i kiedy,
        ale nie znasz dokładnego przebiegu (czyt. jesteś poinformowany w ramach Kalendarium, ale nie w ramach Kroniki).
    </p>
    <p class="font-18 font-italic px-1 py-1 text-justify">
        {% if participants_and_informed %}
            Jeśli pozwala na to sytuacja, w jakiej się obecnie znajdujecie, możesz zwrócić się do jednego z uczestników lub poinformowanych,
            aby opowiedzieli Ci dokładniej te dzieje.
            Oto kto może wiedzieć coś więcej na ten temat: {{ participants_and_informed }}.
            <br><br>
            Wyślij im Dezyderaty i poproś, aby podzielili się z Tobą wiedzą o dokładnym przebiegu tych wydarzeń. Zaznacz, że chodzi o Kronikę!
        {% else %}
            Jest to wydarzenie "ze świata", które nie zostało  zapisane w Kronice, ponieważ żaden z bohaterów nie był jego uczestnikiem.
        {% endif %}
    </p>
{% endblock content %}