{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <h2 class="unblue">
        <img src="{% static 'img/history_all.png' %}" class="border-double img-chapter">
        <b><a href="{% url 'history:chronicle-all-chapters' %}" class="align-middle pt-2">Pełna kronika</a></b>
    </h2>
    <br><br>
    {% for chapter in chapters %}
        <br>
        {% if chapter.image %}
            <img src="{{ chapter.image.url }}" class="border-double img-chapter">
        {% endif %}
        <h3 class="unblue">
            <b>
                <a href="{% url 'history:chronicle-one-chapter' chapter.id %}" class="align-middle pt-2 small-caps border-custom-base">
                {{ chapter.title }}
                </a>
            </b>
        </h3>
        <br>
        {% for game in chapter.game_sessions.all %}
            <h6 class="unblue">
                {{ forloop.counter }}.
                <a href="{% url 'history:chronicle-one-game' game.id '0' %}">{{ game.title }}</a>
            </h6>
        {% endfor %}
        <br>
    {% endfor %}

{% endblock content %}
