{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

{% block content %}
    <br>
    <p class="font-18 font-italic text-justify">{{ header }}</p>
    <br><br><br>

    <table class="timeline" data-search="true" data-toggle="table">
        <colgroup>
            <col class="year">
            <col class="day">
            <col class="thread">
            <col class="description">
            <col class="participants">
            <col class="locations">
            <col class="game">
            <col class="actions">
        </colgroup>
        <thead>
            <tr>
                <th>Rok</th>
                <th>Dzień</th>
                <th>Wątki</th>
                <th>Wydarzenie</th>
                <th>Postaci</th>
                <th>Lokacja</th>
                <th>Sesja</th>
                <th>Akcja</th>
            </tr>
        </thead>
        
        <tbody>
        {% for event in events %}
            <tr>
                <td class="align-center align-top unblue-black {{ seasons_with_styles_dict|dict_lookup:event.season }}">
                    <a class="hover-pointer" href="{% url 'history:timeline-events' 0 0 0 0 event.year '0' 0 %}">{{ event.year }}</a>
                </td>
                <td class="align-center align-top unblue-black {{ seasons_with_styles_dict|dict_lookup:event.season }}">
                    <a href="{% url 'history:timeline-events' 0 0 0 0 event.year event.season 0 %}">
                    {{ event.days }}
                    </a>
                </td>
                <td class="timeline-event-thread align-top unblue-black">
                    <ul class="bullets-1 pl-2">
                        {% for thread in event.threads.all %}
                            <li><a id="thread" class="hover-pointer" href="{% url 'history:timeline-events' thread.id 0 0 0 0 '0' 0 %}">{{ thread }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="timeline-event text-justify align-top unblue-black pl-2 pr-2">
                    <a href="{% url 'history:chronicle-one-game' event.game.id event.id %}">{{ event.description|linebreaksbr }}</a>
                    {% for note in event.notes.all %}
                        {% if request.user == note.author %}
                            {% if note.text != '' %}
                                <a style="color:{{ note.color }}"><br>Przemyślenia:<br>{{ note.text|linebreaksbr }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="timeline-small align-top unblue-black">
                    {% for profile in event.participants.all %}
                        <a class="hover-pointer" href="{% url 'history:timeline-events' 0 profile.id 0 0 0 '0' 0 %}"><small>{{ profile.character_name|get_first_word }}</small></a><br>
                    {% endfor %}
                    {% for profile in event.informed.all %}
                        <a class="hover-pointer" href="{% url 'history:timeline-events' 0 profile.id 0 0 0 '0' 0 %}"><small>+{{ profile.character_name|get_first_word }}</small></a><br>
                    {% endfor %}
                </td>
                <td class="timeline-small align-top unblue-black">
                    {% for gen_loc in event.general_locations.all %}
                        <a class="hover-pointer"  href="{% url 'history:timeline-events' 0 0 gen_loc.id 0 0 '0' 0 %}">{{ gen_loc.name }}</a><br>
                        {% for spec_loc in event.specific_locations.all %}
                            {% if spec_loc.general_location.id == gen_loc.id %}
                                <a class="hover-pointer" href="{% url 'history:timeline-events' 0 0 0 spec_loc.id 0 '0' 0 %}"><small>{{ spec_loc.name }}</small></a><br>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
                <td class="align-center align-top unblue-black">
                    {% if event.game.game_no > 0 %}
                        <small><a href="{% url 'history:timeline-events' 0 0 0 0 0 '0' event.game.id %}">
                            -{{ event.game.game_no }}-
                        </a></small>
                    {% elif event.game.game_no == 0 %}
                        <small hidden><b>***</b></small>
                    {% else %}
                        <small><a href="{% url 'history:timeline-events' 0 0 0 0 0 '0' event.game.id %}">-X-</a></small>
                    {% endif %}
                </td>
                <td class="align-top">
                    <a class="btn btn-outline-dark btn-sm py-0" href="{% url 'history:timeline-inform' event.id %}">
                        <i class="icon-inform-small"></i>
                    </a>
                    <a class="btn btn-outline-dark btn-sm py-0" href="{% url 'history:timeline-note' event.id %}">
                        <i class="icon-note-small"></i>
                    </a>
                    {% if request.user.profile.status == 'gm' %}
                        <a class="btn btn-outline-dark btn-sm py-0" href="{% url 'history:timeline-edit' event.id %}">
                            <i class="icon-edit-small"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    <br>
{% endblock content %}

