{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'history:timeline-main' %}">Kalendarium</a></li>
    <li class="breadcrumb-item"><a href="javascript:history.go(-1)">(...)</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    {% include 'history/_timeline_event_info.html' %}
    <br><br>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-4">
            {{ form.color|as_crispy_field }}
        </div>
        <div class="col-md-12">
            {{ form.text|as_crispy_field }}
        </div>
        <small>Jeśli chcesz skasować Przemyślenia, usuń treść i kliknij 'Zapamiętaj'.</small><br><br>
        <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
        <input class="btn btn-dark" type="submit" value="Zapamiętaj">
    </form>
{% endblock content %}

