{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block head_extra %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'history:timeline-main' %}">Kalendarium</a></li>
    <li class="breadcrumb-item"><a href="javascript:history.go(-1)">(...)</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <form method="POST">
        {% csrf_token %}
        {{ form.game|as_crispy_field }}
        <div class="form-row">
            <div class="col-md-3">{{ form.year|as_crispy_field }}</div>
            <div class="col-md-3">{{ form.season|as_crispy_field }}</div>
        </div>
        <div class="form-row">
            <div class="col-md-3">{{ form.day_start|as_crispy_field }}</div>
            <div class="col-md-3">{{ form.day_end|as_crispy_field }}</div>
        </div>
        {{ form.description|as_crispy_field }}
        <div class="form-row">
            <div class="col-md-4">{{ form.threads|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.participants|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.informed|as_crispy_field }}</div>
        </div>
        <div class="form-row">
            <div class="col-md-4">{{ form.general_locations|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.specific_locations|as_crispy_field }}</div>
        </div>
        <br>
        <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
        <input class="btn btn-dark" type="submit" value="Zapisz zmiany"/>
    </form>
{% endblock content %}