{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br>

    <div class="border-bottom">
        <h2 class="unblue">
            <img class="img-chapter" src="{% static 'img/history_all.png' %}" alt="Timeline img">
            <b><a href="{% url 'history:timeline-events' 0 0 0 0 0 '0' 0 %}" class="align-middle pt-2">Pełne Kalendarium</a></b>
        </h2>
        <small>Pełne kalendarium losów Twojej postaci oraz znanych jej wydarzeń</small><br><br>
    </div>
    <br><br>

    <table>
        <tr>
            <td class="align-top"><img class="img-timeline" src="{% static 'img/timeline_threads.png' %}" alt="Threads img"></td>
            <td class="align-top">
                <h3 class="align-middle mb-0" data-toggle="collapse" data-target="#threads">
                    <b class="hover-blue">Wątki</b>
                </h3>
                <small class="font-10">Wykaz wątków splątanych z Twoim losem</small>
            </td>
        </tr>
    </table>
    <div id="threads" class="collapse">
        <br>
        <table>
            {% for row in threads|columns:3 %}
             <tr>
                 {% for thread in row %}
                 <td class="unblue">
                     <ul class="bullets-1 mb-0">
                         <li><a href="{% url 'history:timeline-events' thread.id 0 0 0 0 '0' 0 %}">{{ thread.name }}</a></li>
                     </ul>
                 </td>
                 {% endfor %}
             </tr>
            {% endfor %}
        </table>
        <br>
    </div>
    <br>


    <table>
        <tr>
            <td class="align-top"><img class="img-timeline" src="{% static 'img/timeline_participants.png' %}" alt="Participants img"></td>
            <td class="align-top">
                <h3 class="align-middle mb-0" data-toggle="collapse" data-target="#participants">
                    <b class="hover-blue">Uczestnicy</b>
                </h3>
                <small class="font-12">Członkowie drużyny współuczestniczący w Twoich przygodach</small>
            </td>
        </tr>
    </table>
    
    <div id="participants" class="collapse container">
        <br>
        <section class="mb-5">
            <div class="row">
            
                    {% for participant in participants %}
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <figure>
                                <a class="img-link" href="{% url 'history:timeline-events' 0 participant.id 0 0 0 '0' 0 %}">
                                    <img class="img-fluid mx-auto d-block {% if participant.character_status == 'dead_player' %} img-grayscale {% endif %}"
                                         src="{{ participant.image.url }}"
                                         alt="Profile img"
                                    >
                                </a>
                                <figcaption class="pt-1 text-center">{{ participant.character_name }}</figcaption>
                            </figure>
                        </div>
                    {% endfor %}
            </div>
        </section>
            
    </div>
    <br>


    <table>
        <tr>
            <td class="align-top"><img class="img-timeline" src="{% static 'img/timeline_locations.png' %}" alt="Locations img"></td>
            <td class="align-top">
                <h3 class="align-middle mb-0" data-toggle="collapse" data-target="#general_locations">
                    <b class="hover-blue">Lokacje</b>
                </h3>
                <small class="font-12">Wykaz znanych Ci krain i lokacji występujących w Kalendarium</small>
            </td>
        </tr>
    </table>
    <div id="general_locations" class="collapse">
        <table>
            {% for gen_loc in gen_locs %}
                <tr>
                    <td class="font-24 pt-4 unblue" colspan="4">
                        <ul class="bullets-2 mb-0 pl-4">
                            <li><a href="{% url 'history:timeline-events' 0 0 gen_loc.id 0 0 '0' 0 %}">{{ gen_loc.name }}</a></li>
                        </ul>
                    </td>
                </tr>
                {% for row in gen_loc.specific_locations.all|columns:4 %}
                <tr>
                    {% for spec_loc in row %}
                        <td class="unblue">
                            <ul class="bullets-1 mb-0 pl-4"><li><a href="{% url 'history:timeline-events' 0 0 0 spec_loc.id 0 '0' 0 %}">{{ spec_loc.name }}</a></li></ul>
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            {% endfor %}
        </table>
        <br>
    </div>
    <br>


    <table>
        <tr>
            <td class="align-top"><img class="img-timeline" src="{% static 'img/timeline_years_and_seasons.png' %}" alt="Dates img"></td>
            <td class="align-top">
                <h3 class="align-middle mb-0" data-toggle="collapse" data-target="#years">
                    <b class="hover-blue">Lata i pory roku</b>
                </h3>
                <small class="font-12">Chronologia wydarzeń według lat i pór roku</small>
            </td>
        </tr>
    </table>
    <div id="years" class="collapse pl-2">
        <br>
        <table>
            {% for y in years_with_seasons_dict %}
                <tr>
                    <td class="unblue">
                        <a href="{% url 'history:timeline-events' 0 0 0 0 y '0' 0 %}">{{ y }}</a>&emsp;
                    </td>
                    <td class="unblue">
                        {% if '1' in years_with_seasons_dict|dict_lookup:y %}
                            <a href="{% url 'history:timeline-events' 0 0 0 0 y '1' 0 %}">Wiosna</a>&emsp;
                        {% endif %}
                    </td>
                    <td class="unblue">
                        {% if '2' in years_with_seasons_dict|dict_lookup:y %}
                            <a href="{% url 'history:timeline-events' 0 0 0 0 y '2' 0 %}">Lato</a>&emsp;
                        {% endif %}
                    </td>
                    <td class="unblue">
                        {% if '3' in years_with_seasons_dict|dict_lookup:y %}
                            <a href="{% url 'history:timeline-events' 0 0 0 0 y '3' 0 %}">Jesień</a>&emsp;
                        {% endif %}
                    </td>
                    <td class="unblue">
                        {% if '4' in years_with_seasons_dict|dict_lookup:y %}
                            <a href="{% url 'history:timeline-events' 0 0 0 0 y '4' 0 %}">Zima</a>&emsp;
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br><br>
    </div>
    <br>


    <table>
        <tr>
            <td class="align-top"><img class="img-timeline" src="{% static 'img/timeline_games.png' %}" alt="Games img"></td>
            <td class="align-top">
                <h3 class="align-middle mb-0" data-toggle="collapse" data-target="#games">
                    <b class="hover-blue">Sesje</b>
                </h3>
                <small class="font-12">Wykaz sesji obejmujących Twoje losy oraz wydarzenia znane Ci z opowieści</small>
            </td>
        </tr>
    </table>
    <div id="games" class="collapse">
        <br>
        <table>
            {% for row in games|columns:2 %}
             <tr>
                 {% for game in row %}
                 <td class="unblue">
                     <ul class="bullets-1 mb-0 pl-4">
                         <li><a href="{% url 'history:timeline-events' 0 0 0 0 0 '0' game.id %}">{{ game.title|truncatechars:55 }}</a></li>
                     </ul>
                 </td>
                 {% endfor %}
             </tr>
            {% endfor %}
        </table>
        <br><br>
    </div>

{% endblock content %}

