{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'history:timeline-main' %}">Kalendarium</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
    <p>{{ header }}</p>
    <br><br><br>

    <table class="timeline" data-search="true" data-toggle="table">
        <colgroup>
            <col class="year">
            <col class="day">
            <col class="thread">
            <col class="description">
            <col class="participants">
            <col class="locations">
            <col class="game">
            <col class="actions">
        </colgroup>
        <thead>
            <tr>
                <th>Rok</th>
                <th>Dzień</th>
                <th>Wątki</th>
                <th>Wydarzenie</th>
                <th>Postaci</th>
                <th>Lokacja</th>
                <th>Sesja</th>
                <th>Akcja</th>
            </tr>
        </thead>

        <tbody>
        {% for event in events %}
            <tr>
                <td class="align-center align-top unblue-black {{ seasons_with_styles_dict|dict_lookup:event.season }}">
                    <a class="hover-pointer" href="{% url 'history:timeline-date' event.year '0' %}">{{ event.year }}</a>
                </td>
                <td class="align-center align-top unblue-black {{ seasons_with_styles_dict|dict_lookup:event.season }}">
                    <a href="{% url 'history:timeline-date' event.year event.season %}">
                    {{ event.days }}
                    </a>
                </td>
                <td class="timeline-event-thread align-top unblue-black">
                    {% for thread in event.threads.all %}
                        &#10023;<a class="hover-pointer" href="{% url 'history:timeline-thread' thread.id %}">{{ thread }}</a><br>
                    {% endfor %}
                </td>
                <td class="timeline-event text-justify align-top unblue-black pl-2 pr-2">
                    <a href="{% url 'history:chronicle-one-game' event.game.id event.id %}">{{ event.description|linebreaksbr }}</a>
                    {% for note in event.notes.all %}
                        {% if request.user == note.author %}
                            {% if note.text != '' %}
                                <a style="color:{{ note.color }}"><br>Przemyślenia:<br>{{ note.text|linebreaksbr }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="timeline-small align-top unblue-black">
                    {% for profile in event.participants.all %}
                        <a class="hover-pointer" href="{% url 'history:timeline-participant' profile.id %}"><small>{{ profile.character_name|get_first_word }}</small></a><br>
                    {% endfor %}
                    {% for profile in event.informed.all %}
                        <a class="hover-pointer" href="{% url 'history:timeline-participant' profile.id %}"><small>+{{ profile.character_name|get_first_word }}</small></a><br>
                    {% endfor %}
                </td>
                <td class="timeline-small align-top unblue-black">
                    {% for gen_loc in event.general_locations.all %}
                        <a class="hover-pointer"  href="{% url 'history:timeline-gen-loc' gen_loc.id %}">{{ gen_loc.name }}</a><br>
                        {% for spec_loc in event.specific_locations.all %}
                            {% if spec_loc.general_location.id == gen_loc.id %}
                                <a class="hover-pointer" href="{% url 'history:timeline-spec-loc' spec_loc.id %}"><small>{{ spec_loc.name }}</small></a><br>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
                <td class="align-center align-top unblue-black">
                    {% if event.game.game_no > 0 %}
                        <small><a href="{% url 'history:timeline-game' event.game.id %}">
                            -{{ event.game.game_no }}-
                        </a></small>
                    {% elif event.game.game_no == 0 %}
                        <small hidden><b>***</b></small>
                    {% else %}
                        <small><a href="{% url 'history:timeline-game' event.game.id %}">-X-</a></small>
                    {% endif %}
                </td>
                <td class="align-top">
                    <h6><a href="{% url 'history:timeline-inform' event.id %}"><img src="{% static 'img/inform.png' %}" class="small-img"></a></h6>
                    <h6><a href="{% url 'history:timeline-note' event.id %}"><img src="{% static 'img/note.png' %}" class="small-img"></a></h6>
                    {% if request.user.profile.character_status == 'gm' %}
                        <h6><a href="{% url 'history:timeline-edit' event.id %}"><img src="{% static 'img/edit.png' %}" class="small-img"></a></h6>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock content %}

