{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'history:timeline-main' %}">Kalendarium</a></li>
    <li class="breadcrumb-item"><a href="javascript:history.go(-1)">(...)</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <table class="forms">
        <tr>
            <td><h6>Sesja:</h6></td>
            <td><h6 class="font-italic px-1 text-justify">{{ event.game }}</h6></td>
        </tr>
        <tr>
            <td><h6>Data:</h6></td>
            <td>
                <h6 class="font-italic px-1 text-justify">{{ event.date }}</h6>
            </td>
        </tr>
        <tr>
            <td><h6>Wątki:</h6></td>
            <td>
                <h6 class="font-italic px-1 text-justify">
                    {% for thread in event.threads.all %}
                        *{{ thread }}<br>
                    {% endfor %}
                </h6>
            </td>
        </tr>
        <tr>
            <td><h6>Lokacje:</h6></td>
            <td>
                <h6 class="font-italic px-1 text-justify">
                    {% for gen_loc in gen_locs_and_spec_locs_dict %}
                        {{ gen_loc }}: {{ gen_locs_and_spec_locs_dict|dict_lookup:gen_loc }}<br>
                    {% endfor %}
                </h6>
            </td>
        </tr>
        <tr>
            <td><h6>Wydarzenie:</h6></td>
            <td class="justify"><h6 class="font-italic px-1 text-justify">{{ event.description }}</h6></td>
        </tr>
        <tr>
            <td><h6>Uczestnicy:</h6></td>
            <td>
                {% for profile in participants %}
                    <img class="rounded-circle img-small" src="{{ profile.image.url }}">
                {% endfor %}
            </td>
        </tr>
        {% if informed %}
        <tr>
            <td><h6>Poinformowani:</h6></td>
            <td>
                {% for profile in informed %}
                    <img class="rounded-circle img-small" src="{{ profile.image.url }}">
                {% endfor %}
            </td>
        </tr>
        {% endif %}
    </table><br><br>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-4">
            {{ form.color|as_crispy_field }}
        </div>
        <div class="col-md-12">
            {{ form.text|as_crispy_field }}
        </div>
        <small>Jeśli chcesz skasować Przemyślenia, usuń treść i kliknij 'Zapamiętaj'.</small><br><br>
        <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
        <input class="btn btn-dark" type="submit" value="Zapamiętaj">
    </form>
{% endblock content %}
