{% extends 'base.html' %}

{% block content %}
<br><br><br>

    <h4>WYPOSAŻENIE MG:</h4>
    <small>
        Udostępnia MG wszystkie obiekty z modeli: Skill, Synergy, Profession, Weapon, Plate, Shield
    </small>
    <br>
    <a href="{% url 'technicalities:allow-game-masters-to-all' %}">Udostępnij wszystkie obiekty z Zasad wszystkim Mistrzom Gry</a><br>
    <br><br>

    <h4>Content Types:</h4>
    <small>Usuwa obiekty modelu ContentType, które nie posiadają atrybutu model_class()</small>
    <br>
    <a href="{% url 'technicalities:refresh-contenttypes' %}">PRZEŁADUJ</a><br>
    <br><br>

    <h4>Rules:</h4>
    <small>Usuwa nieużywane obiekty modeli Factor, Modifier, ConditionalMofidier</small>
    <br>
    <a href="{% url 'technicalities:cleanup-rules-objects' %}">USUŃ</a><br>
    <br><br>


    <p>----------------------------------------------------------------------</p>


    <h4>Kronika i Kalendarium:</h4>
    <small>Przeładowuje modele: GameEvent (signal 'update_known_locations', 'update_known_characters') </small>
    <br>
    <a href="{% url 'technicalities:reload-chronicles' %}">PRZEŁADUJ</a><br>
    <br><br>

    <h4>Imaginarion:</h4>
    <small>Przeładowuje modele: PictureImage</small>
    <br>
    <a href="{% url 'technicalities:reload-imaginarion' %}">PRZEŁADUJ</a><br>
    <br><br>

    <h4>Prosoponomikon:</h4>
    <small>Przeładowuje modele: Character</small>
    <br>
    <a href="{% url 'technicalities:reload-prosoponomikon' %}">PRZEŁADUJ</a><br>
    <br><br>

    <h4>Zasady:</h4>
    <small>Przeładowuje modele: Skill, Synergy, Profession, Klass, EliteClass, EliteProfession, WeaponClass, WeaponType</small>
    <br>
    <a href="{% url 'technicalities:reload-rules' %}">PRZEŁADUJ</a><br>
    <br><br>


    <h4>SkillLevel - versions:</h4>
    <small>Przeładowuje modele: SkillLevel</small>
    <br>
    <a href="{% url 'technicalities:reload-skillversion' %}">PRZEŁADUJ</a><br>
    <br><br>

    <h4>Toponomikon:</h4>
    <small>Przeładowuje model Location</small>
    <br>
    <a href="{% url 'technicalities:reload-toponomikon' %}">PRZEŁADUJ</a><br>
    <br><br>


{% endblock content %}