db.sqlite3
*.sqlite3

myenv
myvirtualenv

# for GCP authentication
gcp-service-account-key.json

# for setting GCP bucket CORS conf
cors.json

.env


static
media
_local_snippets/


PyCharm_ReferenceCard.pdf


.DS_Store
.idea
*.pyc
*~
__pycache__


hyllemath_db*




