db.sqlite3
*.sqlite3

secret.json
credentials.py
.env

rpg_project/static/

PyCharm_ReferenceCard.pdf

.DS_Store
.idea

media
myenv
myvirtualenv

*.pyc
*~
__pycache__





hyllemath-cf23b4703a39.json

/dumped.json
