db.sqlite3
*.sqlite3

myenv
myvirtualenv

secret.json
dumped.json

# for GCP authentication
hyllemath-cf23b4703a39.json

# for setting GCP bucket CORS conf
cors.json

.env

rpg_project/settings_collectstatic.py

static
media

PyCharm_ReferenceCard.pdf

.DS_Store
.idea
*.pyc
*~
__pycache__






