
<tr>
    <td class="align-top align-center py-3 px-sm-2">
        <img class="rounded-circle article-img" src="{{ answer.author.profile.image.url }}">
        <br>
        <small class="font-12 font-italic sm-nowrap text-muted">{{ answer.author.profile.character_name }}</small>
    </td>
    <td class="align-top font-18 font-italic px-2 py-2 text-justify">
        <small class="text-muted">{{ answer.date_posted|date:'d-M-Y | H:i' }}</small><br>
        <p>{{ answer.text|capfirst|linebreaksbr }}</p>
        {% if answer.image %}
            <p><img class="img-fluid mx-auto d-block" src="{{ answer.image.url }}" alt="Answer img"></p>
        {% endif %}
    </td>
</tr>
