{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block head_extra %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'news:main' %}">Ogłoszenia</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <table class="forms">
        <tr>
            <td><h6>Ogłoszeniodawca:</h6></td>
            <td><small>{{ news.author.profile }}</small></td>
        </tr>
        <tr>
            <td><h6>Adresaci:</h6></td>
            <td><small>{{ allowed }}</small></td>
        </tr>
        <tr>
            <td><h6>Aktywni uczestnicy:</h6></td>
            <td><small>{{ followers }}</small></td>
        </tr>
    </table>
    <br>

    <div class="mb-4">
        {% if request.user.profile in news.followers.all %}
            <a href="{% url 'news:unfollow' news.id %}" class="btn btn-dark">Nie obserwuj</a>
        {% else %}
            <a href="{% url 'news:follow' news.id %}" class="btn btn-dark">Obserwuj</a>
        {% endif %}
    </div>

    <br>
    <div class="post-and-news">
        <p>{{ news.text|capfirst|linebreaks }}</p>
        {% if news.image %}
            <img src="{{ news.image.url }}" class="border-double">
        {% endif %}
    </div>
    <br>

    <table>
        <tbody>
        {% for answer in news_answers %}
            <tr class="posts-and-news">
                <td>
                    <img class="rounded-circle article-img" src="{{ answer.author.profile.image.url }}">
                    <br>
                    <small class="smaller">{{ answer.author.profile.character_name }}</small>
                </td>
                <td class="align-center">
                    <small class="left-float">{{ answer.date_posted|date:'d-M-Y, H:i' }}</small><br>
                    {{ answer.text|capfirst|linebreaks }}
                    {% if answer.image %}
                        <img src="{{ answer.image.url }}" class="border-double">
                    {% endif %}
                    <br>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>

    <div id="page-bottom" class="border-top">
        <br>
        <form method="POST" action=".#page-bottom" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-2 mb-0">
                </div>
                <div class="form-group col-md-10 mb-0">
                    {{ form.text|as_crispy_field }}
                </div>
            </div>
            {{ form.image|as_crispy_field }}
            <input class="btn btn-dark" type="submit" value="Odpowiedz">
        </form>
    </div>
{% endblock content %}