{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-button">
        
        <header class="mb-5">
            <a href="{% url 'news:topic-create' %}" class="btn btn-outline-dark">Nowy temat</a>
            <a href="{% url 'news:news-create' %}" class="btn btn-outline-dark">Nowe ogłoszenie</a>
        </header>
    
        <!-- SURVEYS -->
        {% for survey in surveys %}
            <div class="my-1 border rounded {% if survey not in unseen_surveys %} bg-inner {% else %} bg-greengrayish {% endif %}">
                <table class="ml-2 mr-2 mb-3 mt-1">
                    <tbody>
                        <tr>
                            <td class="align-top pt-2 pr-2">
                                <img class="rounded-circle article-img" src="{{ survey.author.image.url }}">
                                <br>
                            </td>
                            <td>
                                <small class="font-italic text-muted">{{ survey.created_at|date:'d-M-Y | H:i' }}</small>
                                <h3><a href="{% url 'news:survey-detail' survey.id %}" class="border-bottom">ANKIETA: {{ survey.title }}</a></h3>
                                {% if survey.survey_answers.all %}
                                <h5>
                                    {% for answer in survey.survey_answers.all %}
                                        <img class="rounded-circle img-small" src="{{ answer.author.image.url }}">
                                    {% endfor %}
                                </h5>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
        
        <article class="pt-5">
            {% for topic in topics %}
                <div id="topic_{{ topic.id }}" class="mb-5">
                    <h3 class="small-caps mb-3">
                        <b class="border-bottom-dark">{{ topic.title }}</b>
                    </h3>
                    {% for news in topic.news.all %}
                    
                        <div class="container my-1 border rounded {% if news not in unseen_news %} bg-inner {% else %} bg-bluish {% endif %}">
                            <span class="pt-5" id="news_{{ news.id }}"></span>
                            <div class="row my-2">
                                
                                <div class="col-2 p-0 pl-2">
                                    <img class="rounded-circle article-img" src="{{ news.news_answers.first.author.image.url }}">
                                </div>
                                
                                <div class="col-10 pl-5 pl-sm-4 pl-lg-0 ml-lg-n2 ml-xl-n4">
                                    <div class="row">
                                        <small class="font-italic text-nowrap text-muted">{{ news.created_at|date:'d-M-Y | H:i' }}</small>
                                    </div>
                                    <div class="row">
                                        <a class="pr-1 h3 border-bottom" href="{% url 'news:detail' news.id %}">{{ news.title }}</a>
                                    </div>
                                    <div class="row">
                                        <div class="float-left">
                                            {% for answer in news.news_answers.all %}
                                                <img class="rounded-circle img-small mb-1" src="{{ answer.author.image.url }}">
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <small class="font-italic text-muted">
                                            Ostatnia aktywność: {{ news.news_answers.last.created_at|date:'d-M-Y | H:i' }}
                                        </small>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    
                    {% endfor %}
                </div>
            {% endfor %}
        </article>
        
    </article>

{% endblock content %}