{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock head_extra %}

{% block content %}

    <!-- NEW NEWS & NEW SURVEY BUTTONS-->
    <div class="mt-2 mb-5">
        <a href="{% url 'news:create' %}" class="btn btn-outline-dark">Nowe ogłoszenie</a>
        {% if request.user.profile.status == 'gm' %}
            <a href="{% url 'admin:news_survey_add' %}" class="btn btn-outline-dark">Nowa ankieta</a>
        {% else %}
            <a href="{% url 'news:survey-create' %}" class="btn btn-outline-dark">Nowa ankieta</a>
        {% endif %}
    </div>

    <!-- SURVEYS -->
    {% for survey in surveys %}
        <div class="my-1 border rounded {% if request.user.profile in survey.seen_by.all %} bg-inner {% else %} bg-greengrayish {% endif %}">
            <table class="ml-2 mr-2 mb-3 mt-1">
                <tbody>
                    <tr>
                        <td class="align-top pt-2 pr-2">
                            <img class="rounded-circle article-img" src="{{ survey.author.image.url }}">
                            <br>
                        </td>
                        <td>
                            <small class="font-italic text-muted">{{ survey.created_at|date:'d-M-Y | H:i' }}</small>
                            <h3><a href="{% url 'news:survey-detail' survey.id %}" class="border-bottom">ANKIETA: {{ survey.title }}</a></h3>
                            {% if survey.survey_answers.all %}
                            <h5>
                                {% for answer in survey.survey_answers.all %}
                                    <img class="rounded-circle img-small" src="{{ answer.author.image.url }}">
                                {% endfor %}
                            </h5>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
    <br><br>

    <!-- NEWS -->
    {% for news in newss %}
        <div class="my-1 border rounded {% if request.user.profile in news.seen_by.all %} bg-inner {% else %} bg-bluish {% endif %}">
            <table class="ml-2 mr-2 mb-3 mt-1">
                <tbody>
                    <tr>
                        <td class="align-top pt-2 pr-2">
                            <img class="rounded-circle article-img" src="{{ news.author.image.url }}">
                            <br>
                        </td>
                        <td>
                            <small class="font-italic text-nowrap text-muted">{{ news.created_at|date:'d-M-Y | H:i' }}</small>
                            <h3><a href="{% url 'news:detail' news.id %}" class="border-bottom">{{ news.title }}</a></h3>
                            {% if news.news_answers.all %}
                                {% for answer in news.news_answers.all %}
                                    <img class="rounded-circle img-small" src="{{ answer.author.image.url }}">
                                {% endfor %}
                                <br>
                            {% endif %}
                            <!--  following methods cost ca. 20 queries: -->
                            <small class="font-italic text-muted">
                                Ostatnia aktywność:
                                {% if news.last_news_answer %}
                                    {{ news.last_news_answer|date:'d-M-Y | H:i' }}<br>
                                {% else %}
                                    {{ news.created_at|date:'d-M-Y | H:i' }}<br>
                                {% endif %}
                            </small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}

{% endblock content %}