{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <br>
    <div class="mb-4">
        <a href="{% url 'news-create' %}" class="btn btn-dark">Nowe ogłoszenie</a>
    </div>

    {% for news in news_list %}
    <table>
        <tbody class="posts-and-news">

            <tr class="posts-and-news">
                <td>
                    <img class="rounded-circle article-img" src="{{ news.author.profile.image.url }}">
                    <p>{{ post.author }}</p>
                    <small>{{ news.date_posted|date:'d-M-Y' }}</small>
                </td>
                <td>
                    <small>Ostatnia aktywność: {{ news.date_updated|date:'d-M-Y, H:i' }}</small>
                    <h3>{{ news.title }}</h3>
                    <a href="{% url 'news-detail' news.slug %}">{{ news.text|slice:':30' }}...</a><br>
                </td>
            </tr>
            <br>

        </tbody>
    </table>
    {% endfor %}


{% endblock content %}