{% extends 'base.html' %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block head_extra %}
{{ response_form.media }}
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'news-list' %}">Słup ogłoszeń</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
    {% if request.user.profile not in news_details.allowed_profiles.all and request.user.profile.character_status != 'gm' %}
        <h4>To ogłoszenie jest dla Ciebie kompletnie nieczytelne.</h4>
    {% else %}
        <h6>Ogłoszeniodawca: <small>{{ news_details.author.profile }}</small></h6>
        <h6>
            Adresaci:
            {% for profile in news_details.allowed_profiles.all %}
                {% if profile.character_name != 'MG' %}
                    {% if forloop.counter > 1 %}
                        <small>/ {{ profile }}</small>
                    {% else %}
                        <small>{{ profile }}</small>
                    {% endif %}
                {% endif %}
              {% endfor %}
        </h6>
        <div class="post-and-news-mg">
            <p>{{ news_details.text|capfirst|linebreaks }}</p>
            {% if news_details.image %}
                <img src="{{ news_details.image.url }}">
            {% endif %}
        </div>

        {% for response in news_details.responses.all %}
            <table class="posts-and-news">
                    <tbody>
                        <div>
                        <tr class="posts-and-news">
                            <td>
                                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                                <small><p>{{ response.author.profile.character_name }}</p></small>
                            </td>
                            <td>
                                <small>{{ response.date_posted|date:'d-M-Y' }}</small>
                                <p>{{ response.text|capfirst|linebreaks }}</p>
                                {% if response.image %}
                                    <img src="{{ response.image.url }}">
                                {% endif %}
                            </td>
                        </tr>
                        </div>
                    </tbody>
                </table>
        {% endfor %}
        <br><br>

        <form method="POST" action=".#page-bottom" enctype="multipart/form-data">
            {% csrf_token %}
            {{ response_form|crispy }}
            <input class="btn btn-outline-danger" type="submit" value="Odpowiedz"}}>
        </form>

    {% endif %}
{% endblock content %}