{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'news:main' %}">Ogłoszenia</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br><br>

<!-- NEWS META INFO-->
    <table class="forms">
        <tr>
            <td><h6>Autor:</h6></td>
            <td><img class="rounded-circle img-small" src="{{ news.author.profile.image.url }}"></td>
        </tr>
        <tr>
            <td><h6>Adresaci:</h6></td>
            <td>
            {% for profile in news_allowed_profiles %}
                <img class="rounded-circle img-small" src="{{ profile.image.url }}">
            {% endfor %}
            </td>
        </tr>
        <tr>
            <td><h6>Obserwują:</h6></td>
            <td>
            {% for profile in news_followers %}
                <img class="rounded-circle img-small" src="{{ profile.image.url }}">
            {% endfor %}
            </td>
        </tr>
    </table>
    <br>

<!-- FOLLOW/UNFOLLOW BUTTON -->
    <div class="mb-4">
        {% if request.user.profile in news_followers %}
            <a href="{% url 'news:unfollow' news.id %}" class="btn btn-dark">Nie obserwuj</a>
        {% else %}
            <a href="{% url 'news:follow' news.id %}" class="btn btn-dark">Obserwuj</a>
        {% endif %}
    </div>

<!-- NEWS TEXT -->
    <br>
    <div class="post-and-news">
        {{ news.text|capfirst|linebreaks }}
        {% if news.image %}
            <img src="{{ news.image.url }}" class="border-double">
        {% endif %}
        {% for profile in news_seen_by %}
            <img class="rounded-circle img-small" src="{{ profile.image.url }}">
        {% endfor %}
        <br><br>
    </div>

<!-- NEWS ANSWERS -->
    <div class="border-top">
        <br><br>
        <table>
            <tbody>
            {% for answer in answers %}
                <tr class="posts-and-news">
                    <td class="align-center">
                        <img class="rounded-circle article-img" src="{{ answer.author.profile.image.url }}">
                        <br>
                        <small class="smaller">{{ answer.author.profile.character_name }}</small>
                    </td>
                    <td class="align-center">
                        <small class="left-float">{{ answer.date_posted|date:'d-M-Y, H:i' }}</small><br>
                        {{ answer.text|capfirst|linebreaks }}
                        {% if answer.image %}
                            <img src="{{ answer.image.url }}" class="border-double">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
                <tr class="posts-and-news">
                    <td></td>
                    <td>
                        {% for image in last_answer_seen_by_imgs %}
                            <img class="rounded-circle img-small" src="{{ image.url }}">
                        {% endfor %}
                    </td>
                </tr>
                <tr class="posts-and-news" id="typing"></tr>
            </tbody>
        </table>
    </div>
    <br><br>

<!-- NEWS ANSWER FORM -->
    <div id="page-bottom">
        <br>
        <form method="POST" action=".#page-bottom" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12">
                {{ form.text|as_crispy_field }}
            </div>
            {{ form.image|as_crispy_field }}
            <input class="btn btn-dark" type="submit" value="Odpowiedz">
        </form>
    </div>

{% endblock content %}

{% block javascript %}
    <script>
        function showIsTyping() {
            document.getElementById("typing").innerHTML =
            '<td class="align-center pt-2"><img class="rounded-circle article-img" src="profile_pics/profile_default.jpg"></td>\
             <td class="align-bottom">...</td>';
        }
    </script>
{% endblock javascript %}


