{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_extra %}
{{ news_form.media }}
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'news-list' %}">Słup ogłoszeń</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
    <form class="allowed-profiles-form" method="POST">
        {% csrf_token %}

        {{ news_form.title }}<br><br>
        {{ news_form.title.errors }}
        {{ news_form.text }}<br><br>

        <h5>Wybierz adresatów ogłoszenia:</h5>
        <small>1) Tylko wybrani adresaci zobaczą ogłoszenie.</small><br>
        <small>2) Późniejsze dodanie adresatów - przez MG.</small>

        <br><br>
        {{ news_form.allowed_profiles }}<br>
        <small>*Aby zaznaczyć wielu adresatów - użyj CTRL albo SHIFT.</small><br><br>

        {{ news_form.image }}<br><br>

        <input class="btn btn-outline-danger" type="submit" value="Dodaj ogłoszenie"/>
    </form>
    <br><br><br><br><br><br><br>
{% endblock content %}