{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
    <div class="mb-4">
        <a href="{% url 'news-create' %}" class="btn btn-danger">Nowe ogłoszenie</a>
    </div>

    {% for news in news_list %}
    <table>
        <tbody class="posts-and-news">

            <tr class="posts-and-news">
                <td>
                    <img class="rounded-circle article-img" src="{{ news.author.profile.image.url }}">
                    <p>{{ post.author }}</p>
                    <small>Dodano:<br>{{ news.date_posted|date:'d-M-Y' }}</small>
                </td>
                <td>
                    <small>Ostatnia aktywność: {{ news.date_updated|date:'d-M-Y, H:i' }}</small>
                    <h3><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h3>
                    {{ news.text|slice:':50'|capfirst|linebreaks }}...<br>
                </td>
            </tr>
            <br>

        </tbody>
    </table>
    {% endfor %}

{% endblock content %}