{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'news:main' %}">Ogłoszenia</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br><br>
    <form method="POST" enctype="multipart/form-data" class="allowed-profiles-form-news">
        {% csrf_token %}

        {{ form.title|as_crispy_field }}
        {{ form.title.errors }}<br>

        <h5>Wybierz adresatów ogłoszenia:</h5>
        <small>1) Ogłoszenie zobaczą tylko wybrani adresaci (oraz automatycznie MG).</small><br>
        <small>2) Późniejsze dodanie adresatów możliwe tylko dla MG, wyślij dezyderat.</small><br>
        <br>
        {{ form.allowed_profiles|as_crispy_field }}
        <small>***Aby zaznaczyć wielu adresatów - użyj CTRL albo SHIFT.</small><br><br>
        <div class="col-md-12">
            {{ form.text|as_crispy_field }}
        </div>
        {{ form.image|as_crispy_field }}
        <input class="btn btn-dark" type="submit" value="Utwórz ogłoszenie"/>
    </form>
{% endblock content %}