{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'news:main' %}">Ogłoszenia</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br><br>

<!-- SURVEY MESSAGE -->
    <div class="post-and-news">
        <p class="font-18 font-italic text-justify">{{ survey.text|capfirst|linebreaksbr }}</p>
        {% if survey.image %}
            <img src="{{ survey.image.url }}" alt="Survey img">
        {% endif %}
        {% for profile in survey_seen_by %}
            <img class="rounded-circle img-small" src="{{ profile.image.url }}">
        {% endfor %}
    </div>
    <br><br><br>

<!-- SURVEY -->
    <table class="survey">
        <colgroup>
            <col class="negative">
            <col class="text">
            <col class="positive">
        </colgroup>
        {% for option in options %}
        <tr>
            <td class="align-middle align-right text-nowrap">
                {% for profile in option.no_voters.all %}
                    {% if profile == request.user.profile %}
                        <a href="{% url 'news:survey-unvote' survey.id option.id %}">
                            <img class="rounded-circle img-small border-2 border-danger" src="{{ profile.image.url }}">
                        </a>
                    {% else %}
                        <img class="rounded-circle img-small border-2 border-danger" src="{{ profile.image.url }}">
                    {% endif %}
                {% endfor %}
            </td>
            <td class="align-middle">
                <a href="{% url 'news:survey-no' survey.id option.id %}" class="btn btn-dark">-</a>
            </td>
            <td>
                &ensp;&ensp;{{ option.option_text }}
                {% if request.user == option.author and not option.yes_voters.all and not option.no_voters.all %}
                    <a href="{% url 'news:survey-option-modify' survey.id option.id %}">
                        &nbsp;<img src="{% static 'img/edit.png' %}" class="img-edit">
                    </a>
                    <a href="{% url 'news:survey-option-delete' survey.id option.id %}" class="btn">
                        &#10008;
                    </a>
                {% endif %}
                &ensp;&ensp;
                <br>
            </td>
            <td class="align-middle">
                <a href="{% url 'news:survey-yes' survey.id option.id %}" class="btn btn-dark">+</a>
            </td>
            <td class="text-nowrap">
                &ensp;&ensp;
                {% for profile in option.yes_voters.all %}
                    {% if profile == request.user.profile %}
                        <a href="{% url 'news:survey-unvote' survey.id option.id %}">
                            <img class="rounded-circle img-small border-2 border-success" src="{{ profile.image.url }}">
                        </a>
                    {% else %}
                        <img class="rounded-circle img-small border-2 border-success" src="{{ profile.image.url }}">
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <br><br>


<!-- NEW SURVEY OPTION -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-6 inline">
            {{ option_form.option_text|as_crispy_field }}
        </div>
        &nbsp;<input class="btn btn-dark" type="submit" value="+">
    </form>
    <br>


<!-- ANSWERS -->
    <div class="border-top">
        <br><br>
        <table>
            <tbody>
            {% for answer in answers %}

                {% include 'news/_answers_list.html' %}

            {% endfor %}
                <tr>
                    <td></td>
                    <td>
                        {% for image in last_answer_seen_by_imgs %}
                            <img class="rounded-circle img-small" src="{{ image.url }}">
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br><br>

<!-- ANSWER FORM -->
    <div id="page-bottom">
        <br>
        <form method="POST" action=".#page-bottom" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12 ">
                {{ answer_form.text|as_crispy_field }}
            </div>
            {{ answer_form.image|as_crispy_field }}
            <input class="btn btn-dark" type="submit" value="Odpowiedz">
        </form>
    </div>
{% endblock content %}