{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br><br>
    <form method="POST" enctype="multipart/form-data" class="allowed-profiles-form-news">
        {% csrf_token %}
        <div class="col-md-6 inline">
            {{ form|crispy }}
        </div>
     <input class="btn btn-dark" type="submit" value="Zmodyfikuj"/>
    </form>
{% endblock content %}