{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br><br>

<!-- SURVEY MESSAGE -->
    <div class="mb-5">
        <p class="font-18 font-italic text-justify">{{ survey.text|capfirst|linebreaksbr }}</p>
        {% if survey.image %}
            <p><img class="img-fluid mx-auto d-block" src="{{ survey.image.url }}"></p>
        {% endif %}
        {% for profile in survey_seen_by %}
            <img class="rounded-circle img-small" src="{{ profile.image.url }}">
        {% endfor %}
    </div>

<!-- SURVEY -->
    <div class="mb-3 table-responsive">
        <table class="survey mx-auto w-auto">
            <colgroup>
                <col class="negative">
                <col class="text">
                <col class="positive">
            </colgroup>
            {% for option in options %}
                <tr>
                    <td class="text-nowrap pr-2">
                        {% for profile in option.no_voters.all %}
                            {% if profile == request.user.profile %}
                                <a href="{% url 'news:survey-unvote' survey.id option.id %}">
                                    <img class="rounded-circle img-small border-2 border-danger" src="{{ profile.image.url }}">
                                </a>
                            {% else %}
                                <img class="rounded-circle img-small border-2 border-danger" src="{{ profile.image.url }}">
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="align-middle">
                        <a href="{% url 'news:survey-no' survey.id option.id %}" class="btn btn-dark">-</a>
                    </td>
                    <td class="px-2 text-center">
                        {{ option.option_text }}
                        {% if request.user.profile == option.author and not option.yes_voters.all and not option.no_voters.all %}
                            <a href="{% url 'news:survey-option-modify' survey.id option.id %}">
                                &nbsp;<img src="{% static 'img/edit.png' %}" class="img-edit">
                            </a>
                            <a href="{% url 'news:survey-option-delete' survey.id option.id %}" class="btn">
                                &#10008;
                            </a>
                        {% endif %}
                        <br>
                    </td>
                    <td class="align-middle">
                        <a href="{% url 'news:survey-yes' survey.id option.id %}" class="btn btn-dark">+</a>
                    </td>
                    <td class="text-nowrap pl-2">
                        {% for profile in option.yes_voters.all %}
                            {% if profile == request.user.profile %}
                                <a href="{% url 'news:survey-unvote' survey.id option.id %}">
                                    <img class="rounded-circle img-small border-2 border-success" src="{{ profile.image.url }}">
                                </a>
                            {% else %}
                                <img class="rounded-circle img-small border-2 border-success" src="{{ profile.image.url }}">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>


<!-- NEW SURVEY OPTION -->
    <form class="mb-2" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-6 inline">
            {{ option_form.option_text|as_crispy_field }}
        </div>
        <input class="btn btn-dark ml-1" type="submit" value="+">
    </form>

<!-- ANSWERS -->
    <div class="border-top">
        <br><br>
        <table>
            <tbody>
                {% for answer in answers %}
                    {% with post=answer %}
                        {% include '_post.html' %}
                    {% endwith %}
                {% endfor %}
                <tr>
                    <td></td>
                    <td>
                        {% for image in last_answer_seen_by_imgs %}
                            <img class="rounded-circle img-small" src="{{ image.url }}">
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br><br>

<!-- ANSWER FORM -->
    <div id="page-bottom">
        <br>
        <form method="POST" action=".#page-bottom" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12 ">
                {{ answer_form.text|as_crispy_field }}
            </div>
            {{ answer_form.image|as_crispy_field }}
            <input class="btn btn-dark" type="submit" value="Odpowiedz">
        </form>
    </div>
{% endblock content %}