{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'news:main' %}">Ogłoszenia</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br><br>

<!-- SURVEY MESSAGE -->
    <div class="post-and-news">
        {{ survey.text|capfirst|linebreaks }}
        {% if survey.image %}
            <img src="{{ survey.image.url }}" class="border-double">
        {% endif %}
    </div>

<!-- NEW SURVEY OPTION -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-6 inline">
            {{ option_form.option_text|as_crispy_field }}
        </div>
        &nbsp;<input class="btn btn-dark" type="submit" value="+">
    </form>
    <br><br><br>

<!-- SURVEY -->
    <table class="survey">
        <colgroup>
            <col class="negative">
            <col class="text">
            <col class="positive">
        </colgroup>
        {% for option in survey_options %}
        <tr>
            <td class="align-right">
                {% for profile in option.no_voters.all %}
                    {% if profile == request.user.profile %}
                        <a href="{% url 'news:survey-unvote' survey.id option.id %}">
                            <img class="rounded-circle img-small border-double border-red" src="{{ profile.image.url }}">
                        </a>
                    {% else %}
                        <img class="rounded-circle img-small border-double border-red" src="{{ profile.image.url }}">
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                &ensp;&ensp;<a href="{% url 'news:survey-no' survey.id option.id %}" class="btn btn-vote"><b>-</b></a>
            </td>
            <td>
                &ensp;&ensp;{{ option.option_text }}
                {% if request.user == option.author and not option.yes_voters.all and not option.no_voters.all %}
                    <a href="{% url 'news:survey-option-modify' survey.id option.id %}">
                        &nbsp;<img src="{% static 'img/edit.png' %}">
                    </a>
                {% endif %}
                <br>
            </td>
            <td>
                &ensp;&ensp;<a href="{% url 'news:survey-yes' survey.id option.id %}" class="btn btn-vote"><b>+</b></a>
            </td>
            <td>
                &ensp;&ensp;
                {% for profile in option.yes_voters.all %}
                    {% if profile == request.user.profile %}
                        <a href="{% url 'news:survey-unvote' survey.id option.id %}">
                            <img class="rounded-circle img-small border-double border-green" src="{{ profile.image.url }}">
                        </a>
                    {% else %}
                        <img class="rounded-circle img-small border-double border-green" src="{{ profile.image.url }}">
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>

<!-- SEEN BY -->
    <br>
    {% if request.user.profile.character_status == 'gm' %}
        Wyświetlili:&ensp;&ensp;
        {% for profile in survey.seen_by.all %}
            <img class="rounded-circle img-small" src="{{ profile.image.url }}">
        {% endfor %}
        <br><br>
    {% endif %}


<!-- ANSWERS -->
    <div class="border-top">
        <br><br>
        <table>
            <tbody>
            {% for answer in survey_answers %}
                <tr class="posts-and-news">
                    <td class="align-center">
                        <img class="rounded-circle article-img" src="{{ answer.author.profile.image.url }}">
                        <br>
                        <small class="smaller">{{ answer.author.profile.character_name }}</small>
                    </td>
                    <td class="align-center">
                        <small class="left-float">{{ answer.date_posted|date:'d-M-Y, H:i' }}</small><br>
                        {{ answer.text|capfirst|linebreaks }}
                        {% if answer.image %}
                            <img src="{{ answer.image.url }}" class="border-double">
                        {% endif %}
                        <br>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>

<!-- ANSWER FORM -->
    <div id="page-bottom">
        <br>
        <form method="POST" action=".#page-bottom" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12 ">
                {{ answer_form.text|as_crispy_field }}
            </div>
            {{ answer_form.image|as_crispy_field }}
            <input class="btn btn-dark" type="submit" value="Odpowiedz">
        </form>
    </div>
{% endblock content %}