{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_extra %}
{{ post_form.media }}
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'forum' %}">Wieczorne narady</a></li>
    <li class="breadcrumb-item active">{{ board.title }}: {{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
    <form class="allowed-profiles-form" method="POST">
        {% csrf_token %}

        {{ topic_form.topic_name }}<br>
        {{ topic_form.topic_name.errors }}<br>

        <h5>Włącz uczestników do narady:</h5>
        <small>1) Włączaj tylko postacie znajdujące się w pobliżu w chwili zakończenia ostatniej sesji.</small>
        <small>2) Postacie będące w pobliżu, ale nie włączone do narady, mogą to zauważyć.</small>
        <small>3) Jeśli chcesz zaczekać na sposobny moment, powiadom MG.</small>
        <small>4) Jeśli chcesz się naradzić z postacią, której nie ma na liście, powiadom MG.</small>

        <br><br>
        {{ topic_form.allowed_profiles }}
        <br>
        <small>***Aby zaznaczyć wielu uczestników - użyj CTRL albo SHIFT.</small><br>

        {{ post_form|crispy }}

        <input class="btn btn-outline-info" type="submit" value="Rozpocznij naradę"/>
    </form>
{% endblock content %}
