{% extends 'base.html' %}

{% block content %}
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ topic.topic_name }}<br><br>
        <p>Włącz uczestników do narady:</p>
        <small>1) Włączaj tylko postacie znajdujące się w pobliżu w chwili zakończenia ostatniej sesji.</small>
        <small>2) Postacie będące w pobliżu, ale nie włączone do narady, mogą to zauważyć.</small>
        <small>3) Jeśli czekasz na sposobny moment, przekaż to MG.</small>
        <br><br>
        {% for profile_character_name in topic.allowed_users %}
            {{ profile_character_name }}<br>
        {% endfor %}<br>
        {{ topic.first_post }}
        <br><br>
        <div class="mb-4">
            <input class="btn btn-outline-success" type="submit" value="Rozpocznij naradę"/>
        </div>
    </form>
{% endblock content %}
