{% extends 'base.html' %}
<!-- load dict_lookup from custom_filters.py in forum/templatetags -->
{% load custom_filters %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Wieczorne narady</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
    {% if request.user.profile.character_name == '' %}
        <p><a href="/users/profile">Uzupełnij imię postaci, aby móc uczestniczyć w naradach!</a></p>
    {% else %}
        <div class="mb-4">
            <a href="{% url 'create_board' %}" class="btn btn-dark">Nowy temat narad</a>
        </div><br>
        {% for board in boards_list %}
        {% if request.user.profile.character_name in boards_with_allowed_profiles_dict|dict_lookup:board %}

            <h3>{{ board.title }}</h3>
            {% if board.description %}
                <small>{{ board.description }}</small> <br>
            {% endif %}<br>

            <table>
                <thead>
                    <tr>
                        <th>Narada</th>
                        <th>Inicjator</th>
                        <th>Uczestnicy</th>
                        <th>Wypowiedzi</th>
                        <th>Ostatnie słowo</th>
                    </tr>
                </thead>


                <tbody>
                {% for topic in board.topics.all %}
                    {% if request.user.profile in topic.allowed_profiles.all %}
                        <tr>
                            <td>
                                <a href="{{ topic.get_absolute_url }}">{{ topic.topic_name }}</a>
                            </td>
                            <td>
                                {{ topic.starter.profile.character_name|get_first_word  }}<br>
                                <small>{{ topic.date_created|date:'d-M-Y' }}</small>
                            </td>
                            <td>
                                {% for profile in topic.allowed_profiles.all %}
                                    {% if profile.character_name != 'MG' %}
                                        <small>{{ profile }}</small><br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ topic.posts.count }}</td>
                            <td>
                                {{ topics_with_last_active_user_dict|dict_lookup:topic|get_first_word }}<br>
                                <small>{{ topics_with_last_post_date_dict|dict_lookup:topic|date:'d-M-Y' }}</small>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>
            <div class="mb-4">
                <a href="{% url 'create_topic' board.slug %}" class="btn btn-info">Nowa narada</a>
            </div>
        {% endif %}
        {% endfor %}
    {% endif %}
{% endblock content %}