{% extends 'base.html' %}

{% block content %}
  <small>W temacie: {{ topic.board.title }}</small>
  <br><br><br>
  {% for post in topic.posts.all %}
  <table class="posts-and-news">
    <tbody>
      <div class="border-bottom pt-3">
      <tr class="posts-and-news">
        <td>
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <p>{{ post.author }}</p>
            <small style="color: #888">{{ post.date_posted|date:'d-M-Y' }}</small>
        </td>
        <td>
            <p>{{ post.text }}</p>
        </td>
      </tr>
      </div>
    </tbody>
  </table>
  {% endfor %}

    <br>
  <div  id="page-bottom">
    <form method="POST" action=".#page-bottom">
      {% csrf_token %}
      {{ new_post }}
      <br>
      <input type="submit" value="Tak rzeknij"}}>
    </form>
  </div>
  <br><br><br><br><br><br><br>
{% endblock content %}