{% extends 'base.html' %}

{% block content %}
    <br>
    <form class="allowed-users-form" method="POST">
        {% csrf_token %}
        <h6>
            Dotychczasowi uczestnicy:
            {% for profile in topic.allowed_profiles.all %}
                {% if profile.character_name != 'MG' %}
                    {% if forloop.counter > 1 %}
                        <small>/ {{ profile }}</small>
                    {% else %}
                        <small>{{ profile }}</small>
                    {% endif %}
                {% endif %}
              {% endfor %}
        </h6>
        <small>1) Włączaj tylko postacie znajdujące się w pobliżu w chwili zakończenia ostatniej sesji.</small>
        <small>2) Postacie będące w pobliżu, ale nie włączone do narady, mogą to zauważyć.</small>
        <small>3) Jeśli chcesz zaczekać na sposobny moment, powiadom MG.</small>

        <br><br>
        {{ topic_form.allowed_profiles }}
    </form>

    <div class="allowed-users-form" id="page-bottom">
        <form method="POST" action=".#page-bottom">
            {% csrf_token %}
            {{ topic_update_form.allowed_profiles }}
            <br>
            <small>*Aby zaznaczyć wielu uczestników - użyj CTRL albo SHIFT.</small><br>
            <small>*Jeśli chcesz się naradzić z postacią, której nie ma na liście, powiadom MG.</small><br><br>
            <input class="btn btn-outline-success" type="submit" value="Dodaj uczestników narady">
        </form>
    </div>
{% endblock content %}
