{% extends 'base.html' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'forum' %}">Wieczorne narady</a></li>
    <li class="breadcrumb-item"><a href="{% url 'topic' topic.board.slug topic.slug %}">{{ topic.board.title }}: {{ topic.topic_name }}</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
        <table class="forms">
        <tr>
            <td>
                <h6>Temat:</h6>
            </td>
            <td>
                <small>{{ topic.board.title }}</small>
            </td>
        </tr>
        <tr>
            <td>
                <h6>Narada:</h6>
            </td>
            <td>
                <small>{{ topic.topic_name }}</small></h6>
            </td>
        <tr>
            <td>
                <h6>Uczestnicy:</h6>
            </td>
            <td>
                {% for profile in topic.allowed_profiles.all %}
                    {% if profile.character_name != 'MG' %}
                        {% if forloop.counter > 1 %}
                            <small>/ {{ profile }}</small>
                        {% else %}
                            <small>{{ profile }}</small>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </td><br>
    </table><br><br>

    <h6>Włącz uczestników do narady:</h6>
    <small>1) Nowi uczestnicy uzyskają dostęp do całości narady.</small><br>
    <small>2) Włączaj tylko postacie znajdujące się w pobliżu w chwili zakończenia ostatniej sesji.</small><br>
    <small>3) Postacie będące w pobliżu, ale nie włączone do narady, mogą to zauważyć.</small><br>
    <small>4) Jeśli chcesz zaczekać na sposobny moment, powiadom MG.</small><br>
    <small>5) Jeśli chcesz się naradzić z postacią, której nie ma na liście, powiadom MG.</small><br>
    <small class="red">6) Nie wyłączaj uczestników z narady bez konsultacji (chyba że siebie samego).<br>
                &nbsp&nbsp&nbsp*Wyłączony uczestnik całkowicie utraci dostęp do narady!</small>
    <br><br>

    <div class="allowed-profiles-form-topic">
        <form method="POST" action=".#page-bottom">
            {% csrf_token %}

            {{ form.allowed_profiles }}

            <br>
            <small>***Aby zaznaczyć wiele postaci - użyj CTRL albo SHIFT.</small><br><br>
            <input class="btn btn-info" type="submit" value="Dodaj uczestników narady">
        </form>
    </div>
{% endblock content %}
