{% extends 'base.html' %}

{% block content %}
  <small>W temacie: {{ board.title }}</small>
  <br><br><br>
  {% for post in topic.posts.all %}
  <table class="topic-posts">
    <tbody>
      <div class="border-bottom pt-3">
      <tr class="post-in-topic">
        <td>
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <p>{{ post.author }}</p>
            <small style="color: #888">{{ post.date_posted|date:'d-M-Y' }}</small>
        </td>
        <td>
            <p>{{ post.text }}</p>
        </td>
      </tr>
      </div>
    </tbody>
  </table>
  <br>
  {% endfor %}

  <form method="POST">
    {% csrf_token %}
    {{ new_post }}
    <br>
    <input type="submit" value="Tak rzeknij"}}>
  </form>
  <br><br><br><br><br><br><br>
{% endblock content %}