
{% load static %}
{% load custom_filters %}

{% if skill.image %}
    <img src="{{ skill.image.url }}" class="img-skill">
{% else %}
    <img src="{% static 'img/skill-default.png' %}" class="img-skill">
{% endif %}
<h1 class="pt-2" data-toggle="collapse" data-target="#{{ skill.short_name }}">
    <b class="hover-blue">&nbsp;{{ skill.name }} [{{ skill.skill_levels.all|get_max_skill_level }}]</b>
    <small class="text-muted smaller"> [{{ skill.tested_trait }}]</small>
</h1>

<div id="{{ skill.short_name }}" class="collapse">
    <br>
    <table class="ml-4">
        {% for skill_level in skill.skill_levels.all %}
        <tr>
            {% with level_img='img/'|add:skill_level.level|add:'.png' %}
                <td class="align-top"><img class="img-numeral" src="{% static level_img %}" alt="{{ skill_level.level }}"></td>
                <td class="align-bottom pl-1 text-justify">{% if skill_level.description %}{{ skill_level.description|linebreaksbr }}{% endif %}<br><br></td>
            {% endwith %}
        </tr>
        {% endfor %}
    </table>

    {% for skill_level in skill.skill_levels.all %}
        {% for kn_packet in skill_level.knowledge_packets.all %}

            {% include '_knowledge_packet.html' %}

        {% endfor %}
    {% endfor %}
    <br>
</div>
<br>

