{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/characters.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br><br>

    <div id="skills" class="collapse">
        {% for skill in skills %}
            {% if skill.image %}
                <img src="{{ skill.image.url }}" class="border-double img-skill">
            {% else %}
                <img src="{% static 'img/skill-default.png' %}" class="border-double img-skill">
            {% endif %}
            <h1 class="pt-2" data-toggle="collapse" data-target="#{{ skill.short_name }}">
                <b class="hover-blue">&nbsp;{{ skill.name }}</b>
            </h1>
            <small>[{{ skill.tested_trait }}] {{ skill.description }}</small>
            <br>

            <div id="{{ skill.short_name }}" >
                <table class="skills-table">
                    {% for skill_level in skill.skill_levels.all %}
                    <tr>
                        <td class="align-top"><img src="{% static 'img/0.png' %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 justify">{{ skill_level.lvl_0|linebreaksbr }}<br><br></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <br>
        {% endfor %}
    </div>
    <br>

{% endblock content %}
