{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/characters.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>

    {% for skill in skills %}
        {% if skill.image %}
            <img src="{{ skill.image.url }}" class="border-double img-skill">
        {% else %}
            <img src="{% static 'img/skill-default.png' %}" class="border-double img-skill">
        {% endif %}
        <h1 class="pt-2" data-toggle="collapse" data-target="#{{ skill.short_name }}">
            <b class="hover-blue">&nbsp;{{ skill.name }} [{{ skill.skill_levels.all|get_max_skill_level }}]</b>
            <small class="text-muted smaller"> [{{ skill.tested_trait }}]</small>
        </h1>

        <div id="{{ skill.short_name }}" class="collapse">
            <br>
            <table class="ml-4">
                {% for skill_level in skill.skill_levels.all %}
                <tr>
                    {% with level_img='img/'|add:skill_level.level|add:'.png' %}
                        <td class="align-top"><img src="{% static level_img %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 text-justify">{% if skill_level.description %}{{ skill_level.description|linebreaksbr }}{% endif %}<br><br></td>
                    {% endwith %}
                </tr>
                {% endfor %}
            </table>
            <br>

            {% for skill_level in skill.skill_levels.all %}
                {% for kn_packet in skill_level.knowledge_packets.all %}
                    <h5 class="pl-6" data-toggle="collapse" data-target="#id{{ skill_level.id }}_{{ kn_packet.id }}">
                        <b class="hover-blue">&#10023; {{ kn_packet.title }}</b>
                    </h5>
                    <div id="id{{ skill_level.id }}_{{ kn_packet.id }}" class="collapse">
                        <div class="pl-7 text-justify">
                        <p class="font-18 font-italic pt-1 text-justify">{{ kn_packet.text|linebreaksbr }}</p>
                        {% for picture in kn_packet.pictures.all %}
                            <p data-toggle="collapse" data-target="#id{{ kn_packet.id }}_{{ picture.id }}">{{ picture.description }}</p>
                            <div id="id{{ kn_packet.id }}_{{ picture.id }}" class="collapse">
                                <img src="{{ picture.image.url }}" class="border-double">
                                <br><br>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <br>
        </div>
        <br>
    {% endfor %}

{% endblock content %}

