{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/characters.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>

    <article class="skills-for-gm">
        <div class="container">
            <div class="row">
                {% for character in characters %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <figure>
                            <a href="{% url 'characters:skills-sheet' character.profile.id %}" class="img-link">
                                <img src="{{ character.profile.image.url }}"
                                     class="border-double img-fluid {% if profile.character_status == 'dead_player' %} img-grayscale {% endif %}"
                                     alt="{{ profile.character_name }}">
                            </a>
                            <figcaption class="pt-1">{{ profile.character_name }}</figcaption>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>

{% endblock content %}
