{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/characters.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>

    <h5 class="rules">Karta Podstępów</h5>
    <p class="font-18 pl-1 font-italic text-justify">
        Karta Podstępów widoczna poniżej nie ma opcji zapisu zmian (to ograniczenie obiektywne, nie da się tego zmienić).
        W celu wprowadzenia zmian - klijnij link 'EDYTUJ' poniżej. Edytować można tylko te pola, które podlegają zmianie w trakcie gry:
        ZRC, Umiejętności, Zbroję oraz informację o rozwoju Podstępów w toku awansów Profesji.
    </p>
    <br>

    {% if 'Dalamar' in request.user.profile.character_name or request.user.profile.character_status == 'gm' %}
        <u><a href="https://1drv.ms/x/s!AiRT0FtymkyPgV8CCe8964WZanji">EDYTUJ</a></u>
        <iframe width="820" height="700" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21223&authkey=%21ACYol_Rdpe6PNvo&em=2&wdAllowInteractivity=False&AllowTyping=True&Item='Podst%C4%99py'!A1%3AJ23&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
        <br><br>
    {% endif %}
    {% if 'Davos' in request.user.profile.character_name or request.user.profile.character_status == 'gm' %}
        <u><a href="https://1drv.ms/x/s!AiRT0FtymkyPgWHyNY0l4fHanssK">EDYTUJ</a></u>
        <iframe width="820" height="700" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21225&authkey=%21AIZum-HDAL-IWmw&em=2&wdAllowInteractivity=False&AllowTyping=True&Item='Podst%C4%99py'!A1%3AJ23&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
        <br><br>
    {% endif %}
    {% if 'Gondar' in request.user.profile.character_name or request.user.profile.character_status == 'gm' %}
        <u><a href="https://1drv.ms/x/s!AiRT0FtymkyPgWC1xsLlvrGbcvl_">EDYTUJ</a></u>
        <iframe width="820" height="700" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21224&authkey=%21AOP9oGdhQnjWea8&em=2&wdAllowInteractivity=False&AllowTyping=True&Item='Podst%C4%99py'!A1%3AJ23&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
        <br><br>
    {% endif %}
    {% if 'Landar' in request.user.profile.character_name or request.user.profile.character_status == 'gm' %}
        <u><a href="https://1drv.ms/x/s!AiRT0FtymkyPgWKu7cViLlkx_Gnw">EDYTUJ</a></u>
        <iframe width="820" height="700" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21226&authkey=%21AB8amBja3dXofvU&em=2&wdAllowInteractivity=False&AllowTyping=True&Item='Podst%C4%99py'!A1%3AJ23&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
        <br><br>
    {% endif %}
    {% if 'Mamert' in request.user.profile.character_name or request.user.profile.character_status == 'gm' %}
        <u><a href="https://1drv.ms/x/s!AiRT0FtymkyPgWeKxROmaJ2NBLis">EDYTUJ</a></u>
        <iframe width="820" height="700" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21231&authkey=%21AF2scRcEQ_6GsIQ&em=2&wdAllowInteractivity=False&AllowTyping=True&Item='Podst%C4%99py'!A1%3AJ23&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>        <br><br>
        <br><br>
    {% endif %}

    <br><br>
    <h5 class="rules">Przydatne linki:</h5>
    <p class="font-18 pl-1 font-italic text-justify">
        &#10023; Zasady => <u><a href="{% url 'rules:tricks' %}">Podstępy</a></u>
    </p>
{% endblock content %}
