{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br><br>


    <br>
    {% if 'Dalamar' in request.user.profile.character_name or request.user.profile.character_status == 'gm' %}
        <iframe width="820" height="700" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21213&authkey=%21AJDnuhb0P0CxKvw&em=2&wdAllowInteractivity=False&AllowTyping=True&ActiveCell='Podst%C4%99py'!B5&Item='Podst%C4%99py'!A1%3AJ23&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
        <br><br>
    {% endif %}
    {% if 'Davos' in request.user.profile.character_name or request.user.profile.character_status == 'gm' %}
        <iframe width="820" height="700" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21215&authkey=%21APs0xJsrt1V0Y5I&em=2&wdAllowInteractivity=False&AllowTyping=True&ActiveCell='Podst%C4%99py'!B7&Item='Podst%C4%99py'!A1%3AJ23&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
        <br><br>
    {% endif %}
    {% if 'Gondar' in request.user.profile.character_name or request.user.profile.character_status == 'gm' %}
        <iframe width="820" height="700" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21214&authkey=%21ACqjLP0kzRUn7pM&em=2&wdAllowInteractivity=False&AllowTyping=True&ActiveCell='Podst%C4%99py'!B6&Item='Podst%C4%99py'!A1%3AJ23&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
        <br><br>
    {% endif %}
    {% if 'Landar' in request.user.profile.character_name or request.user.profile.character_status == 'gm' %}
        <iframe width="820" height="700" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21216&authkey=%21AMugFYACpnPP1Q4&em=2&wdAllowInteractivity=False&AllowTyping=True&ActiveCell='Podst%C4%99py'!B7&Item='Podst%C4%99py'!A1%3AJ23&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
        <br><br>
    {% endif %}
    {% if 'Mamert' in request.user.profile.character_name or request.user.profile.character_status == 'gm' %}
        <iframe width="820" height="700" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21217&authkey=%21AJNe_g1NteMc3pw&em=2&wdAllowInteractivity=False&AllowTyping=True&ActiveCell='Podst%C4%99py'!B6&Item='Podst%C4%99py'!A1%3AJ23&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
        <br><br>
    {% endif %}

    <br><br>

    <h5 class="rules">Przydatne linki:</h5>
    <p>
       Zasady => <u><a href="{% url 'rules:tricks' %}">Podstępy</a></u>
    </p>
{% endblock content %}
