

/*****************************************************************************/
/***************************** TIMELINE filters ******************************/
/*****************************************************************************/

select option {font-size: 0.85rem; padding-left: 0.3rem;}

select {height: 13rem;}

.input-18 input[type="text"] {width: 18rem;}

@media only screen and (min-width: 200px) and (max-width: 499px) {
    select {width: 18rem;}
    .input-18 input[type="text"] {width: 18rem;}
    .img-timeline-filter {height: 55px;}
}

@media only screen and (min-width: 500px) and (max-width: 991px) {
    select {width: 24rem;}
    .input-18 input[type="text"] {width: 24rem;}
    .img-timeline-filter {height: 60px;}

}
@media only screen and (min-width: 992px) {
    select {width: 17rem;}
    .input-18 input[type="text"] {width: 17rem;}
    .img-timeline-filter {height: 50px;}
}
@media only screen and (min-width: 1200px) {
    select {width: 20rem;}
    .input-18 input[type="text"] {width: 20rem;}
    .img-timeline-filter {height: 55px;}
}
@media only screen and (min-width: 1400px) {
    select {width: 21rem;}
    .input-18 input[type="text"] {width: 21rem;}
}






/*****************************************************************************/
/****************************** TIMELINE Table *******************************/
/*****************************************************************************/

table.timeline {border: double;}

.timeline .date {width: 8%;}
.timeline .thread {width: 17%;}
.timeline .description {width: %;}
.timeline .participants {width: 6.5%;}
.timeline .locations {width: 12%;}
.timeline .actions {width: 3%;}


.timeline tr:nth-child(even) {background-color: #f2f2f2;}

.timeline thead {
        background-color: #363636;
        border-bottom: double;
        color: #ffffff;
}

.timeline th {font-weight: normal;}

.timeline td {
        border: 1px solid black;
        padding: 5px;
}




/*****************************************************************************/
/****************************** CHRONICLE imgs *******************************/
/*****************************************************************************/
.img-chapter {
        float: left;
        height: 45px;
        width: auto;
        margin-right: 5px;
}

.img-chapter-header {
        float: left;
        height: 80px;
        width: 80px;
        margin-right: 5px;
}




/*****************************************************************************/
/***************************** CHRONICLE Audio *******************************/
/*****************************************************************************/

audio.chronicle-audio-main {
    height: 1.6rem;
    width: 100%;
    max-width: 100rem;
    margin-top: -0.25rem;
    padding: 0 0.15rem 0 0.15rem;
    background-color: none;
    border-radius: 1rem;
}






/*****************************************************************************/
/******************************** PURGATORY **********************************/
/*****************************************************************************/

/*
.timeline ul.bulelts-1 {padding-left: 0 !important;}

span#thread {padding-left: 0.1rem !important;}
a#location {padding-left: 0.2rem !important;}

.small-img {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}
.timeline .small-img {
        width: 35%;
}
.chronicle .small-img {
        padding: 1px 0px 0px 0px;
}
.bootstrap-table .fixed-table-container .table thead th .th-inner {
        padding: 10px 3px;
}

.account-img-timeline {
        display: block;
        height: auto;
        width: 80%;
        margin-right: 20px;
        margin-bottom: 16px;
}
a.link-disabled {
        pointer-events: none;
        cursor: default;
}
.img-timeline {
        float: left;
        height: 55px;
        width: auto;
        margin-right: 5px;
}
.chronicle td {
        margin: 0px;
        padding: 0px 5px;
}



???????????????????????????????
td img {
        margin-left: auto;
        margin-right: auto;
}

*/
