
.allowed-profiles-form-debate select {
        max-height: 300px;
        max-width: 400px;
}



/*
table.debates {
        border: double;
}

.debates th {
        border: 1px solid black;
        font-weight: normal;
        padding: 10px;
}

.debates thead {
        background-color: #363636;
        color: #ffffff;
}

.debates td {
        border: 1px solid black;
        padding: 5px;
}
*/