
.timeline .year {%;}
.timeline .day {width: %;}
.timeline .thread {width: 18%;}
.timeline .description {width: %;}
.timeline .participants {width: 5%;}
.timeline .locations {width: %;}
.timeline .game {width: %;}
.timeline .actions {width: 5%;}

.chronicle .description {width: %;}
.chronicle .actions {width: %;}

.small-img {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}
.timeline .small-img {
        width: 35%;
}

.chronicle .small-img {
        padding: 10px 0px 0px 0px;
}

table.timeline {
        border: double;
}

.timeline-event {
        font-style: italic;
        font-size: 13px;
}

.timeline-small {
        font-size: 13px;
}

.timeline thead {
        background-color: #363636;
        border-bottom: double;
        color: #ffffff;
}

.timeline th {
        font-weight: normal;
}

.timeline td {
        border: 1px solid black;
        padding: 5px;
}

.chronicle td {
        margin: 0px;
        padding: 0px 5px;
        color: #444444;
}

td.center {
        text-align: center;
}

td img {
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.chronicle-img img {
        display: block;
        width: 95%;
        height: auto;
}

.chronicle-img td {
        border: none;
}

.chronicle-img td:hover {
        pointer-events: none;
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
        padding: 10px 3px;
}

td.season-spring  {
        background-color: #a9d6ca;
}
td.season-summer  {
        background-color: #fff1cc;
}
td.season-autumn {
        background-color: #e3d1b5;
}
td.season-winter  {
        background-color: #bfd3d9;
}

/*

td.season-spring  {
        background-color: #87c5b5;
}
td.season-summer  {
        background-color: #ffe9ab
}
td.season-autumn {
        background-color: #d1b384;
}
td.season-winter  {
        background-color: #99b9c2;
}

*/