/* ------------------------------------------------------------------------------------------------------------------ */
/* -------------------- */
/* ----- LAYOUT ----- */
/* ------------------ */

body {
    background: #fafafa;
    margin-top: 4rem;
    color: #444444;
}

article.content {min-height: 700px}

footer {color: gray;}

.header-img {
    height: 6.25rem;
    width: 6.25rem;
}

.page-title {
    font-size: 2.62rem;
    line-height: 1;
}

@media only screen and (max-width: 600px) {
    .header-img {
        height: 5rem;
        width: 5rem;
    }
    .page-title {
        font-size: 1.7rem;
        line-height: 1;
    }
}




/* ------------------------------------------------------------------------------------------------------------------ */
/* -------------------- */
/* ----- GENERAL ----- */
/* ------------------ */

/* PREVENTS USERS FROM SELECTING TEXT ON PAGE:
*:not(textarea):not(input) {
        user-select: none;
}
*/

.border-base {border-bottom: 1px solid #444444;}

.btn-space {margin: 2px;}

.errorlist {color: red;}

.hide tr {display: none;}

.pt-6, .py-6 {padding-top: 5rem !important;}
.pr-6, .px-6 {padding-right: 5rem !important;}
.pb-6, .py-6 {padding-bottom: 5rem !important;}
.pl-6, .px-6 {padding-left: 5rem !important;}

.pt-7, .py-7 {padding-top: 6rem !important;}
.pr-7, .px-7 {padding-right: 6rem !important;}
.pb-7, .py-7 {padding-bottom: 6rem !important;}
.pl-7, .px-7 {padding-left: 6rem !important;}

.pt-3_9rem, .py-3_9rem {padding-top: 3.9rem !important;}
.pr-3_9rem, .px-3_9rem {padding-right: 3.9rem !important;}
.pb-3_9rem, .py-3_9rem {padding-bottom: 3.9rem !important;}
.pl-3_9rem, .px-3_9rem {padding-left: 3.9rem !important;}

.pt-4_7rem, .py-3_9rem {padding-top: 4.7rem !important;}
.pr-4_7rem, .px-3_9rem {padding-right: 4.7rem !important;}
.pb-4_7rem, .py-3_9rem {padding-bottom: 4.7rem !important;}
.pl-4_7rem, .px-3_9rem {padding-left: 4.7rem !important;}


td.align-center {text-align: center;}
td.align-right {text-align: right;}

.scrollup {
    width: 64px;
    height: 64px;
    text-decoration: none;
    background: url('/static/img/up.png') 0px 0px;
    background-size: cover;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
}

.linebreaks-style {
    font-weight: 500;
    line-height: 1.5;
}
.linebreaks-style p {margin-bottom: 0.55rem;}






/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------- */
/* ----- TEXT & FONTS ----- */
/* ----------------------- */

@font-face {
    font-family: 'IM Fell Great Primer';
    src: url("../font/IMFeGPrm29P.ttf");
}

* {font-family: 'IM Fell Great Primer';}

.deep-red {color: #C70039;}

.posts-and-news small {white-space: nowrap;}

.font-11 {font-size: 0.7rem;}
.font-12 {font-size: 0.75rem;}
.font-14 {font-size: 0.875rem;}
.font-18 {font-size: 1.125rem;}
.font-24 {font-size: 1.5rem;}

small.red {color: red;}

small.smaller {font-size: 12px;}

.small-caps {font-variant: small-caps;}





/* ------------------------------------------------------------------------------------------------------------------ */
/* -------------------- */
/* ----- IMAGES ----- */
/* ------------------ */

.article-img {
    height: 5rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

img {border-style: double;}

.img-small {
    height: 30px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
}


.img-skill {
    float: left;
    height: 60px;
    width: auto;
    margin-right: 5px;
}

.img-numeral {
    float: left;
    height: 30px;
    width: auto;
    margin-right: 5px;
}

a.img-link {
    opacity: 0.95;
    filter: grayscale(20%)
}

a.img-link:hover {
    opacity: 1;
    filter: grayscale(0%);
    color: #444444;
}

img.img-grayscale {filter: grayscale(100%);}




/* ------------------------------------------------------------------------------------------------------------------ */
/* --------------------------------- */
/* ----- LINKS & COLLAPSIBLES ----- */
/* ------------------------------- */

a:hover {
    text-decoration: none;
    color: #3366cc;
}

a {color: #444444;}

.hover-pointer li:hover, a:hover {cursor: pointer;}

.hover-blue:hover {
    color: #3366cc;
    cursor: pointer;
}

.unblue-black a {color: #212529;}




/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------- */
/* ---------- FORMS ------- */
/* ----------------------- */

.multiselect-form-small select {
    min-height: 150px;
    width: 400px;
}

.forms td {
    vertical-align: top;
    padding: 2px 10px;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------- */
/* ---------- LISTS ------- */
/* ----------------------- */

ul.bullets-1 li {list-style: "✧";}
ul.bullets-2 li {list-style: "✵";}

ul[class^=bullets] > li > * {padding-left: 0.5rem;}

/*
ul[class^=bullets] > li a {
        padding-left: 0.2rem !important;
        padding-right: 0 !important;
}
*/
nav ul.bullets-1 {margin-bottom: 0.5rem;}

nav ul.bullets-1 li {color: #cbd5db;}

.bullets-big li::marker {font-size: 120%;}





/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------- */
/* ---------- TABS ------- */
/* ----------------------- */

/* Tab Source: https://codepen.io/markcaron/pen/MvGRYV */

/* Tab main interaction */
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {display: none;}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/* Tab Styling */
.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 10px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label:hover {color: #06c;}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {background: #06c;}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}




/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------- */
/* ---------- MODAL ------- */
/* ----------------------- */

/* Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contents {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: auto;
}

/* Modal Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive container inside modal */
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;    /* <== change to adjust shape */
}
/*
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}