/* ------------------------------------------------------------------------------------------------------------------ */
/* -------------------- */
/* ----- GENERAL ----- */
/* ------------------ */

body {
        background: #fafafa;
        margin-top: 4rem;
}

.border-custom-base {
        border-bottom: 1px solid #444444;
}

.btn-space {
        margin: 2px;
}

.errorlist {
        color: red;
}

.forms td {
        vertical-align: top;
        padding: 4px 15px;
}

.hide tr {
        display: none;
}

/* dates above posts in debates and timeline*/
small.left-float {
        width: 50%;
        float: left;
        text-align: left;
}

.posts-and-news td, p {
        font-size: 18px;
        font-style: italic;
        vertical-align: top;
        padding: 5px;
        text-align: justify;
}

/*
.my-1 {
        padding: 5px;
}
*/
td.align-center {
        text-align: center;
}

td.align-right {
        text-align: right;
}

.inline-block {
   display: inline-block;
}




/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------- */
/* ----- BREADCRUMBS & PAGE TITLE ----- */
/* ----------------------------------- */

.breadcrumbs small {
        color: #888;
        white-space: nowrap;
        font-size: 11px;
}

.breadcrumb {
        padding: 3px
}

.img-page-title {
        height: 100px;
        width: 100px;
}






/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------- */
/* ----- TEXT & FONTS ----- */
/* ----------------------- */

* {
        font-family: 'IM Fell Great Primer', serif;
}

h1, h2, h3, h4, h5, h6, b{
        color: #444444;
}

.deep-red {
        color: #C70039;
}

.posts-and-news small {
        white-space: nowrap;
}

small {
        color: #888;
}


small.red {
        color: red;
}

small.smaller {
    font-size: 12px;
}

.small-caps {
        font-variant: small-caps;
}





/* ------------------------------------------------------------------------------------------------------------------ */
/* -------------------- */
/* ----- IMAGES ----- */
/* ------------------ */

.article-img {
        height: 65px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
}

.border-double {
        border-style: double;
}

.img-small {
        height: 30px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
}





/* ------------------------------------------------------------------------------------------------------------------ */
/* --------------------------------- */
/* ----- LINKS & COLLAPSIBLES ----- */
/* ------------------------------- */

a:hover {
        text-decoration: none;
        color: #3366cc;
}

a {
        color: #444444;
}



.hover-pointer li:hover, a:hover {
        cursor: pointer;
}

.hover-blue:hover {
        color: #3366cc;
        cursor: pointer;
}
