
.bg-navbar {
        background-color: #363636;
}

.site-header .navbar-nav .nav-link {
        color: #cbd5db;
        font-variant: small-caps;
}

.site-header .navbar-nav .nav-link-main {
        color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
        color: #ff9400;
}

.site-header .navbar-nav .nav-link-main:hover {
        color: #ff9400;
}

nav.navbar {
        border: double;
        border-color: white;
}



/* NEW NAVBAR */

.dropdown .dropbtn {
  border: none;
  background-color: inherit;
}

.dropdown:hover .dropdown-content {
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #363636;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  display: block;
  text-align: left;
}
