

.allowed-profiles-form-news select {
        min-height: 150px;
        width: 300px;
}


.border-red {
        border-color: #C70039;
}

.border-green {
        border-color: #229954;
}


.img-survey {
        height: 30px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
}

.img-survey-tiny {
        height: 15px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
}

.inline {
  float:left;
}