
ul.dropdown-menu {
  top: auto !important;
  transform: none !important;
  width: 15rem;
  min-width: auto;
  max-height: 18rem !important;
  overflow-y: auto !important;

}
@media only screen and (max-width: 600px) {
    ul.dropdown-menu {
        position: fixed !important;
        top: 14rem !important;
        right: 100% !important;
        left: 1rem !important;
    }
}

.sticky-menu {
    background-color: #fafafa;
    position: sticky;
    top: 60px;
    width: auto;
    z-index: 100;
}

