
img.img-grayscale:hover {
        filter: grayscale(0%);
}


@media only screen and (max-width: 320px) {
    span.character-name {font-size: 1rem;}
    img.character {
        max-width: 8rem;
        width: 100%
    }
}
@media only screen and (max-width: 600px) {
    span.character-name {font-size: 1.4rem;}
    img.character {
        max-width: 10rem;
        width: 100%
    }
}
@media only screen and (max-width: 1000px) {
    span.character-name {font-size: 1.6rem;}
    img.character {
        max-width: 12rem;
        width: 100%
    }
}
@media only screen and (min-width: 1001px) {
    span.character-name {font-size: 2rem;}
    img.character {
        max-width: 14rem;
        width: 100%
    }
}


