
h1.rules, h2.rules, h3.rules, h4.rules, h5.rules, h6.rules {
        font-weight: bold;
}

ol.rules li, ul.rules li {
    font-style: italic;
    font-size: 14px;
}

li b {
        color: #444444;
}

.img-skill {
        float: left;
        height: 60px;
        width: auto;
        margin-right: 5px;
}

.img-rules {
        float: left;
        height: 45px;
        width: auto;
        margin-right: 5px;
}

.img-skill h3:hover {
        pointer-events: none;
}

.no-bullets {
        list-style: none;
}

.skills-table {
        margin: 30px;
}

.img-numeral {
        float: left;
        height: 30px;
        width: auto;
        margin-right: 5px;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 820px;
    height: 100%;
    border: 0;
}

.skills .strength-value {width: 80px;}
.skills .strength-hit {width: 100px;}
.skills .strength-damage {width: 100px;}
.skills .load {width: 100px;}
.skills .max-load {width: 125px;}
.skills .agility-value {width: 80px;}
.skills .agility-hit {width: 100px;}
.skills .agility-damage {width: 100px;}
.skills .ac-dodge {width: 100px;}
.skills .reflex {width: 100px;}
.skills .endurance-value {width: 80px;}
.skills .defense-throw {width: 100px;}
.skills .ac-parry {width: 100px;}
.skills .life {width: 180px;}
.skills .damage-thresholds {width: 180px;}

.professions .level {width: 100px;}
.professions .level-desc {width: 350px;}

.plates .plate {width: 320px;}
.plates .armor-class {width: 70px;}
.plates .parry {width: 120px;}
.plates .endurance {width: 120px;}
.plates .weight {width: 100px;}
.plates .agility-penalty {width: 150px;}
.plates .movement-penalty {width: 150px;}

.shields .shield {width: 150px;}
.shields .num-of-enemies {width: 120px;}
.shields .rmor-class {width: 180px;}
.shields .weight {width: 100px;}


.professions tr:nth-child(even),
.plates tr:nth-child(even),
.shields tr:nth-child(even) {
        background-color: #f2f2f2;
}



.rules-red {
        color: #993300;
}


.skills-green {
        color: #008000;
}

.border-custom-right {
        border-right: 1px solid #363636;
}

thead.align-center th {
        text-align: center;
        color: #444444;
}

tbody.align-center td {
        text-align: center;
}

tbody.align-center td.align-right {
        text-align: right;
}

tbody.align-center td.align-left {
        text-align: left;
}

thead.align-center th.align-left {
        text-align: left;
}

thead.align-center th.align-right {
        text-align: right;
}


