

.rules-styling h6, h5, h4, h3, h2, h1 {font-weight: bold;}

.rules-styling p {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 0.5rem;
    text-align: justify;
}
.rules-styling li {
    font-style: italic;
    font-size: 14px;
}


.img-rules {
    float: left;
    height: 45px;
    width: auto;
    margin-right: 5px;
}


.no-bullets {list-style: none;}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 820px;
    height: 100%;
    border: 0;
}


.traits .strength-value {width: 80px;}
.traits .strength-hit {width: 100px;}
.traits .strength-damage {width: 100px;}
.traits .load {width: 100px;}
.traits .max-load {width: 125px;}
.traits .agility-value {width: 80px;}
.traits .agility-hit {width: 100px;}
.traits .agility-damage {width: 100px;}
.traits .ac-dodge {width: 100px;}
.traits .reflex {width: 100px;}
.traits .endurance-value {width: 80px;}
.traits .defense-throw {width: 100px;}
.traits .ac-parrying {width: 100px;}
.traits .life {width: 180px;}
.traits .damage-thresholds {width: 180px;}

.professions .level {width: 100px;}
.professions .level-desc {width: 350px;}

.plates .plate {width: 320px;}
.plates .armor-class {width: 70px;}
.plates .parrying {width: 120px;}
.plates .endurance {width: 120px;}
.plates .weight {width: 100px;}
.plates .agility-penalty {width: 150px;}
.plates .movement-penalty {width: 150px;}

.shields .shield {width: 150px;}
.shields .num-of-enemies {width: 120px;}
.shields .rmor-class {width: 180px;}
.shields .weight {width: 100px;}

.protection .protection-type {width: 400px;}
.protection .protection-desc {width: 600px;}
.protection .weight {width: 40px;}

.plate-and-tricks .plate {width: 450px;}
.plate-and-tricks .pickpocketing {width: 80px;}
.plate-and-tricks .lockpicking {width: 80px;}
.plate-and-tricks .sneaking-towns {width: 80px;}
.plate-and-tricks .sneaking-wilderness {width: 80px;}
.plate-and-tricks .hiding-towns {width: 80px;}
.plate-and-tricks .hiding-wilderness {width: 80px;}
.plate-and-tricks .climbing {width: 80px;}
.plate-and-tricks .traps {width: 120px;}

.agility-and-tricks .plate {width: 80px;}
.agility-and-tricks .pickpocketing {width: 100px;}
.agility-and-tricks .lockpicking {width: 100px;}
.agility-and-tricks .sneaking-towns {width: 100px;}
.agility-and-tricks .sneaking-wilderness {width: 100px;}
.agility-and-tricks .hiding-towns {width: 100px;}
.agility-and-tricks .hiding-wilderness {width: 100px;}
.agility-and-tricks .climbing {width: 100px;}
.agility-and-tricks .traps {width: 100px;}


table.weapons-table {border: double;}

.weapons-table .class {width: 22%;}
/*.weapons-table .delay {width: 3%;}*/
.weapons-table .damage {width: 10%;}
.weapons-table .damage-type {width: 5%;}
.weapons-table .special {width: 30%;}
.weapons-table .range {width: 12%;}
.weapons-table .size {width: 5%;}
.weapons-table .trait {width: 7%;}
.weapons-table .price {width: 7%;}
.weapons-table .weight {width: 7%;}

@media only screen and (max-width: 600px) {
    .weapons-table {font-size: 0.7rem;}
}
@media only screen and (min-width: 601px) {
    .weapons-table {font-size: 0.8rem;}
}
@media only screen and (min-width: 1001px) {
    .weapons-table {font-size: 0.9rem;}
}
@media only screen and (min-width: 1201px) {
    .weapons-table {font-size: 1rem;}
}

.weapons-table th {
    font-weight: normal;
    padding: 0.4rem 0rem 0.4rem 0rem;
}
.weapons-table thead {
    background-color: #363636;
    color: #ffffff;
}

.plates tr:nth-child(4n-1),
.plates tr:nth-child(4n),
.weapons-table tbody tr:nth-child(4n-1),
.weapons-table tbody tr:nth-child(4n) {background-color: #f2f2f2;}

.weapons-img img {
    display: block;
    max-width: 100%;
    max-height: 300px;
    height: auto;
}

.key .point {width: 25%;}
.key .explanation {width: %;}



table.key td {padding: 5px 0px 5px 0px;}

td .nowrap { white-space: nowrap;}




.key tr:nth-child(even),
.professions tr:nth-child(even),
.shields tr:nth-child(even),
.plate-and-tricks tr:nth-child(2n+3),
.protection tr:nth-child(even) {background-color: #f2f2f2;}




.rules-red {color: #993300;}

.rules-green {color: #008000;}

.back-gray {background-color: #f2f2f2;}

.border-custom-right {border-right: 1px solid #363636;}

thead.align-center th {text-align: center;}
tbody.align-center td {text-align: center;}

tbody.align-center td.align-right {text-align: right;}
tbody.align-center td.align-left {text-align: left;}
thead.align-center th.align-left {text-align: left;}
thead.align-center th.align-right {text-align: right;}


