
h1.rules, h2.rules, h3.rules, h4.rules, h5.rules, h6.rules {
        font-weight: bold;
}

.rules-styling p {
        font-size: 18px;
        font-style: italic;
        padding: 5px;
        text-align: justify;
}

ol.rules li, ul.rules li {
    font-style: italic;
    font-size: 14px;
}

li b {
        color: #444444;
}

.img-skill {
        float: left;
        height: 60px;
        width: auto;
        margin-right: 5px;
}

.img-rules {
        float: left;
        height: 45px;
        width: auto;
        margin-right: 5px;
}

.img-skill h3:hover {
        pointer-events: none;
}

.no-bullets {
        list-style: none;
}

.skills-table {
        margin-left: 30px;
}

.img-numeral {
        float: left;
        height: 30px;
        width: auto;
        margin-right: 5px;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 820px;
    height: 100%;
    border: 0;
}

.traits .strength-value {width: 80px;}
.traits .strength-hit {width: 100px;}
.traits .strength-damage {width: 100px;}
.traits .load {width: 100px;}
.traits .max-load {width: 125px;}
.traits .agility-value {width: 80px;}
.traits .agility-hit {width: 100px;}
.traits .agility-damage {width: 100px;}
.traits .ac-dodge {width: 100px;}
.traits .reflex {width: 100px;}
.traits .endurance-value {width: 80px;}
.traits .defense-throw {width: 100px;}
.traits .ac-parrying {width: 100px;}
.traits .life {width: 180px;}
.traits .damage-thresholds {width: 180px;}

.professions .level {width: 100px;}
.professions .level-desc {width: 350px;}

.plates .plate {width: 320px;}
.plates .armor-class {width: 70px;}
.plates .parrying {width: 120px;}
.plates .endurance {width: 120px;}
.plates .weight {width: 100px;}
.plates .agility-penalty {width: 150px;}
.plates .movement-penalty {width: 150px;}

.shields .shield {width: 150px;}
.shields .num-of-enemies {width: 120px;}
.shields .rmor-class {width: 180px;}
.shields .weight {width: 100px;}

.protection .protection-type {width: 400px;}
.protection .protection-desc {width: 600px;}
.protection .weight {width: 40px;}

.plate-and-tricks .plate {width: 450px;}
.plate-and-tricks .pickpocketing {width: 80px;}
.plate-and-tricks .lockpicking {width: 80px;}
.plate-and-tricks .sneaking-towns {width: 80px;}
.plate-and-tricks .sneaking-wilderness {width: 80px;}
.plate-and-tricks .hiding-towns {width: 80px;}
.plate-and-tricks .hiding-wilderness {width: 80px;}
.plate-and-tricks .climbing {width: 80px;}
.plate-and-tricks .traps {width: 120px;}

.agility-and-tricks .plate {width: 80px;}
.agility-and-tricks .pickpocketing {width: 100px;}
.agility-and-tricks .lockpicking {width: 100px;}
.agility-and-tricks .sneaking-towns {width: 100px;}
.agility-and-tricks .sneaking-wilderness {width: 100px;}
.agility-and-tricks .hiding-towns {width: 100px;}
.agility-and-tricks .hiding-wilderness {width: 100px;}
.agility-and-tricks .climbing {width: 100px;}
.agility-and-tricks .traps {width: 100px;}

.weapons .class {width: 22%;}
.weapons .delay {width: 3%;}
.weapons .damage {width: 10%;}
.weapons .damage-type {width: 5%;}
.weapons .special {width: 25%;}
.weapons .range {width: 12%;}
.weapons .size {width: 5%;}
.weapons .trait {width: 6%;}
.weapons .price {width: 6%;}
.weapons .weight {width: 6%;}


.key .point {width: 25%;}
.key .explanation {width: %;}

table.weapons {
        border: double;
}

table.key td {
        padding: 5px 0px 5px 0px;
}

td .nowrap {
        white-space: nowrap;
}

.weapons thead {
        background-color: #363636;
        color: #ffffff;
}

.weapons th {
        font-weight: normal;
}

.key tr:nth-child(even),
.professions tr:nth-child(even),
.shields tr:nth-child(even),
.plate-and-tricks tr:nth-child(2n+3),
.protection tr:nth-child(even) {
        background-color: #f2f2f2;
}

.plates tr:nth-child(4n-1),
.plates tr:nth-child(4n),
.weapons tbody tr:nth-child(4n-1),
.weapons tbody tr:nth-child(4n) {
        background-color: #f2f2f2;
}


.weapons-img img {
        display: block;
        max-width: 100%;
        max-height: 300px;
        height: auto;
}

.rules-red {
        color: #993300;
}

.rules-green {
        color: #008000;
}

.back-gray {
        background-color: #f2f2f2;
}

.border-custom-right {
        border-right: 1px solid #363636;
}

thead.dark th {
        color: #444444;
}

thead.align-center th {
        text-align: center;
}

tbody.align-center td {
        text-align: center;
}

tbody.align-center td.align-right {
        text-align: right;
}

tbody.align-center td.align-left {
        text-align: left;
}

thead.align-center th.align-left {
        text-align: left;
}

thead.align-center th.align-right {
        text-align: right;
}


