.toponomikon-gen-loc-img img {
        width: 100%;
        height: auto;
}

.toponomikon-img img {
        display: block;
        max-width: 300px;
        height: auto;
}

table.toponomikon {
        border-collapse: separate;
        border-spacing: 10px;
}

img.img-grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}