
img.toponomikon {
    width: 100%;
    height: auto;
}

table.toponomikon {
    border-collapse: separate;
    border-spacing: 10px;
}



/* ------------------------------------------------------------------------------------------------------------------ */
/* ----------------------------------------- */
/* ---------- AUDIO ------- */
/* --------------------------------------- */

audio.toponomikon-audio-main {
    height: 2rem;
    width: 100%;
    max-width: 100rem;
    margin-top: -2.17rem;
    padding: 0 0.15rem 0 0.15rem;
    background-color: none;
}
audio.toponomikon-audio-small {
    height: 1.2rem;
    width: 100%;
    margin-top: 0.2rem;
    border-radius: 2rem;
}