
img.toponomikon {
    width: 100%;
    height: auto;
}

table.toponomikon {
    border-collapse: separate;
    border-spacing: 10px;
}


p span.sublocation {
    background: radial-gradient(#2b2a29, #eff1f1);
    /* background: linear-gradient(to right, #00ffff, #ff00ff); */
}

.sublocation a {color: white;}



/* ------- AUDIO ------- */

audio.toponomikon-audio-main {
    height: 2rem;
    width: 100%;
    max-width: 100rem;
    margin-top: -2.17rem;
    padding: 0 0.15rem 0 0.15rem;
    background-color: none;
}
audio.toponomikon-audio-small {
    height: 1.2rem;
    width: 100%;
    margin-top: 0.2rem;
    border-radius: 2rem;
}

/* ------- END AUDIO ------- */
