{% extends 'base.html' %}

{% block content %}
<br><br><br>

    <h4>Kronika i Kalendarium:</h4>
    <small>Przeładowuje modele: Thread ('sorting_name'), TimelineEvent (signal 'update_known_spec_locations') </small>
    <br>
    <a href="{% url 'reload:reload-history' %}">PRZEŁADUJ</a><br>
    <br><br>

    <h4>Toponomikon:</h4>
    <small>Przeładowuje modele: GeneralLocation, SpecificLocation</small>
    <br>
    <a href="{% url 'reload:reload-toponomikon' %}">PRZEŁADUJ</a><br>
    <br><br>

    <h4>Prosoponomikon:</h4>
    <small>Przeładowuje modele: Persona</small>
    <br>
    <a href="{% url 'reload:reload-prosoponomikon' %}">PRZEŁADUJ</a><br>
    <br><br>

    <h4>Zasady:</h4>
    <small>Przeładowuje modele: Skill, Synergy, Profession, Klass, EliteClass, EliteProfession, WeaponClass, WeaponType</small>
    <br>
    <a href="{% url 'reload:reload-rules' %}">PRZEŁADUJ</a><br>
    <br><br>

{% endblock content %}