{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br>

    <article>
        <div class="container">
            
            <section class="mb-5">
                <div class="row">
                    {% for character in player_character %}
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <a href="#" class="img-link">
                                <img class="img-fluid mx-auto d-block {% if not character.profile.is_alive %} img-grayscale {% endif %}"
                                     src="{{ character.profile.image.url }}"
                                     alt="Profile img">
                            </a>
                            <p class="pt-1 text-center">{{ character }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            
            <section class="mb-5">
                <div class="row">
                    {% for profile in npc_characters %}
                        <div class="col-sm-4 col-md-3 col-lg-2 px-1">
                            <a class="img-link" href="#">
                                <img class="img-fluid mx-auto d-block" src="{{ character.profile.image.url }}" alt="Profile img">
                            </a>
                            <p class="font-12 pt-1">{{ character }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            
            
        </div>
    </article>

{% endblock content %}