{% load static %}

<div class="img-hover-zoom border-double m-0" data-toggle="tooltip" data-placement="bottom" data-html="true"
     title='
        <span class="font-italic">
            {% firstof acquaintanceship.knows_as_name acquaintanceship.known_character.fullname %}
            {% if not acquaintanceship.is_direct %}
                <div>(Postać znana ze słyszenia)</div>
            {% endif %}
            {% if aka and acquaintanceship.knows_as_description %}
                <div>(Znany opis Postaci)</div>
                <div>{{ acquaintanceship.knows_as_description }}</div>
            {% endif %}
        </span>'>
    {% if acquaintanceship.is_direct %}
        <img class="character {% if acquaintanceship.knows_if_dead and not acquaintanceship.known_character.profile.is_alive %} img-grayscale {% endif %}"
             src="
                {% if acquaintanceship.knows_as_image %}
                    {{ acquaintanceship.knows_as_image.url }}
                {% else %}
                    {{ acquaintanceship.known_character.profile.image.url }}
                {% endif %}
             ">
    {% else %}
        <img class="character {% if acquaintanceship.knows_if_dead and not acquaintanceship.known_character.profile.is_alive %} img-grayscale {% endif %}"
             src="{% static 'img/profile_known_only_indirectly.jpg' %}">
    {% endif %}

</div>