{% load static %}
{% load custom_filters %}


<div data-toggle="tooltip" data-placement="{% if acquisition.sphragis.id %}top{% endif %}" data-html="true"
     title="
            {% if request.current_profile.can_view_all %}
                [Sfragis {{ acquisition.sphragis.name_genitive }}]
                <br>{{ acquisition.skill_level.skill.name_second }}<br>{{ acquisition.skill_level.skill.name_origin }}
            {% else %}
                Sfragis {{ acquisition.sphragis.name_genitive }}
            {% endif %}
        ">
    
    <div class="d-flex flex-nowrap hover-pointer" data-toggle="collapse"
         data-target="#{{ acquisition.skill_level.skill|cut:' ' }}{{ skill_type|cut:' ' }}{{ acquisition.weapon.id }}{{ acquisition.sphragis.id }}">
        {% if skilltype_kinds in 'Moce Kapłańskie,Zaklęcia,Moce Teurgiczne' %}
            <img class="img-skill" src="{% static 'img/'|add:acquisition.skill_level.level|add:'_no_background.png' %}"
                 style="background-color: {% firstof acquisition.sphragis.color 'black' %}; background-clip: content-box;">
        {% else %}
            {% if acquisition.skill_level.skill.image %}
                <img class="img-skill mr-sm-1" src="{{ acquisition.skill_level.skill.image.url }}">
            {% else %}
                <img class="img-skill mr-sm-1" src="{% static 'img/skill-default.png' %}">
            {% endif %}
        {% endif %}
    </div>
    
</div>