

<a class="anchor anchor10" id="character_{{ acquaintanceship.known_character.id }}"></a>
<div class="my-5 py-5">
    
    {% if forloop.counter|divisibleby:2 %}
    
        {% with side='right' %}
            <div class="row mb-n5">
                {% include 'prosoponomikon/_acquaintance_descr.html' %}
                {% include 'prosoponomikon/_acquaintance_img_left_or_right.html' %}
            </div>
        {% endwith %}
    
    {% else %}
    
        {% with side='left' %}
            <div class="row mb-n5">
                {% include 'prosoponomikon/_acquaintance_img_left_or_right.html' %}
                {% include 'prosoponomikon/_acquaintance_descr.html' %}
            </div>
        {% endwith %}
    
    {% endif %}

</div>