{% load static %}

<div class="col-6 col-lg-3 px-2 mb-2">
    {% if aka %}
        <img class="portait img-xs ml-1 border border-dark rounded-circle"
            style="z-index: 2; position: absolute; top: 0.5rem; right: 1rem;"
            src="{{ acquaintanceship.knowing_character.profile.image.url }}">
    {% endif %}

    {% if show_caption and request.current_profile.status == 'gm' %}
        <div class="overlay mt-2 ml-3">
            <div class="p-0 rounded d-flex flex-column bg-light border border-dark">
                <a class="btn-overlay btn-outline-dark border-none icon-edit rounded"
                    href="{% url 'admin:prosoponomikon_acquaintanceship_change' acquaintanceship.id %}" target="_"
                    data-toggle="tooltip" data-placement="left" data-html="true" title="Edytuj Znajomość<br> {{ acquaintanceship }}">
                </a>
            </div>
        </div>
    {% endif %}

    <a class="m-auto" href="{% url 'prosoponomikon:character' acquaintanceship.known_character.id %}">
        {% include 'prosoponomikon/__acquaintance_img.html' %}
    </a>
    {% if show_caption %}
        <p class="pt-1 font-italic font-14 text-center">
            {% firstof acquaintanceship.knows_as_name acquaintanceship.known_character.fullname %}
        </p>
    {% endif %}
</div>
