{% load static %}

<div class="col-6 col-lg-3 px-2 mb-2">
    <a class="img-link" href="{% url 'prosoponomikon:character' acquaintanceship.known_character.id %}">
        <div class="img-hover-zoom border-double m-0" data-toggle="tooltip" data-placement="bottom" data-html="true"
             title='<span class="font-italic"> {{ acquaintanceship.known_character }} {% if not acquaintanceship.is_direct %} <br>(Postać znana ze słyszenia) {% endif %}</span>'>
            {% if acquaintanceship.is_direct %}
                <img class="character {% if acquaintanceship.knows_if_dead and not acquaintanceship.known_character.profile.is_alive %} img-grayscale {% endif %}"
                     src="{{ acquaintanceship.known_character.profile.image.url }}">
            {% else %}
                <img class="character {% if acquaintanceship.knows_if_dead and not acquaintanceship.known_character.profile.is_alive %} img-grayscale {% endif %}" src="{% static 'img/profile_known_only_indirectly.jpg' %}">
            {% endif %}
        </div>
    </a>
    {% if show_caption %}
        <p class="pt-1 font-italic font-14 text-center">{{ acquaintanceship.known_character.fullname }}</p>
    {% endif %}
</div>
