{% load custom_filters %}

{% if side == 'right' %}
    <div class="col-0 col-lg-3 px-0"></div>
{% endif %}
<div class="col-9 col-lg-6 px-0">
    <div>
        <p class="mb-1 {% if side == 'left' %} text-left {% else %} text-right {% endif %}
            {% if not acquaintanceship.is_direct %} text-muted {% endif %}">
            <span class="border-bottom-dark character-name">
                {{ acquaintanceship.known_character.fullname }}
            </span>
        </p>
        <h6 class="font-italic text-justify mb-n5 {% if not acquaintanceship.is_direct %} text-muted {% endif %}">
            {% if acquaintanceship.known_character.description %}
                {{ acquaintanceship.known_character.description }}
            {% endif %}
        </h6>
    </div>
</div>
{% if side == 'left' %}
    <div class="col-0 col-lg-3 px-0"></div>
{% endif %}
