{% load static %}

<div class="col-6 col-lg-3 px-2 mb-2">
    {% if aka %}
        <img class="portait img-xs ml-1 border border-dark rounded-circle"
            style="z-index: 2; position: absolute; top: 0.5rem; right: 1rem;"
            src="{{ acquaintanceship.knowing_character.profile.image.url }}">
    {% endif %}
    {% if show_caption and request.current_profile.status == 'gm' %}
        <a class="btn btn-outline-{{ this_acquaintanceship.known_character.profile.image_icons_color }} border-none icon-edit px-1 py-0 mb-1"
            style="z-index: 2; position: absolute; top: 0.4rem; left: 0.75rem;"
            href="{% url 'admin:prosoponomikon_acquaintanceship_change' acquaintanceship.id %}"
            data-toggle="tooltip" data-placement="left" data-html="true" title="Edytuj Znajomość<br> {{ acquaintanceship }}">
        </a>
    {% endif %}
    <a class="img-link" href="{% url 'prosoponomikon:character' acquaintanceship.known_character.id %}">
        {% include 'prosoponomikon/__acquaintance_img.html' %}
    </a>
    {% if show_caption %}
        <p class="pt-1 font-italic font-14 text-center">
            {% firstof acquaintanceship.knows_as_name acquaintanceship.known_character.fullname %}
        </p>
    {% endif %}
</div>
