

<div class="anchor mt-n5" id="character_{{ character.id }}">
    
    {% if forloop.counter|divisibleby:2 %}
    
        {% with side='right' %}
            <div class="row mb-4">
                {% include 'prosoponomikon/_char_descr.html' %}
                {% include 'prosoponomikon/_char_img_left_or_right.html' %}
            </div>
        {% endwith %}
    
    {% else %}
    
        {% with side='left' %}
            <div class="row mb-4">
                {% include 'prosoponomikon/_char_img_left_or_right.html' %}
                {% include 'prosoponomikon/_char_descr.html' %}
            </div>
        {% endwith %}
    
    {% endif %}

</div>