
<div class="row mb-5">
    <div class="col-12 pr-0">
        
        <div class="float-right pl-3">
            <a href="#">
                <div class="img-hover-zoom">
                    <img class="character {% if character.profile.status == 'dead_player' %} img-grayscale {% endif %}"
                         src="{{ character.profile.image.url }}"
                         alt="Profile img">
                </div>
            </a>
        </div>

        <div>
            <p class="h4 text-right"> <!-- {% if character.only_indirectly %} text-muted {% endif %}  -->
                <span class="border-bottom-dark">{{ character.name }}</span>
                <!--  {% if character.only_indirectly  %} (znasz z opowieści) {% endif %}-->
            </p>
            <h6 class="font-italic linebreaks-style text-justify"> <!-- {% if character.only_indirectly %} text-muted {% endif %}-->
                {% if character.descr_origin %}                             {{ character.descr_origin|linebreaks }}         {% endif %}
                {% if character.descr_occupation %}                         {{ character.descr_occupation|linebreaks }}     {% endif %}
                {% if character.descr_psychophysical %}                     {{ character.descr_psychophysical|linebreaks }} {% endif %}
                {% if character.descr_for_gm and profile.status == 'gm' %}  {{ character.descr_psychophysical|linebreaks }} {% endif %}
            </h6>
        </div>
    </div>
</div>

