{% load static %}

<div class="col-3 px-0 pt-1">
    <div class="{% if side == 'left' %} float-left pr-3 {% else %} float-right pl-3 {% endif %}">
        <a href="{% url 'prosoponomikon:character' character.id %}">
            <div class="img-hover-zoom border-double m-0" data-toggle="tooltip" data-placement="bottom" data-html="true"
                 title='<span class="font-italic">{% if character.only_indirectly %} {{ character }}<br>(Postać znana ze słyszenia) {% else %} {{ character }} {% endif %}</span>'>
                {% if not character.only_indirectly %}
                    <img class="character {% if not character.profile.is_alive %} img-grayscale {% endif %}" src="{{ character.profile.image.url }}">
                {% else %}
                    <img class="character {% if not character.profile.is_alive %} img-grayscale {% endif %}" src="{% static 'img/profile_known_only_indirectly.jpg' %}">
                {% endif %}
            </div>
        </a>
    </div>
</div>
