

<h5 class="border-bottom text-center">
    {{ type_name }}
</h5>
{% for affix_group in name_group.affix_groups.all %}
    {% if affix_group.type|lower == type|lower %}
        <div>
            <b>*{{ affix_group.affix }}</b>
            {% for name in affix_group.first_names.all %}
                <div class="container">
                    <div class="row">
                        <div class="col-10">
                            <ul class="bullets-1 mb-1">
                                <li class="pl-1">
                                    <span style="color:{{ name.auxiliary_group.color }};"
                                          data-toggle="tooltip" data-placement="right" data-html="true"
                                          title='<span class="font-italic">{% if name.auxiliary_group %}{{ name.auxiliary_group }}{% else %}-{% endif %}</span>'>
                                        {{ name }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-2 px-0">
                            {% for character in name.characters.all %}
                                <a href="{% url 'prosoponomikon:character' character.id %}">
                                    <div class="d-inline float-right ml-1" data-toggle="tooltip" data-placement="left" data-html="true"
                                        title='<span class="font-italic">{{ character.profile }}</span>'>
                                       <img class="rounded-circle img-smaller" src="{{ character.profile.image.url }}">
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
