
<article>
    <div class="container">
        <section class="mb-5">
            <div class="row">
                {% for persona in personas %}
                    <div class="{% if side == 'left' %} float-left pr-3 {% else %} float-right pl-3 {% endif %}">
                        <a href="#">
                            <div class="img-hover-zoom">
                                <img class="persona {% if persona.profile.status == 'dead_player' %} img-grayscale {% endif %}"
                                     src="{{ persona.profile.image.url }}" alt="Profile img">
                            </div>
                        </a>
                        <p class="pt-1 text-center">{{ persona.name }}</p>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</article>
