
<article>
    <div class="container">
        <section class="mb-5">
            <div class="row">
                {% for persona in personas %}
                    <a href="#">
                        <div class="img-hover-zoom">
                            <img class="persona-big {% if persona.profile.status == 'dead_player' %} img-grayscale {% endif %}"
                                 src="{{ persona.profile.image.url }}" alt="Profile img"
                                 data-toggle="tooltip" data-placement="bottom" title="{{ persona.name }}">
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>
    </div>
</article>
