{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}


{% block content %}

    <!-- INITIALS AS QUICK LINKS -->
    {% regroup acquaintanceships|dictsort:"known_name" by initial as acquaintanceships_list %}
    
    <div class="container sticky-menu border-bottom">
        <div class="row d-flex justify-content-center text-center">
            {% for acquaintanceships_group in acquaintanceships_list %}
                <div class="dropdown">
                    <div class="col hover-pointer font-12 border-double p-2 mt-2 mx-1" style="max-width:2rem;min-width:2rem;"
                         id="menu_{{ forloop.counter }}" data-toggle="dropdown" >
                        {{ acquaintanceships_group.grouper|capfirst }}
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu_{{ forloop.counter }}">
                        <li>
                            <a class="pl-2" href="{{ request.path }}#letter-{{ acquaintanceships_group.grouper }}">{{ acquaintanceships_group.grouper|capfirst }}</a>
                        </li>
                        {% for acquaintanceship in acquaintanceships_group.list %}
                            <li>
                                <a class="pl-2" href="{{ request.path }}#character_{{ acquaintanceship.known_character.id }}">
                                    {% if acquaintanceship.known_character.profile.status == 'player' and request.current_profile.status == 'gm' %}
                                        <b>{% firstof acquaintanceship.knows_as_name acquaintanceship.known_character.fullname %}</b>
                                    {% else %}
                                        {% firstof acquaintanceship.knows_as_name acquaintanceship.known_character.fullname %}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            
            {% endfor %}
        </div>
        <div class="row mb-3"></div>
    </div>

    <!-- ACQUAINTANCESCHIPS -->
    <div class="container">
        {% if acquaintanceships %}
            {% for acquaintanceships_group in acquaintanceships_list %}
                <a class="anchor anchor8-resp" id="letter-{{ acquaintanceships_group.grouper }}"></a>
                <div class="my-5 py-5">
                    <p class="text-center mt-5 pt-3">
                        <span class="font-50 border-double p-3">
                            {{ acquaintanceships_group.grouper|capfirst }}
                        </span>
                    </p>
                    {% for acquaintanceship in acquaintanceships_group.list %}
                        {% include 'prosoponomikon/_acquaintance_info.html' %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock content %}
