{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}


{% block content %}

    {% regroup all_characters by initial as character_list %}
    <div class="container">
        <div class="row d-flex justify-content-center text-center mb-5">
            {% for character_group in character_list %}
                <a class="col font-12 border-double p-2 mt-2 mx-1" style="max-width:2rem;min-width:2rem;"
                    href="{{ request.path }}#letter-{{ character_group.grouper }}">
                    {{ character_group.grouper|capfirst }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        {% if all_characters %}
            {% for character_group in character_list %}
                <div class="anchor" id="letter-{{ character_group.grouper }}">
                    <p class="mb-5 text-center">
                        <span class="font-50 border-double p-3">
                            {{ character_group.grouper|capfirst }}
                        </span>
                    </p>
                    {% for character in character_group.list %}
                        {% include 'prosoponomikon/_character_info.html' %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock content %}
