{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-image">
        <header class="mb-5">
            
            <div class="container mb-4">
                <div class="row">
                    <div class="col-12 px-0">
                        
                        <!-- CHARACTER PICTURE -->
                        <div class="float-left mr-3 img-hover-zoom">
                            <img class="character-detail {% if not character.profile.is_alive %} img-grayscale {% endif %}"
                                 src="
                                    {% if current_profile.character == character or current_profile in character.known_directly.all or current_profile.can_view_all %}
                                        {{ character.profile.image.url }}
                                    {% else %}
                                         /media/profile_pics/profile_known_only_indirectly.jpg
                                    {% endif %}"
                            >
                        </div>
                        
                        <!-- BUTTONS -->
                        <div class="row mt-1">
                            <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Przejdź do Prosoponomikonu">
                                <a class="btn btn-outline-dark icon-parent-obj py-2" href="{% url 'prosoponomikon:ungrouped' %}#character_{{ character.id }}"></a>
                            </div>
                            {% if current_profile.can_action %}
                                <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Przekaż wiedzę o postaci">
                                    <!-- Modal -->
                                    <span class="btn btn-outline-dark icon-inform py-2" data-toggle="modal" data-target="#infoCharacterModal_{{ character.id }}"></span>
                                    <div class="modal fade" id="infoCharacterModal_{{ character.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                        {% with informables=character.informables inform_type=character|get_model_name id_=character.id %}
                                            {% include '_inform.html' %}
                                        {% endwith %}
                                    </div>
                                </div>
                                <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Nowy pakiet biograficzny">
                                    <a class="btn btn-outline-dark icon-biography-packet py-2" href="{% url 'prosoponomikon:bio-packet-form' character.id 0 %}"></a>
                                </div>
                            {% endif %}
<!--                            <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Notatki (w budowie)">-->
<!--                                <a class="btn btn-outline-dark icon-note py-2 disabled" href="#"></a>-->
<!--                            </div>-->
                            {% if current_profile.status == 'player' and current_profile.character == character %}
                                <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Edytuj postać">
                                    <a class="btn btn-outline-dark icon-edit py-2" href="{% url 'users:profile' %}"></a>
                                </div>
                            {% endif %}
                            {% if current_profile.status == 'gm' %}
                                <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Edytuj postać">
                                    <a class="btn btn-outline-secondary icon-edit py-2" href="{% url 'admin:prosoponomikon_character_change' character.id %}" target="_blank"></a>
                                </div>
                            {% endif %}
                        </div>
    
                        <!-- CHARACTER DESCRIPTION -->
                        <div class="font-italic linebreaks-style text-justify my-2 font-18 {% if character.only_indirectly %} text-muted {% endif %}">
                            {% if character.description %}
                                {{ character.description|linebreaks }}
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </header>
        
        
        <article class="tabset multiline-header pt-5">
            
            <!-- TAB HEADERS -->
            
            <!-- Biography packets -->
            {% if character.biography_packets.all %}
                <input type="radio" name="tabset" id="tab1" aria-controls="biography_packets" checked>
                <label class="h4 mb-0" for="tab1">Biografia</label>
            {% endif %}
            
            <!-- Dialogue packets -->
            {% if current_profile.status == 'gm' and character.dialogue_packets.all %}
                {% if character.biography_packets.all %}
                    <input type="radio" name="tabset" id="tab2" aria-controls="dialogue_packets">
                {% else %}
                    <input type="radio" name="tabset" id="tab2" aria-controls="dialogue_packets" checked>
                {% endif %}
                <label class="h4 mb-0" for="tab2">Dialogi</label>
            {% endif %}
            
            <!-- Skills -->
            {% if skills %}
                {% if character.biography_packets.all or character.dialogue_packets.all %}
                    <input type="radio" name="tabset" id="tab3" aria-controls="skills">
                {% else %}
                    <input type="radio" name="tabset" id="tab3" aria-controls="skills" checked>
                {% endif %}
                <label class="h4 mb-0" for="tab3">
                    {% if character.profile != current_profile and character.profile.status != 'player' %} ~ {% endif %}
                    Umiejętności
                </label>
            {% endif %}
    
            <!-- Knowledge packets -->
            {% if knowledge_packets %}
                {% if character.biography_packets.all or character.dialogue_packets.all or skills %}
                    <input type="radio" name="tabset" id="tab4" aria-controls="knowledge_packets">
                {% else %}
                    <input type="radio" name="tabset" id="tab4" aria-controls="knowledge_packets" checked>
                {% endif %}
                <label class="h4 mb-0" for="tab4">
                    {% if character.profile != current_profile and character.profile.status != 'player' %} ~ {% endif %}
                    Wiedza
                </label>
            {% endif %}
            
            <!-- Known characters -->
            {% if known_characters %}
                {% if character.biography_packets.all or character.dialogue_packets.all or skills or knowledge_packets %}
                    <input type="radio" name="tabset" id="tab5" aria-controls="known_characters">
                {% else %}
                    <input type="radio" name="tabset" id="tab5" aria-controls="known_characters" checked>
                {% endif %}
                <label class="h4 mb-0" for="tab5">
                    {% if character.profile != current_profile and character.profile.status != 'player' %} ~ {% endif %}
                    Znajomości
                </label>
            {% endif %}
            
            
            <!-- TABS -->
            <div class="tab-panels">
                
                <!-- Biography packets -->
                {% if character.biography_packets.all %}
                    <section id="biography_packets" class="tab-panel">
                        <!-- Biography packets are filtered in the view for the requesting profile -->
                        {% for biography_packet in character.biography_packets.all %}
                            {% include 'knowledge/_biography_packet.html' %}
                        {% endfor %}
                    </section>
                {% endif %}
                
                <!-- Dialogue packets -->
                {% if current_profile.status == 'gm' and character.dialogue_packets.all %}
                    <section id="dialogue_packets" class="tab-panel">
                        {% for dialogue_packet in character.dialogue_packets.all %}
                            {% include 'knowledge/_dialogue_packet.html' %}
                        {% endfor %}
                    </section>
                {% endif %}
            
                <!-- Skills -->
                {% if skills %}
                    <section id="skills" class="tab-panel">
                        {% for skill in skills %}
                            {% include 'rules/_skill.html' %}
                        {% endfor %}
                    </section>
                {% endif %}

                <!-- Knowledge packets -->
                {% if knowledge_packets %}
                    <section id="knowledge_packets" class="tab-panel">
                        {% for kn_packet in knowledge_packets %}
                            {% include 'knowledge/_knowledge_packet.html' %}
                        {% endfor %}
                    </section>
                {% endif %}
                
                <!-- Known characters -->
                {% if known_characters %}
                    <section id="known_characters" class="tab-panel">
                        <div class="container">
                            <div class="row">
                                {% for character in known_characters %}
                                    {% include 'prosoponomikon/_char_img.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                {% endif %}
                
            </div>
            
        </article>
        
    </article>
{% endblock content %}