{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-button">
        
        <header class="mb-5">
            <div class="container">
                <div class="mb-5">
                    <a href="{% url 'prosoponomikon:groups-create' %}" class="btn btn-outline-dark mb-1">Nowa grupa</a>
                    <a href="{% url 'prosoponomikon:groups-edit' %}" class="btn btn-outline-dark mb-1">Edytuj grupy</a>
                    <a href="{% url 'prosoponomikon:ungrouped' %}" class="btn btn-outline-info mb-1">Gracze/BN</a>
                </div>
            </div>
        </header>
        
        
        <div class="container pt-5">
            <article class="tabset">
                
                <!-- TAB HEADERS FOR CHARACTER GROUPS -->
                {% for character_group in character_groups %}
                    {% if forloop.counter.first %}
                        <input type="radio" name="tabset" id="tab_{{ forloop.counter }}" aria-controls="group_{{ forloop.counter }}" checked>
                    {% else %}
                        <input type="radio" name="tabset" id="tab_{{ forloop.counter }}" aria-controls="group_{{ forloop.counter }}">
                    {% endif %}
                    <label class="h3" for="tab_{{ forloop.counter }}">{{ character_group.name }}</label>
                {% endfor %}
                
                <!-- TAB HEADER FOR UNGROUPED -->
                {% if ungrouped_characters %}
                    <input type="radio" name="tabset" id="tab_last" aria-controls="ungrouped">
                    <label class="h3" for="tab_last">W pozostałych rolach...</label>
                {% endif %}
                
                <!-- TABS -->
                <div class="tab-panels">
                    <!-- GROUPED -->
                    {% for character_group in character_groups %}
                        <section id="group_{{ forloop.counter }}" class="tab-panel">
                            <div class="container">
                                {% for character in character_group.characters.all %}
                                    {% include 'prosoponomikon/_character_info.html' %}
                                {% endfor %}
                            </div>
                        </section>
                    {% endfor %}
                    <!-- UNGROUPED -->
                    {% if ungrouped_characters %}
                        <section id="ungrouped" class="tab-panel">
                            <div class="container">
                                {% for character in ungrouped_characters %}
                                    {% include 'prosoponomikon/_character_info.html' %}
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
                </div>
                
            </article>
        </div>
        
    </article>
{% endblock content %}
