{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-image">
        <div class="container">
            <div class="row mb-4">
                
                <div class="col-12 px-0">
                    
                    <div class="float-left pr-2">
                        <a href="{% url 'prosoponomikon:persona' persona.id %}">
                            <div class="img-hover-zoom">
                                <img class="persona {% if not persona.profile.is_alive %} img-grayscale {% endif %}"
                                     src="{% if not persona.only_indirectly %} {{ persona.profile.image.url }} {% else %} TODO question marks {% endif %}" alt="Profile img">
                            </div>
                        </a>
                    </div>
                    
                    <!-- BUTTONS -->
                    <div class="row mt-1">
                        <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Przejdź do Prosoponomikonu">
                            <a class="btn btn-outline-dark icon-cursor py-2" href="{% url 'prosoponomikon:main' %}#{{ persona.id }}"></a>
                        </div>
                        <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Przekaż wiedzę o postaci">
                            <!-- Modal -->
                            <span class="btn btn-outline-dark icon-inform py-2" data-toggle="modal" data-target="#infoCharacterModal_{{ persona.id }}"></span>
                            <div class="modal fade" id="infoCharacterModal_{{ persona.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                {% with informables=persona.informables inform_type=persona|get_model_name id_=persona.id %}
                                    {% include '_inform.html' %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Notatki (w budowie)">
                            <a class="btn btn-outline-dark icon-note py-2 disabled" href="#"></a>
                        </div>
                    </div>

                    
                    <div class="font-italic linebreaks-style text-justify my-2 font-18 {% if persona.only_indirectly %} text-muted {% endif %}">
                        {% if persona.description %}
                            {{ persona.description|linebreaks }}
                        {% endif %}
                    </div>
                        




                    

                    
                </div>
            </div>
        
        
            {% for biography_packet in persona.biography_packets.all %}
                <div>
                    {{ biography_packet|linebreaks }}
                </div>
            {% endfor %}
        </div>
    </article>

{% endblock content %}