{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-image">
        <header class="mb-4">
            
            <div class="container mb-4">
                <div class="row">
                    <div class="col-12 px-0">
                        
                        <!-- CHARACTER PICTURE -->
                        <div class="float-left mr-3">
                            {% if request.current_profile.character == character or this_acquaintanceship.is_direct or request.current_profile.can_view_all %}
                                <img class="character-detail {% if this_acquaintanceship.knows_if_dead and not character.profile.is_alive %} img-grayscale {% endif %}"
                                     src="{{ character.profile.image.url }}">
                            {% else %}
                                <img class="character-detail {% if this_acquaintanceship.knows_if_dead and not character.profile.is_alive %} img-grayscale {% endif %}"
                                     src="{% static 'img/profile_known_only_indirectly.jpg' %}">
                            {% endif %}
                        </div>
                        
                        
        <!-- Temp delete when GO LIVE -->
        {% if request.current_profile.character.fullname not in 'Ilen z Astinary, Alora z Astinary, Murkon Lebioda, Syngir' %}
                        <!-- BUTTONS -->
                        <div class="row">
                            <div class="ml-1 mt-1" data-toggle="tooltip" data-placement="bottom" title="Przejdź do Prosoponomikonu">
                                <a class="btn btn-outline-dark icon-parent-obj py-2" href="{% url 'prosoponomikon:acquaintanceships' %}#character_{{ character.id }}"></a>
                            </div>
                            {% if request.current_profile.can_action %}
                                <div class="ml-1 mt-1" data-toggle="tooltip" data-placement="bottom" title="Przekaż wiedzę o Postaci">
                                    <!-- Modal -->
                                    <span class="btn btn-outline-dark icon-inform py-2" data-toggle="modal" data-target="#infoCharacterModal_{{ character.id }}"></span>
                                    <div class="modal fade" id="infoCharacterModal_{{ character.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                        {% with informables=character.informables inform_type=character|get_model_name id_=character.id %}
                                            {% include '_inform.html' %}
                                        {% endwith %}
                                    </div>
                                </div>
                                <div class="ml-1 mt-1" data-toggle="tooltip" data-placement="bottom" title="Nowy Biogram">
                                    <a class="btn btn-outline-dark icon-biography-packet py-2" href="{% url 'prosoponomikon:bio-packet-form' character.id 0 %}"></a>
                                </div>
                            {% endif %}
<!--                            <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Notatki (w budowie)">-->
<!--                                <a class="btn btn-outline-dark icon-note py-2 disabled" href="#"></a>-->
<!--                            </div>-->
                            {% if request.current_profile.status == 'player' and request.current_profile.character == character %}
                                <div class="ml-1 mt-1" data-toggle="tooltip" data-placement="bottom" title="Edytuj Postać">
                                    <a class="btn btn-outline-dark icon-edit py-2" href="{% url 'users:edit-profile' %}"></a>
                                </div>
                            {% endif %}
                            {% if request.current_profile.status == 'gm' %}
                                <div class="ml-1 mt-1" data-toggle="tooltip" data-placement="bottom" title="Edytuj Postać">
                                    <a class="btn btn-outline-secondary icon-edit py-2" href="{% url 'admin:prosoponomikon_character_change' character.id %}" target="_blank"></a>
                                </div>
                                <div class="ml-1 mt-1" data-toggle="tooltip" data-placement="bottom" title="Edytuj Znajomości">
                                    <a class="btn btn-outline-danger icon-edit py-2" href="{% url 'admin:prosoponomikon_characteracquaintanceships_change' character.id %}" target="_blank"></a>
                                </div>
                                <div class="ml-1 mt-1" data-toggle="tooltip" data-placement="bottom" title="Edytuj Umiejętności">
                                    <a class="btn btn-outline-info icon-edit py-2" href="{% url 'admin:prosoponomikon_characteracquisitions_change' character.id %}" target="_blank"></a>
                                </div>
                            {% endif %}
                        </div>
        {% endif %}
                        
                        
                        <!-- CLASSES, TRAITS, EXPERIENCE -->
                        {% if request.current_profile.status == 'gm' or request.current_profile.status == 'player' and request.current_profile.character == character %}
                            <div class="mt-2">
                                {% if character.subprofessions.exists %}
                                    <div class="row font-italic pl-1">
                                        {% if character.subprofessions.count == 1 %}
                                            <b>Profesja</b>: {{ character.subprofessions.first }}
                                        {% else %}
                                            <b>Profesje</b>: {{ character.subprofessions.all|join:", " }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <div class="row font-italic pl-1">
                                    <span class="mr-2"><b>Sił</b>: {{ character.strength|default_if_none:"-" }}</span>
                                    <span class="mr-2"><b>Zrc</b>: {{ character.dexterity|default_if_none:"-" }}</span>
                                    <span class="mr-2"><b>Kon</b>: {{ character.endurance|default_if_none:"-" }}</span>
                                </div>
                                {% if character.experience %}
                                    <div class="row font-italic pl-1">
                                        <span class="mr-2"><b>Exp</b>: {{ character.experience }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
    
                        <!-- CHARACTER DESCRIPTION -->
                        <div class="font-italic text-justify my-2 font-18 {% if character.only_indirectly %} text-muted {% endif %}">
                            {% if character.description %}
                                {{ character.description }}
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </header>
        
        
        <article class="tabset">
            
            <!-- TAB HEADERS -->
            
            <!-- Biography packets -->
            {% if request.current_profile.status == 'gm' or request.current_profile.character == character %}
                {% if biography_packets %}
                    <input type="radio" name="tabset" id="tab1" aria-controls="biography_packets" checked>
                    <label class="font-resp-15 resp-tab-label" for="tab1">Biografia</label>
                {% endif %}
            {% endif %}
            
            <!-- Dialogue packets -->
            {% if request.current_profile.status == 'gm' or request.current_profile.character == character %}
                {% if dialogue_packets %}
                    {% if biography_packets %}
                        <input type="radio" name="tabset" id="tab2" aria-controls="dialogue_packets">
                    {% else %}
                        <input type="radio" name="tabset" id="tab2" aria-controls="dialogue_packets" checked>
                    {% endif %}
                    <label class="font-resp-15 resp-tab-label" for="tab2">Dialogi</label>
                {% endif %}
            {% endif %}
            
            <!-- Skills and synergies-->
            {% if acquisitions_regular %}
                {% if biography_packets or dialogue_packets %}
                    <input type="radio" name="tabset" id="tab3" aria-controls="acquisitions_regular">
                {% else %}
                    <input type="radio" name="tabset" id="tab3" aria-controls="acquisitions_regular" checked>
                {% endif %}
                <label class="font-resp-15 resp-tab-label" for="tab3">
                    {% if character.profile != request.current_profile and character.profile.status != 'player' %} ~ {% endif %}
                    Umiejętności
                </label>
            {% endif %}
    
            <!-- Knowledge packets -->
            {% if knowledge_packets %}
                {% if biography_packets or dialogue_packets or acquisitions_regular %}
                    <input type="radio" name="tabset" id="tab4" aria-controls="knowledge_packets">
                {% else %}
                    <input type="radio" name="tabset" id="tab4" aria-controls="knowledge_packets" checked>
                {% endif %}
                <label class="font-resp-15 resp-tab-label" for="tab4">
                    {% if character.profile != request.current_profile and character.profile.status != 'player' %} ~ {% endif %}
                    Wiedza
                </label>
            {% endif %}
          
            
    <!-- Temp delete when GO LIVE -->
    {% if request.current_profile.character.fullname not in 'Ilen z Astinary, Alora z Astinary, Murkon Lebioda, Syngir' %}
            
            <!-- Known characters -->
            {% if acquaintanceships %}
                {% if biography_packets or dialogue_packets or acquisitions_regular or knowledge_packets %}
                    <input type="radio" name="tabset" id="tab5" aria-controls="acquaintanceships">
                {% else %}
                    <input type="radio" name="tabset" id="tab5" aria-controls="acquaintanceships" checked>
                {% endif %}
                <label class="font-resp-15 resp-tab-label" for="tab5">
                    {% if character.profile != request.current_profile and character.profile.status != 'player' %} ~ {% endif %}
                    Znajomości
                </label>
            {% endif %}
    {% endif %}
            
            <!-- Priest powers and MentalSkills -->
            {% if acquisitions_priests %}
                {% if biography_packets or dialogue_packets or acquisitions_regular or knowledge_packets or acquaintanceships %}
                    <input type="radio" name="tabset" id="tab6" aria-controls="acquisitions_priests">
                {% else %}
                    <input type="radio" name="tabset" id="tab6" aria-controls="acquisitions_priests" checked>
                {% endif %}
                <label class="font-resp-15 resp-tab-label" for="tab6">
                    {% if character.profile != request.current_profile and character.profile.status != 'player' %} ~ {% endif %}
                    Moce kapłańskie
                </label>
            {% endif %}
            
            <!-- Sorcery and MentalSkills -->
            {% if acquisitions_sorcerers %}
                {% if biography_packets or dialogue_packets or acquisitions_regular or knowledge_packets or acquaintanceships or skills_priests %}
                    <input type="radio" name="tabset" id="tab7" aria-controls="acquisitions_sorcerers">
                {% else %}
                    <input type="radio" name="tabset" id="tab7" aria-controls="acquisitions_sorcerers" checked>
                {% endif %}
                <label class="font-resp-15 resp-tab-label" for="tab6">
                    {% if character.profile != request.current_profile and character.profile.status != 'player' %} ~ {% endif %}
                    Zaklęcia
                </label>
            {% endif %}
            
            <!-- Theurgy and MentalSkills -->
            {% if acquisitions_theurgists %}
                {% if biography_packets or dialogue_packets or acquisitions_regular or knowledge_packets or acquaintanceships or skills_priests or skills_sorcerers %}
                    <input type="radio" name="tabset" id="tab8" aria-controls="acquisitions_theurgists">
                {% else %}
                    <input type="radio" name="tabset" id="tab8" aria-controls="acquisitions_theurgists" checked>
                {% endif %}
                <label class="font-resp-15 resp-tab-label" for="tab6">
                    {% if character.profile != request.current_profile and character.profile.status != 'player' %} ~ {% endif %}
                    Moce Teurgiczne
                </label>
            {% endif %}
            
            
            <!-- TABS -->
            <div class="tab-panels">
                
                <!-- Biography packets -->
                {% if request.current_profile.status == 'gm' or request.current_profile.character == character %}
                    {% if biography_packets %}
                        <section id="biography_packets" class="tab-panel ">
                            <!-- Biography packets are filtered in the view for the requesting profile -->
                            {% for biography_packet in biography_packets %}
                                {% include 'knowledge/_biography_packet.html' %}
                            {% endfor %}
                        </section>
                    {% endif %}
                {% endif %}
                
                <!-- Dialogue packets -->
                {% if request.current_profile.status == 'gm' or request.current_profile.character == character %}
                    {% if dialogue_packets %}
                        <section id="dialogue_packets" class="tab-panel">
                            {% for dialogue_packet in dialogue_packets %}
                                {% include 'knowledge/_dialogue_packet.html' %}
                            {% endfor %}
                        </section>
                    {% endif %}
                {% endif %}
            
                <!-- RegularSkills and RegularSynergies -->
                {% if acquisitions_regular %}
                    <section id="acquisitions_regular" class="tab-panel">
                        {% with skill_types=skill_types_regular acquisitions=acquisitions_regular synergies=synergies_regular skilltype_kinds='Powszechne,Mentalne' panel_id=1 %}
                            {% include 'prosoponomikon/_acquisitions_by_skills_by_type.html' %}
                            {% if synergies_regular %}
                                {% include 'rules/_synergies.html' %}
                            {% endif %}
                        {% endwith %}
                    </section>
                {% endif %}

                <!-- Knowledge packets -->
                {% if knowledge_packets %}
                    <section id="knowledge_packets" class="tab-panel">
                        {% for kn_packet in knowledge_packets %}
                            {% include 'knowledge/_knowledge_packet.html' %}
                        {% endfor %}
                    </section>
                {% endif %}
                
                <!-- Known characters -->
                {% if acquaintanceships %}
                    <section id="acquaintanceships" class="tab-panel">
                        <div class="container">
                            <div class="row">
                                {% for acquaintanceship in acquaintanceships %}
                                    {% with show_caption=True %}
                                        {% include 'prosoponomikon/_acquaintance_img.html' %}
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                {% endif %}
                
                <!-- PriestsSkill and MentalSkills -->
                {% if acquisitions_priests %}
                    <section id="acquisitions_priests" class="tab-panel">
                        {% with skill_types=skill_types_priests acquisitions=acquisitions_priests panel_id=2 %}
                            {% with skilltype_kinds="Moce Kapłańskie" %}
                                {% include 'prosoponomikon/_acquisitions_by_skills_by_type.html' %}
                            {% endwith %}
                        {% endwith %}
                    </section>
                {% endif %}    
                
                <!-- SorcerersSkill and MentalSkills -->
                {% if acquisitions_sorcerers %}
                    <section id="acquisitions_sorcerers" class="tab-panel">
                        {% with skill_types=skill_types_sorcerers acquisitions=acquisitions_sorcerers panel_id=2 %}
                            {% include 'prosoponomikon/_acquisitions_by_skills_by_type.html' %}
                        {% endwith %}
                    </section>
                {% endif %}
                
                <!-- TheurgistsSkill and MentalSkills -->
                {% if acquisitions_theurgists %}
                    <section id="acquisitions_theurgists" class="tab-panel">
                        {% with skill_types=skill_types_theurgists acquisitions=acquisitions_theurgists panel_id=2 %}
                            {% include 'prosoponomikon/_acquisitions_by_skills_by_type.html' %}
                        {% endwith %}
                    </section>
                {% endif %}
                
            </div>
            
        </article>
        
    </article>
{% endblock content %}