{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-image">
        <header class="mb-5">
            
            <div class="container mb-4">
                <div class="row">
                    <div class="col-12 px-0">
                        
                        <!-- CHARACTER PICTURE -->
                        <div class="float-left pr-2">
                            <a href="{% url 'prosoponomikon:character' character.id %}">
                                <div class="img-hover-zoom">
                                    <img class="character-detail {% if not character.profile.is_alive %} img-grayscale {% endif %}"
                                         src="{% if not character.only_indirectly %} {{ character.profile.image.url }} {% else %} TODO question marks {% endif %}" alt="Profile img">
                                </div>
                            </a>
                        </div>
                        
                        <!-- BUTTONS -->
                        <div class="row mt-1">
                            <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Przejdź do Prosoponomikonu">
                                <a class="btn btn-outline-dark icon-cursor py-2" href="{% url 'prosoponomikon:main' %}#{{ character.id }}"></a>
                            </div>
                            <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Przekaż wiedzę o postaci">
                                <!-- Modal -->
                                <span class="btn btn-outline-dark icon-inform py-2" data-toggle="modal" data-target="#infoCharacterModal_{{ character.id }}"></span>
                                <div class="modal fade" id="infoCharacterModal_{{ character.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                    {% with informables=character.informables inform_type=character|get_model_name id_=character.id %}
                                        {% include '_inform.html' %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Notatki (w budowie)">
                                <a class="btn btn-outline-dark icon-note py-2 disabled" href="#"></a>
                            </div>
                        </div>
    
                        <!-- CHARACTER DESCRIPTION -->
                        <div class="font-italic linebreaks-style text-justify my-2 font-18 {% if character.only_indirectly %} text-muted {% endif %}">
                            {% if character.description %}
                                {{ character.description|linebreaks }}
                            {% endif %}
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 border-left border-right mb-5 mb-sm-0">
                        {% for biography_packet in character.biography_packets.all %}
                            <ul class="bullets-1 bullets-big mb-2 pl-4 text-muted">
                                <li class="pl-1">
                                    <a class="text-muted" href="#bio_packet_{{ biography_packet.id }}">
                                        <span class="mb-1">{{ biography_packet.title }}</span>
                                    </a>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                    <div class="col-12 col-sm-6 border-left border-right">
                        {% for dialogue_packet in character.dialogue_packets.all %}
                            <ul class="bullets-1 bullets-big mb-2 pl-4 text-muted">
                                <li class="pl-1">
                                    <a class="text-muted" href="#dialogue_packet_{{ dialogue_packet.id }}">
                                        <span class="mb-1">{{ dialogue_packet.title }}</span>
                                    </a>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>

            
        </header>
        
        <article>
            {% for biography_packet in character.biography_packets.all %}
                {% include 'knowledge/_biography_packet.html' %}
            {% endfor %}
            
            {% for dialogue_packet in character.dialogue_packets.all %}
                {% include 'knowledge/_dialogue_packet.html' %}
            {% endfor %}
        </article>
        
    </article>

{% endblock content %}