{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-button">
        
        <header class="mb-5">
            <a href="{% url 'prosoponomikon:ungrouped' %}" class="btn btn-outline-info mb-1">Grupy/Wszyscy</a>
            <a href="{% url 'prosoponomikon:groups-create' %}" class="btn btn-outline-dark mb-1">Nowa grupa</a>
            <a href="{% url 'prosoponomikon:groups-edit' %}" class="btn btn-outline-dark mb-1">Edytuj grupy</a>
        </header>
        
        <article class="tabset multiline-header pt-5">
            
            <!-- TAB HEADERS -->
            
            <!-- PLAYERS -->
            {% if player_characters %}
                <input type="radio" name="tabset" id="tab_players" aria-controls="players" checked>
                <label class="h4 mb-0" for="tab_players">Gracze</label>
            {% endif %}

            
            <!-- GROUPED -->
            {% for character_group in character_groups %}
                {% if forloop.first and not player_characters %}
                    <input type="radio" name="tabset" id="tab_{{ forloop.counter }}" aria-controls="group_{{ forloop.counter }}" checked>
                {% else %}
                    <input type="radio" name="tabset" id="tab_{{ forloop.counter }}" aria-controls="group_{{ forloop.counter }}">
                {% endif %}
                <label class="h4 mb-0" for="tab_{{ forloop.counter }}">{{ character_group.name }}</label>
            {% endfor %}
            
            <!-- UNGROUPED -->
            {% if ungrouped_characters %}
                <input type="radio" name="tabset" id="tab_last" aria-controls="ungrouped">
                <label class="h4 mb-0" for="tab_last">Pozostali</label>
            {% endif %}
            
            <!-- TABS -->
            <div class="tab-panels">
                
                <!-- PLAYERS -->
                {% if player_characters %}
                    <section id="players" class="tab-panel">
                        <p class="mb-0 text-center">✧</p>
                        <p class="mb-0 text-center">✧ ✦ ✧</p>
                        <p class="h3 text-center mb-2 mt-1">Postacie Graczy</p>
                        <p class="mb-0 text-center">✧ ✦ ✧</p>
                        <p class="mb-5 mt-0 text-center">✧</p>
                        <div class="container">
                            {% for character in player_characters %}
                                {% include 'prosoponomikon/_character_info.html' %}
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}

                <!-- GROUPED -->
                {% for character_group in character_groups %}
                    <section id="group_{{ forloop.counter }}" class="tab-panel">
                        <p class="mb-0 text-center">✧</p>
                        <p class="mb-0 text-center">✧ ✦ ✧</p>
                        <p class="h3 text-center mb-2 mt-1">{{ character_group.name }}</p>
                        <p class="mb-0 text-center">✧ ✦ ✧</p>
                        <p class="mb-5 mt-0 text-center">✧</p>
                        <div class="container">
                            {% for character in character_group.characters.all %}
                                {% include 'prosoponomikon/_character_info.html' %}
                            {% endfor %}
                        </div>
                    </section>
                {% endfor %}
                
                <!-- UNGROUPED -->
                {% if ungrouped_characters %}
                    <section id="ungrouped" class="tab-panel">
                        <p class="mb-0 text-center">✧</p>
                        <p class="mb-0 text-center">✧ ✦ ✧</p>
                        <p class="h3 text-center mb-2 mt-1">W pozostałych rolach...</p>
                        <p class="mb-0 text-center">✧ ✦ ✧</p>
                        <p class="mb-5 mt-0 text-center">✧</p>
                        <div class="container">
                            {% for character in ungrouped_characters %}
                                {% include 'prosoponomikon/_character_info.html' %}
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}
            </div>
            
        </article>
        
    </article>
{% endblock content %}
