{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-image">
        <header class="mb-5">
            
            <div class="container mb-4">
                <div class="row">
                    <div class="col-12 px-0">
                        
                        <!-- CHARACTER PICTURE -->
                        <div class="float-left mr-3 img-hover-zoom">
                            <img class="character-detail {% if not character.profile.is_alive %} img-grayscale {% endif %}"
                                 src="
                                    {% if request.user.profile.character == character or request.user.profile in character.known_directly.all or request.user.profile.status == 'gm' %}
                                        {{ character.profile.image.url }}
                                    {% else %}
                                         /media/profile_pics/profile_known_only_indirectly.jpg
                                    {% endif %}"
                            >
                        </div>
                        
                        <!-- BUTTONS -->
                        <div class="row mt-1">
                            <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Przejdź do Prosoponomikonu">
                                <a class="btn btn-outline-dark icon-cursor py-2" href="{% url 'prosoponomikon:grouped' %}#character_{{ character.id }}"></a>
                            </div>
                            <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Przekaż wiedzę o postaci">
                                <!-- Modal -->
                                <span class="btn btn-outline-dark icon-user-add py-2" data-toggle="modal" data-target="#infoCharacterModal_{{ character.id }}"></span>
                                <div class="modal fade" id="infoCharacterModal_{{ character.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                    {% with informables=character.informables inform_type=character|get_model_name id_=character.id %}
                                        {% include '_inform.html' %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Nowy pakiet biograficzny">
                                <a class="btn btn-outline-dark icon-indent-right py-2" href="{% url 'prosoponomikon:bio-packet-form' character.id 0 %}"></a>
                            </div>
                            <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Notatki (w budowie)">
                                <a class="btn btn-outline-dark icon-list py-2 disabled" href="#"></a>
                            </div>
                            {% if request.user.profile.status == 'player' and request.user.profile.character == character %}
                                <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Edytuj postać">
                                    <a class="btn btn-outline-dark icon-edit-alt py-2" href="{% url 'users:profile' %}"></a>
                                </div>
                            {% endif %}
                            {% if request.user.profile.status == 'gm' %}
                                <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Edytuj postać">
                                    <a class="btn btn-outline-dark icon-edit-alt py-2" href="{% url 'admin:prosoponomikon_character_change' character.id %}" target="_blank"></a>
                                </div>
                            {% endif %}
                        </div>
    
                        <!-- CHARACTER DESCRIPTION -->
                        <div class="font-italic linebreaks-style text-justify my-2 font-18 {% if character.only_indirectly %} text-muted {% endif %}">
                            {% if character.description %}
                                {{ character.description|linebreaks }}
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </header>
        
        
        <article class="tabset multiline-header pt-5">
            
            <!-- TAB HEADERS -->
            
            <!-- Biography packets -->
            {% if character.biography_packets.all %}
                <input type="radio" name="tabset" id="tab1" aria-controls="biography_packets" checked>
                <label class="h4 mb-0" for="tab1">Biografia</label>
            {% endif %}
            
            <!-- TAB HEADERS FOR 'GM' ONLY -->
            {% if request.user.profile.status == 'gm' %}
            
                <!-- Dialogue packets -->
                {% if character.dialogue_packets.all %}
                    {% if character.biography_packets.all %}
                        <input type="radio" name="tabset" id="tab2" aria-controls="dialogue_packets">
                    {% else %}
                        <input type="radio" name="tabset" id="tab2" aria-controls="dialogue_packets" checked>
                    {% endif %}
                    <label class="h4 mb-0" for="tab2">Dialogi</label>
                {% endif %}
            
                
                {% if default_skills %}
                    <!-- Skills -->
                    {% if character.biography_packets.all or character.dialogue_packets.all %}
                        <input type="radio" name="tabset" id="tab3" aria-controls="skills">
                    {% else %}
                        <input type="radio" name="tabset" id="tab3" aria-controls="skills" checked>
                    {% endif %}
                    <label class="h4 mb-0" for="tab3">~Umiejętności</label>
                {% endif %}
        
                {% if default_knowledge_packets %}
                    <!-- Knowledge packets -->
                    {% if character.biography_packets.all or character.dialogue_packets.all %}
                        <input type="radio" name="tabset" id="tab4" aria-controls="knowledge_packets">
                    {% else %}
                        <input type="radio" name="tabset" id="tab4" aria-controls="knowledge_packets">
                    {% endif %}
                    <label class="h4 mb-0" for="tab4">~Wiedza</label>
                {% endif %}
            
            {% endif %}
            
            <!-- TABS -->
            <div class="tab-panels">
                
                <!-- Biography packets -->
                {% if character.biography_packets.all %}
                    <section id="biography_packets" class="tab-panel">
                        <!-- Biography packets are filtered in the view for the requesting profile -->
                        {% for biography_packet in character.biography_packets.all %}
                            {% include 'knowledge/_biography_packet.html' %}
                        {% endfor %}
                    </section>
                {% endif %}
                
                <!-- TABS FOR 'GM' ONLY -->
                {% if request.user.profile.status == 'gm' %}
                
                    <!-- Dialogue packets -->
                    {% if character.dialogue_packets.all %}
                        <section id="dialogue_packets" class="tab-panel">
                            {% for dialogue_packet in character.dialogue_packets.all %}
                                {% include 'knowledge/_dialogue_packet.html' %}
                            {% endfor %}
                        </section>
                    {% endif %}
                
                    <!-- Skills -->
                    {% if default_skills %}
                        <section id="skills" class="tab-panel">
                            {% for skill in default_skills %}
                                {% include 'rules/_skill.html' %}
                            {% endfor %}
                        </section>
                    {% endif %}

                    <!-- Knowledge packets -->
                    {% if default_knowledge_packets %}
                        <section id="knowledge_packets" class="tab-panel">
                            {% for kn_packet in default_knowledge_packets %}
                                {% include 'knowledge/_knowledge_packet.html' %}
                            {% endfor %}
                        </section>
                    {% endif %}
                
                {% endif %}
                
            </div>
            
        </article>
        
    </article>
{% endblock content %}