{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-button">
        <div class="mb-5">
            <a href="{% url 'prosoponomikon:groups-edit' 0 %}" class="btn btn-outline-dark mb-1">
                Dodaj/Edytuj grupy
            </a>
            {% for character_group in character_groups %}
                <a href="{% url 'prosoponomikon:grouped' %}#group_{{ character_group.id }}" class="btn btn-dark mb-1">
                    {{ character_group.name }}
                </a>
            {% endfor %}
            <a href="{% url 'prosoponomikon:grouped' %}#ungrouped" class="btn btn-dark mb-1">
                Pozostali
            </a>
        </div>
        
        <div class="container">
            
            {% for character_group in character_groups %}
                <section class="mb-5 pt-5" id="group_{{ character_group.id }}">
                    <p class="mb-0 mt-3 text-center">✧</p>
                    <p class="mb-0 text-center">✧ ✦ ✧</p>
                    <p class="h3 text-center mb-2 mt-1">
                        <a href="{% url 'prosoponomikon:groups-edit' character_group.id %}">{{ character_group.name }}</a>
                    </p>
                    <p class="mb-0 text-center">✧ ✦ ✧</p>
                    <p class="mb-5 mt-0 text-center">✧</p>
                    {% for character in character_group.characters.all %}
                        {% include 'prosoponomikon/_character.html' %}
                    {% endfor %}
                </section>
            {% endfor %}
            
            {% if ungrouped %}
                <section class="mb-5 pt-5" id="ungrouped">
                    <p class="mb-0 mt-3 text-center">✧</p>
                    <p class="mb-0 text-center">✧ ✦ ✧</p>
                    <p class="h3 text-center mb-2 mt-1">W pozostałych rolach...</p>
                    <p class="mb-0 text-center">✧ ✦ ✧</p>
                    <p class="mb-5 mt-0 text-center">✧</p>
                    {% for character in ungrouped %}
                        {% include 'prosoponomikon/_character.html' %}
                    {% endfor %}
                </section>
            {% endif %}
        </div>
    </article>

{% endblock content %}
