{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-button">
        
        <div class="mb-2">
            <a class="btn btn-outline-dark mb-1" href="{% url 'admin:prosoponomikon_firstname_changelist' %}" target="_blank">Imiona</a>
            <a class="btn btn-outline-dark mb-1" href="{% url 'admin:prosoponomikon_firstname_add' %}" target="_blank"><b>+</b></a>
            <a class="btn btn-outline-dark mb-1" href="{% url 'admin:prosoponomikon_familyname_changelist' %}" target="_blank">Nazwiska</a>
            <a class="btn btn-outline-dark mb-1" href="{% url 'admin:prosoponomikon_familyname_add' %}" target="_blank"><b>+</b></a>
            <a class="btn btn-outline-info mb-1" href="{% url 'admin:prosoponomikon_namegroup_changelist' %}" target="_blank">Grupy imion</a>
            <a class="btn btn-outline-info mb-1" href="{% url 'admin:prosoponomikon_namegroup_add' %}" target="_blank"><b>+</b></a>
            <a class="btn btn-outline-danger mb-1" href="{% url 'admin:prosoponomikon_affixgroup_changelist' %}" target="_blank">Afiksy</a>
            <a class="btn btn-outline-danger mb-1" href="{% url 'admin:prosoponomikon_affixgroup_add' %}" target="_blank"><b>+</b></a>
            <a class="btn btn-outline-secondary mb-1" href="{% url 'admin:prosoponomikon_auxiliarynamegroup_changelist' %}" target="_blank">Grupy pomocnicze</a>
            <a class="btn btn-outline-secondary mb-1" href="{% url 'admin:prosoponomikon_auxiliarynamegroup_add' %}" target="_blank"><b>+</b></a>
            <a class="btn btn-outline-success mb-1" href="https://www.w3schools.com/colors/colors_picker.asp" target="_blank">ColorPicker</a>
        </div>
        
        {% regroup name_groups|dictsort:"type" by type as type_list %}
        {% for type in type_list %}
            <div class="text-center mb-2">
                 {% for name_group in type.list %}
                    <a class="smaller text-muted" href="#name_group_{{ name_group.id }}">
                        <span class="mb-1">
                            {{ name_group.title }}
                        </span>
                    </a>
                    {% if not forloop.last %} <span class="h5">❃</span> {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        
        <div class="mt-5">
            {% for type in type_list %}
                {% for name_group in type.list %}
                    <div class="anchor mt-n5" id="name_group_{{ name_group.id }}">
                        <p class="mb-0 text-center">✧</p>
                        <p class="mb-0 text-center">✧ ✦ ✧</p>
                        <p class="h3 text-center mb-2 mt-1">
                            <a href="{% url 'admin:prosoponomikon_namegroup_change' name_group.id %}" target="_blank"
                                data-toggle="tooltip" data-placement="bottom" data-html="true"
                                title='{% if name_group.description %}<span class="font-italic">{{ name_group.description }}</span>{% endif %}'>
                                {{ name_group.title }}
                            </a>
                        </p>
                        <p class="mb-0 text-center">✧ ✦ ✧</p>
                        <p class="mt-0 text-center">✧</p>
                    </div>
                    <div class="container mb-5">
                        <div class="row px-1">
                            {% with affix_groups=name_group.affix_groups.all %}
                                {% regroup affix_groups|dictsortreversed:"type" by type as type_list %}
                                {% for type in type_list %}
                                    <div class="col-md-6 p-0 {% if forloop.counter|divisibleby:'2' %} pl-md-3 {% else %} pr-md-3 {% endif %}">
                                        <h2 class="text-center font-weight-bold">
                                            {% if type.grouper|lower == 'male' %}
                                                ♂
                                            {% elif type.grouper|lower == 'female' %}
                                                ♀
                                            {% else %}
                                                ⚥
                                            {% endif %}
                                        </h2>
                                        {% include 'prosoponomikon/_names.html' %}
                                    </div>
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        
    </article>
{% endblock content %}
