{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="mt-5 pt-3">
        {% for name_group in name_groups %}
            <div class="mt-5">
                <p class="mb-0 text-center">✧</p>
                <p class="mb-0 text-center">✧ ✦ ✧</p>
                <p class="h3 text-center mb-2 mt-1">{{ name_group.title }}</p>
                <p class="mb-0 text-center">✧ ✦ ✧</p>
                <p class="mb-5 mt-0 text-center">✧</p>
            </div>
            <div class="container mt-4">
                <div class="row px-1">
                    <div class="col-md-6 p-0 pr-md-3">
                        {% with type='male' type_name='Mężczyźni' %}
                            {% include 'prosoponomikon/_names_filtered_by_type.html' %}
                        {% endwith %}
                    </div>
                    <div class="col-md-6 p-0 pl-md-3">
                        {% with type='female' type_name='Kobiety' %}
                            {% include 'prosoponomikon/_names_filtered_by_type.html' %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </article>
{% endblock content %}
