{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-button">
        
        <div class="mb-5">
            <a href="{% url 'prosoponomikon:create-persona-group' %}" class="btn btn-outline-dark mb-1">Nowa grupa</a>
        </div>
        
        <div class="container">
            {% if players %}
                <section class="py-5">
                    <p class="mb-0 text-center">✧</p>
                    <p class="mb-0 text-center">✧ ✦ ✧</p>
                    <p class="h3 text-center mb-2 mt-1">Bohaterowie graczy</p>
                    <p class="mb-0 text-center">✧ ✦ ✧</p>
                    <p class="mb-5 mt-0 text-center">✧</p>
                    {% for persona in players %}
                       {% include 'prosoponomikon/_persona_left_or_right_proxy.html' %}
                    {% endfor %}
                </section>
            {% endif %}
            
            {% if npcs %}
                <section class="py-5">
                    <p class="mb-0 text-center">✧</p>
                    <p class="mb-0 text-center">✧ ✦ ✧</p>
                    <p class="h3 text-center mb-2 mt-1">Bohaterowie niezależni</p>
                    <p class="mb-0 text-center">✧ ✦ ✧</p>
                    <p class="mb-5 mt-0 text-center">✧</p>
                    {% for persona in npcs %}
                        {% include 'prosoponomikon/_persona_left_or_right_proxy.html' %}
                    {% endfor %}
                </section>
            {% endif %}
            
        </div>
    </article>

{% endblock content %}
