{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-button">
        
        <div class="mb-5">
            <a href="{% url 'prosoponomikon:create-group' %}" class="btn btn-outline-dark mb-1">Nowa grupa</a>
            <a href="{% url 'debates:create-topic' %}" class="btn btn-outline-dark mb-1">Modyfikuj skład</a>
            <a href="{% url 'debates:create-topic' %}" class="btn btn-outline-dark mb-1">Modyfikuj kolejność</a>
            {% for persona_group in persona_groups %}
                <a href="{% url 'prosoponomikon:personas-grouped' %}#{{ persona_group.id }}" class="btn btn-dark mb-1">{{ persona_group.name }}</a>
            {% endfor %}
            <a href="{% url 'prosoponomikon:personas-grouped' %}#ungrouped" class="btn btn-dark mb-1">Pozostali</a>
        </div>
        
        <div class="container">
            
            {% for persona_group in persona_groups %}
                <section class="mb-5 pt-5" id="{{ persona_group.id }}">
                    <p class="mb-0 text-center">✧</p>
                    <p class="mb-0 text-center">✧ ✦ ✧</p>
                    <p class="h3 text-center mb-2 mt-1">{{ persona_group.name }}</p>
                    <p class="mb-0 text-center">✧ ✦ ✧</p>
                    <p class="mb-5 mt-0 text-center">✧</p>
                    {% for persona in persona_group.personas.all %}
                        {% include 'prosoponomikon/_persona_left_or_right_proxy.html' %}
                    {% endfor %}
                </section>
            {% endfor %}
            
            {% if ungrouped %}
                <section class="mb-5 pt-5" id="ungrouped">
                    <p class="mb-0 text-center">✧</p>
                    <p class="mb-0 text-center">✧ ✦ ✧</p>
                    <p class="h3 text-center mb-2 mt-1">W pozostałych rolach...</p>
                    <p class="mb-0 text-center">✧ ✦ ✧</p>
                    <p class="mb-5 mt-0 text-center">✧</p>
                    {% for persona in ungrouped %}
                        {% include 'prosoponomikon/_persona_left_or_right_proxy.html' %}
                    {% endfor %}
                </section>
            {% endif %}
        </div>
    </article>

{% endblock content %}
