{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>

    <article>
        <div class="container">
            
            <section class="mb-5">
                <div class="row">
                    {% for profile in players_profiles %}
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <a href="#" class="img-link">
                                <img class="img-fluid mx-auto d-block {% if profile.character_status == 'dead_player' %} img-grayscale {% endif %}"
                                     src="{{ profile.image.url }}"
                                     alt="Profile img"
                                >
                            </a>
                            <p class="pt-1 text-center">{{ profile.character_name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            
            <section class="mb-5">
                <div class="row">
                    {% for profile in living_npc_profiles %}
                        <div class="col-sm-4 col-md-3 col-lg-2 px-1">
                            <a class="img-link" href="#">
                                <img class="img-fluid mx-auto d-block" src="{{ profile.image.url }}" alt="Profile img">
                            </a>
                            <p class="font-12 pt-1">{{ profile.character_name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            
            <section class="mb-5">
                <div class="row">
                    {% for profile in dead_npc_profiles %}
                        <div class="col-sm-4 col-md-3 col-lg-2 px-1">
                            <a href="#" class="img-link">
                                <img class="img-fluid mx-auto d-block img-grayscale" src="{{ profile.image.url }}" alt="Profile img">
                            </a>
                            <p class="font-12 pt-1">{{ profile.character_name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </section>
            
        </div>
    </article>

{% endblock content %}
