{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/prosoponomikon.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>

    <article class="propoponomikon-main">
        <div class="container">
            
            <div class="row">
                {% for profile in players_profiles %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <figure class="text-center text-md-left">
                            <a href="#" class="img-link">
                                <img src="{{ profile.image.url }}"
                                     class="border-double img-fluid {% if profile.character_status == 'dead_player' %} img-grayscale {% endif %}"
                                     alt="{{ profile.character_name }}">
                            </a>
                            <figcaption class="pt-1">{{ profile.character_name }}</figcaption>
                        </figure>
                    </div>
                {% endfor %}
            </div>
            <br><br>
    
            <div class="row">
                {% for profile in living_npc_profiles %}
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <figure>
                            <a href="#" class="img-link">
                                <img src="{{ profile.image.url }}" class="border-double img-fluid" alt="{{ profile.character_name }}">
                            </a>
                            <figcaption class="font-12 pt-1">{{ profile.character_name }}</figcaption>
                        </figure>
                    </div>
                {% endfor %}
            </div>
            <br><br>
            
            <div class="row">
                {% for profile in dead_npc_profiles %}
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <figure>
                            <a href="#" class="img-link">
                                <img src="{{ profile.image.url }}" class="border-double img-fluid img-grayscale" alt="{{ profile.character_name }}">
                            </a>
                            <figcaption class="font-12 pt-1">{{ profile.character_name }}</figcaption>
                        </figure>
                    </div>
                {% endfor %}
            </div>
            <br><br>
        </div>
    </article>



{% endblock content %}
