{% load custom_filters %}

<table class="table table-sm mt-3 plate-tricks-table rules-table">
    <thead class="align-center">
        <tr class="border-bottom-dark">
            <th class="align-left">ZBROJA</th>
            <th>Kradzież<br>kieszonkowa</th>
            <th>Otwieranie<br>zamków</th>
            <th>Skradanie</th>
            <th>Ukrycie</th>
            <th>Wspinaczka</th>
            <th>Wykrywanie i<br>rozbrajanie<br>pułapek</th>
        </tr>
    </thead>
    <tbody class="align-center">
        {% for plate in plates %}
            <tr>
                <td class="align-left">{{ plate.name }}</td>
                <td class="rules-red">{% if plate.mod_pickpocketing %} {{ plate.mod_pickpocketing|percentage }} {% endif %}</td>
                <td class="rules-red">{% if plate.mod_lockpicking %} {{ plate.mod_lockpicking|percentage }} {% endif %}</td>
                <td class="rules-red">{% if plate.mod_sneaking %} {{ plate.mod_sneaking|percentage }} {% endif %}</td>
                <td class="rules-red">{% if plate.mod_hiding %} {{ plate.mod_hiding|percentage }} {% endif %}</td>
                <td class="rules-red">{% if plate.mod_climbing %} {{ plate.mod_climbing|percentage }} {% endif %}</td>
                <td class="rules-red">{% if plate.mod_traps %} {{ plate.mod_traps|percentage }} {% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>