<table class="plate-and-tricks">
    <colgroup>
        <col class="plate">
        <col class="pickpocketing">
        <col class="lockpicking">
        <col class="sneaking-towns">
        <col class="sneaking-wilderness">
        <col class="hiding-towns">
        <col class="hiding-wilderness">
        <col class="climbing">
        <col class="traps">
    </colgroup>
    <thead class="align-center">
        <tr>
            <th colspan="1" rowspan="2" class="align-left">ZBROJA</th>
            <th colspan="1" rowspan="2">Kradzież<br>kieszonkowa</th>
            <th colspan="1" rowspan="2">Otwieranie<br>zamków</th>
            <th colspan="2" rowspan="1">Skradanie</th>
            <th colspan="2" rowspan="1">Ukrycie</th>
            <th colspan="1" rowspan="2">Wspinaczka</th>
            <th colspan="1" rowspan="2">Wykrywanie i<br>rozbrajanie<br>pułapek</th>
        </tr>
        <tr class="border-custom-base">

            <th>miasto</th>
            <th>teren</th>
            <th>miasto</th>
            <th>teren</th>
        </tr>
    </thead>
    <tbody class="align-center">
        <tr>                    <td class="align-left">-</td>                               <td class="rules-green">+5%</td>    <td>-</td>                          <td class="rules-green">+10%</td>   <td class="rules-green">+10%</td>   <td class="rules-green">+5%</td>    <td class="rules-green">+5%</td>    <td class="rules-green">+10%</td>   <td>-</td></tr>
        <tr class="back-gray">  <td class="align-left">Gambeson</td>                        <td class="rules-red">-5%</td>      <td>-</td>                          <td>-</td>                          <td>-</td>                          <td class="rules-red">-5%</td>      <td class="rules-red">-5%</td>      <td class="rules-red">-10%</td>     <td>-</td></tr>
        <tr>                    <td class="align-left">Skórzana, Skórzana ćwiekowana</td>   <td class="rules-red">-10%</td>     <td class="rules-red">-5%</td>      <td class="rules-red">-5%</td>      <td class="rules-red">-5%</td>      <td class="rules-red">-10%</td>     <td class="rules-red">-10%</td>     <td class="rules-red">-20%</td>     <td class="rules-red">-5%</td></tr>
        <tr class="back-gray">  <td class="align-left">Brygantyna</td>                      <td class="rules-red">-20%</td>     <td class="rules-red">-10%</td>     <td class="rules-red">-10%</td>     <td class="rules-red">-10%</td>     <td class="rules-red">-20%</td>     <td class="rules-red">-20%</td>     <td class="rules-red">-30%</td>     <td class="rules-red">-10%</td></tr>
        <tr>                    <td class="align-left">Skórzana gruba, Lamelkowa</td>       <td class="rules-red">-40%</td>     <td class="rules-red">-15%</td>     <td class="rules-red">-20%</td>     <td class="rules-red">-20%</td>     <td class="rules-red">-30%</td>     <td class="rules-red">-30%</td>     <td class="rules-red">-40%</td>     <td class="rules-red">-15%</td></tr>
        <tr class="back-gray">  <td class="align-left">Koszulka kolcza</td>                 <td class="rules-red">-50%</td>     <td class="rules-red">-20%</td>     <td class="rules-red">-40%</td>     <td class="rules-red">-40%</td>     <td class="rules-red">-40%</td>     <td class="rules-red">-40%</td>     <td class="rules-red">-35%</td      ><td class="rules-red">-10%</td></tr>
        <tr>                    <td class="align-left">Kolczuga, Łuskowa</td>               <td class="rules-red">-60%</td>     <td class="rules-red">-30%</td>     <td class="rules-red">-50%</td>     <td class="rules-red">-50%</td>     <td class="rules-red">-50%</td>     <td class="rules-red">-50%</td>     <td class="rules-red">-60%</td>     <td class="rules-red">-40%</td></tr>
        <tr class="back-gray">  <td class="align-left">Folgowa, Kirys, Paskowa</td>         <td class="rules-red">-70%</td>     <td class="rules-red">-50%</td>     <td class="rules-red">-60%</td>     <td class="rules-red">-60%</td>     <td class="rules-red">-60%</td>     <td class="rules-red">-60%</td>     <td class="rules-red">-70%</td>     <td class="rules-red">-60%</td></tr>
        <tr>                    <td class="align-left">Płytowo-kolcza</td>                  <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-80%</td>     <td class="rules-red">-100%</td>    <td class="rules-red">-80%</td>     <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td></tr>
        <tr class="back-gray">  <td class="align-left">Płytowa</td>                         <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-90%</td>     <td class="rules-red">-100%</td>    <td class="rules-red">-90%</td>     <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td></tr>
        <tr>                    <td class="align-left">Płytowa pełna</td>                   <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td></tr>
    </tbody>
</table>