{% load static %}
{% load custom_filters %}


<table class="mt-2">
    <thead>
        <tr>
            <th>
                {% if skill.image %}
                    <img class="img-skill" src="{{ skill.image.url }}">
                {% else %}
                    <img class="img-skill" src="{% static 'img/skill-default.png' %}">
                {% endif %}
            </th>
            <th colspan="11">
                <h2 class="pt-3" data-toggle="collapse" data-target="#{{ skill.short_name }}{{ collapse_id_suffix }}">
                    <b class="hover-blue">
                        &nbsp;{{ skill.name }}
                        {% if show_levels %}
                            [{{ skill.skill_levels.all|get_max_skill_level }}]
                        {% endif %}
                    </b>
                    {% if current_profile.status == 'gm' %}
                        <a class="btn btn-outline-secondary icon-edit icon-small py-2 mb-sm-1"
                           href="{% url 'admin:rules_skill_change' skill.id %}" target="_blank"
                           data-toggle="tooltip" data-placement="top" title="Edytuj Umiejętność">
                        </a>
                    {% endif %}
                    <small class="text-muted smaller">
                        {% if skill.tested_trait %}
                            [{{ skill.tested_trait }}]
                        {% endif %}
                    </small>

                </h2>
            </th>
        </tr>
    </thead>
    <tbody id="{{ skill.short_name }}{{ collapse_id_suffix }}" class="collapse">
            {% for skill_level in skill.skill_levels.all %}
                {% with level_img='img/'|add:skill_level.level|add:'.png' %}
                    <tr>
                        <td class="align-top"></td>
                        <td class="align-top pl-1 pt-1">
                            <img class="img-numeral" src="{% static level_img %}">
                        </td>
                        <td class="align-top pl-1 pr-4 py-1 text-justify font-14">
                            {% if skill_level.description %}
                                <span class="mt-1">
                                    {{ skill_level.description|custom_linebreaksbr:2 }}
                                </span>
                            {% endif %}
                            {% for perk in skill_level.perks.all %}
                                <div class="mb-1 {% if skill_level.description %} mt-1 {% endif %}">
                                    <div class="font-weight-bold">
                                        ✧ {{ perk.name|trim_nums }}
                                        {% if perk.cost %}
                                            <span class="small text-danger border-top-dotted">
                                                [{{ perk.cost }}]
                                            </span>
                                        {% endif %}
                                    </div>
                                    <div class="ml-3">{{ perk.description|custom_linebreaksbr:1 }}</div>
                                    <ul class="ml-4 pl-1 bullets-5 mb-1">
                                        {% for modifier in perk.conditional_modifiers.all %}
                                            <li class="pl-1">
                                                {{ modifier|color_brackets:"text-info" }}
                                                {% for combat_type in modifier.combat_types.all %}
                                                    {% if combat_type.name == 'Walka w zwarciu' %}
                                                        <i class="ra ra-crossed-axes"></i>
                                                    {% elif combat_type.name == 'Walka dystansowa' %}
                                                        <i class="ra ra-archery-target"></i>
                                                    {% elif combat_type.name == 'Walka wręcz' %}
                                                        <i class="ra ra-hand"></i>
                                                    {% elif combat_type.name == 'Walka tarczą' %}
                                                        <i class="ra ra-shield "></i>
                                                    {% else %}
                                                        TODO Niech MG doda ikonę dla nowego typu walki
                                                    {% endif %}
                                                {% endfor %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <ul class="ml-4 pl-1 bullets-2 mb-1">
                                        {% for comment in perk.comments.all %}
                                            <li class="pl-1">{{ comment }}</li>
                                        {% endfor %}
                                    </ul>
                                    -----------------------------------
                                    <ul class="ml-4 pl-1 bullets-5 mb-1">
                                        {% for modifier in perk.modifiers_old.all %}
                                            <li class="pl-1">{{ modifier|color_brackets:"text-info" }}</li>
                                        {% endfor %}
                                    </ul>
                                    -----------------------------------
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
    </tbody>
</table>


