{% load static %}
{% load custom_filters %}


<table class="mt-2">
    <thead>
        <tr>
            <th>
                {% if skill.image %}
                    <img class="img-skill" src="{{ skill.image.url }}">
                {% else %}
                    <img class="img-skill" src="{% static 'img/skill-default.png' %}">
                {% endif %}
            </th>
            <th colspan="11">
                <h2 class="pt-3" data-toggle="collapse" data-target="#{{ skill.short_name }}{{ collapse_id_suffix }}">
                    <b class="hover-blue ml-1">
                        {{ skill.name }}
                    </b>
                    {% if current_profile.status == 'gm' %}
                        <a class="btn btn-outline-secondary icon-edit icon-small py-2 mb-sm-1"
                           href="{% url 'admin:rules_skill_change' skill.id %}" target="_blank"
                           data-toggle="tooltip" data-placement="top" title="Edytuj Umiejętność">
                        </a>
                    {% endif %}
                    <small class="text-muted smaller">
                        {% if skill.tested_trait %}
                            [{{ skill.tested_trait }}]
                        {% endif %}
                    </small>
                </h2>
            </th>
        </tr>
    </thead>
    <tbody id="{{ skill.short_name }}{{ collapse_id_suffix }}" class="collapse">
        {% for skill_level in skill.skill_levels.all %}
            {% with level_img='img/'|add:skill_level.level|add:'.png' %}
                {% with skill_or_synergy_level=skill_level %}
                    {% include 'rules/_skill_or_synergy_level.html' %}
                {% endwith %}
            {% endwith %}
        {% endfor %}
    </tbody>
</table>


