{% load static %}
{% load custom_filters %}

<div class="d-flex flex-nowrap hover-pointer" data-toggle="collapse" data-target="#{{ skill|cut:' ' }}{{ skill_type|cut:' ' }}">
    {% if skilltype_kind == 'Moce Kapłańskie' or skilltype_kind == 'Zaklęcia' or skilltype_kind == 'Moce Teurgiczne' %}
        <img class="img-skill" src="{% static 'img/'|add:skill.skill_levels.first.level|add:'.png' %}">
    {% else %}
        {% if skill.image %}
            <img class="img-skill mr-sm-1" src="{{ skill.image.url }}">
        {% else %}
            <img class="img-skill mr-sm-1" src="{% static 'img/skill-default.png' %}">
        {% endif %}
    {% endif %}
</div>