{% load static %}
{% load custom_filters %}


<div class="container my-2">
    
    <div class="row">
        <span class="hover-pointer" data-toggle="collapse" data-target="#{{ skill|remove_special_chars }}{{ id_suffix }}">
            {% if skilltype_kind == 'Kapłańskie' or skilltype_kind == 'Zaklęcia' or skilltype_kind == 'Teurgiczne' %}
                <img class="img-skill" src="{% static 'img/'|add:skill.skill_levels.first.level|add:'.png' %}">
            {% else %}
                {% if skill.image %}
                    <img class="img-skill" src="{{ skill.image.url }}">
                {% else %}
                    <img class="img-skill" src="{% static 'img/skill-default.png' %}">
                {% endif %}
            {% endif %}
        </span>
        <span class="pt-2 ml-1">
            <b class="ml-1 skill-or-synergy-name">
                {% if current_profile.status == 'gm' %}
                    <a class="hover-blue" href="{% url 'admin:rules_skill_change' skill.id %}" target="_blank" data-toggle="tooltip" data-placement="right" title="Edycja">
                        {{ skill.name }}
                    </a>
                {% else %}
                    {{ skill.name }}
                {% endif %}
                <!-- Used when template is called from Prosoponomikon -->
                {% if max_level_only %}
                    [{{ skill.skill_levels.all|get_max_skill_level_no }}]
                {% endif %}
            </b>
            <small class="rules-gray1 smaller">
                {% if skill.tested_trait %}
                    ({{ skill.tested_trait }})
                {% endif %}
            </small>
        </span>
    </div>
    
    <div class="row collapse" id="{{ skill|remove_special_chars }}{{ id_suffix }}">
        {% for skill_level in skill.skill_levels.all %}
            {% if not forloop.last and max_level_only %}
                <!-- When called from Prosoponomikon skip all levels but the highest -->
            {% else %}
                {% with level_img='img/'|add:skill_level.level|add:'.png' %}
                    {% with skill_or_synergy_level=skill_level %}
                        {% include 'rules/_skill_or_synergy_level.html' %}
                    {% endwith %}
                {% endwith %}
            {% endif %}
        {% endfor %}
    </div>

</div>








<!--<table class="mt-2">-->
<!--    <thead>-->
<!--        <tr>-->
<!--            <td class="hover-pointer" data-toggle="collapse" data-target="#{{ skill|remove_special_chars }}{{ id_suffix }}">-->
<!--                {% if skilltype_kind == 'Kapłańskie' or skilltype_kind == 'Zaklęcia' or skilltype_kind == 'Teurgiczne' %}-->
<!--                    <img class="img-skill" src="{% static 'img/'|add:skill.skill_levels.first.level|add:'.png' %}">-->
<!--                {% else %}-->
<!--                    {% if skill.image %}-->
<!--                        <img class="img-skill" src="{{ skill.image.url }}">-->
<!--                    {% else %}-->
<!--                        <img class="img-skill" src="{% static 'img/skill-default.png' %}">-->
<!--                    {% endif %}-->
<!--                {% endif %}-->
<!--            </td>-->
<!--            <th colspan="11">-->
<!--                <h2 class="pt-3 ml-1" >-->
<!--                    <b class="ml-1">-->
<!--                        {% if current_profile.status == 'gm' %}-->
<!--                            <a class="hover-blue" href="{% url 'admin:rules_skill_change' skill.id %}" target="_blank" data-toggle="tooltip" data-placement="right" title="Edycja">-->
<!--                                {{ skill.name }}-->
<!--                            </a>-->
<!--                        {% else %}-->
<!--                            {{ skill.name }}-->
<!--                        {% endif %}-->
<!--                        &lt;!&ndash; Used when template is called from Prosoponomikon &ndash;&gt;-->
<!--                        {% if max_level_only %}-->
<!--                            [{{ skill.skill_levels.all|get_max_skill_level_no }}]-->
<!--                        {% endif %}-->
<!--                    </b>-->
<!--                    <small class="rules-gray1 smaller">-->
<!--                        {% if skill.tested_trait %}-->
<!--                            ({{ skill.tested_trait }})-->
<!--                        {% endif %}-->
<!--                    </small>-->
<!--                </h2>-->
<!--            </th>-->
<!--        </tr>-->
<!--    </thead>-->
<!--    <tbody id="{{ skill|remove_special_chars }}{{ id_suffix }}" class="collapse">-->
<!--        {% for skill_level in skill.skill_levels.all %}-->
<!--            {% if not forloop.last and max_level_only %}-->
<!--                &lt;!&ndash; When called from Prosoponomikon skip all levels but the highest &ndash;&gt;-->
<!--            {% else %}-->
<!--                {% with level_img='img/'|add:skill_level.level|add:'.png' %}-->
<!--                    {% with skill_or_synergy_level=skill_level %}-->
<!--                        {% include 'rules/_skill_or_synergy_level.html' %}-->
<!--                    {% endwith %}-->
<!--                {% endwith %}-->
<!--            {% endif %}-->
<!--        {% endfor %}-->
<!--    </tbody>-->
<!--</table>-->

