{% load static %}
{% load custom_filters %}


<div class="container align-top pl-1 pr-md-4 text-justify font-14">
    <div class="d-flex flex-column ml-3">

        {{ spell.description|linebreaksbr }}

        {% if spell.range is not None %}
            <div class="mt-1">
                <span data-toggle="tooltip" data-placement="right" title="Zasięg">
                    <i class="ra ra-focused-lightning pr-1"></i>:
                    {% if this_acquaintanceship %}
                        {{ spell.range|amplify_and_format_distance:this_acquaintanceship.known_character.power }}
                    {% else %}
                        {{ spell.range|amplify_and_format_distance:1 }}
                    {% endif %}
                </span>
            </div>
        {% endif %}

        {% if spell.radius is not None %}
            <div class="mt-1">
                <span data-toggle="tooltip" data-placement="right" title="Promień">
                    <i class="ra ra-radial-balance pr-1"></i>:
                    {% if this_acquaintanceship %}
                        {{ spell.radius|amplify_and_format_distance:this_acquaintanceship.known_character.power }}
                    {% else %}
                        {{ spell.radius|amplify_and_format_distance:1 }}
                    {% endif %}
                </span>
            </div>
        {% endif %}

        {% if spell.duration is not None %}
            <div class="mt-1">
                <span data-toggle="tooltip" data-placement="right" title="Czas działania">
                    <i class="ra ra-hourglass pr-1"></i>:
                    {% if this_acquaintanceship %}
                        {{ spell.duration|amplify_and_format_time:this_acquaintanceship.known_character.power }}
                    {% else %}
                        {{ spell.duration|amplify_and_format_time:1 }}
                    {% endif %}
                </span>
            </div>
        {% endif %}

        {% if spell.saving_throw_trait is not None %}
            <div class="mt-1">
                <span data-toggle="tooltip" data-placement="right" title="Malus RO">
                    <i class="ra ra-perspective-dice-random pr-1"></i>:
                    {{ spell.saving_throw_trait }}
                    {% if spell.saving_throw_malus %}
                        {% if this_acquaintanceship %}
                            -{{ spell.saving_throw_malus|amplify:this_acquaintanceship.known_character.power }}
                        {% else %}
                            -{{ spell.saving_throw_malus|amplify:1 }}
                        {% endif %}
                    {% endif %}
                </span>
            </div>
        {% endif %}

        {% if spell.damage is not None %}
            <div class="mt-1">
                <span data-toggle="tooltip" data-placement="right" title="Obrażenia">
                    <i class="ra ra-cut-palm  pr-1"></i>:
                    {% if this_acquaintanceship %}
                        {{ spell.damage|amplify_and_format_damage:this_acquaintanceship.known_character.power }}
                    {% else %}
                        {{ spell.damage|amplify_and_format_damage:1 }}
                    {% endif %}
                </span>
            </div>
        {% endif %}

    </div>
</div>

