{% load static %}
{% load custom_filters %}


<div class="container my-1 p-0">
    <div class="d-flex flex-row">

        <!-- IMAGE -->
        <div data-toggle="tooltip" data-placement="top" data-html="true"
            title="{{ spell.name_second }}<br>{{ spell.name_origin }}">
            <div class="d-flex flex-nowrap hover-pointer" data-toggle="collapse"
                data-target="#{{ spell.name|cut:' ' }}{{ sphere.name|cut:' ' }}">
                {% with spell_level=spell.level|stringformat:'s' %}
                    <img class="img-skill" src="{% static 'img/'|add:spell_level|add:'.png' %}">
                {% endwith %}
            </div>
        </div>
        <!-- END IMAGE -->

        <!-- DESCRIPTION -->
        <div class="skill-or-synergy-name ml-2">
            {% if request.current_profile.status == 'gm' %}
                <div>
                    <a class="hover-blue mb-2" target="_blank" data-toggle="tooltip" data-placement="right" title="Edycja"
                        {% if spells_kind == 'Moce Kapłańskie' %}
                            href="{% url 'admin:rules_priestspell_change' spell.id %}"
                        {% elif spells_kind == 'Moce Teurgiczne' %}
                            href="{% url 'admin:rules_theurgistspell_change' spell.id %}"
                        {% elif spells_kind == 'Zaklęcia' %}
                            href="{% url 'admin:rules_sorcererspell_change' spell.id %}"
                        {% endif %}>
                        {{ spell.name }}
                        <span class="text-muted font-18">| {{ spell.name_second }}</span>
                    </a>
                </div>
                <div class="mt-n2 font-12">
                    {% for domain in spell.domains.all %}
                        <span style="color: {{domain.color}};">{{ domain.name }}</span>
                        {% if not forloop.last %} | {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="mt-1 mt-lg-2">{{ spell.name }}</div>
            {% endif %}

            <div class="row collapse" id="{{ spell.name|cut:' ' }}{{ sphere.name|cut:' ' }}">
                {% include 'rules/_spell_descr.html' %}
            </div>
        </div>
        <!-- END DESCRIPTION -->

    </div>
</div>

