{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'rules:main' %}">Zasady</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>

    <h2 class="rules">Pancerz</h2>
    <br>
    <p>
        Zbroje oprócz modyfikowania KP posiadają punkty wyparowań, które określają, ile obrażeń dana zbroja przejmuje na siebie z ciosu.
        Takie obrażenia nie są ponoszone przez postać, natomiast uszkadzają zbroję, powodując jej powolną dezintegrację.
        Zbroja w złym stanie, t.j. od 50% uszkodzeń, daje KP o 1 gorsze, a od 90% - KP o 50% gorsze.
    </p>
    <p>
        Oznacza to konieczność prowadzenia dwóch tabeli obrażeń: jednej dla postaci (obrażenia podlegające leczeniu)
        oraz dla zbroi (obrażenia trwałe, poddające się 1-2 krotnej naprawie u specjalisty).
    </p>
    <p>
        Zbroja w znaczący sposób ogranicza płynność ruchów postaci, co może nie mieć znaczenia w walce i nadal pozwalać na czerpanie korzyści z premii do KP ze ZRC,
        jednak nie pozostaje bez wpływu na powodzenie działań wymagających wyjątkowej precyzji i dobrego czasu reakcji.
        W związku z tym każda zbroja powoduje malusy do Podstępów.
        <br> TU WRZUCIĆ TABELĘ Z MALUSAMI OD ZBROI !!!
    </p>
    <br>
    <div class="resp-container">
        <iframe class="resp-iframe" width="820" height="710" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21182&authkey=%21ALLarqqIsDb5eVw&em=2&wdAllowInteractivity=False&Item='ZBROJA'!A1%3AI27&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
    </div>


    <br><br><br>
{% endblock content %}
