{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'rules:main' %}">Zasady</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>

    <br><br><br>
    <h2 class="rules">Zbroja</h2>
    <br>
    <p>
        Zbroje chronią ciało wojownika przed skutkami trafienia, jednak ze względu na swoją sztywność oraz wagę ograniczają jego ruchy i pole widzenia.
        Cięższe zbroje sprawdzają się w przypadku postaci, które nie wykorzystują w walce szybkości i zwinności.
    </p>

    <br>
    <table class="plates">
        <colgroup>
            <col class="plate">
            <col class="armor-class">
            <col class="parry">
            <col class="endurance">
            <col class="weight">
            <col class="agility-penalty">
            <col class="movement-penalty">
        </colgroup>
        <thead class="align-center">
            <tr class="border-custom-base">
                <th class="small-caps align-left">ZBROJA</th>
                <th class="small-caps">KP</th>
                <th class="small-caps">Wyparowania</th>
                <th class="small-caps">Wytrzymałość</th>
                <th class="small-caps">Waga</th>
                <th class="small-caps">Max premia<br>ze ZRC</th>
                <th class="small-caps">Max<br>przyspieszenie</th>
            </tr>
        </thead>
        <tbody class="align-center">
            <tr><td class="align-left">Gambeson</td>                        <td>-</td> <td>2</td>   <td>20</td> <td>4</td>  <td class="rules-red">-</td>  <td class="rules-red">-</td></tr>
            <tr><td class="align-left">Skórzana</td>                        <td>+2</td> <td>2</td>  <td>30</td> <td>7</td>  <td class="rules-red">-</td>  <td class="rules-red">-</td></tr>
            <tr><td class="align-left">Skórzana ćwiekowana</td>             <td>+3</td> <td>2</td>  <td>35</td> <td>11</td> <td class="rules-red">18</td> <td class="rules-red">-</td></tr>
            <tr><td class="align-left">Skórzana gruba</td>                  <td>+3</td> <td>3</td>  <td>35</td> <td>12</td> <td class="rules-red">16</td> <td class="rules-red">-</td></tr>
            <tr><td class="align-left">Koszulka kolcza</td>                 <td>+4</td> <td>3</td>  <td>35</td> <td>12</td> <td class="rules-red">16</td> <td class="rules-red">-</td></tr>
            <tr><td class="align-left">Brygantyna</td>                      <td>+4</td> <td>3</td>  <td>40</td> <td>13</td> <td class="rules-red">15</td> <td class="rules-red">x4</td></tr>
            <tr><td class="align-left">Kolczuga</td>                        <td>+5</td> <td>3</td>  <td>40</td> <td>18</td> <td class="rules-red">14</td> <td class="rules-red">x4</td></tr>
            <tr><td class="align-left">Lamelkowa, Łuskowa</td>              <td>+5</td> <td>4</td>  <td>40</td> <td>18</td> <td class="rules-red">13</td> <td class="rules-red">x3</td></tr>
            <tr><td class="align-left">Folgowa, Kirys, Paskowa</td>         <td>+6</td> <td>4</td>  <td>45</td> <td>20</td> <td class="rules-red">13</td> <td class="rules-red">x3</td></tr>
            <tr><td class="align-left">Płytowo-kolcza</td>                  <td>+7</td> <td>5</td>  <td>50</td> <td>20</td> <td class="rules-red">12</td> <td class="rules-red">x3</td></tr>
            <tr><td class="align-left">Płytowa</td>                         <td>+8</td> <td>5</td>  <td>60</td> <td>23</td> <td class="rules-red">13</td> <td class="rules-red">x3</td></tr>
            <tr><td class="align-left">Płytowa pełna</td>                   <td>+9</td> <td>6</td>  <td>80</td> <td>25</td> <td class="rules-red">13</td> <td class="rules-red">x3</td></tr>
        </tbody>
    </table>

    <br><br>
    <h5><b>Wyparowania i Wytrzymałość zbroi</b></h5>
    <p>
        Oprócz poprawy Klasy Pancerza (KP) każda zbroja wyparowuje część otrzymanych obrażeń.
        Obrażenia wyparowane dana zbroja przejmuje z ciosu na siebie, nie są ponoszone przez postać, natomiast uszkadzają zbroję, powodując jej powolną dezintegrację:
    </p>
    <ul>
        <li>> 50% uszkodzeń: -2 do Wyparowań</li>
        <li>>= 90% uszkodzeń: 0 Wyparowań</li>
    </ul>
    <p>
        Oznacza to konieczność prowadzenia dwóch tabeli obrażeń: jednej dla postaci (obrażenia podlegające leczeniu)
        oraz dla zbroi (obrażenia trwałe, poddające się 1-2 krotnej naprawie u specjalisty).
    </p>

    <br>
    <h5><b>Ograniczenia wynikające ze zbroi</b></h5>
    <p>
        Zbroja w znaczący sposób zmniejsza płynność ruchów postaci,
        co w przypadku cięższych typów zbroi powoduje ograniczenie premii czerpanych ze ZRC oraz możliwości prędkiego poruszania.
        Przykładowo postać o ZRC 16 założywszy pełną zbroję płytową może korzystać jedynie z premii dla ZRC 13,
        a jej zdolność do Przyspieszenia (biegu) jest ograniczona do prędkości x3.
    </p>
    <p>
        Poza walką zbroja nie pozostaje bez wpływu na powodzenie działań wymagających wyjątkowej precyzji i dobrego czasu reakcji.
        W związku z tym każda zbroja powoduje malusy do Podstępów.
        Są one ujęte w osobnej tabeli, dlatego nie należy uwzględniać w tym przypadku ograniczeń premii ze ZRC. Byłby to podwójny malus.
    </p>
    <br>
    <br>

    <table class="plate-and-tricks">
        <colgroup>
            <col class="plate">
            <col class="pickpocketing">
            <col class="lockpicking">
            <col class="sneaking-towns">
            <col class="sneaking-wilderness">
            <col class="hiding-towns">
            <col class="hiding-wilderness">
            <col class="climbing">
            <col class="traps">
        </colgroup>
        <thead class="align-center">
            <tr>
                <th colspan="1" rowspan="2" class="align-left">ZBROJA</th>
                <th colspan="1" rowspan="2">Kradzież<br>kieszonkowa</th>
                <th colspan="1" rowspan="2">Otwieranie<br>zamków</th>
                <th colspan="2" rowspan="1">Skradanie</th>
                <th colspan="2" rowspan="1">Ukrycie</th>
                <th colspan="1" rowspan="2">Wspinaczka</th>
                <th colspan="1" rowspan="2">Wykrywanie i<br>rozbrajanie<br>pułapek</th>
            </tr>
            <tr class="border-custom-base">

                <th>miasto</th>
                <th>teren</th>
                <th>miasto</th>
                <th>teren</th>
            </tr>
        </thead>
        <tbody class="align-center">
            <tr><td class="align-left">-</td>                                           <td class="rules-green">+5%</td>    <td>-</td>                      <td class="rules-green">+10%</td>   <td class="rules-green">+10%</td>   <td class="rules-green">+5%</td>    <td class="rules-green">+5%</td>    <td class="rules-green">+10%</td>   <td>-</td></tr>
            <tr class="back-gray"><td class="align-left">Gambeson</td>                  <td class="rules-red">-5%</td>      <td>-</td>                      <td>-</td>                          <td>-</td>                          <td class="rules-red">-5%</td>      <td class="rules-red">-5%</td>      <td class="rules-red">-10%</td>     <td>-</td></tr>
            <tr><td class="align-left">Skórzana, Skórzana ćwiekowana</td>               <td class="rules-red">-10%</td>     <td class="rules-red">-5%</td>  <td class="rules-red">-5%</td>      <td class="rules-red">-5%</td>      <td class="rules-red">-10%</td>     <td class="rules-red">-10%</td>     <td class="rules-red">-20%</td>     <td class="rules-red">-5%</td></tr>
            <tr class="back-gray"><td class="align-left">Brygantyna</td>                <td class="rules-red">-20%</td>     <td class="rules-red">-10%</td> <td class="rules-red">-10%</td>     <td class="rules-red">-10%</td>     <td class="rules-red">-20%</td>     <td class="rules-red">-20%</td>     <td class="rules-red">-30%</td>     <td class="rules-red">-10%</td></tr>
            <tr><td class="align-left">Skórzana gruba, Lamelkowa</td>                   <td class="rules-red">-40%</td>     <td class="rules-red">-15%</td> <td class="rules-red">-20%</td>     <td class="rules-red">-20%</td>     <td class="rules-red">-30%</td>     <td class="rules-red">-30%</td>     <td class="rules-red">-40%</td>     <td class="rules-red">-15%</td></tr>
            <tr class="back-gray"><td class="align-left">Koszulka kolcza</td>           <td class="rules-red">-50%</td>     <td class="rules-red">-20%</td> <td class="rules-red">-40%</td>     <td class="rules-red">-40%</td>     <td class="rules-red">-40%</td>     <td class="rules-red">-40%</td>     <td class="rules-red">-35%</td      ><td class="rules-red">-10%</td></tr>
            <tr><td class="align-left">Kolczuga, Łuskowa</td>                           <td class="rules-red">-60%</td>     <td class="rules-red">-25%</td> <td class="rules-red">-50%</td>     <td class="rules-red">-50%</td>     <td class="rules-red">-50%</td>     <td class="rules-red">-50%</td>     <td class="rules-red">-60%</td>     <td class="rules-red">-40%</td></tr>
            <tr class="back-gray"><td class="align-left">Folgowa, Kirys, Paskowa</td>   <td class="rules-red">-70%</td>     <td class="rules-red">-30%</td> <td class="rules-red">-60%</td>     <td class="rules-red">-60%</td>     <td class="rules-red">-60%</td>     <td class="rules-red">-60%</td>     <td class="rules-red">-70%</td>     <td class="rules-red">-30%</td></tr>
            <tr><td class="align-left">Płytowo-kolcza</td>                              <td class="rules-red">-100%</td>    <td class="rules-red">-50%</td> <td class="rules-red">-80%</td>     <td class="rules-red">-100%</td>    <td class="rules-red">-80%</td>     <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-50%</td></tr>
            <tr class="back-gray"><td class="align-left">Płytowa</td>                   <td class="rules-red">-100%</td>    <td class="rules-red">-60%</td> <td class="rules-red">-90%</td>     <td class="rules-red">-100%</td>    <td class="rules-red">-90%</td>     <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-70%</td></tr>
            <tr><td class="align-left">Płytowa pełna</td>                               <td class="rules-red">-100%</td>    <td class="rules-red">-70%</td> <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-70%</td></tr>
        </tbody>
    </table>
    <br>


    <br><br><br>
    <h2 class="rules">Tarcza</h2>
    <br>
    <p>
        Poprzez przyjęcie ciosu na tarczę wojownik może uniknąć trafienia przez przeciwnika.
        Liczba przeciwników, przeciwko którym można użyć tarczy jest zależna od jej rodzaju i waha się między 1 a 3.
        Tarcza dostarcza także osłony przeciwko atakom dystansowym; wyjątkiem jest puklerz.
    </p>
    <br>
    <table class="shields">
        <colgroup>
            <col class="shield">
            <col class="num-of-enemies">
            <col class="armor-class">
            <col class="weight">
        </colgroup>
        <thead class="align-center">
            <tr class="border-custom-base">
                <th class="small-caps align-left">TARCZA</th>
                <th class="small-caps">Przeciwnicy</th>
                <th class="small-caps">KP<br>zwarcie/dystans</th>
                <th class="small-caps">Waga</th>
            </tr>
        </thead>

        <tbody class="align-center">
            <tr><td class="align-left">Puklerz</td>         <td>1</td> <td>+1 / 0</td>  <td>2</td></tr>
            <tr><td class="align-left">Średnia</td>         <td>1</td> <td>+1 / +2</td> <td>3</td></tr>
            <tr><td class="align-left">Średnia z umbo</td>  <td>1</td> <td>+2 / +2</td> <td>4</td></tr>
            <tr><td class="align-left">Duża</td>            <td>2</td> <td>+2 / +3</td> <td>5</td></tr>
            <tr><td class="align-left">Duża z umbo</td>     <td>2</td> <td>+3 / +3</td> <td>6</td></tr>
            <tr><td class="align-left">Pawęż</td>           <td>3</td> <td>+3 / +4</td> <td>7</td></tr>
        </tbody>
    </table>

    <br><br><br>
    <h2 class="rules">Hełm, karwasze i nagolenniki</h2>
    <br>
    <p>
        Nagolenniki, karwasze i hełm dostarczają ochrony przeciwko natychmiastowemu wyeliminowaniu z walki przez Krytyka.
        Trafienie krytyczne w nieosłoniętą głowę z dużym prawodpodobieństwem zakończy się penetracją czaszki,
        natomiast w przypadku kończyn może skutkować ich odcięciem lub nieodwracalnym zdewastowaniem kości i stawów.
        Nagolennice, karwasze oraz hełm dostarczają ochrony przeciwko niszczycielskim skutkom Krytyków.
        Jeśli postać posiada jedynie część takiego kompletu, istnieje 33% szans na trafienie odpowiednio w głowę, jedną z rąk albo jedną z nóg.
    </p>
    <br>
    <table class="protection">
        <colgroup>
            <col class="protection-type">
            <col class="protection-desc">
            <col class="weight">
        </colgroup>
        <thead class="align-center">
            <tr class="border-custom-base">
                <th class="small-caps align-left">HEŁM, KARWASZE, NAGOLENNIKI</th>
                <th class="small-caps">Zakres ochrony przed Krytykiem</th>
                <th class="small-caps">Waga</th>
            </tr>
        </thead>

        <tbody>
            <tr><td>Skóra</td>               <td>Ochrona przed kalectwem od Ran Śmiertelnych, jeśli postać przeżyje</td>         <td class="align-center">2</td></tr>
            <tr><td>Metal</td>               <td>Ochrona przed mnożnikiem ran *2 przy Krytyku</td>                               <td class="align-center">4</td></tr>
            <tr><td>Krasnoludzka stal</td>   <td>Ochrona przed automatycznym trafieniem przy rzucie 20</td>                      <td class="align-center">6</td></tr>
            <tr><td>Magiczne</td>            <td>Całkowita ochrona przed Krytykiem</td>                                          <td class="align-center">4</td></tr>
        </tbody>
    </table>

    <br><br><br>
{% endblock content %}
