{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling">
        <br><br><br>

        <h2 class="rules">Zbroja</h2>
        <br>
        <p>
            Zbroje chronią ciało wojownika przed skutkami trafienia, jednak ze względu na swoją sztywność oraz wagę ograniczają jego ruchy i pole widzenia.
            Cięższe zbroje sprawdzają się w przypadku Postaci, które nie wykorzystują w walce szybkości i zwinności.
        </p>

        <br>
        <table class="plates">
            <colgroup>
                <col class="plate">
                <col class="armor-class">
                <col class="parrying">
                <col class="endurance">
                <col class="weight">
                <col class="agility-penalty">
                <col class="movement-penalty">
            </colgroup>
            <thead class="align-center dark">
                <tr class="border-bottom-dark">
                    <th class="small-caps align-left">ZBROJA</th>
                    <th class="small-caps">KP</th>
                    <th class="small-caps">Wyparowania</th>
                    <th class="small-caps">Wytrzymałość</th>
                    <th class="small-caps">Waga</th>
                    <th class="small-caps">Max premia<br>ze ZRC</th>
                    <th class="small-caps">Max<br>przyspieszenie</th>
                </tr>
            </thead>
            <tbody class="align-center dark">
                {% for plate in plates %}
                    <tr>
                        <td class="{% if plate.description %} hover-blue {% endif %} align-left" data-toggle="collapse" data-target="#{{ plate.short_name }}">{{ plate.name }}</td>
                        <td class="rules-green">{% if plate.armor_class_bonus %} +{{ plate.armor_class_bonus }} {% endif %}</td>
                        <td class="rules-green">{{ plate.parrying }}</td>
                        <td>{{ plate.endurance }}</td>
                        <td>{{ plate.weight.normalize }}</td>
                        <td class="rules-red">{% if plate.mod_max_agility %} {{ plate.mod_max_agility }} {% endif %}</td>
                        <td class="rules-red">{% if plate.mod_max_movement %} {{ plate.mod_max_movement }} {% endif %}</td>
                    </tr>
                    {% if plate.description %}
                        <tr id="{{ plate.short_name }}" class="collapse">
                            <td colspan="10" class="weapons-img px-2 align-left">
                                <br>
                                {{ plate.description|linebreaksbr }}
                                <br><br>
                                <div class="mb-1">
                                    {% for picture_set in plate.picture_sets.all %}
                                        <div class="d-flex justify-content-center my-3">
                                            {% for picture in picture_set|pictureset_pictures_in_custom_order %}
                                                {% include '_pic_with_modal.html' %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <br><br>
        <h5><b>Wyparowania i Wytrzymałość zbroi</b></h5>
        <p>
            Oprócz poprawy Klasy Pancerza (KP) każda zbroja posiada współczynnik Wyparowań, który decyduje o tym, ile Obrażeń ulegnie wyhamowaniu i zamiast zranić Postać - uszkodzi jej pancerz.
            Pozwala to na uchronienie się przed częścią, a czasem nawet całością Obrażeń.
            Innymi słowy, Obrażenia można rozdzielić pomiędzy Wytrzymałość Zbroi a Życie Postaci,
            przy czym Zbroja jest w stanie przejąć tylko tyle Obrażeń z jednego ciosu, ile wynosi jej współczynnik Wyparowań.
            Oznacza to konieczność prowadzenia dwóch tabeli Obrażeń: jednej dla Postaci (Obrażenia uszczuplające Życie i podlegające leczeniu)
            oraz dla zbroi (Obrażenia uszczuplające Wytrzymałość i poddające się parokrotnej naprawie u specjalisty).
        </p>
        <p>
            Uszkodzenia zbroi powodują jej stopniową dezintegrację, co zmniejsza jej skuteczność.
            Zbroja pozbawiona ponad połowy Wytrzymałości jest niekompletna i wybrakowana, a przez to pozbawiona Wyparowań, zaś jej Bonus KP zostaje zmniejszony o 1-2.
        </p>
        <p>
            Część broni oraz niektóre Umiejętności dysponują współczynnikiem Przebicia (PRZEB), który pozwala na zignorowanie części lub całości Wyparowań zbroi.
            Np. Przeciwnik zadaje 10 OBR; Postać nosi Kolczugę o Wyparowaniu 3, co pozwalałoby na zmniejszenie OBR do 7;
            jednakże przeciwnik atakował buzdyganem, który ma PRZEB +2;
            ostatecznie więc Kolczuga pozwala na wyparowanie 3 – 2 = 1 OBR; w efekcie Kolczuga otrzymuje -1 Wytrzymałości, a Postać -9 Życia.
        </p>
        
        <br>
        <h5><b>Ograniczenia wynikające z noszenia zbroi</b></h5>
        <p>
            Zbroja w znaczący sposób zmniejsza płynność ruchów Postaci,
            co w przypadku cięższych typów zbroi powoduje ograniczenie premii czerpanych ze ZRC oraz możliwości prędkiego poruszania.
            Przykładowo Postać o ZRC 16 założywszy pełną zbroję płytową może korzystać jedynie z premii dla ZRC 13,
            a jej zdolność do Przyspieszenia (biegu) jest ograniczona do prędkości x3.
        </p>
        <p>
            Poza walką zbroja nie pozostaje bez wpływu na powodzenie działań wymagających wyjątkowej precyzji i dobrego czasu reakcji.
            W związku z tym każda zbroja powoduje malusy do Podstępów.
            Są one ujęte w osobnej tabeli, dlatego nie należy uwzględniać w tym przypadku ograniczeń premii ze ZRC. Byłby to podwójny malus.
        </p>
        <br><br>

        {% include 'rules/_plate_and_tricks_table.html' %}
        
        <br><br><br>


        <h2 class="rules">Tarcza</h2>
        <br>
        <p>
            Poprzez przyjęcie ciosu na tarczę wojownik może uniknąć trafienia przez przeciwnika.
            Liczba przeciwników, przeciwko którym można użyć tarczy jest zależna od jej rodzaju i waha się między 1 a 3.
            Liczba ta wskazuje również, wobec ilu przeciwników można zastosować premie do KP (parowanie) z KON, Walki z tarczą lub inne.
            Postać nie jest w stanie parować ciosów większej liczby przeciwników niż wynika to z opisu danego typu tarczy.
            Tarcza dostarcza także osłony przeciwko atakom dystansowym; wyjątkiem jest puklerz, który nie chroni przed atakami strzeleckimi.
        </p>
        <br>
        <table class="shields">
            <colgroup>
                <col class="shield">
                <col class="armor-class">
                <col class="weight">
            </colgroup>
            <thead class="align-center dark">
                <tr class="border-bottom-dark">
                    <th class="small-caps align-left">TARCZA</th>
                    <th class="small-caps">KP<br>zwarcie/dystans</th>
                    <th class="small-caps">Waga</th>
                </tr>
            </thead>

            <tbody class="align-center dark">
                {% for shield in shields %}
                    <tr>
                        <td class="{% if shield.description %} hover-blue {% endif %} align-left" data-toggle="collapse" data-target="#{{ shield.name }}">
                            {{ shield.name }}
                            {% if shield.name == 'Puklerz' %}
                                <sup>✵</sup>
                            {% endif %}
                        </td>
                        <td>+{{ shield.armor_class_bonus_close_combat }}/+{{ shield.armor_class_bonus_distance_combat }}</td>
                        <td>{{ shield.weight.normalize }}</td>
                    </tr>
                    {% if shield.description %}
                        <tr id="{{ shield.name }}" class="collapse">
                            <td colspan="10" class="weapons-img px-2 align-left">
                                <br>
                                {{ shield.description|linebreaksbr }}
                                <br><br>
                                <div class="mb-1">
                                    {% for picture_set in shield.picture_sets.all %}
                                        <div class="d-flex justify-content-center my-3">
                                            {% for picture in picture_set|pictureset_pictures_in_custom_order %}
                                                {% include '_pic_with_modal.html' %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>

        </table>
        <ul class="rules bullets-2 ml-4 mt-2">
            <li>
                TODO - weryfikacja wagi i właściwości tarcz, usunięcie rozróżnienia KP zwarcie/strzelcy.
               Puklerz pozwala na zastosowanie premii +4 KP oraz całości premii do KP z Parowania (KON) wobec tylko jednego przeciwnika.
                Za to waga podbita na 8 kg, bo jest metalowy, ale Wytrzymałość 200 (inne tarcze 40 zwykłe, 100 z umbo, a pawęż 50).
                Umbo zmienia głównie wytrzymałość (jak w zbroi dodać), a nie KP.
                Pawęż max. +3 KP, ale specjalna właściwość - Defensywa przed ostrzałem, trafiają tylko Automatyczne Trafienia.
            </li>
        </ul>

        <br><br><br>


        <h2 class="rules">Hełm, karwasze i nagolenice</h2>
        <br>
        <p>
            Nagolenniki, karwasze i hełm dostarczają ochrony przeciwko natychmiastowemu wyeliminowaniu z walki przez Krytyczne Trafienie.
            Tego rodzaju Trafienie w nieosłoniętą głowę z dużym prawdopodobieństwem zakończy się penetracją czaszki,
            natomiast w przypadku kończyn może skutkować ich odcięciem lub nieodwracalnym zdewastowaniem kości i stawów.
            Nagolenice, karwasze oraz hełm dostarczają ochrony przeciwko niszczycielskim skutkom Krytycznego Trafienia.
            Jeśli Postać posiada jedynie część takiego kompletu, istnieje 33% szans na trafienie odpowiednio w głowę, jedną z rąk albo jedną z nóg.
        </p>
        <br>
        <table class="protection">
            <colgroup>
                <col class="protection-type">
                <col class="protection-desc">
                <col class="weight">
            </colgroup>
            <thead>
                <tr class="border-bottom-dark small-caps">
                    <th>HEŁM, KARWASZE, NAGOLENICE</th>
                    <th>Zakres ochrony przed Trafieniem</th>
                    <th>Waga</th>
                </tr>
            </thead>

            <tbody>
                <tr><td>Skóra</td>               <td>Ochrona przed kalectwem w razie przeżycia, także od Ran Śmiertelnych </td>        <td class="align-center">2</td></tr>
                <tr><td>Metal</td>               <td>Ochrona przed mnożnikiem OBR *2 przy Krytycznym Trafieniu</td>                    <td class="align-center">4</td></tr>
                <tr><td>Krasnoludzka stal</td>   <td>Ochrona przed Automatycznym Trafieniem</td>                                       <td class="align-center">6</td></tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
