{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling">
        
        <h2 class="rules mt-5 mb-3">
            Tożsamość Postaci
        </h2>
        <p>
            Na tożsamość Postaci składają się następujące elementy:
            Biografia (imię, pochodzenie - rodzina i kraina, zawód czy fach), Cechy Fizyczne oraz Umiejętności,
            a także obrany przez Gracza sposób jej odgrywania. Elementem opcjonalnym jest określenie Klasy i Podklasy (zob. dalej).
        </p>
        <p>
            Trzy Cechy Fizyczne opisujące Postać to Siła, Zręczność i Kondycja (w skrócie "Cechy").
            W zależności od rozgrywki wartości Cech mogą być w całości lub częściowo losowane przez Graczy albo określone z góry przez Mistrza Gry,
            ewentualnie z możliwością dokonania przesunięć.
        </p>
        <p>
            Cechy Mentalne Postaci (np. Inteligencja, Mądrość, Charyzma) nie należą do systemu, a ich określenie leży całkowicie w gestii Gracza,
            podobnie jak inne decyzje dotyczące osobowości i sposobu odgrywania Postaci.
            Rezygnacja z włączenia Cech Mentalnych do systemu wynika ze znanego procederu przesuwania punktów z Cech Mentalnych na Fizyczne
            i wynikającymi stąd trudnościami z odgrywaniem Postaci skrajnie głupich lub nierozgarniętych.
            Podobnie, znanym problemem jest kwestia odgrywania Postaci o wysokiej Mądrości, ale bardzo niskiej Inteligencji, lub odwrotnie.
            W związku z brakiem Cech Mentalnych w systemie Gracz ma swobodę ich określenia, którą ograniczają jedynie względy fabularne oraz prawdopodobieństwo psychologiczne;
            np. pragnąc dokonać zmiany sposobu odgrywania Postaci powinien zarysować jej stopniową transformację albo
            – przy nagłej zmianie po traumatycznym wydarzeniu – wybrać skutki psychologiczne korelujące z charakterem przeżycia.
            Jednak nie oznacza to zobowiązania Graczy do znajomości meandrów ludzkiej psychologii albo do nauki aktorstwa,
            a jedynie do ukierunkowanego prowadzenia Postaci, zgodnie z własnymi wyobrażeniami oraz znajomością archetypów obecnych w kulturze (w tym pop-kulturze).
        </p>
        <p>
            Wszelkie modyfikatory wpływu magii na Postacie, tradycyjnie powiązane z Cechami Mentalnymi, mogą być wyrażone przy pomocy Umiejętności, ale mogą też zależeć od deklaracji Graczy.
            Współczynniki odporności na magię mają charakter procentowy, ale znajomość ich wartości i najczęstszych modyfikatorów wchodzi w grę dopiero od momentu nabycia odpowiednich Umiejętności.
        </p>

        
        <h2 class="rules mt-5 mb-3">
            Tworzenie Postaci
        </h2>
        <p>
            W aktualnej rozgrywce Cechy Fizyczne są z góry określone, a ich bazowe wartości to: Siła 11, Zręczność 11, Kondycja 11.
            Przeciętne wartości dla człowieka to 9-10, jednak w przypadku Postaci Graczy mamy do czynienia z jednostkami wyrastającymi ponad przeciętność.
            Istnieje możliwość przesunięcia około 3 punktów pomiędzy Cechami przy odpowiednim uzasadnieniu silnymi rysami biografii lub fizjologii Postaci.
            O zakresie przesunięć decyduje Mistrz Gry na podstawie koncepcji Postaci przedstawionej przez Gracza.
        </p>
        <p>
            Liczba Punktów Umiejętności, jakie przysługują każdej nowo tworzonej Postaci to 7+2.
            7 Punktów zostaje rozdysponowane przez Gracza, z czego obowiązkowo 1 w Umiejętność o charakterze fachu
            (Kamieniarstwo, Rybołówstwo, Kaletnictwo, Opieka nad zwierzętami, Handel itp.).
            Dodatkowo 2 Punkty Umiejętności zostają ulokowane przez Mistrza Gry w Umiejętności pozostające w związku z biografią Postaci
            (np. Wspinaczka, Pływanie, Czytanie i pisanie, Wytrzymałość, Winiarstwo i miodosytnictwo).
            Na etapie tworzenia Postaci Gracz ma prawo do wyboru maksymalnie 2 Umiejętności, w których ulokuje aż 2 Punkty osiągając w ten sposób ich drugi poziom.
        </p>
        <p>
            W przypadku, gdy na etapie tworzenia Postaci nastąpi przesunięcie skutkujące uzyskaniem wartości 13 dla którejkolwiek z Cech,
            Gracz dysponuje przy tworzeniu Postaci 1 Punktem Umiejętności mniej niż normalnie.
            Ma to na celu kompensację oszczędności w Punktach Doświadczenia potrzebnych do uzyskania takiej wartości Cechy, jaką osiąga w takim przypadku Gracz.
            W normalnych warunkach Postać posiadająca Cechy o wartościach 11, 11, 11 musiałaby wydać w sumie 1400 Punktów Doświadczenia, aby osiągnąć wartości 11, 11, 13.
            Natomiast Postać rozpoczynająca z Cechami 10, 10, 13 musi wydać jedynie 800 Punktów Doświadczenia, a Postać rozpoczynająca z wartościami 9, 11, 13 jedynie 700.
        </p>
        
        
        <h2 class="rules mt-5 mb-3">
            Rozwój Postaci
        </h2>
        <p>
            Zasady nie przewidują takich kategorii jak Poziom Postaci czy Awans z poziomu na poziom.
            Rozwój Postaci opiera się na Cechach i Umiejętnościach, które Postać nabywa w zamian za Punkty Doświadczenia.
            Te są przydzielane proporcjonalnie do stopnia "nowości" i "przyswajalności" doświadczeń dla danej Postaci.
            Postać może się wzbogacić jedynie przez przeżycia wystarczająco wymagające (a nie kompletnie banalne czy rutynowe, np. przejście przez pewien dziki teren... po raz dziesiąty),
            ale tez wystarczająco zrozumiałe i pojmowalne
            (a nie zupełnie oderwane od wszystkiego, co jest jej znane, np. żegluga morska z perspektywy szczura lądowego albo tropienie grubego zwierza z perspektywy mieszczanina).
            Można to streścić w dwóch krótkich zasadach:
        </p>
        <ol class="rules ml-4">
            <li>
                "Za źródełkami Expa trzeba pokopać".
            </li>
            <li>
                "Źródełka Expa wysychają".
            </li>
        </ol>
        <p>
            Doświadczenie zostaje przydzielone za wyszczególnione przez Gracza doświadczenia, jakie były udziałem Postaci.
            Brak natomiast Punktów Doświadczenia za odgrywanie Postaci czy "za przygodę".
        </p>
        <p>
            Możliwe jest nabycie Umiejętności lub Atutu „fabularnie”, czyli na podstawie długotrwałych działań Postaci.
            Atut to kategoria o płynnym charakterze, która pozostaje do dyspozycji Mistrza Gry jako uzupełnienie systemu rozwoju Postaci opartego o zakup Umiejętności.
            Z jednej strony Atuty to Bonusy wynikające z pewnych Umiejętności,
            z drugiej jednak mogą zostać przydzielone Postaci przez Mistrza Gry bez związku z jakąkolwiek Umiejętnością.
        </p>

        
        <h2 class="rules mt-5 mb-3">
            Klasy Postaci
        </h2>
        <p>
            <span>&#9755;</span>
            <a href="{% url 'rules:professions' 'Pospolite' %}">Lista Klas</a>
        </p>
        <p>
            Klasa i Podklasa to kategorie pomocnicze przy tworzeniu koncepcji Postaci.
            W zależności od decyzji Mistrza Gry wybór Klasy może podlegać ograniczeniom, a nawet zostać narzucony.
            Zazwyczaj taka decyzja wynika z ograniczeń fabularnych (realiów obowiązujących w miejscu, w którym toczy się rozgrywka).
            Jeżeli jednak Graczom przysługuje wybór, to w zakresie, w jakim istnieje, stosują się do niego poniższe uwagi.
        </p>
        <p>
            Klasy stanowią materiał pomocniczy na etapie tworzenia Postaci; służą głównie za schematy, wokół których Gracz może zbudować koncepcję Postaci.
            Ich zadaniem jest dostarczenie podstawowych informacji o realiach, w jakich Postać będzie się poruszać w świecie gry,
            przez co pozwalają Graczowi przypisać ją do jakiegoś miejsca w rzeczywistości.
            Klasy grupują one szablony koncepcyjne Postaci o zbliżonej charakterystyce, a często również rysie psychologicznym (Podklasy).
            Np. Klasa Wojownika zawiera Podklasy takie jak Gladiator, Najemnik czy Gwardzista,
            a Klasa Awanturnika obejmuje między innymi Podklasy Szpiega, Łowcy Nagród, Zwiadowcy czy Kupca.
        </p>
        <p>
            Oprócz Klas dobrze znanych z kultury, Gracz może również wybrać te charakterystyczne wyłącznie dla świata gry.
            Należą do nich wszystkie Podklasy w ramach Klasy Kapłana (ze względu na unikalny dla świata gry panteon),
            a także np. Szarogwardzistę (Podklasa Awanturnika), czy Syssitiona (Podklasa Wojownika).
            Jeśli wybór Klas należących do tej kategorii jest dopuszczony przez Mistrza Gry w ramach aktualnej rozgrywki,
            pociąga on za sobą daleko idące konsekwencje w zakresie Biografii tworzonej Postaci i jej dalszych losów
            (z jednej strony ograniczając je, a z drugiej – otwierając unikalne możliwości).
            Zarazem, zwłaszcza w tym przypadku, uwidacznia się podstawowe zadanie Klas
            – przedstawienie Graczowi charakteru, jaki może przybrać rozgrywka Postacią o danym profilu.
        </p>
        <p>
            Wprawdzie Gracz nie musi określać Klasy swojej Postaci (chyba że taka konieczność zostanie narzucona Mistrza Gry),
            ale jeśli to uczyni, to komunikuje i w znacznej mierze narzuca Mistrzowi Gry, w jakiej sferze rzeczywistości będzie się poruszać jego Postać.
            Racjonalne założenie jest tu takie, że jeśli Mistrz Gry nie ograniczył wyboru danej Klasy, to będzie go respektował,
            a przez to rozgrywka będzie uwzględniać spektrum rzeczywistości, w jakim porusza się dana Postać.
            Np. w przypadku dopuszczenia wyboru Maga Mistrz Gry poprowadzi rozgrywkę tak,
            aby Postać była osadzona biograficznie i fabularnie w sferach rzeczywistości oscylujących wokół magii,
            natomiast wykluczy realia gry, w których magia jest zakazana, a natrafienie na jakiekolwiek zaklęcia albo nauczyciela jest niespotykane
            (albo przynajmniej okaże się bardzo prędko, że to tylko pozory…).
        </p>
        <p>
            Wybór Klasy nie ogranicza na płaszczyźnie Zasad dalszego rozwoju Postaci.
            Żadne Umiejętności nie zostają „zablokowane” czy „wykluczone” na płaszczyźnie mechaniki rozgrywki.
            Natomiast konsekwencje fabularne mogą być bardzo istotne. Np. wybór Podklasy Gladiator,
            a co za tym idzie również bardzo specyficznego profilu biograficznego,
            może czynić niezwykle mało prawdopodobnym rozwój umiejętności magicznych, podobnie jak karierę polityczną w lokalnej społeczności.
            Jednak zgodnie z maksymą „dla chcącego nic trudnego”, Postać może poświęcić się nowej wizji
            i przezwyciężając niewyobrażalne przeciwności losu otworzyć sobie nowe horyzonty rozwoju.
        </p>
        <p>
            Lista Klas ma otwarty charakter. Widoczne na niej Klasy i Podklasy to te, które są znane Postaci na podstawie wiedzy ogólnej.
        </p>
        
        
        <h2 class="rules mt-5 mb-3">
            Klasy Elitarne
        </h2>
        <p>
            <span>&#9755;</span>
            <a href="{% url 'rules:professions' 'Elitarne' %}">Lista Klas Elitarnych</a>
        </p>
        <p>
            Niektóre Klasy wymagają od Gracza nieco wyższego progu otrzaskania z RPG, obycia z Zasadami lub znajomości realiów świata.
            Są to Klasy, które pociągają za sobą konieczność przyswojenia sobie przez Gracza dużej ilości wiedzy wstępnej,
            co wymaga motywacji, której trudno oczekiwać od kogoś jeszcze niezaangażowanego w rozgrywkę.
        </p>

        
        <h2 class="rules mt-5 mb-3">
            Klasy Hermetyczne
        </h2>
        <p>
            <span>&#9755;</span>
            <a href="{% url 'rules:professions' 'Hermetyczne' %}">Lista Klas Hermetycznych</a>
        </p>
        <p>
            Przed nielicznymi jednostkami, które dzięki swoim umiejętnościom, doświadczeniu i koligacjom osiągnęły wysoki status
            w ramach hierarchii charakterystycznej dla ich Klasy, otwierają się szersze możliwości rozwoju.
            Klasy i Podklasy Elitarne mogą stanowić kierunek dążenia i obiekt ambicji Postaci w świecie gry.
            Alternatywnie, mogą stanowić punkt wyjścia dla rozgrywki, w której Postacie startują z nieco wyższego pułapu doświadczenia i statusu społecznego.
        </p>
        
    </div>
{% endblock content %}
