{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling pt-3">
        
        
        <h2 class="rules mt-5 mb-3">
            Tożsamość Postaci
        </h2>
        <p>
            Na tożsamość Postaci składają się następujące elementy:
            Biografia (imię, pochodzenie - rodzina i kraina, zawód czy fach), Cechy Fizyczne (Siła, Zręczność i Kondycja; w skrócie Cechy) oraz Umiejętności,
            a także obrany przez Gracza sposób jej odgrywania. Elementem opcjonalnym jest określenie Profesji i Klasy (zob. dalej).
        </p>
        <p>
            Trzy Cechy Fizyczne opisujące Postać (w skrócie Cechy) to: Siła, Zręczność i Kondycja.
            W zależności od rozgrywki wartości Cech Fizycznych mogą być losowane (ew. częściowo) przez Graczy albo określone z góry przez Mistrza Gry
            (ew. z możliwością dokonania przesunięć).
        </p>
        <p>
            Natomiast Cechy Mentalne Postaci (np. Inteligencja, Mądrość, Charyzma) nie należą do systemu, a ich określenie leży całkowicie w gestii Gracza,
            podobnie jak wszystkie inne decyzje dotyczące osobowości i sposobu odgrywania Postaci.
            Rezygnacja z włączenia Cech Mentalnych do systemu wynika ze znanego procederu przesuwania punktów z Cech Mentalnych na Fizyczne
            i wynikającymi z niego trudnościami z odgrywaniem skrajnie głupich i nierozgarniętych Postaci.
            Podobnie jak znanym problemem jest kwestia odgrywania Postaci o wysokiej Mądrości, ale bardzo niskiej Inteligencji, i odwrotnie.
            A o Charyzmie to już nawet nie ma co opowiadać...
            W związku z brakiem Cech Mentalnych w systemie Gracz ma swobodę ich określenia, którą ograniczają jedynie względy fabularne oraz prawdopodobieństwo psychologiczne;
            np. pragnąc dokonać zmiany sposobu odgrywania Postaci powinien zarysować jej stopniową transformację albo
            – przy nagłej zmianie po traumatycznym wydarzeniu – wybrać skutki psychologiczne korelujące z charakterem przeżycia.
            Jednak nie oznacza to zobowiązania Graczy do znajomości meandrów ludzkiej psychiki albo do nauki aktorstwa,
            a jedynie do ukierunkowanego prowadzenia Postaci, zgodnie z własnymi wyobrażeniami i znajomością archetypów obecnych w kulturze (w tym oczywiście pop-kulturze).
        </p>
        <p>
            Wszelkie modyfikatory wpływu magii na Postacie, tradycyjnie powiązane z Cechami Mentalnymi, mogą oną być wyrażone przy pomocy Umiejętności, ale mogą też zależeć od deklaracji Graczy.
            Współczynniki odporności na magię mają charakter procentowy, ale znajomość ich wartości i najczęstszych modyfikatorów wchodzi w grę dopiero od momentu nabycia odpowiednich Umiejętności.
        </p>

        
        <h2 class="rules mt-5 mb-3">
            Tworzenie Postaci
        </h2>
        <p>
            W aktualnej rozgrywce Cechy Fizyczne są z góry określone, a ich bazowe wartości to: Siła 11, Zręczność 11, Kondycja 11.
            Przeciętne wartości dla człowieka to 9-10, jednak w przypadku Postaci,
            w które wcielają się Gracze, mamy do czynienia z jednostkami nico wyrastającymi ponad przeciętność i przez to predestynowanymi do wielkich czynów.
            Istnieje możliwość przesunięcia około 3 punktów pomiędzy Cechami przy odpowiednim uzasadnieniu silnymi rysami biografii lub fizjologii Postaci.
            O zakresie przesunięć decyduje Mistrz Gry na podstawie koncepcji Postaci przedstawionej przez Gracza.
        </p>
        <p>
            Liczba Punktów Umiejętności, jakie przysługują każdej nowo tworzonej Postaci to 7+2.
            7 Punktów zostaje rozdysponowane przez Gracza, z czego obowiązkowo 1 w Umiejętność o charakterze fachu
            (Kamieniarstwo, Rybołówstwo, Kaletnictwo, Opieka nad zwierzętami, Handel itp.).
            Dodatkowo 2 Punkty Umiejętności zostają ulokowane przez Mistrza Gry w Umiejętności pozostające w związku z biografią Postaci
            (np. Wspinaczka, Pływanie, Czytanie i pisanie, Wytrzymałość).
            Na etapie tworzenia Postaci Gracz ma prawo do wyboru maksymalnie dwóch Umiejętności, w których ulokuje aż 2 Punkty osiągając w ten sposób ich drugi poziom.
        </p>
        <p>
            W przypadku, gdy w Cechach Postaci nastąpi przesunięcie skutkujące uzyskaniem wartości 13 dla którejkolwiek z Cech,
            Gracz dysponuje przy tworzeniu Postaci 1 Punktem Umiejętności mniej niż normalnie.
            Ma to na celu kompensację oszczędności w Punktach Doświadczenia potrzebnych do uzyskania takiej wartości Cechy, jaką osiąga w takim przypadku Gracz.
            W normalnych warunkach Postać posiadająca Cechy o wartościach 11, 11, 11 musiałaby wydać w sumie 1400 Punktów Doświadczenia, aby osiągnąć wartości 11, 11, 13.
            Natomiast Postać rozpoczynająca z Cechami 10, 10, 13 musi wydać jedynie 800 Punktów Doświadczenia, a Postać rozpoczynająca z wartościami 9, 11, 13 jedynie 700.
            To uzasadnia pozbawienia Postaci 1 spośród Punktów Doświadczenia pozostających do dyspozycji Gracza.
        </p>
        
        
        <h2 class="rules mt-5 mb-3">
            Rozwój Postaci
        </h2>
        <p>
            Również zasady rozwoju Postaci, opierają się na Cechach i Umiejętnościach (zob. kolejne sekcje Zasad), które Postać nabywa w zamian za Punkty Doświadczenia
            otrzymywane w następstwie przeżyć w świecie gry, proporcjonalnie do stopnia ich "nowości" i "przyswajalności" dla danej Postaci.
            Postać może się wzbogacić jedynie przez przeżycia wystarczająco wymagające (a nie kompletnie banalne czy rutynowe).
            Z drugiej strony, przeżycie pozostające kompletnie bez związku z czymkolwiek, co Postać widziała i wie o świecie,
            nie pozostawia na niej trwałego śladu, poza niesamowitą opowieścią.
            Dopiero dalsze wgryzienie się w daną domenę rzeczywistości może dostarczyć Postaci narzędzi poznawczych lub wstępnych kompetencji
            wymaganych, aby rozwijać się poprzez doświadczenie z określonej domeny (np. Żeglarstwo z perspektywy szczura lądowego albo Tropienie z perspektywy mieszczanina).
            Jednak nawet w jego ramach pewne zdarzenia staną się z czasem na tyle oczywiste i rutynowe, że przestaną poszerzać wiedzę i zdolności Postaci.
            Można to streścić w dwóch krótkich zasadach:
        </p>
        <ol class="rules ml-4">
            <li>
                "Za źródełkiem Expa trzeba pokopać".
            </li>
            <li>
                "Źródełka Expa wysychają".
            </li>
        </ol>
        <p>
            Doświadczenie zostaje przydzielone za wyszczególnione przez Gracza doświadczenia, jakie były udziałem Postaci.
            Brak natomiast Punktów Doświadczenia za odgrywanie Postaci czy "za przygodę".
        </p>
        <p>
            Ponadto możliwe jest nabycie Umiejętności lub Atutu „fabularnie”, czyli na podstawie długotrwałych działań Postaci.
            Atut to kategoria o płynnym charakterze, która pozostaje do dyspozycji Mistrza Gry jako uzupełnienie systemu rozwoju Postaci opartego o zakup Umiejętności.
            Zasady nie przewidują takich kategorii jak Poziom Postaci czy Awans z poziomu na poziom.
        </p>

        <h2 class="rules mt-5 mb-3">
            Profesja i Klasa
        </h2>
        <p>
            Profesja i Klasa to kategorie pomocnicze przy tworzeniu koncepcji Postaci.
            W zależności od decyzji Mistrza Gry wybór Profesji czy Klasy może podlegać ograniczeniom, a nawet zostać narzucony przez Mistrza Gry.
            Zazwyczaj taka decyzja wynika z ograniczeń fabularnych (realiów obowiązujących w miejscu świata, w którym toczy się rozgrywka).
            Jeżeli jednak Graczom przysługuje wybór, to w zakresie, w jakim istnieje, stosują się do niego poniższe uwagi.
        </p>
        <p>
            Profesje i Klasy stanowią materiał pomocniczy na etapie tworzenia Postaci; służą głównie za schematy, wokół których Gracz może zbudować koncepcję Postaci.
            Ich zadaniem jest dostarczenie podstawowych informacji o realiach, w jakich Postać będzie się poruszać w świecie gry,
            przez co pozwalają Graczowi przypisać ją do jakiegoś miejsca w rzeczywistości.
            Grupują one szablony koncepcyjne Postaci o zbliżonej charakterystyce, a często również rysie psychologicznym.
            Na przykład Profesja Wojownika zawiera Klasy takie jak Gladiator, Najemnik czy Gwardzista,
            a Profesja Awanturnika grupuje między innymi Klasy Szpiega, Łowcy Nagród, Zwiadowcy czy Kupca.
        </p>
        <p>
            Oprócz Profesji i Klas dobrze znanych z kultury, Gracz może również wybrać te charakterystyczne wyłącznie dla świata gry.
            Należą do nich wszystkie Klasy w ramach Profesji Kapłana (ze względu na unikalny dla świata gry panteon),
            a także np. Szarogwardzista (Profesja Awanturnika), czy Syssition (Profesja Wojownika).
            Jeśli wybór Profesji i Klas należących do tej kategorii jest dopuszczony przez Mistrza Gry w ramach aktualnej rozgrywki,
            pociąga on za sobą daleko idące konsekwencje w zakresie Biografii tworzonej Postaci i jej dalszych losów
            (z jednej strony ograniczając je, a z drugiej – otwierając unikalne możliwości).
            Zarazem, zwłaszcza w tym przypadku, uwidacznia się podstawowe zadanie Profesji i Klas
            – przedstawienie Graczowi charakteru, jaki może przybrać rozgrywka Postacią o danym profilu.
        </p>
        <p>
            Wprawdzie Gracz nie musi określać Profesji czy Klasy swojej Postaci (chyba że taka konieczność zostanie narzucona Mistrza Gry),
            ale jeśli to uczyni, to w ten sposób komunikuje i w znacznej mierze narzuca Mistrzowi Gry, w jakiej sferze rzeczywistości będzie się poruszać jego Postać.
            Racjonalne założenie jest tu takie, że jeśli Mistrz Gry nie ograniczył wyboru danego Profesji czy Klasy, to będzie go respektował,
            a rozgrywka będzie uwzględniać spektrum rzeczywistości, w jakim porusza się dana Postać.
            Np. w przypadku dopuszczenia wyboru Maga – Mistrz Gry poprowadzi rozgrywkę tak,
            aby Postać była osadzona biograficznie i fabularnie w sferach rzeczywistości oscylujących wokół magii,
            natomiast wykluczy realia gry, w których magia jest zakazana, a natrafienie na jakiekolwiek zaklęcia albo nauczyciela jest niespotykane
            (albo przynajmniej okaże się bardzo prędko, że to tylko pozory…).
        </p>
        <p>
            Wybór Profesji i/lub Klasy nie ogranicza na płaszczyźnie Zasad dalszego rozwoju Postaci.
            Żadne Umiejętności nie zostają „zablokowane” czy „wykluczone” na płaszczyźnie mechaniki rozgrywki.
            Natomiast konsekwencje fabularne mogą być bardzo istotne. Np. wybór Klasy Gladiator,
            a co za tym idzie również bardzo specyficznego profilu biograficznego,
            może czynić niezwykle mało prawdopodobnym rozwój umiejętności magicznych, a także karierę polityczną w danej społeczności.
            Jednak, nie wyklucza ich w żaden absolutny i nieodwołalny sposób. Zgodnie z maksymą „dla chcącego nic trudnego”,
            Postać może poświęcić się nowej wizji i przezwyciężając niewyobrażalne przeciwności losu otworzyć sobie nowe horyzonty rozwoju.
        </p>

        
        <h2 class="rules mt-5 mb-3">
            Lista Profesji i Klas
        </h2>
        <div id="professions">
            {% for profession in professions %}
                {% if not profession.is_elite %}
                    <h4 class="font-weight-bold">{{ profession.name }}</h4>
                    <p>{{ profession.description|custom_linebreaksbr:2 }}</p>
                    <ul class="bullets-1 bullets-lg ml-4 mb-4">
                        {% for subprofession in profession.subprofessions.all %}
                            <li class="pl-1">
                                <h5 data-toggle="collapse" data-target="#{{ subprofession|remove_special_chars }}">
                                    <b class="hover-blue">{{ subprofession.name }}</b>
                                </h5>
                                <div id="{{ subprofession|remove_special_chars }}" class="collapse">
                                    <p>{{ subprofession.description|custom_linebreaksbr:2 }}</p>
                                    <p>{{ subprofession.start_perks|linebreaksbr }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>


        <h2 class="rules mt-5 mb-3">
            Profesje i Klasy elitarne
        </h2>
        <br>
        <p>
            Przed nielicznymi jednostkami, które dzięki swoim umiejętnościom, doświadczeniu i koligacjom osiągnęły wysoki status
            w ramach hierarchii charakterystycznej dla ich Klasy, otwierają się szersze możliwości rozwoju.
            Profesje i Klasy elitarne mogą stanowić kierunek dążenia i obiekt ambicji Postaci w świecie gry.
            Alternatywnie, mogą stanowić punkt wyjścia dla rozgrywki, w której Postacie startują z wysokiego pułapu doświadczenia i statusu społecznego.
        </p>

        <img class="img-fluid mx-auto d-block" src="{% static 'img/Profesje elitarne.png' %}">
        <br><br>

        <h2 class="rules mt-5 mb-3">
            Lista Profesji i Klas elitarnych
        </h2>
        <br>
        <p>
            Poniższa lista ma otwarty charakter. Widoczne na niej Profesje i Klasy to te, które są znane Postaci na podstawie wiedzy ogólnej.
        </p>
        <br>
        <div>
            {% for profession in professions %}
                {% if profession.is_elite %}
                    <h4><b>{{ profession.name }}</b></h4>
                    <div>
                        <p>{{ profession.description|custom_linebreaksbr:2 }}</p>
                        <ul class="bullets-1 ml-4 mb-4">
                            {% for subprofession in profession.subprofessions.all %}
                            <li class="pl-1">
                                <h5 data-toggle="collapse" data-target="#{{ subprofession|remove_special_chars }}">
                                    <b class="hover-blue">{{ subprofession.name }}</b>
                                </h5>
                                <div id="{{ subprofession|remove_special_chars }}" class="collapse">
                                    <p>{{ subprofession.description|custom_linebreaksbr:2 }}</p>
                                    <p>{{ subprofession.start_perks|linebreaksbr }}</p>
                                    <br>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        
    </div>
{% endblock content %}
