{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling pt-3">
        
        <h2 class="rules mt-5 mb-3">Tożsamość Postaci</h2>
        <p>
            Na tożsamość Postaci składają się następujące elementy:
            imię, pochodzenie (rodzina, kraina), zawód czy fach, Biografia, Cechy Fizyczne (w skrócie Cechy) oraz Umiejętności,
            a także obrany przez Gracza sposób odgrywania. Elementem opcjonalnym jest określenie Profesji i Klasy Postaci (zob. dalej).
            Wartości Cech Fizycznych (Siła, Zręczność, Kondycja) zazwyczaj podlegają losowaniu przez Graczy, jednak ich znaczenie dla Postaci jest zbyt wielkie, aby zdać się na los, a to ze względu na bardzo małą liczbę Cech i wynikającą z tego podatność na "anomalie" typu wszystkie Cechy w granicach 1-7 albo 15-20. Dlatego wartości początkowe Cech Fizycznych są ustalane dla każdej Postaci przez Mistrza Gry, ewentualnie z możliwością dokonania niewielkich przesunięć (1-2 punkty).
        </p>
        <p>
            Natomiast Cechy Mentalne Postaci (typu Inteligencja, Mądrość, Charyzma) nie należą do systemu, a ich określenie leży całkowicie w gestii Gracza,
            podobnie jak wszystkie inne decyzje dotyczące osobowości i sposobu odgrywania Postaci.
            Gracz jest w tym zakresie ograniczony jedynie względami fabularnymi oraz prawdopodobieństwem psychologicznym
            (np. pragnąc dokonać zmiany sposobu odgrywania Postaci powinien zarysować jej stopniową transformację albo
            – przy nagłej zmianie po traumatycznym wydarzeniu – wybrać skutki psychologiczne korelujące z charakterem przeżycia).
            Jednak nie oznacza to zobowiązania Graczy do znajomości meandrów ludzkiej psychiki albo do podjęcia nauki aktorstwa,
            a jedynie do ukierunkowanego prowadzenia Postaci, przy czym – pomocne będą wyobrażenia, archetypy i toposy wyniesione z kultury i z pop-kultury.
        </p>

        <h2 class="rules mt-5 mb-3">Tworzenie Postaci</h2>
        <p>
            Trzy Cechy Fizyczne (w skrócie Cechy), które opisują Postać, to: Siła, Zręczność i Kondycja, a ich bazowe wartości to: 11, 11, 11.
            Przeciętne wartości dla człowieka to 9-10, jednak w przypadku Postaci,
            w które wcielają się Gracze, mamy do czynienia z jednostkami nico wyrastającymi ponad przeciętność i przez to predestynowanymi do wielkich czynów.
            Istnieje możliwość przesunięcia ok. 3 pkt pomiędzy Cechami przy odpowiednim uzasadnieniu silnymi rysami biografii lub fizjologii.
            O zakresie przesunięć decyduje Mistrz Gry na podstawie koncepcji Postaci, jaka wychodzi od Gracza.
        </p>
        <p>
            Cechy Mentalne jak Inteligencja, Mądrość i Charyzma zależą jedynie od wyboru sposobu odgrywania Postaci przez Gracza oraz sytuacji fabularnej.
            Znanym procederem jest przesuwanie punktów z Cech Mentalnych na fizyczne, podobnie jak znanym problemem jest kwestia odgrywania Postaci o Mądrości 4 i Inteligencji 9, czy odwrotnie.
            A co dopiero Charyzma...
            Charyzma nie sprawdza się nawet przy dobrych wartościach, ponieważ np. potężny osiłek może mieć dużą siłę oddziaływania, gdy zastrasza grupę chłopów,
            jednak prawdopodobnie niską, gdy prosi słabo mu znanego arystokratę o osobistą przysługę.
            Dlatego Cechy Mentalne pozostają całkowicie w gestii Gracza.
        </p>
        <p>
            Wszelkie modyfikatory wpływu magii na Postacie, tradycyjnie powiązane z Cechami Mentalnymi, mogą oną być wyrażone przy pomocy Umiejętności, ale mogą też zależeć od deklaracji Graczy.
            Współczynniki odporności na magię mają charakter procentowy, ale znajomość ich wartości i najczęstszych modyfikatorów wchodzi w grę dopiero od momentu nabycia odpowiednich Umiejętności.
        </p>
        <p>
            Liczba Punktów Umiejętności, jakie przysługują każdej nowo tworzonej Postaci to 7+2.
            7 Punktów zostaje rozdysponowane przez Gracza, z czego obowiązkowo 1 w Umiejętność o charakterze fachu
            (Kamieniarstwo, Rybołówstwo, Kaletnictwo, Opieka nad zwierzętami, Handel itp.).
            Dodatkowo 2 Punkty Umiejętności zostają ulokowane przez Mistrza Gry w Umiejętności pozostające w związku z biografią Postaci
            (np. Wspinaczka, Pływanie, Czytanie i pisanie, Wytrzymałość).
            Na etapie tworzenia Postaci Gracz ma prawo do wyboru jednej Umiejętności, w której ulokuje aż 2 Punkty osiągając w ten sposób jej drugi poziom.
        </p>
        <p>
            Również zasady rozwoju Postaci, opierają się na Cechach i Umiejętnościach (zob. kolejne sekcje Zasad), które Postać nabywa w zamian za Punkty Doświadczenia
            otrzymywane w następstwie doświadczeń w świecie gry.
            Ponadto możliwe jest nabycie Umiejętności lub Atutu „fabularnie”, czyli na podstawie długotrwałych działań Postaci.
            Atut to kategoria o płynnym charakterze, która pozostaje do dyspozycji Mistrza Gry jako uzupełnienie systemu rozwoju Postaci opartego o zakup Umiejętności.
            Zasady nie przewidują takich kategorii jak Poziom Postaci czy Awans z poziomu na poziom.
        </p>

        <h2 class="rules mt-5 mb-3">Profesja i Klasa</h2>
        <p>
            Profesja i Klasa to kategorie pomocnicze przy tworzeniu koncepcji Postaci.
            W zależności od decyzji Mistrza Gry wybór Profesji czy Klasy może podlegać ograniczeniom, a nawet zostać narzucony przez Mistrza Gry.
            Zazwyczaj taka decyzja wynika z ograniczeń fabularnych (realiów obowiązujących w miejscu świata, w którym toczy się rozgrywka).
            Jeżeli jednak Graczom przysługuje wybór, to w zakresie, w jakim istnieje, stosują się do niego poniższe uwagi.
        </p>
        <p>
            Profesje i Klasy stanowią materiał pomocniczy na etapie tworzenia Postaci; służą głównie za schematy, wokół których Gracz może zbudować koncepcję Postaci.
            Ich zadaniem jest dostarczenie podstawowych informacji o realiach, w jakich Postać będzie się poruszać w świecie gry,
            przez co pozwalają Graczowi przypisać ją do jakiegoś miejsca w rzeczywistości.
            Grupują one szablony koncepcyjne Postaci o zbliżonej charakterystyce, a często również rysie psychologicznym.
            Na przykład Profesja Wojownika zawiera Klasy takie jak Gladiator, Najemnik czy Gwardzista,
            a Profesja Awanturnika grupuje między innymi Klasy Szpiega, Łowcy Nagród, Zwiadowcy czy Kupca.
        </p>
        <p>
            Oprócz Profesji i Klas dobrze znanych z kultury, Gracz może również wybrać te charakterystyczne wyłącznie dla świata gry.
            Należą do nich wszystkie Klasy w ramach Profesji Kapłana (ze względu na unikalny dla świata gry panteon),
            a także np. Szarogwardzista (Profesja Awanturnika), czy Syssition (Profesja Wojownika).
            Jeśli wybór Profesji i Klas należących do tej kategorii jest dopuszczony przez Mistrza Gry w ramach aktualnej rozgrywki,
            pociąga on za sobą daleko idące konsekwencje w zakresie Biografii tworzonej Postaci i jej dalszych losów
            (z jednej strony ograniczając je, a z drugiej – otwierając unikalne możliwości).
            Zarazem, zwłaszcza w tym przypadku, uwidacznia się podstawowe zadanie Profesji i Klas
            – przedstawienie Graczowi charakteru, jaki może przybrać rozgrywka Postacią o danym profilu.
        </p>
        <p>
            Wprawdzie Gracz nie musi określać Profesji czy Klasy swojej Postaci (chyba że taka konieczność zostanie narzucona Mistrza Gry),
            ale jeśli to uczyni, to w ten sposób komunikuje i w znacznej mierze narzuca Mistrzowi Gry, w jakiej sferze rzeczywistości będzie się poruszać jego Postać.
            Racjonalne założenie jest tu takie, że jeśli Mistrz Gry nie ograniczył wyboru danego Profesji czy Klasy, to będzie go respektował,
            a rozgrywka będzie uwzględniać spektrum rzeczywistości, w jakim porusza się dana Postać.
            Np. w przypadku dopuszczenia wyboru Maga – Mistrz Gry poprowadzi rozgrywkę tak,
            aby Postać była osadzona biograficznie i fabularnie w sferach rzeczywistości oscylujących wokół magii,
            natomiast wykluczy realia gry, w których magia jest zakazana, a natrafienie na jakiekolwiek zaklęcia albo nauczyciela jest niespotykane
            (albo przynajmniej okaże się bardzo prędko, że to tylko pozory…).
        </p>
        <p>
            Wybór Profesji i/lub Klasy nie ogranicza na płaszczyźnie Zasad dalszego rozwoju Postaci.
            Żadne Umiejętności nie zostają „zablokowane” czy „wykluczone” na płaszczyźnie mechaniki rozgrywki.
            Natomiast konsekwencje fabularne mogą być bardzo istotne. Np. wybór Klasy Gladiator,
            a co za tym idzie również bardzo specyficznego profilu biograficznego,
            może czynić niezwykle mało prawdopodobnym rozwój umiejętności magicznych, a także karierę polityczną w danej społeczności.
            Jednak, nie wyklucza ich w żaden absolutny i nieodwołalny sposób. Zgodnie z maksymą „dla chcącego nic trudnego”,
            Postać może poświęcić się nowej wizji i przezwyciężając niewyobrażalne przeciwności losu otworzyć sobie nowe horyzonty rozwoju.
        </p>

        
        <h2 class="rules mt-5 mb-3">Lista Profesji i Klas</h2>
        <p>
            <b>
                Poniższe opisy tymczasowo zawierają nieaktualne tabele Awansów (Awanse zniknęły z Zasad),
                oraz niekompletne zestawy początkowych Umiejętności - będą dopracowane po zakończeniu systemu Umiejętności
                (pozostawione jako punkt odniesienia).
            </b>
        </p>
        <div id="professions">
            {% for profession in professions %}

                <h4><b>{{ profession.name }}</b></h4>
                <p>{{ profession.description|custom_linebreaksbr:2 }}</p>
            
                <ul class="bullets-1 bullets-lg ml-4">
                    {% for klass in profession.klasses.all %}
                        <li class="pl-1">
                            <h5 data-toggle="collapse" data-target="#{{ klass.short_name }}">
                                <b class="hover-blue">{{ klass.name }}</b>
                            </h5>
                            <div id="{{ klass.short_name }}" class="collapse">
                                <p>{{ klass.description|custom_linebreaksbr:2 }}</p>
                                <p>{{ klass.start_perks|linebreaksbr }}</p>
                                <br>
        
                                <table class="professions">
                                    <colgroup>
                                        <col class="level border-custom-right">
                                        <col class="level-desc">
                                    </colgroup>
                                    <thead class="align-center dark">
                                        <tr class="border-bottom-dark">
                                            <th class="border-custom-right small-caps">Poziom</th>
                                            <th class="small-caps align-left">&emsp;Bonusy</th>
                                        </tr>
                                    </thead>
        
                                    <tbody class="align-center dark">
                                        <tr><td>1</td>  <td class="align-left">&emsp;{{ klass.lvl_1 }}</td></tr>
                                        <tr><td>2</td>  <td class="align-left">&emsp;{{ klass.lvl_2 }}</td></tr>
                                        <tr><td>3</td>  <td class="align-left">&emsp;{{ klass.lvl_3 }}</td></tr>
                                        <tr><td>4</td>  <td class="align-left">&emsp;{{ klass.lvl_4 }}</td></tr>
                                        <tr><td>5</td>  <td class="align-left">&emsp;{{ klass.lvl_5 }}</td></tr>
                                        <tr><td>6</td>  <td class="align-left">&emsp;{{ klass.lvl_6 }}</td></tr>
                                        <tr><td>7</td>  <td class="align-left">&emsp;{{ klass.lvl_7 }}</td></tr>
                                        <tr><td>8</td>  <td class="align-left">&emsp;{{ klass.lvl_8 }}</td></tr>
                                        <tr><td>9</td>  <td class="align-left">&emsp;{{ klass.lvl_9 }}</td></tr>
                                        <tr><td>10</td> <td class="align-left">&emsp;{{ klass.lvl_10 }}</td></tr>
                                        <tr><td>11</td> <td class="align-left">&emsp;{{ klass.lvl_11 }}</td></tr>
                                        <tr><td>12</td> <td class="align-left">&emsp;{{ klass.lvl_12 }}</td></tr>
                                        <tr><td>13</td> <td class="align-left">&emsp;{{ klass.lvl_13 }}</td></tr>
                                        <tr><td>14</td> <td class="align-left">&emsp;{{ klass.lvl_14 }}</td></tr>
                                        <tr><td>15</td> <td class="align-left">&emsp;{{ klass.lvl_15 }}</td></tr>
                                        <tr><td>16</td> <td class="align-left">&emsp;{{ klass.lvl_16 }}</td></tr>
                                        <tr><td>17</td> <td class="align-left">&emsp;{{ klass.lvl_17 }}</td></tr>
                                        <tr><td>18</td> <td class="align-left">&emsp;{{ klass.lvl_18 }}</td></tr>
                                        <tr><td>19</td> <td class="align-left">&emsp;{{ klass.lvl_19 }}</td></tr>
                                        <tr><td>20</td> <td class="align-left">&emsp;{{ klass.lvl_20 }}</td></tr>
                                    </tbody>
                                </table>
                                <br><br>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <br><br>
             {% endfor %}
        </div>


        <h2 class="rules mt-5 mb-3">Profesje i Klasy elitarne</h2>
        <br>
        <p>
            Przed nielicznymi jednostkami, które dzięki swoim umiejętnościom, doświadczeniu i koligacjom osiągnęły wysoki status
            w ramach hierarchii charakterystycznej dla ich Klasy, otwierają się szersze możliwości rozwoju.
            Profesje i Klasy elitarne mogą stanowić kierunek dążenia i obiekt ambicji Postaci w świecie gry.
            Alternatywnie, mogą stanowić punkt wyjścia dla rozgrywki, w której Postacie startują z wysokiego pułapu doświadczenia i statusu społecznego.
        </p>

        <img class="img-fluid mx-auto d-block" src="{% static 'img/Profesje elitarne.png' %}">
        <br><br>

        <h2 class="rules mt-5 mb-3">Lista Profesji i Klas elitarnych</h2>
        <br>
        <p>
            Poniższa lista ma otwarty charakter. Widoczne na niej Profesje i Klasy to te, które są znane Postaci na podstawie wiedzy ogólnej.
        </p>
        <br>
        <div>
            {% for elite_profession in elite_professions %}
                <h4><b>{{ elite_profession.name }}</b>
                </h4>
                <div>
                    <p>{{ elite_profession.description|custom_linebreaksbr:2 }}</p>
                    <ul class="bullets-1 ml-4">
                        {% for elite_klass in elite_profession.elite_klasses.all %}
                        <li class="pl-1">
                            <h5 data-toggle="collapse" data-target="#{{ elite_klass.short_name }}">
                                <b class="hover-blue">{{ elite_klass.name }}</b>
                            </h5>
                            <div id="{{ elite_klass.short_name }}" class="collapse">
                                <p>{{ elite_klass.description|custom_linebreaksbr:2 }}</p>
                                <p>{{ elite_klass.start_perks|linebreaksbr }}</p>
                                <br>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <br><br>
             {% endfor %}
        </div>
    </div>
{% endblock content %}
