{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling pt-3">
        <h2 class="rules mt-5 mb-3">
            Karta Postaci
        </h2>
        <ul>
            <li>
                <a href="{% static 'files/CECHY.jpg' %}">
                    Karta Postaci I (Cechy, Broń, Pancerze, Zdrowie)
                </a>
            </li>
            <li>
                <a href="{% static 'files/EKWIPUNEK.jpg' %}">
                    Karta Postaci II (Udźwig i Ekwipunek)
                </a>
            </li>
            <li>
                <a href="{% static 'files/UMIEJĘTNOŚCI_1940x3000.jpg' %}">
                    Karta Postaci III (Umiejętności)
                </a>
            </li>
            <li>
                <a href="{% static 'files/PASEK_1940x3000.jpg' %}">
                    Karta Postaci IV.a (Pasek Postępu - bez Cech)
                </a>
            </li>
            <li>
                <a href="{% static 'files/PASEK_CECHY_1940x3000.jpg' %}">
                    Karta Postaci IV.b (Pasek Postępu - z Cechami)
                </a>
            </li>
        </ul>
    </div>
{% endblock content %}
