{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling pt-3">
        
        <h2 class="rules mt-5 mb-3">Tożsamość Postaci</h2>
        <p>
            Na tożsamość Postaci składają się następujące elementy:
            imię, pochodzenie (rodzina, kraina), zawód czy fach, Biografia, Cechy Fizyczne (w skrócie Cechy) oraz Umiejętności,
            a także obrany przez Gracza sposób odgrywania. Elementem opcjonalnym jest określenie Profesji i Klasy Postaci (zob. dalej).
            Wartości Cech Fizycznych (Siła, Zręczność, Kondycja) zazwyczaj podlegają losowaniu przez Graczy, jednak ich znaczenie dla Postaci jest zbyt wielkie, aby zdać się na los, a to ze względu na bardzo małą liczbę Cech i wynikającą z tego podatność na "anomalie" typu wszystkie Cechy w granicach 1-7 albo 15-20. Dlatego wartości początkowe Cech Fizycznych są ustalane dla każdej Postaci przez Mistrza Gry, ewentualnie z możliwością dokonania niewielkich przesunięć (1-2 punkty).
        </p>
        <p>
            Natomiast Cechy Mentalne Postaci (typu Inteligencja, Mądrość, Charyzma) nie należą do systemu, a ich określenie leży całkowicie w gestii Gracza,
            podobnie jak wszystkie inne decyzje dotyczące osobowości i sposobu odgrywania Postaci.
            Gracz jest w tym zakresie ograniczony jedynie względami fabularnymi oraz prawdopodobieństwem psychologicznym
            (np. pragnąc dokonać zmiany sposobu odgrywania Postaci powinien zarysować jej stopniową transformację albo
            – przy nagłej zmianie po traumatycznym wydarzeniu – wybrać skutki psychologiczne korelujące z charakterem przeżycia).
            Jednak nie oznacza to zobowiązania Graczy do znajomości meandrów ludzkiej psychiki albo do podjęcia nauki aktorstwa,
            a jedynie do ukierunkowanego prowadzenia Postaci, przy czym – pomocne będą wyobrażenia, archetypy i toposy wyniesione z kultury i z pop-kultury.
        </p>
        <p>
            Liczba Punktów Umiejętności, jakie przysługują każdej nowo tworzonej Postaci to 7+2.
            7 Punktów zostaje rozdysponowane przez Gracza, z czego obowiązkowo 1 w Umiejętność o charakterze fachu
            (Kamieniarstwo, Rybołówstwo, Kaletnictwo, Opieka nad zwierzętami, Handel itp.).
            Dodatkowo 2 Punkty Umiejętności zostają ulokowane przez Mistrza Gry w Umiejętności pozostające w związku z biografią Postaci
            (np. Wspinaczka, Pływanie, Czytanie i pisanie, Wytrzymałość).
            Na etapie tworzenia Postaci Gracz ma prawo do wyboru jednej Umiejętności, w której ulokuje aż 2 Punkty osiągając w ten sposób jej drugi poziom.
        </p>

        
        <h2 class="rules mt-5 mb-3">Profesja i Klasa</h2>
        <p>
            Profesja i Klasa to kategorie pomocnicze przy tworzeniu koncepcji Postaci.
            W zależności od decyzji Mistrza Gry wybór Profesji czy Klasy może podlegać ograniczeniom, a nawet zostać narzucony przez Mistrza Gry.
            Zazwyczaj taka decyzja wynika z ograniczeń fabularnych (realiów obowiązujących w miejscu świata, w którym toczy się rozgrywka).
            Jeżeli jednak Graczom przysługuje wybór, to w zakresie, w jakim istnieje, stosują się do niego poniższe uwagi.
        </p>
        <p>
            Profesje i Klasy stanowią materiał pomocniczy na etapie tworzenia Postaci; służą głównie za schematy, wokół których Gracz może zbudować koncepcję Postaci.
            Ich zadaniem jest dostarczenie podstawowych informacji o realiach, w jakich Postać będzie się poruszać w świecie gry,
            przez co pozwalają Graczowi przypisać ją do jakiegoś miejsca w rzeczywistości.
            Grupują one szablony koncepcyjne Postaci o zbliżonej charakterystyce, a często również rysie psychologicznym.
            Na przykład Profesja Wojownika zawiera Klasy takie jak Gladiator, Najemnik czy Gwardzista,
            a Profesja Awanturnika grupuje między innymi Klasy Szpiega, Łowcy Nagród, Zwiadowcy czy Kupca.
        </p>
        <p>
            Oprócz Profesji i Klas dobrze znanych z kultury, Gracz może również wybrać te charakterystyczne wyłącznie dla świata gry.
            Należą do nich wszystkie Klasy w ramach Profesji Kapłana (ze względu na unikalny dla świata gry panteon),
            a także np. Szarogwardzista (Profesja Awanturnika), czy Syssition (Profesja Wojownika).
            Jeśli wybór Profesji i Klas należących do tej kategorii jest dopuszczony przez Mistrza Gry w ramach aktualnej rozgrywki,
            pociąga on za sobą daleko idące konsekwencje w zakresie Biografii tworzonej Postaci i jej dalszych losów
            (z jednej strony ograniczając je, a z drugiej – otwierając unikalne możliwości).
            Zarazem, zwłaszcza w tym przypadku, uwidacznia się podstawowe zadanie Profesji i Klas
            – przedstawienie Graczowi charakteru, jaki może przybrać rozgrywka Postacią o danym profilu.
        </p>
        <p>
            Wprawdzie Gracz nie musi określać Profesji czy Klasy swojej Postaci (chyba że taka konieczność zostanie narzucona Mistrza Gry),
            ale jeśli to uczyni, to w ten sposób komunikuje i w znacznej mierze narzuca Mistrzowi Gry, w jakiej sferze rzeczywistości będzie się poruszać jego Postać.
            Racjonalne założenie jest tu takie, że jeśli Mistrz Gry nie ograniczył wyboru danego Profesji czy Klasy, to będzie go respektował,
            a rozgrywka będzie uwzględniać spektrum rzeczywistości, w jakim porusza się dana Postać.
            Np. w przypadku dopuszczenia wyboru Maga – Mistrz Gry poprowadzi rozgrywkę tak,
            aby Postać była osadzona biograficznie i fabularnie w sferach rzeczywistości oscylujących wokół magii,
            natomiast wykluczy realia gry, w których magia jest zakazana, a natrafienie na jakiekolwiek zaklęcia albo nauczyciela jest niespotykane
            (albo przynajmniej okaże się bardzo prędko, że to tylko pozory…).
        </p>
        <p>
            Wybór Profesji i/lub Klasy nie ogranicza na płaszczyźnie Zasad dalszego rozwoju Postaci.
            Żadne Umiejętności nie zostają „zablokowane” czy „wykluczone” na płaszczyźnie mechaniki rozgrywki.
            Natomiast konsekwencje fabularne mogą być bardzo istotne. Np. wybór Klasy Gladiator,
            a co za tym idzie również bardzo specyficznego profilu biograficznego,
            może czynić niezwykle mało prawdopodobnym rozwój umiejętności magicznych, a także karierę polityczną w danej społeczności.
            Jednak, nie wyklucza ich w żaden absolutny i nieodwołalny sposób. Zgodnie z maksymą „dla chcącego nic trudnego”,
            Postać może poświęcić się nowej wizji i przezwyciężając niewyobrażalne przeciwności losu otworzyć sobie nowe horyzonty rozwoju.
        </p>

        
        <h2 class="rules mt-5 mb-3">Lista Profesji i Klas</h2>
        <p>
            <b>
                Poniższe opisy tymczasowo zawierają nieaktualne tabele Awansów (Awanse zniknęły z Zasad),
                oraz niekompletne zestawy początkowych Umiejętności - będą dopracowane po zakończeniu systemu Umiejętności
                (pozostawione jako punkt odniesienia).
            </b>
        </p>
        <div id="professions">
            {% for profession in professions %}

                <h4><b>{{ profession.name }}</b></h4>
                <p>{{ profession.description|custom_linebreaksbr:2 }}</p>
            
                <ul class="bullets-1 bullets-lg ml-4">
                    {% for klass in profession.klasses.all %}
                        <li class="pl-1">
                            <h5 data-toggle="collapse" data-target="#{{ klass.short_name }}">
                                <b class="hover-blue">{{ klass.name }}</b>
                            </h5>
                            <div id="{{ klass.short_name }}" class="collapse">
                                <p>{{ klass.description|custom_linebreaksbr:2 }}</p>
                                <p>{{ klass.start_perks|linebreaksbr }}</p>
                                <br>
        
                                <table class="professions">
                                    <colgroup>
                                        <col class="level border-custom-right">
                                        <col class="level-desc">
                                    </colgroup>
                                    <thead class="align-center dark">
                                        <tr class="border-bottom-dark">
                                            <th class="border-custom-right small-caps">Poziom</th>
                                            <th class="small-caps align-left">&emsp;Bonusy</th>
                                        </tr>
                                    </thead>
        
                                    <tbody class="align-center dark">
                                        <tr><td>1</td>  <td class="align-left">&emsp;{{ klass.lvl_1 }}</td></tr>
                                        <tr><td>2</td>  <td class="align-left">&emsp;{{ klass.lvl_2 }}</td></tr>
                                        <tr><td>3</td>  <td class="align-left">&emsp;{{ klass.lvl_3 }}</td></tr>
                                        <tr><td>4</td>  <td class="align-left">&emsp;{{ klass.lvl_4 }}</td></tr>
                                        <tr><td>5</td>  <td class="align-left">&emsp;{{ klass.lvl_5 }}</td></tr>
                                        <tr><td>6</td>  <td class="align-left">&emsp;{{ klass.lvl_6 }}</td></tr>
                                        <tr><td>7</td>  <td class="align-left">&emsp;{{ klass.lvl_7 }}</td></tr>
                                        <tr><td>8</td>  <td class="align-left">&emsp;{{ klass.lvl_8 }}</td></tr>
                                        <tr><td>9</td>  <td class="align-left">&emsp;{{ klass.lvl_9 }}</td></tr>
                                        <tr><td>10</td> <td class="align-left">&emsp;{{ klass.lvl_10 }}</td></tr>
                                        <tr><td>11</td> <td class="align-left">&emsp;{{ klass.lvl_11 }}</td></tr>
                                        <tr><td>12</td> <td class="align-left">&emsp;{{ klass.lvl_12 }}</td></tr>
                                        <tr><td>13</td> <td class="align-left">&emsp;{{ klass.lvl_13 }}</td></tr>
                                        <tr><td>14</td> <td class="align-left">&emsp;{{ klass.lvl_14 }}</td></tr>
                                        <tr><td>15</td> <td class="align-left">&emsp;{{ klass.lvl_15 }}</td></tr>
                                        <tr><td>16</td> <td class="align-left">&emsp;{{ klass.lvl_16 }}</td></tr>
                                        <tr><td>17</td> <td class="align-left">&emsp;{{ klass.lvl_17 }}</td></tr>
                                        <tr><td>18</td> <td class="align-left">&emsp;{{ klass.lvl_18 }}</td></tr>
                                        <tr><td>19</td> <td class="align-left">&emsp;{{ klass.lvl_19 }}</td></tr>
                                        <tr><td>20</td> <td class="align-left">&emsp;{{ klass.lvl_20 }}</td></tr>
                                    </tbody>
                                </table>
                                <br><br>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <br><br>
             {% endfor %}
        </div>

        <br>
        <h2 class="rules">Wieloklasowość i awanse</h2>
        <br>
        <p>
            Klasa postaci stanowi jedynie standardową, domyślną ramę dla jej rozwoju.
            Jednak jedynymi prawdziwymi ograniczeniami dla rozwoju postaci są realia i fabuła, czyli wypadkowa działań postaci w reakcji w kontekście okoliczności.
            Nic nie stoi na przeszkodzie, aby czterdziestoletni rozbójnik zaczął parać się magią nekromantyczną... nic poza realiami niesprzyjającymi takiej przemianie.
            Jednak upór i konsekwencja potrafią, przy odrobinie szczęścia, odmienić ludzkie losy...
        </p>
        <p>
            Rozwój innych Klas, należących potencjalnie do różnych Profesji, niż bazowa odbywa się w taki sposób, że Gracz powinien zadeklarować taką chęć oraz tak kierować działaniami postaci,
            żeby zyskiwała ona doświadczenie typowe dla innej klasy. Deklaracja może zostać złożona w dowolnym momencie i w dowolnym odwołana, może też obejmować dwie lub więcej nowych Klas,
            choć ze względu na zasady Wieloklasowości skutkowałoby to niezwykle powolnymi awansami.
            Jedyne ograniczenie otwarcia nowej Klasy jest takie, że nie można obdzielić nowo otwartej Klasy doświadczeniem otrzymanym przed deklaracją.
            Ma to znaczenie zwłaszcza w sytuacji, gdyby Gracz chciał otworzyć nową Klasę świeżo po otrzymaniu doświadczenia za sesję.
            Jeżeli nie złożył deklaracji zanim Mistrz rozpoczął przydzielanie doświadczenia, to nawet jeśli jego działania zakrawały na typowe dla nowej Klasy, otrzymane doświadczenie jest dla niej niedostępne.
            Natomiast jedynym ograniczeniem dla zamknięcia Klasy jest uzyskanie w niej 1 poziomu. Ponadto nie można zawiesić Klasy wiodącej, a jedynie Klasy dodatatkowe.
        </p>
        <p>
            Od momentu deklaracji otwarcia nowej Klasy dalszy rozwój przebiega mniej więcej równolegle,
            to znaczy, że Gracz ma prawo rozdysponować nowo otrzymywane doświadczenie między Klasę wiodącą a dodatkową, wedle następujących zasad:
        </p>
            <ol class="rules ml-4">
                <li>
                    Punkty doświadczenia za działania cechujące daną Klasę czy to wiodącą, czy dodatkową, są przydzielane przez Mistrza Gry do tej właśnie Klasy
                    (np. za podkradanie się i ukrywanie dla Złodzieja, za tropienie i zastawianie pułapek dla Łowcy,
                    za studiowanie starożytnych ksiąg i ćwiczenie lub używanie zaklęć dla czarodzieja; za walkę zbrojną – dla Syssitiona czy Gladiatora itp.).
                    <br><br>
                </li>
                <li>
                    W przypadku działań podpadających w ewidentny sposób pod więcej niż jedną klasę albo nie podpadających pod żadną punkty doświadczenia trafiają do puli "Wspólnej".
                    Doświadczenie to Gracz może rozdysponować między wszystkie rozwijane Profesje, jednak z tym zastrzeżeniem,
                    że Klasa wiodąca musi otrzymać co najmniej 50% doświadczenia przy 2 Klasach, a 33% przy 3, 25% przy 4 i tak dalej.
                    <br><br>
                </li>
                <li>
                    Wiodącą klasą postaci jest zawsze ta, która ma najwyższy poziom. Może więc dojść do jej zmiany w trakcie gry,
                    jednak na podstawie powyższych zasad widać, że wymaga to ogromnej przewagi działań typowych dla dodatkowej klasy nad innymi.
                    W przypadku rozwijania 3 lub więcej Klas, możliwe jest posiadanie więcej niż 1 Klasy wiodącej.
                </li>
            </ol>
        <p>
            Wszelkie Klasy dodatkowe korzystają jedynie z zasad dotyczących awansów, ale nie z początkowych bonusów dla danej Klasy.
            Oznacza to, że wybór dodatkowej Klasy z Profesji "Złodziej" nie powoduje wzrostu Podstępów do wartości początkowych dla danej Klasy;
            podobnie wybór dodatkowej klasy z Profesji "Czarodziej" nie powoduje uzyskania ilości czarów typowej dla czarodzieja 0 poziomu.
            Natomiast każdy awans w ramach dodatkowej klasy przynosi wszelkie korzyści typowe dla niej, bez dalszych ograniczeń.
        </p>
        <p>
            Podsumowując, dodatkowa Klasa jest trudniejsza w rozwoju niż wiodąca, a także jej rozwój rozpoczyna się z niższego pułapu umiejętności.
            Natomiast wieloklasowość nigdy nie wymaga porzucania wcześniejszej Klasy – pozwala rozwijać ją równocześnie w tempie w dużej mierze zależnym od dezycji Gracza.
        </p>

        <br><br><br>
        <h2 class="rules">Profesje i Klasy elitarne</h2>
        <br>
        <p>
            Przed nielicznymi jednostkami, które dzięki swoim umiejętnościom, doświadczeniu i koligacjom osiągnęły wysoki status
            w ramach hierarchii charakterystycznej dla ich Klasy, otwierają się szersze możliwości rozwoju.
            Postać, która ze względu na sytuację fabularną może otworzyć Klasę elitarną, musi
            całkowicie zawiesić rozwój dotychczasowych Klas i w całości skupić się na rozwoju Klasy elitarnej,
            jako że stanowi ona tak intensywne wyzwanie mentalne, że pochłania całe zasoby poznawcze jednostki.
        </p>
        <p>
            Wybór Klasy elitarnej ma charakter techniczno-fabularny, to znaczy, że istnieje ścisła korelacja między wyborem postaci w świecie gry a zmianą Klasy.
            Np. postać stająca przed możliwością objęcia rządów jako Namiestnik albo pasowania na Paladyna dokonuje jednocześnie skorelowanego wyboru w świecie gry
            (przyjąć namiestnictwo lub funkcję paladyna czy nie?) oraz na płaszczyźnie zasad gry (zmienić Klasę na Namiestnika lub Paladyna czy nie?).
            Jest to uzasadnione tym, że wymienione role społeczne pozbawiają postać możliwości w miarę swobodnego kształtowania własnej sfery doświadczeń,
            wtłaczając ją w sytuację wymagającą określonego stylu życia.
            Takim samym zasadom podlega porzucenie Klasy elitarnej. Następuje ono w chwili wyjścia z określonej roli społecznej w świecie gry.
            Niektóre Klasy elitarne mogą stanowić nowy tryb egzystencji, który pociąga za sobą nieodwracalne zmiany o charakterze psychicznym lub fizycznym,
            inne mają z góry określony horyzont czasowy - np. w przypadku kadencyjnego urzędu.
        </p>
        <p>
            Klasy elitarne pozwalają połączyć pewne aspekty rozwoju Klas należących do różnych Klas w ramach jednolitego systemu awansów co 2000 doświadczenia.
            Szczegółowy tryb awansów zależy od dotychczasowych Klas postaci oraz od sytuacji fabularnej.
            Jest więc tworzony ad hoc i zazwyczaj niejawny dla Gracza aż do momentu pierwszego awansu.
            Doświadczenie zgromadzone przez postać w ramach wcześniej rozwijanych Klas zostaje zachowane i zamrożone do momentu porzucenia lub utraty Klasy elitarnej.
            Doświadczenie zgromadzone w ramach Klasy eliarnej podlega tej samej zasadzie - zostaje zamrożone w chwili jej utraty, a w przypadku powrotu postać może kontynuować rozwój.
        </p>
        <p>
            Dostęp do  Profesji i Klas elitarnych nie jest ograniczony przez zasady gry, jednak realia świata wytyczają możliwe do pomyślenia ścieżki.
        </p>
        <img class="img-fluid mx-auto d-block" src="{% static 'img/Profesje elitarne.png' %}">
        <br><br>

        <br><br><br>
        <h2 class="rules">Lista Profesji i Klas elitarnych</h2>
        <br>
        <p>
            Poniższa lista ma otwarty charakter. Widoczne na niej Profesje i Klasy to te, które są znane postaci na podstawie wiedzy ogólnej.
        </p>
        <br>
        <div>
            {% for elite_profession in elite_professions %}
                <h4><b>{{ elite_profession.name }}</b>
                </h4>
                <div>
                    <p>{{ elite_profession.description|custom_linebreaksbr:2 }}</p>
                    <ul class="bullets-1 ml-4">
                        {% for elite_klass in elite_profession.elite_klasses.all %}
                        <li class="pl-1">
                            <h5 data-toggle="collapse" data-target="#{{ elite_klass.short_name }}">
                                <b class="hover-blue">{{ elite_klass.name }}</b>
                            </h5>
                            <div id="{{ elite_klass.short_name }}" class="collapse">
                                <p>{{ elite_klass.description|custom_linebreaksbr:2 }}</p>
                                <p>{{ elite_klass.start_perks|linebreaksbr }}</p>
                                <br>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <br><br>
             {% endfor %}
        </div>
    </div>
{% endblock content %}
