{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'rules:main' %}">Zasady</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>

    <br><br><br>
    <h2 class="rules">Karta postaci</h2>
    <br>
    <p>
        Poniższe szablony karty postaci wymagają instalacji czcionki "IM Fell Great Primer", aby zachować układ strony.
        Przy braku tej czcionki formatowanie tekstu będzie wyglądać gorzej.
        Karty postaci można ściągnąć przez ikonę w pasku poniżej tabeli (tak samo wszystkie wcześniejsze tabele).
    </p>

    <br id="character-sheet1">
    <h4>Cechy i walka</h4>
    <br>
    <div class="resp-container">
        <iframe class="resp-iframe" width="820" height="800" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21186&authkey=%21APJrr9D7kO1uRPw&em=2&wdAllowInteractivity=False&Item='Karta%20postaci%20I'!A1%3AO42&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
    </div>

    <br><br><br>

    <br id="character-sheet2">
    <h4>Ekwipunek</h4>
    <br>
    <div class="resp-container">
        <iframe class="resp-iframe" width="820" height="800" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21180&authkey=%21AFvO8ocNWSlgRPE&em=2&wdAllowInteractivity=False&Item='Karta%20postaci%20III'!A1%3AG53&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
    </div>
    <br><br><br>

    <br id="character-sheet3">
    <h4>Umiejętności i biegłości</h4>
    <br>
    <div class="resp-container">
        <iframe class="resp-iframe" width="820" height="800" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21164&authkey=%21APqI_Elaow_VmUw&em=2&wdAllowInteractivity=False&Item='Karta%20postaci%20II'!A1%3AJ27&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
    </div>
    <br><br><br>

    <br id="character-sheet4">
    <h4>Tabela awansów</h4>
    <br>
    <div class="resp-container">
        <iframe class="resp-iframe" width="820" height="800" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21166&authkey=%21ALxxz5vuE5N_NGM&em=2&wdAllowInteractivity=False&Item='Karta%20postaci%20III'!A1%3AJ38&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
    </div>

    <br><br><br>
{% endblock content %}
