{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'rules:main' %}">Zasady</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>

    <br><br><br>
    <h2 class="rules">Karta postaci</h2>
    <br>
    <p>
        Szablon każdej z kart można ściągnąć w trzech wariantach.
        Pliki .xps (odpowiednik .pdf) jest dopasowany do całej strony (dlatego jest polecany), natomiast pliki .png i .xlsx nie.
        Szablony .xlsx (arkusz kalkulacyjny Excel) wymaga instalacji czcionki "IM Fell Great Primer", aby zachować układ strony.
        Przy braku tej czcionki formatowanie tekstu będzie zaburzone - możliwe ucięcie tekstu w niektórych komórkach.
    </p>

    <br id="character-sheet1">
    <h4><b>Cechy i walka</b></h4>
    <b class="deep-red">&#9758; </b><a href="{% static 'files/Karta postaci I - Cechy i walka.xps' %}">.xps</a>
    <br>
    &#9758; <a href="{% static 'files/Karta postaci I - Cechy i walka - b&w.png' %}">.png</a>
    <br>
    &#9758; <a href="{% static 'files/Karta postaci I - Cechy i walka.xlsx' %}">.xlsx (notatki na marginesach są pominięte w obszarze wydruku)</a>
    <br><br>

    <br id="character-sheet2">
    <h4><b>Ekwipunek</b></h4>
    <b class="deep-red">&#9758; </b><a href="{% static 'files/Karta postaci II - Ekwipunek.xps' %}">.xps (dopasowana do wydruku)</a>
    <br>
    &#9758; <a href="{% static 'files/Karta postaci II - Ekwipunek - b&w.png' %}">.png (wymaga dopasowania przy wydruku)</a>
    <br>
    &#9758; <a href="{% static 'files/Karta postaci II - Ekwipunek.xlsx' %}">.xlsx (notatki na marginesach są pominięte w obszarze wydruku)</a>
    <br><br>

    <br id="character-sheet3">
    <h4><b>Umiejętności i biegłości</b></h4>
    <b class="deep-red">&#9758; </b><a href="{% static 'files/Karta postaci III - Tabela umiejętności.xps' %}">.xps (dopasowana do wydruku)</a>
    <br>
    &#9758; <a href="{% static 'files/Karta postaci III - Tabela umiejętności - b&w.png' %}">.png (wymaga dopasowania przy wydruku)</a>
    <br>
    &#9758; <a href="{% static 'files/Karta postaci III - Tabela umiejętności.xlsx' %}">.xlsx (notatki na marginesach są pominięte w obszarze wydruku)</a>
    <br><br>

    <br id="character-sheet4">
    <h4><b>Tabela awansów</b></h4>
    <b class="deep-red">&#9758; </b><a href="{% static 'files/Karta postaci IV - Tabela awansów.xps' %}">.xps (dopasowana do wydruku)</a>
    <br>
    &#9758; <a href="{% static 'files/Karta postaci IV - Tabela awansów - b&w.png' %}">.png (wymaga dopasowania przy wydruku)</a>
    <br>
    &#9758; <a href="{% static 'files/Karta postaci IV - Tabela awansów.xlsx' %}">.xlsx (notatki na marginesach są pominięte w obszarze wydruku)</a>
    <br><br><br>

{% endblock content %}
