{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling pt-3">
        
        
        <h2 class="rules mt-5 mb-3">
            Przebieg rundy walki
        </h2>
        <p>
            Każda sytuacja konfliktowa, w której uczestnicy starają się wykonać jakieś działanie przed innymi, jest rozbita na około 10-sekundowe rundy.
            Każda runda składa się z kolejki Deklaracji i Akcji (np. Ataków) przebiegającej wedle wartości Inicjatywy
            (która jest ustalana na początku starcia i rewidowana w razie potrzeby).
            O ile więc Deklaracje i Akcje są nieodłącznymi elementami każdej rundy, o tyle Inicjatywa w pierwszej rundzie jest elementem koniecznym, a w dalszych - doraźnym.
        </p>
        <p>
            Najbardziej doświadczeni wojownicy są zdolni do wykonania więcej niż jednej Akcji/Ataku w trakcie rundy.
            W takim przypadku należy zastosować schemat rundy do dodatkowych Akcji/Ataków, pomijając tych uczestników starcia, którzy już nimi nie dysponują.
        </p>
        <h6 class="font-weight-bold font-italic">
            Schemat rundy walki:
        </h6>
        <ol class="rules ml-4 mt-2 font-italic">
            <li>Deklaracje Graczy.</li>
            <li>[ew.] Ustalenie Inicjatywy.</li>
            <li>Rzut za Trafienie/Cechę</li>
            <li>[ew.] Rzut za Obrażenia.</li>
        </ol>

        
        
        <h5 class="rules mt-4">
            Deklaracje Graczy
        </h5>
        <p>
            Gracz deklaruje działania w najbliższej rudzie walki na podstawie opisu sytuacji z poprzedniej rundy;
            może też poprosić Mistrza Gry o bardziej szczegółowy opis, jeśli jest to istotne dla jego decyzji.
            Deklaracja Gracza określa taktykę czy też ogólny kierunek działań jego Postaci w ciągu całej najbliższej rundy (niezależnie od ilości AT/r).
            Najbardziej oczywistą sytuacją jest decyzja, czy Postać będzie działać ofensywnie (podejmować ataki albo akcje ofensywne) czy też przejdzie w tryb Defensywy.
            Inną podstawową decyzją jest wybór między atakiem dystansowym a doskoczeniem do walki w zwarciu,
            albo między walką "jednorącz" a walką dwiema broniami - czy też bronią jednoręczną chwyconą oburącz.
            Wszystkie tego rodzaju decyzje obowiązują przez czas 1 rundy.
            Ponadto Gracz pozostaje zobowiązany ogólnym kierunkiem Deklaracji - jeśli zadeklarował na daną rundę natarcie, to nie może nagle przejść do ucieczki.
            Wynika to stąd, że runda to jedynie 10 sekund; jest to czas zbyt krótki, żeby Postać wyplątała się z dynamiki wydarzeń i wymiany ciosów,
            nawet jeśli Gracz dostrzegł już lepszą taktykę.
            Zasada ta jest prosta i naturalna w sytuacji, gdy Postać dysponuje 1 AT/r, a powyższy opis ma na celu przede wszystkim ukrócenie spekulacji w przypadku 2 AT/r i więcej.
        </p>
        <p>
            Zasada "konsekwentnej Deklaracji" ma również zastosowanie do komunikatów słownych wymienianych przez Postacie w trakcie walki czy innego konfliktu.
            Ze względu na ograniczenie czasowe rundy do 10 sekund komunikaty te muszą być bardzo lapidarne, a już na pewno muszą mieścić się w 10 sekundach.
        </p>
        <p>
            Dlatego po złożeniu deklaracji Gracz nie powinien jej modyfikować, nawet jeśli chciałby zareagować na działania wroga opisane przez Mistrza Gry;
            odpowiada to realiom dynamicznej sytuacji, jaką jest walka, kiedy to uczestnicy zaskakują się nawzajem swoimi działaniami.
            Zresztą, jeśli na każde jednocześnie podejmowane działanie możliwa jest reakcja, to i ona jest działaniem, na które można zareagować...;
            w ten sposób runda walki uległaby fraktalizacji...
        </p>
        <p>
            Do pilnowania zasady "konsekwentnej Deklaracji" zobowiązani są Gracze - przede wszystkim dlatego, że nie ma sensu obciążać nią Mistrza Gry w ramach podziału zadań na sesji.
            W przypadku nakrycia niedozwolonych praktyk Mistrz Gry ma zupełną swobodę działania - może przymykać oko na jednych, a surowo karać drugich;
            może też karać rzadko, za to srogo - nawet niewspółmiernie do sytuacji; a na biadolenie, że innym kiedy indziej uszło na sucho - ma moralny obowiązek zgnębić jeszcze bardziej.
            Najprostszą sankcją "na szybko" może być utrata rundy (Postać sama sabotuje własne działania próbując zrobić kilka wykluczających się rzeczy na raz),
            ale jest to jedna z łagodniejszych konsekwencji mających na celu jedynie uprzejme napomnienie niesfornych Graczy, a poza nią rozciąga się całe spektrum bólu i niesprawiedliwości...
            Oczywiście celem niniejsze "zasady" jest przekonanie Graczy do tego, że pilnowanie porządku Deklaracji jest nie tylko ich obowiązkiem, ale też najukochańszym przywilejem.
        </p>
        <p>
            Gracz może deklarować różnego rodzaju specjalne ataki, jak próba trafienia w określoną część ciała,
            jednoczesne sypnięcie piaskiem po oczach, próba taranowania czy wytrącenia broni, albo wskoczenia na stół i oddania moczu na przeciwnika w trakcje salta ponad jego głową.
            Każda taka deklaracja wymaga dodatkowego rzutu za SIŁ, ZRC albo KON
            - wedle sytuacji i z uwzględnieniem modyfikatorów trudności proporcjonalnych do stopnia karkołomności zadeklarowanej akcji.
        </p>

        
        
        <h5 class="rules mt-4">
            Ustalenie Inicjatywy
        </h5>
        <p>
            Wyniki Inicjatywy uczestników konfrontacji określają kolejność, w jakiej rozpatrywane są ich działania w sytuacji konfliktu.
            Ustalenie Inicjatywy następuje na początku starcia, a wynikająca z niej kolejność akcji obowiązuje w kolejnych rundach,
            chyba że nastąpi któreś ze zdarzeń uzasadniających Rewizję Inicjatywy.
        </p>
        <p>
            W przypadku walki odpowiada to naturalnej dynamice polegającej na wymianie ciosów,
            przy czym jedna ze stron zadaje cios pierwsza (rzut za TRAF i OBR), a druga stara się go uniknąć albo sparować
            (zastosowanie jej parametru KP), po czym kontratakuje – sytuacja odwraca się.
            Każdy z przeciwników stara się przejąć/utrzymać Inicjatywę, aby jako pierwszy zadać cios kończący walkę – jest to najprostsza taktyka walki.
            Jednak możliwa jest inna, kiedy jedna ze stron poświęca Inicjatywę, aby lepiej przygotować się na przyjęcie ataku lub wyprowadzić własny.<sup>✵</sup>
        </p>
        <ul class="rules bullets-2 ml-4 mt-2 font-italic">
            <li>
                To uzasadnienie nie przystaje do przypadku, gdy dwóch lub więcej uczestników starcia ma jednakową Inicjatywę.
                Powyższy opis nie rości sobie pretensji do realistycznego oddania dynamiki walki, a jedynie stanowi konceptualizację na potrzeby rozgrywki.
            </li>
        </ul>
        <p>
            Inicjatywa jest szczególnie ważna, gdy Postać ma szanse jednym ciosem wyeliminować przeciwnika z walki i w ten sposób uniknąć ryzyka otrzymania ran.
            Jednak Inicjatywa pozostaje ważna również w dłuższych starciach, kiedy decyduje o możliwości wykorzystania niektórych Umiejętności.
            Wreszcie, w przypadku, gdy na końcu starcia obaj przeciwnicy są ciężko ranni, Inicjatywa decyduje o tym, czyj cios zakończy walkę.
        </p>
        <h6 class="font-weight-bold font-italic">
            Wartość Inicjatywy oblicza się sumując:
        </h6>
        <ol class="rules ml-4 mt-2 font-italic">
            <li>Test Zręczności (wartość ZRC + 1k20).</li>
            <li>Modyfikatory Inicjatywy z Umiejętności, właściwości broni lub sytuacyjne.</li>
        </ol>
        <p>
            Konflikt Inicjatywy rozstrzyga się jak zwyczajny Konflikt Cech opisany w sekcji "Testy Cech" (TODO LINK, TODO opis konfliktu Cech),
            tzn. wynik wyższy wygrywa.
            Kolejność wynikająca z Konfliktu Inicjatywy zostaje ustalona na kolejne rundy i nie podlega zmianie, dopóki nie wystąpią okoliczności uzasadniające Rewizję Inicjatywy.
        </p>
        <p>
            Zdarzenia powodujące zmianę Inicjatywy w starciu można podzielić na te, które powodują jej automatyczną Utratę oraz takie, które wymagają jej Rewizji.
            W pierwszym przypadku chodzi o spadnięcie na koniec kolejki Inicjatywy, a w drugim o konieczność ustalenia na nowo kolejki Inicjatywy;
            jednak w obu przypadkach konsekwencje zależne są od liczby uczestników Teatru Zdarzeń,
            czyli wycinka rzeczywistości obejmującego dwóch lub więcej uczestników (czy to Graczy, czy to Postaci Niezależnych),
            których działania pozostają w bezpośrednim związku przyczynowo-skutkowym i mają charakter konfliktu
            (np. grupki walczących na polu bitwy, z których każda stanowi osobny Teatr Zdarzeń).
        </p>
        <p>
            Ilekroć w Zasadach mowa o Utracie Inicjatywy, oznacza to spadnięcie na koniec kolejki w ramach danego Teatru Zdarzeń.
            Aby uniknąć nieporozumień, Zasady dotyczące zmiany kolejności akcji w starciu operują niemal wyłącznie kategorią Utraty Inicjatywy,
            czyli przyjmują perspektywę tego uczestnika starcia, który ją traci i spada na koniec kolejki.
            W przypadku, gdy więcej niż jeden uczestnik starcia traci Inicjatywę, decyduje kolejność zdarzeń
            – ten kto później stracił Inicjatywę, znajdzie się na samym końcu, a ten kto wcześniej – tuż przed nim.
            W rzadkich przypadkach, mowa o przejęciu Inicjatywy; jest to zazwyczaj w kontekście opisu sytuacji w walce,
            a jeśli pod przejęciem rozumiane są reguły zmiany kolejności akcji, to Zasady wyjaśniają każdy taki przypadek z osobna.
        </p>
        <p>
            Rewizja Inicjatywy oznacza ponowny konflikt i w efekcie ustalenie na nowo kolejki Inicjatywy.
            W przypadku, gdy w danym Teatrze Zdarzeń uczestników jest więcej niż dwóch, Rewizja może obejmować albo wszystkich, albo jedynie niektórych z nich.
            Bardziej szczegółowo przypadki te są omówione poniżej, w ramach listy zdarzeń wymagających Rewizji Inicjatywy.
        </p>
        <h6 class="font-weight-bold font-italic">
            Zdarzenia powodujące automatyczną Utratę Inicjatywy:
        </h6>
        <ul class="rules ml-4 mt-2 font-italic">
            <li>Przejście w tryb Defensywy.</li>
            <li>Wyrzucenie na k20 Krytycznego Pudła/Fiaska.</li>
            <li>Krytyczne Trafienie/Sukces ze strony przeciwnika.</li>
            <li>Użycie Umiejętności wymagającej poświęcenia Inicjatywy.</li>
            <li>Zmiana Teatru Zdarzeń przy krótkim dystansie.</li>
            <li>Zbyt długie wahanie się Gracza z Deklaracją działania albo próba jej zmiany.</li>
            <li>
                Opuszczenie 1 AT/r (przy większej ilości AT/r – ostatniego) -> pozwala przejąć<sup>✵</sup>
                Inicjatywę od wszystkich przeciwników w ramach Teatru Zdarzeń na początku następnej rundy.
            </li>
            <li>Różne podstępy i sztuczki mogą dawać szanse na przejęcie<sup>✵</sup> Inicjatywy.</li>
        </ul>
        <ul class="rules bullets-2 ml-4 mt-2 font-italic">
            <li>
                Przyjmujemy tu perspektywę Postaci starającej się o polepszenie swojej Inicjatywy.
                W przypadku poświęcenia Ataku - Postać automatycznie wskakuje na początek kolejki w następnej rundzie,
                natomiast w przypadku podstępów dokładny skutek tych działań jest zależny od oceny MG,
                jednak Gracz jak najbardziej powinien sugerować, o jaki efekt mu chodzi.
            </li>
        </ul>
        <h6 class="font-weight-bold font-italic">
            Zdarzenia wymagające Rewizji Inicjatywy:
        </h6>
        <ul class="rules ml-4 mt-2 font-italic">
            <li>
                Powrót do walki po chwili odstąpienia od niej dla złapania tchu (sytuacja poświęcenia 1 AT/r lub więcej przez wszystkich uczestników Teatru Zdarzeń)
                lub na skutek przypadkowego rozdzielenia przez czynniki zewnętrzne -> Rewizja Inicjatywy dla wszystkich uczestników Teatru Zdarzeń;
            </li>
            <li>
                Zmiana Teatru Zdarzeń przy długim dystansie -> jeśli dochodząca Postać musi wykorzystać 1 rundę lub więcej na dołączenie,
                to ustala ona nową wartość Inicjatywy dla określenia swojej kolejki w ramach nowego Teatru Zdarzeń;
                a jeżeli wartości Inicjatywy uczestników tego Teatru Zdarzeń nie są znane, bo uległy zapomnieniu albo zostały ustalone ad hoc przez MG,
                to Rewizja Inicjatywy obejmuje wszystkich uczestników – w świecie gry odpowiada to sytuacji, gdy nadejście nowego uczestnika wprowadza poważne zamieszanie.
            </li>
            <li>
               Niektóre Umiejętności (zasady Rewizji są opisane w ich ramach).
            </li>
        </ul>
        <p>
            Szczególne sytuacje w walce w kontekście Inicjatywy:
        </p>
        <p>
            <b>§ Szarża z Przyjęciem Szarży.</b>
            W sytuacji, gdy jeden z przeciwników dysponuje Umiejętnością "Szarża", a drugi "Przyjęcie szarży" pomija się rzut za Inicjatywę,
            ponieważ oba ataki następują jednocześnie.
            Wyjątek to sytuacja, gdy szarżujący i/lub przyjmujący szarżę dysponuje Bronią Drzewcową –
            kolejność ataków rozstrzyga się wówczas zgodnie z zasadą „kto ma większego”, tzn. pierwszy atakuje posiadacz dłuższej Broni Drzewcowej,
            a jeśli jedna ze stron nie dysponuje Bronią Drzewcową, to oczywiście jej pech. Jednak, w przypadku, gdy zarówno szarżujący,
            jak i aktywnie (!) przyjmujący szarżę dysponują Bronią Drzewcową – oba ataki siłą rzeczy i siłą rozpędu dochodzą do skutku.
            W nierzadkich przypadkach późniejszy z ataków może ugodzić przeciwnika już niejako zza grobu...
            Jednak zachowanie tej zasady ma znaczenie honorowe, ponieważ poza tym "kto ma większego" liczy się przecież także "kto kogo bardziej".
        </p>
        <p>
            <b>§ Broń zasięgowa.</b>
            Wprawdzie użycie broni zasięgowej sytuuje Postać na uboczu Teatru Zdarzeń, ale jednak nie poza nim.
            Postać nadal reaguje na jego zdarzenia i odczuwa skutki zmian Inicjatywy jego uczestników,
            ponieważ nawet oko wytrawnego drapieżnika podąża za chaosem walki z niejakim wysiłkiem.
        </p>
        <p>
            <b>§ Umiejętności wymagające poświęcenia Inicjatywy.</b>
            Poświęcenie Inicjatywy skutkuje jej Utratą, czyli spadnięciem na koniec kolejki działań.
            Jednak aby móc coś poświęcić, trzeba to najpierw zdobyć. Poświęcenie jest możliwe tylko w wypadku, gdy Postać ma Inicjatywę względem przeciwnika.
            W przypadku starcia z wieloma przeciwnikami, poświęcenie Inicjatywy uprawnia do wykorzystania Umiejętności wobec tych przeciwników,
            nad którymi Postać ma przewagę Inicjatywy, a więc może ją wobec nich poświęcić. Nie da się poświęcić Inicjatywy w stosunku do przeciwnika, wobec którego się jej nie ma.
            Jeśli dwóch lub więcej uczestników Teatru Zdarzeń poświęci Inicjatywę na wykorzystanie Umiejętności,
            to spadają na koniec kolejki w aktualnej kolejności względem siebie (odpowiada to kolejności poświęcania Inicjatywy i spadania na koniec kolejki).<sup>✵</sup>
            Przejęcie Inicjatywy i pilnowanie jej może być sposobem na to, żeby nie dopuścić przeciwnika do wykorzystania jego Umiejętności.
            Z drugiej strony odstąpienie od walki może mieć na celu wymuszenie Rewizji Inicjatywy, aby w ten sposób uzyskać możliwość wykorzystania Umiejętności.
        </p>
        <ul class="rules bullets-2 ml-4 mt-2 font-italic">
            <li>
                Może się zdarzyć, że drugi z dziesięciu walczących spadnie na koniec kolejki, a zaraz po nim znajdzie się dziewiąty z nich,
                który poświęcił swoją Inicjatywę względem dziesiątego (np. aby go trafić), przez co stosunek poniesionej ceny wydaje się niewspółmierny…
                no cóż, im więcej uczestników Teatru Zdarzeń, tym większy burdel, a jak wiadomo burdel nie ma nic wspólnego ze sprawiedliwością.
            </li>
        </ul>

        

        <h5 class="rules mt-4">
            Rzut za Trafienie/Cechę
        </h5>
        <p>
            Najczęstszą Akcją w trakcie walki jest Atak, a jego powodzenie zależy od rzutu za Trafienie.
            Sukces oznacza, że cios dosięgnął ciała przeciwnika w sposób skutkujący Obrażeniami.
            Natomiast Fiaska może oznaczać, że cios przeciął powietrze w pustym miejscu po przeciwniku, bądź został sparowany, bądź też wyhamowany przez tarczę lub zbroję.
        </p>
        <p>
            Trafienie powiedzie się, jeśli jego wynik (rzut + modyfikatory) okaże się równy lub wyższy niż wynik KP przeciwnika.
            Podobnie jak przy teście Cechy, również przy rzucie za Trafienie możliwe są sytuacje Automatycznego Trafienia/Pudła oraz Krytycznego Trafienia/Pudła.
            Ze względu na charakter rzutu za Trafienie (im więcej, tym lepiej, aby zrównać się z KP przeciwnika)
            do Automatycznego Trafienia dochodzi przy wyniku 20 (do Krytycznego Trafienia przy podwójnym wyniku 20),
            natomiast do Automatycznego Pudła przy wyniku 1 (do Krytycznego Pudła przy podwójnym wyniku 1).
        </p>
        <p>
            Automatyczne Trafienie oznacza możliwość zadania Obrażeń przy zignorowaniu KP przeciwnika;
            do Trafienia dochodzi nawet jeśli przeciwnik dysponuje KP, która wykluczałaby Trafienie ze strony Postaci.
            Natomiast Krytyczne Trafienie pozwala na podwojenie zadanych Obrażeń, zaś wyniki mu bliskie powodują dodatkowe, niekorzystne skutki dla przeciwnika.
            Przed skutkami Krytycznego Trafienia - w części lub w całości - może chronić zestaw składający się z karwaszy, nagolenników i hełmu.
        </p>
        <p>
            Analogicznie wynik 1 oznacza Automatyczne Pudło, choćby nawet Postać uderzała w nieruchomy i niespodziewający się ataku cel.
            Automatyczne Pudło wyklucza możliwość zadania Obrażeń.
            Przy podwójnym wyniku 1 dochodzi do Krytycznego Pudła, które w zależności od sytuacji może skutkować kontuzją,
            wypuszczeniem broni albo zranieniem innego uczestnika walki niż zamierzony,
            a nawet uszkodzeniem się własną bronią (np. przy miotaniu miksturą albo walce korbaczem czy cepem).
            Przed skutkami Krytycznego Pudła mogą chronić Umiejętności, przedmioty magiczne, zaklęcia i błogosławieństwa.
        </p>
        <p>
            W przypadkach, kiedy Postać próbuje operować bronią, o której nie ma najmniejszego pojęcia (brak Umiejętności Biegłość w broni, która rozciągałaby się na dany rodzaj oręża)
            brak szans na Automatyczne Trafienie, a co za tym idzie również Krytyczne Trafienie, natomiast ryzyko Fiaska jest znacznie wyższe:
            Postać rzuca k20 za Trafienie tylko raz; wynik 1-10 oznacza Automatyczne Pudło, przy czym 1 to od razu, bez drugiego rzutu - Krytyczne Pudło.
        </p>
        <h6 class="font-weight-bold font-italic">
            Trafienie oblicza się sumując:
        </h6>
        <ol class="rules ml-4 mb-2 font-italic">
            <li>Modyfikatory z SIŁ/ZRC, Umiejętności, właściwości broni</li>
            <li>Modyfikatory sytuacyjne od ataku z boku, od tyłu, przyjęcia szarży</li>
            <li>Modyfikatory negatywne z tytuły otrzymanych ran, II i III progu, a także zasięgu broni dystansowej, walki dwiema broniami itp.</li>
            <li>Rzut za Trafienie (k20).</li>
            <li>Następnie sumę tę należy zestawić z sumą KP przeciwnika. Jeśli TRAF &#8805; KP &#8594; sukces Ataku, przejście do Obrażeń.</li>
        </ol>
        <p>
            W przypadku podejmowania Akcji innych niż Atak Mistrz Gry może zarządzić test Cechy, jeśli ich poziom trudności jest istotny.
            W takim wypadku wynik 1 na k20 to Automatyczny Sukces natomiast wynik 20 to Automatyczne Fiasko. W celu określenia ich skali należy wykonać ponowny rzut k20.
        </p>

        
        
        <h5 class="rules mt-4">
            Rzut za Obrażenia
        </h5>
        <p>
            Rzut za Obrażenia decyduje o ilości Punktów Życia, jakie utraci trafiony przeciwnik.
            Od wyniku (rzut + modyfikatory) należy odjąć ewentualne Wyparowania wynikające np. z pancerza, jaki nosi przeciwnik.
            Jeśli Postać albo jej broń dysponują Przebiciem, to każdy jego punkt pozwala zignorować jeden punkt Wyparowań.
        </p>
        <h6 class="font-weight-bold font-italic">
            Obrażenia oblicza się sumując:
        </h6>
        <ol class="rules ml-4 font-italic">
            <li>Rzut za Obrażenia zadane przez broń.</li>
            <li>
                Modyfikatory do OBR (zależne od SIŁ/ZRC, Poziomu, Biegłości, Umiejętności, właściwości broni,
                a także modyfikatory sytuacyjne od natarcia szarżą, oraz modyfikatory negatywne – od braku umiejętności władania bronią, otrzymanych ran i inne sytuacyjne).
            </li>
            <li>Wyparowania przeciwnika pomniejszone o Przebicie ze strony atakującego.</li>
        </ol>


        
        <h2 class="rules mt-5 mb-3">
            Modyfikatory sytuacyjne w walce
        </h2>
        <p>
            Pewne sytuacje podczas walki uzasadniają modyfikacje standardowych rzutów.
            Jednak nadanie modyfikatorów jest zależne od deklaracji graczy, co odpowiada faktowi, że w ferworze walki Postać nie zawsze dostrzega nadarzające się okazje.
        </p>
        <h5 class="rules mt-4">
            Atak z boku i od tyłu oraz na unieruchomionego przeciwnika
        </h5>
        <p>
            Ataki spoza zasięgu wzroku przeciwnika zwiększają szanse Trafienia: z boku +2 TRAF, od tyłu +4 TRAF.
            Natomiast w przypadku ataku na śpiącego, nieprzytomnego albo związanego przeciwnika, oprócz modyfikatora +4 TRAF, zakłada się chęć zabicia go na miejscu.
            Jeśli po rzucie za TRAF okaże się, że przeciwnik zostałby trafiony poza modyfikatorem +4 TRAF, to jest to Trafienie Krytyczne,
            natomiast trafienie w ramach modyfikatora +4 TRAF to zwykłe trafienie.
        </p>
        <p>
            Dotyczy to ataków z przymierzeniem, które pozostawiają pewne pole losowości, jak cios maczugą w głowę przeciwnika przywiązanego do drzewa.
            Natomiast, jeśli taki atak nastąpi przez staranne przyłożenie sztyletu albo grotu włóczni do gardła śpiącego albo nieprzytomnego przeciwnika, to należy przyjąć mod. OBR x3.
            W takim wypadku nie wchodzą w grę Wyparowania zbroi, a uniknięcie śmierci jest niezwykle mało prawdopodobne i zazwyczaj sprowadza się do bardzo ciężkiego kalectwa lub śpiączki.
        </p>
        <h5 class="rules mt-4">
            Defensywa
        </h5>
        <p>
            Defensywa polega na rezygnacji z ataku i skupieniu się na odpieraniu albo unikaniu ciosów przeciwnika.
            Jako Defensywę należy również rozumieć sytuację zbliżania się do strzelca zygzakiem w tempie co najmniej x3 (KP Uniki)
            albo zbliżanie się w tempie maksymalnie x2 pod osłoną tarczy (KP Parowanie).
            W przypadku Parowania, czyli zbliżania się pod osłoną tarczy, premia z Defensywy polega na podwojeniu premii do KP z tarczy.
            W przypadku Uników Defensywa pozwala podwoić premię KP Uniki ze ZRC, jednak przestaje być skuteczna po zbliżeniu się na odległość 20-30 metrów,
            czyli zwykle w ostatniej rundzie przed zwarciem.
        </p>
        
        
        <h5 class="rules mt-4">
            Atak Wyprzedzający
        </h5>
        <p>
            Jeśli atak następuje bez możliwości dostrzeżenia (Atak Wyprzedzający), to dopiero po nim następuje pierwsza runda walki.
            Odpowiednie przygotowanie takiego ataku może dać atakującym przewagę, która zdecyduje o losach starcia.
            Wystąpienie sytuacji Ataku Wyprzedzającego jest zależne od tego, czy Postać ma szanse usłyszeć albo dostrzec zagrożenie, zanim na nią spadnie.
            Duży wpływ ma tu kwestia aktualnych i odświeżanych na bieżąco deklaracji Gracza co do spektrum zjawisk, jakie objęte są jego czujnością.
            Przykładowo, Atakiem Wyprzedzającym będą dysponować strzelcy ukryci w zaroślach ze strzałami nałożonymi na cięciwy,
            ponieważ atakują w sposób niepozwalający na natychmiastową reakcję (chyba że Postaci uda się ich wcześniej wypatrzeć!).
            Z drugiej strony, Ataku Wyprzedzającego nie będą mieli zbójcy - nawet uzbrojeni w łuki
            - jeśli poderwali się z rowu, aby przymierzyć się do strzału (niezależnie od wypatrzenia zagrożenia przez Postać).
            Jeśli więc Postać rozgląda się i świdruje spojrzeniem zarośla, to ma szanse wypatrzeć ukrytych łuczników i całkowicie uniknąć Ataku Wyprzedzającego (łącznie z Zaskoczeniem - zob. niżej);
            natomiast o ile nie spogląda również po koronach drzew, to nie uniknie Ataku Wyprzedzającego nadchodzącego z góry (a także testu Zaskoczenia).
        </p>
        <p>
            Deklaracje dotyczące czujności i przygotowania na atak mogą być mniej lub bardziej trafione w zakresie spodziewanego kierunku, z którego może nadejść niebezpieczeństwo.
            Ogólna deklaracja czujności nie daje tak dużych szans na uniknięcie Ataku Wyprzedzającego (i Zaskoczenia)
            jak deklaracja bardziej specyficzna (np. obserwacja ruchu w koronach drzew albo nasłuchiwanie za metalicznymi dźwiękami).
            Z drugiej strony nawet najbardziej szczegółowa deklaracji czujności może mieć słaby efekt, jeśli obejmie zbyt szerokie spektrum zjawisk; nie da się koncentrować na wszystkim na raz.
            Oprócz spektrum zjawisk zmysłowych ważny jest też kierunek ataku;
            np. czujność Postaci świdrującej spojrzeniem zarośla może być kompletnie bez znaczenia przy ataku ze strony sojusznika idącego ramię w ramię.
        </p>
        
        
        
        <h5 class="rules mt-4">
            Zaskoczenie
        </h5>
        <p>
            Sytuacje takie jak zasadzka zbójców czy nagłe sięgnięcie po broń przez rozmówcę - wprowadzają ryzyko Zaskoczenia,
            które może, ale nie musi, współwystępować z Atakiem Wyprzedzającym.
            W przypadku, kiedy Postać nie spodziewała się ataku, może ulec Zaskoczeniu i stracić pierwszą rundę starcia.
            Ryzyko to całkowicie odpada, jeśli Postać była przygotowana, np. wypatrzyła zbójców przyczajonych w zaroślach albo zadeklarowała niedawno zachowanie gotowości na atak.
            Aby więc uniknąć Zaskoczenia, Gracz musi odkryć czyhające niebezpieczeństwo albo zadeklarować czujność i co jakiś czas podtrzymywać (odświeżać) tę deklarację.
            Jeśli Postać nie spodziewała się ataku albo innej agresywnej akcji, to musi wykonać test Zaskoczenia,
            który zdecyduje o tym, czy w pierwszej rundzie walki/konfliktu będzie mogła działać normalnie, czy ją straci.
            Test Zaskoczenia to test ZRC z modyfikatorami z Umiejętności.
        </p>
        <p>
            Możliwa jest również sytuacja wzajemnego Zaskoczenia - np. kiedy dwaj wrogowie na śmierć i życie wpadają na siebie w drzwiach gospody...
        </p>
        
    </div>
{% endblock content %}
