{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling">

        <h2>
            O co chodzi
        </h2>
        <p>
            Odpowiednie rozpisanie Dezyderatu Expowego ma istotny wpływ na ilość Doświadczenia, jaką otrzyma po sesji Postać, a w konsekwencji na szybkość jej rozwoju.
            Zdecydowanie najważniejszą kwestią, o której warto pamiętać zasiadając do Dezyderatu Ekspowego, jest zasada,
            zgodnie z którą Punkty Doświadczenia stanowią odzwierciedlenie "nauki", jakiej podlega Postać.
            Nauka umiejętności i zdolności o charakterze fizycznym ma charakter automatyczny; wystarczy krótko wspomnieć odpowiednie zdarzenie w Dezyderacie.
            Sytuacja taka zachodzi zwłaszcza w przypadku walki i innych wyczynów sprawnościowych.
            Natomiast nauka Umiejętności o charakterze czysto lub częściowo intelektualnym jest bardziej skomplikowana.
            Tutaj ilość Doświadczenia zależy od tego, w jaki sposób Postać/Gracz osadzi nowe informacje w kontekście dotychczasowych horyzontów poznawczych.
            Ilość Punktów Doświadczenia zależy tu w przeważającej mierze od stopnia, w jakim nowe przeżycia zostaną zintegrowane z dotychczasowym obrazem świata.
            To zaś jest zależne od pracy intelektualnej Gracza.
        </p>

        
        <h2>
            Słabe targowanie Expa
        </h2>
        <p>
            Gracz: Katafalkos dowiedział się, jakimi mocami dysponują kapłani boga Skurwoborosa.
            <br>
            MG: +15 Expa
        </p>

        
        <h2>
            Mierne targowanie Expa
        </h2>
        <p>
            Gracz: Katafalkos poznał moce kapłanów Skurwoborosa polegające na przemienianiu jednej ryby w drugą.
            Miejscowa ludność potrzebuje tego, żeby się najeść jak złowią nie taką rybę co trzeba w nie ten dzień roku co trzeba.
            <br>
	        MG: +40 Expa
        </p>
        
        
        <h2>
            Doskonałe targowanie Expa
        </h2>
        <p>
            Gracz: Katafalkos dowiedział się, że kapłani Skurwoborosa są w stanie przemieniać śledzia w łososia,
            co ma duże znaczenie dla kultystów z Ichtionu, gdyż miejscowe tabu żywieniowe przewiduje spożywanie ościstych ryb jedynie w niektóre dni roku.
            Jest to kolejna znana Katafalkosowi zasada religijna, która ogranicza działanie prostej ludności w sposób skłaniający ją do szukania pomocy u kapłanów.
            Jednocześnie kapłani wydają się autentycznie zaangażowani w sprawę i za swoje cuda pobierają doprawdy symboliczną opłatę,
            jak to było w przypadku dwóch poznanych kapłanów Raosa i Menosa. Katafalkos dostrzega, że może to być część jakiegoś głębszego porządku wszechrzeczy, którego sens jeszcze mu umyka...
            <br>
	        MG: +100 Expa!!!
        </p>

        
        <h2>
            Wyżydzanie Expa
        </h2>
        <p>
            Na koniec krótko o pewnej pokusie nieobcej tym, którzy przećwiczyli już opisane powyżej kwestie i pojęli, ile Expa leży na ziemi i rośnie na drzewach.
            Mowa o pokusie, aby ze wszystkiego wykrzesać choćby kilka punkciszków doświadczonka.
            Nie idźmy tą drogą...
        </p>
        <p>
            Gracz: Katafalkos dowiedział się, że przy ścieżce wiodącej ze wsi Zadupie do grodu Kałas leży chata babiny Opuncji,
            która plecie koszyki wiklinowe cieszące się dużym wzięciem na miejscowych targowiskach.
        </p>
        <p>
            MG: Zaiste sprawy wagi państwowej: +0 Expa
        </p>
        <p>
            Katafalkos od razu domyślił się, że zbóje, którzy otoczyli jego drużynę, będą chcieli zaatakować,
            dzięki czemu jako pierwszy sięgnął po broń nie pozwalając przeciwnikom na Zaskoczenie.
            [W dodatku fakt, że Katafalkos pierwszy dobył broni nie wynikał wcale z refleksu Gracza,
            a jedynie z rzutów, bo wszyscy sięgnęli po oręż jednocześnie, to jest w chwili, gdy ktoś nazwał herszta bandy "chujem"]
        </p>
        <p>
            MG: Przenikliwość godna podziwu, historycy już badają okoliczności tego heroicznego czynu: +0 Expa.
        </p>
        
        
    </div>

{% endblock content %}
