{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling pt-3">
        
        <h2 class="rules mt-5 mb-3">
            Wydolność
        </h2>
        <p>
            Wydolność określa zdolność Postaci do długotrwałego wykonywania czynności o wysokiej intensywności fizycznej.
            Czynności tego rodzaju konsumują punkty Wydolności Postaci, a ich wyczerpanie skutkuje niezdolnością do dalszego wysiłku.
            Próba kontynuowania wysiłku pomimo utraty Wydolności to kolejna sytuacja, w której znajduje zastosowanie Malus Generalny.
            W zależności od sytuacji może to być np. Malus Generalny -1 w pierwszej rundzie działania po utracie Wydolności, pogłębiający się z każdą kolejną.
        </p>
        <p>
            Początkowa Wydolność jest równa KON, jednak może ulegać podwyższeniu za sprawą Umiejętności takich jak Wytrzymałość,
            a także zmianom na skutek działania eliksirów i magii oraz wydarzeń fabularnych (np. choroby, ciężkich ran, łaski bogów lub klątwy).
        </p>
        <p>
            Ścisłe kontrolowanie Wydolności jest konieczne w walce oraz w sytuacjach konfliktowych,
            kiedy liczy się każda sekunda i każda ze stron próbuje uprzedzić drugą w działaniu.
            W sytuacjach innych niż konfliktowe wystarczy ustalić przybliżony czas wykonania czynności
            uwzględniając okresy odpoczynku pozwalającego na regenerację Wydolności.
        </p>
        <table class="table table-hover table-bordered table-sm mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>Czynność</th>
                    <th>Koszt Wydolności</th>
                    <th>Skutki utraty Wydolności</th>
                </tr>
            </thead>
            <tbody>
                <!-- Bieganie -->
                <tr>
                    <th class="align-middle" nowrap="nowrap">
                        <div class="my-1">Marsz (x1)</div>
                        <div class="my-1">Trucht (x2)</div>
                        <div class="my-1">Bieg (x3)</div>
                        <div class="my-1">Szybki Bieg (x4)</div>
                        <div class="my-1">Sprint (x5)</div>
                    </th>
                    <td class="align-middle">
                        <div class="my-1">1/60r (1/1h)</div>
                        <div class="my-1">1/30r (1/5min)</div>
                        <div class="my-1">1/1r (1/10s)</div>
                        <div class="my-1">2/1r (2/10s)</div>
                        <div class="my-1">4/1r (4/10s)</div>
                    </td>
                    <td class="align-middle">
                        <div class="my-1">Postać zwalnia do tempa wolniejszego niż Marsz (poniżej 1x)</div>
                    </td>
                </tr>

                <!-- Pływanie -->
                <tr>
                    <th  class="align-middle" nowrap="nowrap">
                        <div class="my-1">Pływanie (x1)</div>
                        <div class="my-1">Pływanie (x2)</div>
                        <div class="my-1">Pływanie (x3)</div>
                    </th>
                    <td class="align-middle">
                        <div class="my-1">1/6r</div>
                        <div class="my-1">1/1r</div>
                        <div class="my-1">3/1r</div>
                    </td>
                    <td class="align-middle">
                        <div class="my-1">Niezdolność do dalszego Płynięcia - konieczność odpoczynku np. na plecach</div>
                    </td>
                </tr>
                <!-- Wspinaczka -->
                <tr>
                    <th  class="align-middle" nowrap="nowrap">
                        <div class="my-1">Wspinaczka</div>
                    </th>
                    <td class="align-middle">
                        <div class="my-1">1/1r</div>
                    </td>
                    <td class="align-middle">
                        <div class="my-1">Niezdolność do dalszej Wspinaczki: konieczność odpoczynku w dogodnym miejscu (półka skalna, wąska szczelina) albo Upadek</div>
                    </td>
                </tr>
                <!-- Walka -->
                <tr>
                    <th  class="align-middle" nowrap="nowrap">
                        <div class="my-1">Walka w zwarciu</div>
                        <div class="my-1">Walka dystansowa</div>
                    </th>
                    <td class="align-middle">
                        <div class="my-1">1/1r</div>
                        <div class="my-1">1/3r</div>
                    </td>
                    <td class="align-middle">
                        <div class="my-1">Niezdolność do Ataku, Defensywy czy Biegu x2 (pozostają Uniki i Parowanie)</div>
                    </td>
                </tr>

            </tbody>
        </table>
        <p>
            Tempo regeneracji Wydolności zależy od jakości odpoczynku.
            Pełny odpoczynek polegający na przyjęciu wygodnej postawy siedzącej lub leżącej pozwala na regenerację 1 punktu Wydolności na 2 rundy.
            Jeśli zaś Postać odpoczywa "aktywnie" (w trakcie walki, wmarszu, w szczelinie skalnej), to regeneracja zachodzi w tempie 1 punktu Wydolności na 4 rundy.
        </p>
        
        
        <h2 class="rules mt-5 mb-3">
            Sprawności i Podstępy
        </h2>
        <p>
            Pod pojęciem Sprawności i Podstępów należy rozumieć zdolności związane z ruchem (Bieganie, Pływanie, Wspinaczka), percepcją (Nasłuchiwanie i Wypatrywanie)
            oraz szereg zdolności typowych dla myśliwych, zwiadowców i różnej maści łotrów
            (Tropienie i zacieranie śladów, Ukrywanie, Skradanie, Pułapki, Otwieranie zamków, Kradzież kieszonkowa i Szulerka).
            Jest to kategoria niejednorodna pod względem rodzaju aktywności, jednak podlegająca tym samym zasadom testowania, Bonusów i Malusów.
        </p>
        <p>
            Wszystkie Sprawności i Podstępy są testowane zgodnie z zasadami Testu Cechy, jednak sama Cecha może zależeć od sposobu wykorzystania
            (np. Bieganie - SIŁ za Przyspieszenie, ale KON za bieg długodystansowy lub ZRC w przypadku zabawy w łapanego).
            Z tego względu przy opisie Malusów i Bonusów Zasady operują jedynie nazwami Sprawności, a nie konkretnymi Cechami.
            Rozmaite Umiejętności dostarczają Bonusów typu +2 Bieganie, +4 Wspinaczka, natomiast poszczególne typy zbroi wywołują Malusy, np. -20 Skradanie;
            wszystkie tego rodzaju Modyfikatory mają charakter ogólny i stosują się przy każdym Teście Sprawności niezależnie od Cechy będącej jego podstawą w konkretnym przypadku.
        </p>
        <p>
            Poziom Trudności działania podpadającego pod Sprawności jest wskazany precyzyjnie w przypadku najbardziej standardowych sytuacji,
            jednak w pozostałych przypadkach, podobnie jak w wypadku wszystkich Podstępów, będzie określony słownie przez Mistrza Gry.
            Na Poziom Trudności w przypadku Podstępów mogą mieć wpływ czynniki, które nie są jawne dla Postaci, o ile nie potrafi ich przewidzieć i odpowiednio ukierunkować swojej obserwacji.
            Przykładem czynników jawnych są hałas i zamieszanie (albo cisza i spokój) w przypadku Skradania,
            natomiast przykładem czynników niejawnych - poziom czujności i spostrzegawczości przeciwnika/ofiary.
            Określając opisowo Poziom Trudności czynności Mistrz Gry pomija tego rodzaju czynniki subiektywne leżące po stronie innych istot rozumnych.
            Natomiast Gracz może zadeklarować odpowiednią obserwację i monitorowanie oponenta, przez co może zweryfikować jego spostrzegawczość;
            poprawka na uzyskaną w ten sposób orientację należy do Gracza.
        </p>
        <p>
            Omówienie poszczególnych Sprawności i Podstępów zawiera w niektórych przypadkach zasady, które mają zastosowanie również poza ich kontekstem,
            jednak najczęściej stosowane w jego ramach, np. zasady Upadku omówione przy Wspinaczce czy zasady Marszu omówione przy Bieganiu.
        </p>
        
        <h5 class="rules mt-4">
            Bieganie, Marsz i Test Przyspieszenia
        </h5>
        <p>
            Zasady dotyczące Marszu i Biegania służą określeniu czasu pokonania określonego dystansu,
            co znajduje zastosowanie głównie w kontekście podróży oraz w sytuacjach konfliktowych,
            np. próba dobiegnięcia do wrogiego łucznika, wyścig krótko- albo długodystansowy,
            przemieszczenia oddziałów podczas bitwy czy też armii ścigających się do strategicznie położonej przełęczy albo brodu.
            W innych przypadkach wystarczy określenie przybliżonego czasu pokonania danego dystansu z uwzględnieniem okresów regeneracji.
        </p>
        <p>
            Punktem wyjścia jest oczywiście tempo Marszu.
            Ruch w tempie wyższym niż Marsz pociąga za sobą zwiększony koszt Wydolności oraz może wymagać testu.
            Testu Biegania w kontekście przyspieszenia (w skrócie Test Przyspieszenia) to zawsze Test Siły.
            Mają do niego zastosowanie wszystkie Bonusy i Malusy dotyczące Biegania (np. Bonusy z Umiejętności "Bieganie" czy Malusy od zbroi).
        </p>
        <p>
            Próby przyspieszenia można podejmować co rundę, jednak każde Fiasko skutkuje Malusem -1 do kolejnych Testów Przyspieszenia
            (nie dotyczy innego rodzaju Testów Biegania - np. biegu długodystansowego).
            Malus kasuje się dopiero po pełnej regeneracji Wydolności.
            Pewne Fiasko oznacza, że Postaci kończy się oddech i jej prędkość spada o 1 Próg Prędkości, zamiast wzrosnąć,
            a przy Krytycznym Fiasku Postać zasrywa się z wyczerpania, przewraca, rozbija głowę i mdlej... jeśli nie doznaje ataku serca...
        </p>
        <p>
            Poniższa tabela przedstawia dokładniej koszty Wydolności oraz przybliżony Poziom Trudności Testu Przyspieszenia przy różnym tempie Ruchu.
        </p>
        <table class="table table-hover table-bordered table-sm mt-3">
            <colgroup span="1"></colgroup>
            <colgroup span="1"></colgroup>
            <colgroup span="2"></colgroup>
            <colgroup span="2"></colgroup>
            <colgroup span="2"></colgroup>
            <colgroup span="2"></colgroup>
            <thead class="thead-dark">
                <tr>
                    <th>Czynność</th>
                    <th scope="colgroup" colspan="2">Prędkość</th>
                    <th scope="colgroup">Poziom Trudności</th>
                    <th scope="colgroup">Koszt Wydolności</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Marsz (x1)</th>
                    <td>5 km/h</td>
                    <td>≈1.5 m/s</td>
                    <td>bez rzutu</td>
                    <td>1/1h</td>
                </tr>
                <tr>
                    <th>Trucht (x2)</th>
                    <td>10 km/h</td>
                    <td>≈3 m/s</td>
                    <td>bez rzutu</td>
                    <td>1/30r</td>
                </tr>
                <tr>
                    <th>Bieg (x3)</th>
                    <td>15 km/h</td>
                    <td>≈4.5 m/s</td>
                    <td>Prozaiczny (20)</td>
                    <td>1/1r</td>
                </tr>
                <tr>
                    <th>Szybki Bieg (x4)</th>
                    <td>20 km/h</td>
                    <td>≈5.5 m/s</td>
                    <td>Umiarkowany (24)</td>
                    <td>2/1r</td>
                </tr>
                <tr>
                    <th>Sprint (x5)</th>
                    <td>25 km/h</td>
                    <td>≈7 m/s</td>
                    <td>Trudny (28)</td>
                    <td>4/1r</td>
                </tr>
            </tbody>
        </table>

        
        <h5 class="rules mt-4">
            Pływanie, Nurkowanie i Bezdech
        </h5>
        <p>
            Postać, która umie pływać (Umiejętność "Pływanie") posiada również zdolność Nurkowania oraz Bezdechu.
            Postacie niedysponujące Umiejętnością "Pływanie" mają zdolność Bezdechu o długości 10xKON sekund,
            natomiast nie posiadają w ogóle możliwości Nurkowania; topią się w wodzie sięgającej powyżej ich głowy.
            Głębokość Nurkowania oraz długość Bezdechu są określone szczegółowo w ramach Umiejętności "Pływanie",
            natomiast ogólne zasady dotyczące ich testowania przedstawione są poniżej.
        </p>
        <p>
            <b>Nurkowanie.</b>
            Udany Test Pływania (KON) przy Nurkowaniu pozwala na osiągnięcie danej głębokości i przebywanie na niej w ramach zasad Bezdechu.
            Nurkowanie na głębokość 10 metrów wiąże się z Testem o Poziomie Trudności Banalnym (16).
            Każde kolejne 10 metrów wiąże się ze wzrostem Poziomu Trudności o 2.
            Fiasko przy Nurkowaniu powoduje konieczność natychmiastowego wypłynięcia w pobliże powierzchni wody
            (bez konieczności wynurzenia, jeśli nie wymagają tego zasady Bezdechu).
        </p>
        <p>
            <b>Bezdech.</b>
            Bezdech może być używany również poza kontekstem Pływania, na przykład w celu wstrzymania oddechu w chmurze trującego dymu.
            Podstawowa długość Bezdechu to 10xKON sekund.
            Powyżej tego limitu każde dodatkowe 10 sekund wymaga Testu KON z kumulatywnym Malusem -3.
            Fiasko Bezdechu powoduje konieczność zaczerpnięcia oddechu w ciągu 10 sekund, a po tym czasie - jego odruchowe, mimowolne zaczerpnięcie.
            Jeśli Postać znajduje się nadal pod wodą albo w przestrzeni pozbawionej powietrza - po kolejnych 30 sekundach traci przytomność i umiera,
            chyba że zostanie natychmiast wyciągnięta przez towarzysza na powierzchnię i umiejętnie reanimowana.
        </p>
        <p>
            Pływanie posiada trzy tempa określone przez mnożniki x1, x2 i x3.
        </p>
        <p>
            <mark>
                TODO określić ile to.
                Przykładowy wyczyn: 100km - 28h Kołobrzeg - Bornholm (to daje tempo 3,5 km/h ale bardzo długi dystans)
                Przyjąć coś około Max tempo pływania 5 km/h przy dystansie max 40km
            </mark>
        </p>
        
        <h5 class="rules mt-4">
            Wspinaczka i Upadek
        </h5>
        <p>
            Każda runda aktywnej Wspinaczki (kiedy Postać podejmuje próbę podciągnięcia się wyżej i wykonuje test Cechy) zużywa 1 Wydolności.
            Sukces oznacza, że Postać pokonała 1 metr w pionie, natomiast Fiasko oznacza,
            że Postać nie jest w stanie znaleźć odpowiedniego oparcia lub uchwytu, aby poruszyć się z miejsca.
        </p>
        <p>
            Dwukrotne Fiasko z rzędu oznacza, że Postać zaczyna ześlizgiwać się ze ściany doznając przy tym obrażeń
            – czy z tytułu wysokości, czy to obtłuczeń i ran zadanych przez chropowatą skałę.
        </p>
        <p>
            Jeśli przy Wspinaczce lub ześlizgiwaniu się Postaci zabraknie Wydolności, to odpada od ściany i doznaje obrażeń według zasad Upadku,
            chyba że znajdzie się akurat w miejscu dogodnym do odpoczynku. Wówczas może zaczekać w nim na odzyskanie części Wydolności.
        </p>
        <p>
            Podstawowe zasady Wspinaczki mogą podlegać modyfikatorom z Umiejętności lub sytuacyjnym.
        </p>
        <table class="table table-hover table-bordered table-sm rules-table mt-3">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Wspinaczka 0</th>
                    <th>Wspinaczka 1</th>
                    <th>Wspinaczka 2</th>
                    <th>Wspinaczka 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Wspinaczka Sukces</th>
                    <td>1m/1r</td>
                    <td>1m/1r</td>
                    <td>2m/1r</td>
                    <td>3m/1r</td>
                </tr>
                <tr>
                    <th>Wspinaczka Fiasko</th>
                    <td>0m/1r</td>
                    <td>0m/1r</td>
                    <td>0m/1r</td>
                    <td>0m/1r</td>
                </tr>
                <tr>
                    <th>Ześlizgnięcie</th>
                    <td>2xFiasko (1k4 OBR/5m)</td>
                    <td>3xFiasko (1k3 OBR/5m)</td>
                    <td>4xFiasko (1k2 OBR/5m)</td>
                    <td>Utrata Wydolności</td>
                </tr>
                <tr>
                    <th>Utrata Wydolności</th>
                    <td>Odpoczynek lub Upadek</td>
                    <td>Odpoczynek lub Upadek</td>
                    <td>Odpoczynek lub Upadek</td>
                    <td>Odpoczynek lub Upadek</td>
                </tr>

            </tbody>
        </table>
        <p>
            <b>Upadek.</b>
            Upadek powoduje Obrażenia zależne od wysokości: 1k4 za każde rozpoczęte 2 metry.
            Obrażenia te mogą podlegać Wyparowaniom, np. dzięki zbroi.
            Ponadto, jeżeli upadek z wysokości odbywa się w sposób kontrolowany (np. Postać sama wykonała skok) lub przynajmniej nogami w dół,
            to udany test ZRC pozwala zredukować OBR o 4.
            Zasady Upadku dotyczą również sytuacji niezwiązanych ze Wspinaczką.
        </p>

        
        <h5 class="rules mt-4">
            Nasłuchiwanie
        </h5>
        <p>
            Nasłuchiwanie to zdolność przydatna, aby podsłuchać czyjąś rozmowę albo odgadnąć wydarzenia rozgrywające się pod osłoną mroku.
            Poziom Trudności Nasłuchiwania zależy od ilości hałasów w otoczeniu, jak i od stopnia, w jakim dany dźwięk odróżnia się od szumu tła.
            Zdolność ta podlega wyraźnemu ograniczeniu w przypadku noszenia na głowie hełmu.
        </p>
        
        
        <h5 class="rules mt-4">
            Wypatrywanie
        </h5>
        <p>
            Wypatrywanie to zdolność widzenia długodystansowego, jak również dostrzegania obiektów pośród zarośli lub w tłumie.
            W pewnej mierze może ona również poprawiać widzenie w ciemnościach, ale bardziej na zasadzie skutecznego odgadywania tego, co skrywa mrok, niż w formie infrawizji.
            Na Poziom Trudności Wypatrywania mają wpływ odległość, stopień odróżnialności obserwowanego obiektu od tła oraz fakt użycia lunety lub noszenia hełmu.
        </p>
        
        
        <h5 class="rules mt-4">
            Tropienie i zacieranie śladów
        </h5>
        <p>
            Tropienie to sztuka podążania za śladami pozostawianymi przez zwierzęta lub ludzi, przede wszystkim w środowisku naturalnym.
            Mogą to być ślady odciśnięte w ziemi (co jest również możliwe w miastach i miasteczkach, o ile ich ulice nie są wybrukowane ani wyłożone drewnianymi chodnikami),
            ale również stratowana lub połamana roślinność. Ponadto Tropienie obejmuje wyciąganie wniosków na temat czasu, jaki upłynął od pozostawienia śladów,
            na podstawie ciepła miejsca po ognisku, stopnia wysuszenia odchodów czy zasypania śniegiem - z uwzględnieniem aktualnych warunków pogodowych.
            Z kolei Zacieranie śladów może polegać zarówno na ich fizycznym usuwaniu, jak i na mataczeniu, które ma wprowadzić tropiących w błąd.
            Poziom Trudności Tropienia i zacierania śladów jest zależny od widoczności śladów, a ta zależy od ich wieku, poziomu zaburzenia przez warunki naturalne lub cudzą aktywność
            (na przykład polegającą na Zacieraniu śladów).
        </p>
        
        
        <h5 class="rules mt-4">
            Ukrywanie (miasto/teren)
        </h5>
        <p>
            Zdolność niezauważalnego przyczajenia się w zaroślach, trawie lub ciemnym miejscu.
            Szanse na Ukrywanie zależą od gęstości osłony lub cienia oraz spostrzegawczości drugiej strony.
        </p>
        
        
        <h5 class="rules mt-4">
            Skradanie (miasto/teren)
        </h5>
        <p>
            Zdolność bezszelestnego podchodzenia, zachodzenia, podpełzania i przekradania się.
            Poziom Trudności Skradania zależy od czujności i spostrzegawczości drugiej strony, a także od hałasów, pośród których mogą się ukryć kroki skradającego.
        </p>
        
        
        <h5 class="rules mt-4">
            Pułapki (miasto/teren)
        </h5>
        <p>
            Zdolność dostrzegania, konstruowania i unieszkodliwiania różnego rodzaju pułapek i sideł, czy to w środowisku naturalnym, czy to w miejskim, czy też w pomieszczeniach.
            Zdolność ta nie ma charakteru biernego - wymaga uważności Postaci, czyli odpowiedniej Deklaracji ze strony Gracza.
        </p>
        <p>
            Drobny zwierz to na przykład zając, królik, tchórz, borsuk, ptactwo, a w kontekście miejskim szczur, pies, kot czy kuna.
            Natomiast do grubego zwierza zaliczają się drapieżniki (wilk, ryś, lis), zwierzyna płowa (sarna, jeleń, tur, łoś)
            oraz zwierzęta wszystkożerne jak dzik czy niedźwiedź.
        </p>
        <table class="table table-hover table-bordered rules-table mt-3">
            <thead class="thead-dark align-center align-top">
                <tr>
                    <th rowspan="2">Obszar</th>
                    <th colspan="3" class="align-middle">Zastawianie pułapek</th>
                    <th colspan="3" class="align-middle">Wykrywanie/rozbrajanie pułapek</th>
                </tr>
                <tr>
                    <th class="align-middle">Drobny zwierz</th>
                    <th class="align-middle">Gruby zwierz</th>
                    <th class="align-middle">Ludzie</th>
                    <th class="align-middle">Drobny zwierz</th>
                    <th class="align-middle">Gruby zwierz</th>
                    <th class="align-middle">Ludzie</th>
                </tr>
            </thead>
            <tbody class="align-center">
                <tr>
                    <th>Miasto</th>
                    <td>Prozaiczny</td>
                    <td>Odstręczający</td>
                    <td>Trudny</td>
                    <td>Prozaiczny</td>
                    <td>Prozaiczny</td>
                    <td>Trudny</td>
                </tr>
                <tr>
                    <th>Teren</th>
                    <td>Umiarkowany</td>
                    <td>Wymagający</td>
                    <td>Wymagający</td>
                    <td>Prozaiczny</td>
                    <td>Umiarkowany</td>
                    <td>Wymagający</td>
                </tr>

            </tbody>
        </table>
        <p>
            Powyższe Poziomy Trudności mają charakter orientacyjny i może poglegać wahaniom zależnie od rodzaju mechanizmu
            (np. zastawienie na człowieka pułapki "przewracajki" w postaci liny ukrytej pośród trawy sięgającej kolan raczej nie stanowi wielkiego wyzwania;
            co innego pułapka, z której delikwent dyndałby za nogę).
            Wszelkie zjawiska takie jak gęsta mgła, hałas, ciemność czy też spłoszenie zwierzyny skutkują Malusem.
            Podobnie w przypadku Wykrywania i rozbrajania pułapek, jeśli konstruktor znał się wybitnie na swojej robocie.
            Z drugiej strony, robota partacka jest łatwiejsza do wykrycia i unieszkodliwienia.
        </p>
        <p>
            Paru słów wyjaśnienia może wymagać Poziom Trudności dla grubego zwierza w warunkach miejskich.
            Przede wszystkim tego rodzaju zwierzyna nie występuje w miasteczkach, miastach i pomieszczeniach.
            A jeśli już zostałaby tam przez kogoś zaprowadzona lub znalazła się w jakikolwiek inny sposób, to jej behawior jest dla łowcy na tyle nieprzewidywalny,
            że uzasadnia bardzo wysoki Poziom Trudności przy konstrukcji pułapki, chyba że jej mechanizm i rozmiar zwierzęcia przypominają człowieka
            - wówczas należy przyjąć Poziom Trudności dla pułapek na ludzi.
            Z drugiej strony, ciężko skonstruować taką pułapkę, żeby jej mechanizm nie stanowił rzucającego się w oczy kuriozum.
        </p>
        <p>
            O ile wykrycie pułapki może być czynnością niemal natychmiastową, o tyle jej konstrukcja lub rozbrojenie są bardziej czasochłonne,
            jeśli mają prowadzić do pożądanego rezultatu. Czas konstrukcji pułapki może się wahać między pół godziny (pułapki na drobnego zwierza)
            a wiele godzin (pułapki na grubego zwierza i ludzi, na przykład w formie "wilczego dołu").
            W przypadku pułapek w pomieszczeniach, jeśli mechanizm zostaje wbudowany w ściany, to czas konstrukcji może się wydłużyć nawet do wielu tygodni i miesięcy,
            zależnie od tempa prac budowlanych; zarazem taka pułapka jest o wiele trudniejsza do wykrycia.
            Wływ na tempo konstruowania i rozbrajania pułapek ma również doświadczenie łowcy czy łotrzyka (zwłaszcza za sprawą Umiejętności "Zastawianie sideł" i "Kamuflaż").
        </p>
        <p>
            Sukces przy konstruowaniu pułapki oznacza, że mechanizm jest sprawny i przyzwoicie ukryty przed potencjalną ofiarą;
            Fiasko w tym zakresie oznacza wadliwość pułapki - od słabego zamaskowania po całkowitą niesprawność, łącznie z samoczynnym wyzwoleniem.
            W przypadku rozbrajania pułapki Sukces oznacza jej unieszkodliwienie, natomiast Fiasko jest zawsze związane z ryzykiem uruchomienia mechanizmu spustowego...
            Natomiast w przypadku wykrywania pułapek Sukces i Fiasko
            Wszystkie rzuty dotyczące Zastawiania i Wykrywania pułapek wykonywane są tajnie przez Mistrza Gry, natomiast rzut za Rozbrajanie może jak najbardziej należeć do Gracza.
        </p>
        
        <h5 class="rules mt-4">
            Otwieranie zamków
        </h5>
        <p>
            Zdolność otwierania zamków w drzwiach i skrzyniach, a także w kłódkach.
            Jej zastosowanie wymaga posiadania metalowego drucika, a w przypadku bardziej zaawansowanych zamków specjalistycznego przybornika złodziejskiego.
            Poziom Trudności wyzwania zależy od rodzaju zamka oraz dostępnych wytrychów.
        </p>
        
        
        <h5 class="rules mt-4">
            Kradzież kieszonkowa
        </h5>
        <p>
            Jest to zdolność niezauważalnego zawijania małych przedmiotów przyczepionych do cudzego pasa lub znajdujących się w bagażu podręcznym,
            a także leżących na stole czy w ogóle w jakikolwiek inny sposób uśmiechające się do każdego rzezimieszka.
            Umożliwia ona również niezauważalne podrzucanie przedmiotów.
            Trudność tego rodzaju postępku jest wielce zależna od czujności ofiary i różnorodnych dystraktorów.
        </p>
        
        
        <h5 class="rules mt-4">
            Szulerka
        </h5>
        <p>
            Szulerka polega na znajomości oraz praktycznej umiejętności wykorzystania różnorodnych technik oszukiwania w grach takich jak kości czy karty.
            Mogą one polegać zarówno na wykorzystaniu odpowiednio przygotowanych narzędzi gry (odpowiednio wyważonych kości lub znaczonych kart),
            jak i na ich zręcznym i niezauważalnym dla pozostałych graczy podmienianiu w trakcie gry.
            Poziom Trudności dotyczy wykonania oszukanych "narzędzi" gry oraz ich podmieniania,
            a zależy głównie od stopnia podejrzliwości oraz upojenia alkoholowego innych uczestników gry.
        </p>
        
        
    </div>

{% endblock content %}
