{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="pt-5">
        
        <h2 class="mt-4 mb-2">
            <img class="img-rules" src="{% static 'img/rules_POSTAĆ.jpg' %}">
            <strong class="align-middle small-caps border-bottom-dark">Tworzenie i rozwój Postaci</strong>
        </h2>
        <ol class="ml-5 pl-5">
            <li>
                <a href="{% url 'rules:character' %}">Tworzenie Postaci, Klasa i Profesja</a>
                <ul class="ml-3">
                    <li><a href="{% url 'rules:professions' 'Pospolite' %}">Klasy Pospolite</a></li>
                    <li><a href="{% url 'rules:professions' 'Elitarne' %}">Klasy Elitarne</a></li>
                    <li><a href="{% url 'rules:professions' 'Hermetyczne' %}">Klasy Hermetyczne</a></li>
                </ul>
            </li>
            <li><a href="{% url 'rules:traits' %}">Cechy Fizyczne</a></li>
            <li><a href="{% url 'rules:tests' %}">Testy Cech</a></li>
            <li><a href="{% url 'rules:fitness-and-tricks' %}">Wydolność, Sprawności i Podstępy</a></li>
            <li>
                <a href="{% url 'rules:character-development' %}">Rozwój Postaci</a>
                <ul class="ml-3">
                    <li><a href="{% url 'rules:skills' 'Powszechne' %}">Umiejętności</a></li>
                    <li><a href="{% url 'rules:synergies' 'Powszechne' %}">Synergie</a></li>
                </ul>
            </li>
        </ol>
        
        <h2 class="mt-4">
            <img class="img-rules" src="{% static 'img/rules_WALKA.jpg' %}">
            <strong class="align-middle small-caps border-bottom-dark">Walka i obrażenia</strong>
        </h2>
        <ol class="ml-5 pl-5">
            <li><a href="{% url 'rules:weapon-types' %}">Broń</a></li>
            <li><a href="{% url 'rules:armor' %}">Pancerz</a></li>
            <li><a href="{% url 'rules:wounds' %}">Progi i skutki ran</a></li>
            <li><a href="{% url 'rules:combat' %}">Przebieg walki</a></li>
        </ol>
    
        {% if can_view_power_rules %}
            <h2 class="mt-4">
                <img class="img-rules" src="{% static 'img/rules_MOC.jpg' %}">
                <strong class="align-middle small-caps border-bottom-dark">Moc</strong>
            </h2>
            <ol class="ml-5 pl-5">
                <li>
                    <a href="{% url 'rules:power-trait' %}">Cecha Mentalna "Moc"</a>
                    <ul class="ml-3">
                        <li><a href="{% url 'rules:skills' 'Mentalne' %}">Umiejętności Mentalne</a></li>
                        <li><a href="{% url 'rules:synergies' 'Mentalne' %}">Synergie Mentalne</a></li>
                    </ul>
                </li>
                {% if 'Kapłan' in own_professions %}
                    <li>
                        <a href="{% url 'rules:priesthood' %}">Kapłaństwo</a>
                        <ul class="ml-3">
                            <li><a href="{% url 'rules:skills' 'Moce Kapłańskie' %}">Moce Kapłańskie</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if 'Czarodziej' in own_professions %}
                    <li>
                        <a href="{% url 'rules:sorcery' %}">Magia</a>
                        <ul class="ml-3">
                            <li><a href="#">Zaklęcia</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if 'Teurg' in own_professions %}
                    <li>
                        <a href="{% url 'rules:theurgy' %}">Teurgia</a>
                        <ul class="ml-3">
                            <li><a href="#">Moce Teurgiczne</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ol>
        {% endif %}
        
        <h2 class="mt-4">
            <img class="img-rules" src="{% static 'img/rules_VARIA.jpg' %}">
            <strong class="align-middle small-caps border-bottom-dark">Varia</strong>
        </h2>
        <ol class="ml-5 pl-5">
            <li><a href="{% url 'rules:experience-demand' %}">Sztuka kompozycji Dezyderatu ekspowego</a></li>
            <li><a href="{% url 'rules:character-sheet' %}">Karta Postaci [do aktualizacji]</a></li>
        </ol>
    
    </div>

{% endblock content %}