{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br>

    <h2>
        <img class="img-rules" src="{% static 'img/TWORZENIE I ROZWÓJ POSTACI.png' %}">
        <strong class="align-middle small-caps border-bottom-dark">Tworzenie i rozwój Postaci</strong>
    </h2>
    <br>
    <ol class="ml-3 pl-5">
        <li><h6><a href="{% url 'rules:professions' %}">Tworzenie Postaci, Klasa i Profesja</a></h6></li>
        <li><h6><a href="{% url 'rules:traits' %}">Cechy Fizyczne</a></h6></li>
        <li><h6><a href="{% url 'rules:tests' %}">Testy Cech</a></h6></li>
        <li><h6><a href="{% url 'rules:movement' %}">Przeciążenie, Wydolność i Ruch</a></h6></li>
        <li>
            <h6><a href="{% url 'rules:skills-and-synergies' %}">Umiejętności</a></h6>
            <ul class="ml-3">
                <li><h6><a href="{% url 'rules:skills-list' %}">Lista Umiejętności</a></h6></li>
                <li><h6><a href="{% url 'rules:synergies-list' %}">Lista Synergii</a></h6></li>
            </ul>
        </li>
        <li><h6><a href="{% url 'rules:tricks' %}"><s>Podstępy</s></a></h6></li>
    </ol>
    <br>
    
    <h2>
        <img class="img-rules" src="{% static 'img/WALKA.png' %}">
        <strong class="align-middle small-caps border-bottom-dark">Walka i obrażenia</strong>
    </h2>
    <br>
    <ol class="ml-3 pl-5">
        <li><h6><a href="{% url 'rules:weapons' %}">Broń</a></h6></li>
        <li><h6><a href="{% url 'rules:armor' %}">Pancerz</a></h6></li>
        <li><h6><a href="{% url 'rules:wounds' %}">Progi i skutki ran</a></h6></li>
        <li><h6><a href="{% url 'rules:combat' %}">Przebieg walki</a></h6></li>
    </ol>
    <br>

    <h2>
        <img class="img-rules" src="{% static 'img/KARTA POSTACI.png' %}">
        <strong class="align-middle small-caps border-bottom-dark">Karta Postaci</strong>
    </h2>
    <br>
    <ol class="ml-3 pl-5">
        <li><h6><a href="{% url 'rules:character-sheet' %}">Szablony</a></h6></li>
    </ol>


{% endblock content %}