{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>

    <h2>
        <img src="{% static 'img/TWORZENIE I ROZWÓJ POSTACI.png' %}" class="border-double img-rules">
        <strong class="align-middle small-caps border-custom-base">Tworzenie i rozwój postaci</strong>
    </h2>
    <br>

    <h6 class="unblue">
        1. <a href="{% url 'rules:traits' %}" class="">Cechy</a>
    </h6>
    <h6 class="unblue">
        2. <a href="{% url 'rules:professions' %}" class="">Klasa, Profesja i rozwój postaci</a>
    </h6>
    <h6 class="unblue">
        3. <a href="{% url 'rules:skills' %}" class="">Umiejętności</a>
    </h6>
    <h6 class="unblue">
        4. <a href="{% url 'rules:tricks' %}" class=" ">Podstępy</a>
    </h6>
    <h6 class="unblue">
        5. <a href="{% url 'rules:masteries' %}" class=" ">Biegłości i inne zdolności bojowe</a>
    </h6>
    <br>

    <h2>
        <img src="{% static 'img/WALKA.png' %}" class="border-double img-rules">
        <strong class="align-middle small-caps border-custom-base">Walka i obrażenia</strong>
    </h2>
    <br>
    <h6 class="unblue">
        1. <a href="#arms-skills" class="">Broń</a>
    </h6>
    <h6 class="unblue">
        2. <a href="#armor" class="">Zbroja</a>
    </h6>
    <h6 class="unblue">
        3. <a href="#damage" class="">Obrażenia i progi ran</a>
    </h6>
    <h6 class="unblue">
        4. <a href="{% url 'rules:combat' %}" class="">Przebieg walki</a>
    </h6>
    <br>

    <h2>
        <img src="{% static 'img/KARTA POSTACI.png' %}" class="border-double img-rules">
        <strong class="align-middle small-caps border-custom-base">Karta postaci</strong>
    </h2>
    <br>
    <h6 class="unblue">
        1. <a href="#character-sheet1" class="">Cechy i walka</a>
    </h6>
    <h6 class="unblue">
        2. <a href="#character-sheet2" class="">Ekwipunek</a>
    </h6>
    <h6 class="unblue">
        3. <a href="#character-sheet3" class="">Umiejętności i biegłości</a>
    </h6>
    <h6 class="unblue">
        4. <a href="#character-sheet4" class="">Tabela awansów</a>
    </h6>







    <div class="resp-container">
        <iframe class="resp-iframe" width="820" height="650" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21184&authkey=%21APT9nIHLrUmMSlk&em=2&wdAllowInteractivity=False&Item='BRO%C5%83'!A1%3AL110&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
    </div>


    <br><br id="armor"><br><br>
    <h2 class="rules">Zbroja</h2>
    <br>
    <p>
        Zbroje oprócz modyfikowania KP posiadają punkty wyparowań, które określają, ile obrażeń dana zbroja przejmuje z ciosu na siebie.
        Takie obrażenia nie są ponoszone przez postać, natomiast uszkadzają zbroję, powodując jej powolną dezintegrację.
        Zbroja w złym stanie - od 50% uszkodzeń - daje KP o 1 gorsze, a od 90% - poprawia KP tylko o 1.
    </p>
    <p>
        Oznacza to konieczność prowadzenia dwóch tabeli obrażeń: jednej dla postaci (obrażenia podlegające leczeniu)
        oraz dla zbroi (obrażenia trwałe, poddające się 1-2 krotnej naprawie u specjalisty).
    </p>
    <p>
        Zbroja w znaczący sposób ogranicza płynność ruchów postaci, co może nie mieć znaczenia w walce i nadal pozwalać na czerpanie korzyści z premii do KP ze ZRC,
        jednak nie pozostaje bez wpływu na powodzenie działań wymagających wyjątkowej precyzji i dobrego czasu reakcji.
        W związku z tym jakakolwiek zbroja powoduje negatywne modyfikatory do Podstępów.</p>
    <br>
    <div class="resp-container">
        <iframe class="resp-iframe" width="820" height="710" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21182&authkey=%21ALLarqqIsDb5eVw&em=2&wdAllowInteractivity=False&Item='ZBROJA'!A1%3AI27&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
    </div>

    <br><br id="damage"><br><br>
    <h2 class="rules">Obrażenia i progi ran</h2>
    <br>
    <p>
        Obrażenia wg progów ran dzielą się na lekkie, średnie, ciężkie oraz rany śmiertelne.
        Rany poniżej lekkich to zadraśnięcia i obicia, które generalnie przestają obciążać żywotność postaci już po kilku godzinach.
    </p>
    <p>
        Progi ran należy czytać następująco: np 3/6/9/12 oznacza, że rany Lekkie zaczynają się od 3 obr., a Śmiertelne od 12.
        Innymi słowy Lekkie 3-5, Średnie 6-8, Ciężkie 9-11, Śmiertelne od 12. A zatem progi ran 3/6/9/12 można też zapisać jako 3-5/6-8/9-11/12.
    </p>
        <ul class="rules">
            <li>
                <b>Lekkie:</b> goją się zazwyczaj z dnia na dzień, nie powodują utraty sprawności w walce.
            </li>
            <li>
                <b>Średnie:</b> 1 pkt/dzień, nie ograniczają sprawności w bieżącej walce, ale kiedy rany zaczną krzepnąć - owszem.
            </li>
            <li>
                <b>Ciężkie:</b> 1 pkt/dzień pod warunkiem opieki specjalisty, w przeciwnym razie goją się znacznie dłużej, ograniczają sprawność w bieżącej walce,
                a efekt podwaja się, kiedy rany zaczną krzepnąć.
            </li>
            <li>
                <b>Śmiertelne:</b> są to rany zagrażające życiu, które w braku natychmiastowej pomocy skutkują śmiercią,
                po ich otrzymaniu możliwa jest jeszcze jedna akcja przed odpadnięciem z walki (oczywiście ze znacząco ograniczoną sprawnością);
                w przypadku rany znacznie przewyższającej próg ran śmiertelnych (o 5 obr.) postać ginie natychmiast nieświadoma tego, że umiera.
            </li>
        </ul>
    <p>
        Dodatkowo obrażenia powinny być przypisywane przez graczy do poszczególnych części ciała wraz z hasłowym opisem. W tym celu - stos kartek ze schematyczną ilustracją części ciała.
    </p>

    <br><br><br>
    <h2 class="rules">Karta postaci</h2>
    <br>
    <p>
        Poniższe szablony karty postaci wymagają instalacji czcionki "IM Fell Great Primer", aby zachować układ strony.
        Przy braku tej czcionki formatowanie tekstu będzie wyglądać gorzej.
        Karty postaci można ściągnąć przez ikonę w pasku poniżej tabeli (tak samo wszystkie wcześniejsze tabele).
    </p>

    <br id="character-sheet1">
    <h4>Cechy i walka</h4>
    <br>
    <div class="resp-container">
        <iframe class="resp-iframe" width="820" height="800" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21186&authkey=%21APJrr9D7kO1uRPw&em=2&wdAllowInteractivity=False&Item='Karta%20postaci%20I'!A1%3AO42&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
    </div>

    <br><br><br>

    <br id="character-sheet2">
    <h4>Ekwipunek</h4>
    <br>
    <div class="resp-container">
        <iframe class="resp-iframe" width="820" height="800" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21180&authkey=%21AFvO8ocNWSlgRPE&em=2&wdAllowInteractivity=False&Item='Karta%20postaci%20III'!A1%3AG53&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
    </div>
    <br><br><br>

    <br id="character-sheet3">
    <h4>Umiejętności i biegłości</h4>
    <br>
    <div class="resp-container">
        <iframe class="resp-iframe" width="820" height="800" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21164&authkey=%21APqI_Elaow_VmUw&em=2&wdAllowInteractivity=False&Item='Karta%20postaci%20II'!A1%3AJ27&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
    </div>
    <br><br><br>

    <br id="character-sheet4">
    <h4>Tabela awansów</h4>
    <br>
    <div class="resp-container">
        <iframe class="resp-iframe" width="820" height="800" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21166&authkey=%21ALxxz5vuE5N_NGM&em=2&wdAllowInteractivity=False&Item='Karta%20postaci%20III'!A1%3AJ38&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
    </div>

    <br><br><br>
{% endblock content %}