{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling">
        <br><br><br>

        <h2 class="rules">Biegłości początkowe i rozwój</h2>
        <br>
        <p>
            Początkowa ilość punktów Biegłości do rozdysponowania różni się w zależności od klasy:
            Wojownik - 4, Awanturnik i Kapłan - 3; Łotrzyk - 2; Czarodziej - 1.
            Szczegółowe opisy Profesji mogą zawierać modyfikacje (np. Syssition dysponuje jedynie 3 pkt Biegłości w zamian za 4 pkt Umiejętności).
        </p>
        <p>
            W zależności od profesji postać może wybrać Specjalizację już na początku gry (Gladiator, Najemnik), bądź też musi ją nabyć od mistrza w toku nauki.
            Łotrzykowie mogą nabywać specjalizację samodzielnie od wyższych poziomów,
            natomiast Czarodzieje mogą posiąść najwyżej Zdolność w klasie broni;
            nie mają więc możliwości ani Biegłości, ani Specjalizacji - jedyną furtką pozostaje dla nich Wieloklasowość.
        </p>

        <br><br><br>
        <h2 class="rules">Poziomy Biegłości</h2>
        <br>
        <p>
            W zależności od Biegłości we władaniu bronią (tzw. biegłości) postać może preferować pewne klasy broni lub któryś bardzo konkretny typ.
            Czterostopniowa skala Biegłości opisuje modyfikatory zależne od doświadczenia postaci z konkretną klasą lub rodzajem broni.
            Umiejętność walki bronią aż do poziomu biegłości dotyczy całej klasy broni (broń drzewcowa, łuki, długie ostrza, krótkie ostrza itd.).
            Natomiast specjalizacja dotyczy wybranego, konkretnego typu broni jak długi miecz, krótki łuk, oszczep.
        </p>
        <h6 class="rules">Poziomy Biegłości we władaniu bronią:</h6>
            <ul class="rules no-bullets">
                <li><b>⓿ BRAK ZDOLNOŚCI:</b> -2 TRAF, -1 OBR</li>
                <li><b>❶ ZDOLNOŚC:</b> brak modyfikatorów [dotyczy klasy broni]</li>
                <li><b>❷ BIEGŁOŚĆ:</b> +1 TRAF, +1 OBR [dotyczy klasy broni]</li>
                <li><b>❸ SPECJALIZACJA:</b> +1 TRAF, +2 OBR, +0.5 AT/R [dotyczy wybranego rodzaju broni]</li>
            </ul>
        <p>
            Powyższe modyfikatory są ujęte sumarycznie, tzn. specjalizacja daje w sumie +1 TRAF, +2 OBR i +0.5 AT/R.
        </p>

        <br><br><br>
        <h2 class="rules">Zdolności bojowe</h2>
        <br>
        <p>
            Oprócz Biegłości postać może nabywać różnorodne zdolności bojowe, które obejmują specjalne techniki walki oraz ciosy.
            Najczęściej zdolności tego typu wymagają zdania testu Cechy oraz zastosowania konkretnego rodzaju broni lub sposobu walki,
            których charakterystyka umożliwia skuteczność danej techniki, i nie mniej często dostępne są tylko dla jednostek o szczególnej Sile, Zręczności lub Kondycji.
            Najpowszechniejsze z nich to Walka z tarczą oraz Walka dwiema broniami, zapewne dlatego, że nie nakładają na adeptów żadnych szczególnych wymagań fizycznych.
        </p>
        <h6 class="rules">Zdolności bojowe:</h6>
            <ul class="rules no-bullets">
                <li><b>❶ WALKA Z TARCZĄ:</b> +1 KP od parowania używając tarczy</li>
                <li><b>❶ WALKA DWIEMA BRONIAMI:</b> atak 2 broniami w 1 rundzie; -3 TRAF ręka wiodąca (broń M/Ś), -5 TRAF słabsza (broń M)</li>
            </ul>
        <br>
    </div>
{% endblock content %}
