{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling pt-3">

        <h2 class="rules mt-5 mb-3">Moc, a jednak...</h2>
        <p>
            Wbrew temu, co się zdaje pospólstwu, kwestia Cech nie kończy się na Sile, Zręczności i Kondycji.
            Nieliczni, którzy dostąpili łaski bóstwa albo zgłębili tajniki magii, poznają, czym jest Moc.
            Ale cicho sza...
        </p>


        <h2 class="rules mt-5 mb-3">
            Moc
        </h2>
        <p>
            Moc stanowi o potędze kapłana albo maga.
            Decyduje ona o sile, z jaką mogą użyć Mocy lub Zaklęcia, a także o częstotliwości, z jaką mogą po nie sięgać.
            
        </p>
        <p>
            Ta dodatkowa Cecha Mentalna może służyć do bezpośredniego testowania według normalnych zasad Testów Cech,
            a jej rozwój przebiega identycznie jak w przypadku Cech Fizycznych - zarówno co do wymagań Paska Postępu, jak i kosztu poszczególnych poziomów w Punktach Doświadczenia.
            Doświadczeniami, które pozwalają zapełnić Pasek Postępu dla Mocy, są z natury rzeczy niemal wyłącznie akty jej użycia.
        </p>
        <p>
            Początkowa wartość Mocy dla Magów i Kapłanów to 1, co ze względu na wysoki koszt podbicia Cech na tak niskim poziomie
            skutkuje dość powolnym wzrostem siły i możliwej częstotliwości wykorzystania Mocy/Zaklęć na początku drogi.
        </p>
        <table class="traits mt-4">
            <thead class="align-center dark">
                <tr class="border-bottom-dark">
                    <th class="border-custom-right small-caps">
                        <h2><b class="mx-3">Moc</b></h2>
                    </th>
                    <th class="small-caps">
                        <span class="mx-2">Amplifikacja</span>
                    </th>
                    <th class="small-caps">
                        <span class="mx-2">Próg Energii</span>
                    </th>
                </tr>
            </thead>
            <tbody class="align-center dark">
                <tr><td class="border-custom-right">1</td>     <td>1</td>    <td>4</td>     </tr>
                <tr><td class="border-custom-right">2</td>     <td>2</td>    <td>5</td>     </tr>
                <tr><td class="border-custom-right">3</td>     <td>2</td>    <td>6</td>     </tr>
                <tr><td class="border-custom-right">4</td>     <td>2</td>    <td>7</td>     </tr>
                <tr><td class="border-custom-right">5</td>     <td>3</td>    <td>8</td>     </tr>
                <tr><td class="border-custom-right">6</td>     <td>3</td>    <td>9</td>     </tr>
                <tr><td class="border-custom-right">7</td>     <td>3</td>    <td>10</td>     </tr>
                <tr><td class="border-custom-right">8</td>     <td>4</td>    <td>12</td>     </tr>
                <tr><td class="border-custom-right">9</td>     <td>4</td>    <td>14</td>     </tr>
                <tr><td class="border-custom-right">10</td>    <td>4</td>    <td>16</td>     </tr>
                <tr><td class="border-custom-right">11</td>    <td>5</td>    <td>18</td>     </tr>
                <tr><td class="border-custom-right">12</td>    <td>5</td>    <td>20</td>     </tr>
                <tr><td class="border-custom-right">13</td>    <td>5</td>    <td>25</td>     </tr>
                <tr><td class="border-custom-right">14</td>    <td>6</td>    <td>30</td>     </tr>
                <tr><td class="border-custom-right">15</td>    <td>6</td>    <td>35</td>     </tr>
                <tr><td class="border-custom-right">16</td>    <td>7</td>    <td>40</td>     </tr>
                <tr><td class="border-custom-right">17</td>    <td>7</td>    <td>50</td>     </tr>
                <tr><td class="border-custom-right">18</td>    <td>8</td>    <td>60</td>     </tr>
                <tr><td class="border-custom-right">19</td>    <td>9</td>    <td>80</td>     </tr>
                <tr><td class="border-custom-right">20</td>    <td>10</td>   <td>100</td>    </tr>
            </tbody>
        </table>
        <br>
        <p>
            <b>§ Amplifikacja.</b>
            Współczynnik ten służy jako mnożnik przy efektach Mocy i Zaklęć (Trwałość, Odległość, Obszar, Obrażenia itd.).
        </p>
        <p>
            <b>§ Próg Energii.</b>
            Współczynnik określający częstotliwość, z jaką Kapłani i Magowie mogą używać swoich Mocy i Zaklęć bez szkody dla swojej cielesnej powłoki.
            Każda Moc i Zaklęcie ma pewien koszt energetyczny, który uszczupla aktualny Próg Energii Maga lub Kapłana aż do zupełnego wyczerpania.
            Dalsze użycie Mocy i Zaklęć jest możliwe, jednak niesie ze sobą ryzyko uszczerbku na siłach witalnych.
            Energia wskazana w tabeli Mocy wskazuje górny limit, jakim Kapłan czy Mag dysponuje po pełnej regeneracji.
        </p>
        <p>
            Nie jest żadną tajemnicą, że Mag i Kapłan korzystają z Mocy w odmienny sposób.
            Bardziej szczegółowe informacje i zasady zawarte są w osobnych rozdziałach poświęconych każdej z tych Profesji.
        </p>

        
    </div>

{% endblock content %}
