{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling">

        <h2>
            Moce Kapłańskie
        </h2>
         <p>
            <span>&#9755;</span>
            <a href="{% url 'rules:skills' 'Moce Kapłańskie' %}">Lista Mocy Kapłańskich</a>
        </p>
        <p>
            Każda Moc Kapłańska należy do jednego z Poziomów Sfragis (Pieczęci).
            W zależności od Poziomu koszt nabycia Mocy to 400, 800 lub 2000.
            Koszt Energii przy wykorzystaniu Mocy to kwadrat Poziomu Sfragis, czyli 1, 4 lub 9.
            Poziom decyduje również o czasochłonności sięgania po Moc i wynosi dokładnie tyle rund co Poziom (1, 2, 3);
            w tym czasie Koncentracja Kapłana może zostać przerwana, skutkiem czego przerwaniu ulega również przepływ Mocy pochodzącej od bóstwa.
            Przerwanie użycia Mocy nie uszczupla ani Progu Energii Kapłana, ani Energii pozostającej do jego dyspozycji.
        </p>


        <h2>
            Nabywanie Mocy
        </h2>
        <p>
            Nabycie nowych Mocy przez Kapłana polega na otrzymaniu ich sfragionu (nie stosują się tu zasady Paska Postępu).
            Podobnie jak w przypadku Sfragis bóstwa jest to przeżycie wycieńczające fizycznie,
            gdyż odbywa się poprzez odciśnięcie pieczęci Mocy (sfragion, znak) bezpośrednio na pieczęci bóstwa (Sfragis).
            Kapłan zazwyczaj doświadcza osłabienia, a w przypadku osób starszych i schorowanych – nawet zapaści.
        </p>
        <p>
            Za bezpieczny odstęp pomiędzy udzieleniem kolejnych sfragionów uznaje się zwykle tydzień,
            choć i to może nie wystarczyć w przypadku słabowitych starców.
            Jednak w przypadku osób w sile wieku i w pełni zdrowia, tydzień wystarczy w zupełności, aby uniknąć ryzyka zapaści.
            W przypadku udzielenia sfragionu w mniejszym odstępie czasu istnieje ryzyko trwałego uszczerbku na zdrowiu.
            W przypadku przyjęcia kolejnego sfragionu przed upływem tego czasu kapłan wykonuje Test KON z kumulatywnym Malusem -1 za każdy dzień brakujący do pełnego tygodnia.
            Fiasko oznacza trwałą utratę 1 KON.
        </p>


        <h2>
            Korzystanie z Mocy
        </h2>
        <p>
            Wykorzystanie Mocy Kapłańskiej nie wymaga żadnych komponentów, ponieważ pochodzi ona od bóstwa.
            Natomiast, aby mieć możliwość korzystania z niej, kapłan musi dysponować Energią.
            Jeśli kapłan przebywa w domenie swojego bóstwa (kaplica, świątynia, obszar mu poświęcony),
            to ilość Energii pozostającej do jego dyspozycji jest nieograniczona.
            Poza domeną kapłan nie dysponuje żadną Energią, dopóki nie dokona rytuału ofiarnego,
            który oddaje do jego dyspozycji ilość Energii zależną od wielkości ofiary.
            Ponadto kapłan, który opuszcza domenę swojego bóstwa, w której przebywał przez co najmniej jeden dzień od wschodu do zachodu słońca,
            dysponuje Energią równą swojemu Progowi Energii.
        </p>
        <p>
            Ofiara złożona z dochowaniem wszystkich reguł, to około 4 Energii w przypadku drobiu czy zającowatych,
            około 10 dla kozy czy owcy, 30 dla byka czy jałówki, a 500 i więcej w przypadku hekatomby z byków.
            Energia pozostająca do dyspozycji kapłana, czy to uzyskana na skutek rytuału ofiarnego, czy to wyniesiona z domeny,
            ulega redukcji o połowę z każdym zachodem słońca.
            Mimo to ewidentnie Kapłan bez wielkiego trudu może uzyskać do dyspozycji ilość Energii znacznie przekraczającą jego własny Próg Energii.
        </p>
        <p>
            Kapłan zachowuje władzę nad Mocami, które wyzwolił. Może w każdej chwili zakończyć albo ograniczyć ich działanie,
            jednak wymaga to osobnej Akcji (1 runda), natomiast nie wyzwala przepływu Energii.
            Nie jest natomiast możliwe wyzwolenie Mocy z ograniczoną siłą, a następnie jej zwiększenie.
            Użycie Mocy z pełną siłą wymaga ponownego sięgnięcia po nią i wyzwolenia przepływu Energii.
        </p>

        <h2>
            Próg Energii
        </h2>
        <p>
            W przypadku Mocy kapłańskich dochodzi do przepływu Energii przez organizm Kapłana.
            Próg Energii określa bezpieczną granicę wytrzymałości organizmu Postaci na te przepływy.
            Jeśli Kapłan dysponuje Energią przekraczającą jego Próg Energii,
            to może korzystać z Mocy nawet po jego przekroczeniu, jednak ryzykuje trwały ubytek swoich sił witalnych.
            Ryzyko wynosi 10% na każdy Punkt Energii zużyty ponad wartość Progu Energii.
            Np. Kapłan o całkowicie wyczerpanym Progu Energii sięgając po Moc wymagającą 1 Punktu Energii
            podejmuje ryzyko trwałego uszczerbku wynoszące 10%.
            W przypadku Mocy wymagającej 9 Punktów Energii ryzyko wynosi aż 90%.
            Ponadto ryzyko to kumuluje się, to znaczy, że jeśli Kapłan najpierw sięgnął po Moc wymagającą 1 Punktu Energii,
            a następnie 9, to uszczerbek na zdrowiu jest nieunikniony, bo szansa wynosi 100%.
        </p>
        <p>
            Próg Energii wskazuje górny limit, jakim Postać dysponuje po pełnej regeneracji.
            Brak wypoczynku albo niepełny wypoczynek może powodować obniżenie aktualnego Progu Energii.
        </p>
        <p>
            Próg Energii Kapłana to iloraz jego Mocy oraz najwyższego posiadanego przezeń poziomu Sfragis (Pieczęci)
            zsumowane z poziomami wszystkich posiadanych sfragionów (znaków).
            Jak widać Kapłan powinien na nowo obliczyć swój Próg Energii za każdym razem, gdy zmianie ulega wartość jego Mocy
            albo gdy uzyskuje bądź traci Sfragi (Pieczęć) albo sfragion (znak).
        </p>
        <ul class="bullets-2 ml-4 mt-2 font-italic text-justify">
            <li>
                Próg Energii = Moc * max. Sfragis + (poz. sfragionu 1 + poziom sfragionu 2 + ...)
            </li>
        </ul>

    </div>

{% endblock content %}
