{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load cache %}


{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}


{% block content %}
    <div class="rules-styling">
        <div class="mt-5" id="professions">
            {% for profession in professions %}
                <h4 class="font-weight-bold">
                    {{ profession.name }}
                </h4>
                <p>
                    {{ profession.description|custom_linebreaksbr:2 }}
                </p>
                <ul class="bullets-1 bullets-lg ml-4 mb-5">
                    {% for subprofession in profession.subprofessions.all %}
                        <li class="pl-1">
                            <h5 class="hover-blue font-weight-bold" data-toggle="collapse" data-target="#{{ subprofession|cut:' ' }}">
                                {{ subprofession.name }}
                            </h5>
                            <div id="{{ subprofession|cut:' ' }}" class="collapse">
                                <p class="pb-0 mb-1">
                                    {{ subprofession.description|custom_linebreaksbr:2 }}
                                </p>
                                <div class="mb-3 small font-italic text-muted">
                                    <b>Podstawowe Umiejętności:</b> {{ subprofession.essential_skills.all|join:", " }}.
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
