{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <h3 class="rules">Cechy</h3>
        <p>Trzy cechy opisujące postać to: Siła, Zręczność i Kondycja, a ich bazowe wartości to: 11, 11, 11. Przeciętne wartości dla człowieka to 10. Te bazowe cechy graczy są ponadprzeciętne, ponieważ gracze wcielają się w „bohaterów”.</p>
        <p>Istnieje możliwość przesunięcia ok. 3 pkt przy uzasadnieniu silnymi rysami biografii lub fizjologii. O zakresie przesunięć decyduje MG na podstawie opisu gracza. Taki opis stanowi potem wyzwanie w zakresie odgrywania postaci.</p>
        <p>Cechy mentalne jak Inteligencja, Mądrość i Charyzma zależą jedynie od odgrywania postaci przez graczy oraz sytuacji fabularnej. Dla przykładu - potężny osiłek ma dużą siłę oddziaływania (wysoką charyzmę), gdy zastrasza grupę chłopów, jednak prawdopodobnie niską, gdy prosi słabo mu znanego arystokratę o osobistą przysługę.</p>
        <p>Wszelkie modyfikatory wpływu magii na graczy mają charakter fabularny, to znaczy zależą od rozeznania życiowego, obycia z magią i sprytu reprezentowanego przez graczy na przestrzeni wcześniejszych przygód. Ewentualne rzuty obronne albo odporność magiczna (na iluzję, ogień, magicznie wywołane emocje) mogą się pojawić w dalszej części gry, jeśli postać zgromadzi doświadczenie życiowe i obycie z magią, które uzasadniałyby zawarcie ich w formie testowalnej cechy. Do tego czasu postać zmaga się z iluzorycznym osiłkiem przy pomocy swojej Siły, a przed iluzorycznymi pociskami uchyla się testując swoją Zręczność.</p>

    <br>
    <h3 class="rules">Klasa postaci</h3>
        <p>Początkowa klasa postaci to inaczej profesja: Syssition, Starogwardzista, Strażnik, Rozbójnik, Kapłan Eyra, Aeromanta, Krystalomanta, Kupiec, Kuglarz, Grajek; a wyjątkowo nazwę rodu: (np. w Umbrze albo innych częściach świata): Haznyta, Belochita, Seressyta; Kyrn, Ketys itd.</p>
        <p>Wymienione klasy można potraktować jak podklasy znanych z AD&D klas: Wojownik, Kapłan, Mag, Złodziej, Bard. Przykładowo dla Starogwardzisty i Syssitiona zasady rozwoju postaci są oparte na klasie Wojownik: </p>
            <ol>
                <li>+ 1 TRAKO / poziom.</li>
                <li>Skala biegłości władania bronią w zależności od ilości punktów biegłości:
                    <ul type="disc">
                        <li>0 - Brak umiejętności (normalne kary: -2 TRAF)
                        <li>1 - Umiejętność (brak kar) – dotyczy klasy broni (drzewcowa, miecze, łuki, topory itd.)
                        <li>2 - Biegłość (+ 1 TRAF, + 1 obr.) – dotyczy klasy broni (drzewcowa, miecze, łuki, topory itd.)
                        <li>3 - Specjalizacja (+1 TRAF, +2 obr., +1/2 ataku) - dotyczy bardzo konkretnej broni.
                    </ul>
                </li>
            </ol>

        <p>Na początku gry Starogwardzista dysponuje 3 pkt do rozdysponowania między co najmniej 2 typy broni (czyli może mieć maksymalnie Biegłość w 1 broni, specjalizacja jest dla niego dostępna jedynie w toku gry i wymaga uzasadnienia fabularnego - np. nauka u mistrza albo użycie na porządku dziennym lub przez wiele lat).</p>

    <br>
    <h3 class="rules">Awanse</h3>
        <p>Awanse następują po identycznych progach liczbowych doświadczenia typowych dla danej klasy (np. Starogwardzista - co 2000 exp.). Ilość przyznawanego exp. jest stała - nie podlega mnożnikowi za heroiczność czynów - jest uzależniona raczej od tego, co nowego dane doświadczenie może wnieść do rozwoju indywiduum odgrywanego przez gracza. Dlatego pierwszych parę poziomów przyrasta raczej wolno, potem można się spodziewać przyspieszenia ze względu na zwiększone możliwości przerobowe różnych wyzwań typu walka i próby cech, a następnie spowolnienia związanego z wyczerpaniem się sfery nowych doświadczeń w danej dziedzinie. Odzwierciedla to zarazem normalną dynamikę uczenia się oraz osiągania biegłości, a następnie mistrzostwa w danej dziedzinie.</p>
        <p>Każdy awans wiąże się z 1 pkt do rozdysponowania między cechy fizyczne, jednak z respektowaniem ograniczeń fabularnych. Aby uzyskać bardzo wysoki poziom jakiejś cechy, może być konieczne wykreowanie bardzo specyficznych sytuacji fabularnych.</p>
        <p>Przykład: gracz pragnący przeskoczyć próg Kon 18 musiałby poddawać swoją wytrzymałość potężnym próbom przy prawie każdej nadarzającej się okazji albo podjąć się jednej bardzo długotrwałej lub esktremalnej. </p>
        <p>Przykład: gracz który przez całą sesję był tylko i wyłącznie mózgiem, nie angażując się w żadną aktywność fizyczną może uzyskać awans niedający żadnych bonusów do cech ani biegłości władania bronią, natomiast dający zwiększoną ilość punktów umiejętności do rozdysponowania.</p>
        <p>Taki system awansów wiąże się z koniecznością prowadzenia osobnej tabeli awansów, w której będą wykazane wszystkie modyfikatory uzyskane na każdym poszczególnym poziomie, najlepiej wraz z hasłowym opisem uzasadnienia fabularnego (funkcja pomocnicza do zachowania ciągłości kontaktu z bohaterem w przypadku dłuższych przerw w grze).</p>

    <br>
    <h3 class="rules">Wieloklasowość</h3>
        <p>Klasa postaci stanowi jedynie standardową, domyślną ramę dla rozwoju postaci. Jedynymi ograniczeniami dla zawodu/profesji/klasy postaci jest fabuła, czyli wypadkowa działań postaci w realiach świata przedstawionego. Nic nie stoi na przeszkodzie, aby czterdziestoletni rozbójnik zaczął parać się magią nekromantyczną... nic poza realiami niesprzyjającymi takiej przemianie. Jednak opór i konsekwencja, przy odrobinie szczęścia, potrafią odmienić ludzkie losy...</p>

        <p>Rozwój innych klas niż bazowa odbywa się w taki sposób, że gracz powinien zadeklarować taką chęć oraz tak kierować działaniami postaci, żeby zyskiwała ona doświadczenie typowe dla innej klasy. Od tego momentu dalszy rozwój przebiega mniej więcej równolegle, to znaczy, że gracz ma prawo rozdysponować nowo otrzymywane doświadczenie między wiodącą klasę postaci a dodatkową klasę postaci, wedle następujących zasad:</p>
            <ol>
                <li>Punkty doświadczenia otrzymane za działania cechujące daną klasę czy to wiodącą, czy nową, muszą trafić do tej klasy (np. za podkradanie się i ukrywanie dla Złodzieja, za tropienie i zastawianie pułapek dla Łowcy, za studiowanie starożytnych ksiąg i ćwiczenie/używanie zaklęć dla czarodzieja; za walkę zbrojną – dla Wojownika/Syssitiona/Starogwardzisty itp.). W przypadku działań podpadających w ewidentny sposób pod więcej niż jedną klasę, gracz ma swobodę dysponowania (np. gracz rozwijający Syssiitona oraz Kapłana Eyra może swobodnie rozdysponować doświadczenie otrzymane za służbę zbrojną w Gwardii Słońca).</li><br>
                <li>Doświadczenie otrzymane za bardziej ogólne kwestie (pomysły, przeżycia, rozumowanie) gracz może rozdysponować między wszystkie rozwijane klasy postaci, jednak z tym zastrzeżeniem, że wiodąca klasa postaci musi otrzymać co najmniej 50% exp. przy 2 klasach, 33% exp. przy 3 klasach, 25% exp. przy 4 klasach i tak dalej. </li><br>
                <li>Wiodącą klasą postaci jest zawsze ta, która ma najwyższy poziom. Może więc dojść do jej zmiany w trakcie gry, jednak na podstawie powyższych zasad widać, że wymaga to ogromnej przewagi działań typowych dla dodatkowej klasy nad innymi.</li>
            </ol>
        <p>Wszelkie klasy dodatkowe korzystają jedynie z zasad dotyczących awansów, ale nie z początkowych bonusów dla danej klasy. Oznacza to, że wybór dodatkowej klasy Złodziej nie powoduje wzrostu umiejętności złodziejskich do początkowych wartości dla Złodzieja; podobnie wybór dodatkowej klasy czarodziej nie powoduje uzyskania ilości czarów typowej dla czarodzieja 1 poziomu. Natomiast każdy awans w ramach dodatkowej klasy przynosi wszelkie korzyści typowe dla niej.</p>
        <p>Podsumowując, dodatkowa klasa jest trudniejsza do rozwoju niż klasa wiodąca, a także jej rozwój startuje z niższej pozycji niż gdyby ta klasa była wiodącą. Natomiast wieloklasowość nigdy nie wymaga porzucania wcześniejszej klasy – pozwala rozwijać ją równocześnie w tempie w dużej mierze zależnym od gracza. </p>

    <br>
    <h3 class="rules">Punkty umiejętności</h3>
        <p>Każda postać rozpoczyna grę z pewnym zakresem umiejętności, zależnym od jej biografii oraz klasy postaci. Dalsze nabywanie umiejętności jest ograniczone jedynie ramami fabuły. Poniżej przykład klasy Starogwardzisty oraz Syssitiona.</p>
        <h5 class="rules">Starogwardzista</h5>
        <p>Starogwardziści są szkoleni dość wszechstronnie, dlatego nie osiągają tak wcześnie jak wojownicy specjalizacji w walce, natomiast dysponują znaczącą ilością umiejętności. Do tego pewne umiejętności posiadają zawsze od początku, co wynika ze sposobu wychowania.</p>
        <p>Początkowe: Pływanie (1), Wytrzymałość (1), Sztuka przetrwania (1), Czytanie i pisanie (2), Robienie ognisk (1).</p>
        <p>Punkty umiejętności do rozdysponowania: 4 pkt</p>
        <h5 class="rules">Syssition</h5>
        <p>Syssitioni to młodzi Skadyjczycy zorganizowani w syssitiach, gdzie pod okiem mistrza szkolą się w walce włócznią i buławą oraz przygotowują do zawodów zwanych spasionami, gdzie konkurują w zakresie rzutu oszczepem, biegu, zapasów, rzutu młotem, walki na pięści i innych dyscyplin. Jednak ich życie to także praca na roli i połowy ryb, w czym pomagają swoim rodzicom, którzy łożą na ich przynależność do syssitii.</p>
        <p>Początkowe: Pływanie (1), Wspinaczka (1).</p>
        <p>Punkty umiejętności do rozdysponowania: 4 pkt</p>
        <h5 class="rules">Dostępne umiejętności początkowe (Starogwardzista i Syssition)</h5>
        <p>Kartografia, Wyczucie kierunku, Tropienie, Myślistwo, Zielarstwo, Leczenie, Garbarstwo, Posługiwanie się liną, Zastawianie sideł, Przepowiadanie pogody, Nawigacja z gwiazd, Gotowanie, Piwowarstwo i miodosytnictwo, Ciesielstwo, Kamieniarstwo, Kowalstwo, Wyrób łuków i strzał lub inne zawody, o ile uzasadnione charakterem Starej Gwardii.</p>
        <h5 class="rules">Dostępne umiejętności początkowe (Starogwardzista)</h5>
        <p>Historia lokalna, Historia starożytna, Religioznawstwo i inne dotyczące wiedzy - te umiejętności nie występują, zostają zastąpione możliwością wykorzystania punktów umiejętności na przeczytanie ksiąg, wg przelicznika 1 pkt umiejętności = 2 pkt ksiąg.</p>
        <p>Księgi mają różną objętość i trudność (wymagają 0.5, 1 lub 2 pkt ksiąg). Przykład: poświęcając 1 pkt umiejętności (=2 pkt ksiąg) można przeczytać 4 księgi o wadze 0.5 pktu. Lista ksiąg do wyboru - osobno. W tej kwestii wskazane są także samodzielne poszukiwania wiedzy (sugestie, jaka tematyka interesuje gracza). </p>

    <br>
    <h3 class="rules">Umiejętności „łotrzykowskie”</h3>
        <p>Są dostępne dla każdej klasy i profesji. Każdy awans każdej profesji może skutkować bonusem +5% do jednej lub więcej umiejętności łotrzykowskiej, o ile jest to uzasadnione fabularnie poprzez wielokrotne użycie. W praktyce w przypadku Starogwardzisty oznacza to bardzo powolny rozwój w tym zakresie, chyba że dana postać rzeczywiście oddaje się takim czynnościom bardzo często. Inaczej rzecz by się miała w przypadku profesji np. Kuglarza albo Grajka, które mogą być oparte na klasie „złodziej”. </p>
        <h5 class="rules">Starogwardzista</h5>
            <ul>
                <li>Krycie się w cieniu w terenie: <b>20%</b></li>
                <li>Krycie się w cieniu w mieście: <b>0%</b></li>
                <li>Ciche chodzenie w terenie: <b>20%</b></li>
                <li>Ciche chodzenie w mieście: <b>0%</b></li>
                <li>Wspinaczka: <b>10%</b></li>
                <li>Otwieranie zamków: <b>5%</b></li>
                <li>Wykrywanie pułapek: <b>0%</b></li>
                <li>Kradzież kieszonkowa: <b>0%</b></li>
            </ul>
        <h5 class="rules">Syssition</h5>
            <ul>
                <li>Krycie się w cieniu w terenie: <b>10%</b></li>
                <li>Krycie się w cieniu w mieście: <b>5%</b></li>
                <li>Ciche chodzenie w terenie: <b>10%</b></li>
                <li>Ciche chodzenie w mieście: <b>10%</b></li>
                <li>Wspinaczka: <b>25%</b></li>
                <li>Otwieranie zamków: <b>0%</b></li>
                <li>Wykrywanie pułapek: <b>5%</b></li>
                <li>Kradzież kieszonkowa: <b>0%</b></li>
            </ul>

    <br>
    <h3 class="rules">Zbroje</h3>
    <p>Zbroje oprócz modyfikowania KP posiadają punkty wyparowań, które określają, ile obrażeń dana zbroja przejmuje z ciosu na siebie. Takie obrażenia nie są ponoszone przez postać, natomiast uszkadzają zbroję, powodując jej powolną dezintegrację. Dla uproszczenia przyjmujemy, ze zbroja w złym stanie - powyżej 50% uszkodzeń - daje KP o 1 gorsze.</p>
    <p> Oznacza to konieczność prowadzenia dwóch tabeli obrażeń: jednej dla postaci (obrażenia podlegające leczeniu) oraz dla zbroi (obrażenia trwałe, poddające się 1-2 krotnej naprawie u specjalisty). </p>

    <br>
    <h3 class="rules">Obrażenia</h3>
    <p>Obrażenia dzielą się na lekkie, średnie, ciężkie oraz rany śmiertelne. </p>
        <ul>
            <li><b>Lekkie:</b> goją się zazwyczaj z dnia na dzień, nie powodują utraty sprawności w walce. </li>
            <li><b>Średnie:</b> 1 pkt/dzień, nie ograniczają sprawności w bieżącej walce, ale kiedy rany zaczną krzepnąć - owszem.</li>
            <li><b>Ciężkie:</b> 1 pkt/dzień pod warunkiem opieki specjalisty, w przeciwnym razie goją się znacznie dłużej, ograniczają sprawność w bieżącej walce, a efekt podwaja się, kiedy rany zaczną krzepnąć.</li>
            <li><b>Śmiertelne:</b> są to rany zagrażające życiu, które w braku natychmiastowej pomocy skutkują śmiercią, po ich otrzymaniu możliwa jest jeszcze jedna akcja przed odpadnięciem z walki (oczywiście ze znacząco ograniczoną sprawnością); w przypadku rany znacznie przewyższającej próg ran śmiertelnych (o 5 obr.) postać ginie natychmiast nieświadoma tego, że umiera.</li>
        </ul>
    <p>Dodatkowo obrażenia powinny być przypisywane przez graczy do poszczególnych części ciała wraz z hasłowym opisem. W tym celu - stos kartek ze schematyczną ilustracją części ciała.</p>
{% endblock content %}