{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/rules.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'rules:main' %}">Zasady</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <h2 class="rules">Umiejętności początkowe i rozwój</h2>
        <p>Każda postać rozpoczyna grę z pewnym zakresem umiejętności, zależnym od jej biografii oraz klasy postaci. Początkowa ilość punktów umiejętności do rozdysponowania różni się w zalżności od klasy: Wojownik i Łowca - 3, ale Syssition i Starogwardzista - 4; Kapłan, Bard, Kupiec, Czarodziej - 4; Łotrzyk - 3. Dalsze nabywanie umiejętności jest ograniczone jedynie ramami fabuły. Poniżej przykład klasy Starogwardzisty oraz Syssitiona.</p>
        <h5 class="rules">Starogwardzista</h5>
        <p>Starogwardziści są szkoleni dość wszechstronnie, dlatego nie osiągają tak wcześnie jak wojownicy specjalizacji w walce, natomiast dysponują znaczącą ilością umiejętności. Do tego pewne umiejętności posiadają zawsze od początku, co wynika ze sposobu wychowania.</p>
        <p>
            Początkowe: Pływanie (1), Wytrzymałość (1), Sztuka przetrwania (1), Czytanie i pisanie (2), Rozpalanie ognisk (1).<br>
            Punkty umiejętności do rozdysponowania: 4 pkt
        </p>
        <h5 class="rules">Syssition</h5>
        <p>Syssitioni to młodzi Skadyjczycy zorganizowani w syssitiach, gdzie pod okiem mistrza szkolą się w walce włócznią i buławą oraz przygotowują do zawodów zwanych spasionami, gdzie konkurują w zakresie rzutu oszczepem, biegu, zapasów, rzutu młotem, walki na pięści i innych dyscyplin. Jednak ich życie to także praca na roli i połowy ryb, w czym pomagają swoim rodzicom, którzy łożą na ich przynależność do syssitii.</p>
        <p>
            Początkowe: Pływanie (1), Wspinaczka (1).<br>
            Punkty umiejętności do rozdysponowania: 4 pkt
        </p>
        <h5 class="rules">Dostępne umiejętności początkowe (Starogwardzista i Syssition)</h5>
        <p>Kartografia, Wyczucie kierunku, Tropienie, Myślistwo, Zielarstwo, Leczenie, Garbarstwo, Posługiwanie się liną, Zastawianie sideł, Przepowiadanie pogody, Nawigacja z gwiazd, Gotowanie, Piwowarstwo i miodosytnictwo, Ciesielstwo, Kamieniarstwo, Kowalstwo, Wyrób łuków i strzał lub inne zawody, o ile uzasadnione w biografii postaci.</p>
        <h5 class="rules">Dostępne umiejętności początkowe (Starogwardzista)</h5>
        <p>Historia lokalna, Historia starożytna, Religioznawstwo i inne dotyczące wiedzy - te umiejętności nie występują, zostają zastąpione możliwością wykorzystania punktów umiejętności na przeczytanie ksiąg, wg przelicznika 1 pkt umiejętności = 4 pkt ksiąg.</p>
        <p>Księgi mają różną objętość i trudność (wymagają 1, 2, 3 lub 4 pkt ksiąg). Przykład: poświęcając 1 pkt umiejętności (=4 pkt ksiąg) można przeczytać 4 księgi o wadze 1 pktu. Lista ksiąg do wyboru - osobno. W tej kwestii wskazane są także samodzielne poszukiwania wiedzy (sugestie, jaka tematyka interesuje gracza). </p>
        <br>
        <br><br><br>

    <h2 class="hover-blue" data-toggle="collapse" data-target="#skills"><b>Lista umiejętności</b></h2>
    <br>
    <div id="skills" class="collapse">
        {% for skill in skills %}
            <br>
            {% if skill.image %}
                <img src="{{ skill.image.url }}" class="border-double img-skill">
            {% endif %}
            <h1 class="hover-blue pt-2" data-toggle="collapse" data-target="#{{ skill.name }}">
                <b>{{ skill.name }}</b>
            </h1>
            <small>{{ skill.description }}</small>
            <br>
            <div id="{{ skill.name }}" class="collapse">
                <table class="skills-table">
                    <tr>
                        <td class="align-top"><img src="{% static 'img/0.png' %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 justify">{{ skill.lvl_0|linebreaksbr }}<br><br></td>
                    </tr>
                    <tr>
                        <td class="align-top"><img src="{% static 'img/1.png' %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 justify">{{ skill.lvl_1|linebreaksbr }}<br><br></td>
                    </tr>
                    <tr>
                        <td class="align-top"><img src="{% static 'img/2.png' %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 justify">{{ skill.lvl_2|linebreaksbr }}<br><br></td>
                    </tr>
                    <tr>
                        <td class="align-top"><img src="{% static 'img/3.png' %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 justify">{{ skill.lvl_3|linebreaksbr }}<br></td>
                    </tr>
                </table>
            </div>
         {% endfor %}
    </div>
    <br>

    <h2 class="hover-blue border-top" data-toggle="collapse" data-target="#synergies"><br><b>Synergie</b></h2>
    <br>
    <div id="synergies" class="collapse">
        {% for synergy in synergies %}
            {% for skill in synergy.skills.all %}
                {% if skill.image %}
                    <img src="{{ skill.image.url }}" class="border-double img-skill">
                {% endif %}
            {% endfor %}
            <h1 class="hover-blue pt-2" data-toggle="collapse" data-target="#{{ synergy.short_name }}">
               {{ synergy.name }}
            </h1>
            <div id="{{ synergy.short_name }}" class="collapse">
                <table class="skills-table">
                    <tr>
                        <td class="align-top"><img src="{% static 'img/1.png' %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 justify">{{ synergy.lvl_1|linebreaksbr }}<br><br></td>
                    </tr>
                    <tr>
                        <td class="align-top"><img src="{% static 'img/2.png' %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 justify">{{ synergy.lvl_2|linebreaksbr }}<br><br></td>
                    </tr>
                    <tr>
                        <td class="align-top"><img src="{% static 'img/3.png' %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 justify">{{ synergy.lvl_3|linebreaksbr }}<br></td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>
    <br><br>
{% endblock content %}
