{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/rules.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'rules:main' %}">Zasady</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <h2 class="rules">Umiejętności początkowe</h2>
        <p>
            Każda postać rozpoczyna grę z pewnym zakresem umiejętności, zależnym od jej biografii oraz klasy postaci.
            Początkowa ilość punktów umiejętności do rozdysponowania różni się w zależności od klasy:
            Wojownik i Łowca - 3, ale Syssition i Starogwardzista - 4; Kapłan, Bard, Kupiec, Czarodziej - 4; Łotrzyk - 3.
            Dalsze nabywanie umiejętności jest ograniczone jedynie ramami fabuły. Poniżej przykład klasy Starogwardzisty oraz Syssitiona.
        </p>
        <br>
        <h5 class="rules">Starogwardzista</h5>
            <p>
                Starogwardziści są szkoleni dość wszechstronnie, dlatego nie osiągają tak wcześnie jak wojownicy specjalizacji w walce, natomiast dysponują znaczącą ilością umiejętności.
                Do tego pewne umiejętności posiadają zawsze od początku, co wynika ze sposobu wychowania.
            </p>
            <p>
                Początkowe: Pływanie (1), Wytrzymałość (1), Sztuka przetrwania (1), Czytanie i pisanie (2), Sztuka władania ogniem (1).
                <br>
                Umiejętności do rozdysponowania: 4 pkt
            </p>
        <br>
        <h5 class="rules">Syssition</h5>
            <p>
                Syssitioni to młodzi Skadyjczycy zorganizowani w syssitiach, gdzie pod okiem mistrza szkolą się w walce włócznią i buławą
                oraz przygotowują do zawodów zwanych spasionami, gdzie konkurują w zakresie rzutu oszczepem, biegu, zapasów, rzutu młotem, walki na pięści i innych dyscyplin.
                Jednak ich życie to także praca na roli i połowy ryb, w czym pomagają swoim rodzicom, którzy łożą na ich przynależność do syssitii.
            </p>
            <p>
                Początkowe: Pływanie (1), Wspinaczka (1).
                <br>
                Umiejętności do rozdysponowania: 4 pkt
            </p>
            <br>
        <h5 class="rules">Dostępne umiejętności początkowe (Starogwardzista i Syssition)</h5>
            <p>
                Kartografia, Wyczucie kierunku, Tropienie, Myślistwo, Zielarstwo, Leczenie, Garbarstwo, Posługiwanie się liną, Zastawianie sideł, Przepowiadanie pogody,
                Nawigacja z gwiazd, Gotowanie, Piwowarstwo i miodosytnictwo, Ciesielstwo, Kamieniarstwo, Kowalstwo, Wyrób łuków i strzał lub inne zawody, o ile uzasadnione w biografii postaci.
            </p>
            <br>
        <h5 class="rules">Dostępne umiejętności początkowe (Starogwardzista)</h5>
            <p>
                Historia lokalna, Historia starożytna, Religioznawstwo i inne dotyczące wiedzy - te umiejętności nie występują,
                zostają zastąpione możliwością wykorzystania punktów umiejętności na przeczytanie ksiąg, wg przelicznika 1 pkt umiejętności = 4 pkt ksiąg.
            </p>
            <p>
                Księgi mają różną objętość i trudność (wymagają 1, 2, 3 lub 4 pkt ksiąg). Przykład: poświęcając 1 pkt umiejętności (=4 pkt ksiąg) można przeczytać 4 księgi o wadze 1 pkt.
                W celu uzyskania listy ksiąg do wyboru należy się zwrócić do Mistrza Gry. Gracz jak najbardziej może sugerować, jaka tematyka interesuje jego postać.
            </p>
        <br><br><br>

    <h2 class="rules">Poziomy umiejętności</h2>
    <br>
    <table>
        <tr>
            <td class="align-top"><img src="{% static 'img/0.png' %}" class="border-double img-numeral"></td>
            <td class="align-bottom pl-1 justify">
                <b>Brak umiejętności</b><br>
                Postać nie posiada jakiejkolwiek sprawności w danym zakresie, która wykraczałaby ponad przeciętne rozeznanie w świecie i rozgarnięcie życiowe.
                Ewentualnie postaci może się zdawać, że coś na dany temat wie albo umie.
                Oczywiście w niczym nie stoi to na przeszkodzie, żeby się wymądrzać.<br>
                Jeśli postać spróbuje użyć danej umiejętności, to istnieje oczywiście szansa na to, że jej działanie się powiedzie, jednak jest to szansa niezwykle mała...
                <br><br>
            </td>
        </tr>
        <tr>
            <td class="align-top"><img src="{% static 'img/1.png' %}" class="border-double img-numeral"></td>
            <td class="align-bottom pl-1 justify">
                <b>Sprawność</b><br>
                Pozwala na wykonywanie standardowych testów za powodzenie zastosowania danej umiejętności z modyfikatorami zależnymi od sytuacji.
                Taką umiejętność można nabyć za 1 pkt umiejętności otrzymany przy awansie.
                <br><br>
            </td>
        </tr>
        <tr>
            <td class="align-top"><img src="{% static 'img/2.png' %}" class="border-double img-numeral"></td>
            <td class="align-bottom pl-1 justify">
                <b>Poziom ekspercki</b><br>
                Pozwala na pełne wykorzystanie danej umiejętności oraz eksperymentowanie poza jej zakresem standardowego zastosowania.
                Działania standardowe: mod. +3.<br>
                Oprócz punktu umiejętności wymaga również zużycia 200 exp.  + ew. nauki u mistrza.<br><br>
            </td>
        </tr>
        <tr>
            <td class="align-top"><img src="{% static 'img/3.png' %}" class="border-double img-numeral"></td>
            <td class="align-bottom pl-1 justify">
                <b>Poziom legendarny</b><br>
                Pozwala na działania wykraczające poza zdolności pojmowania przeciętnego człowieka i przesuwające granicę między rzeczywistością a eposem…<br>
                Działania standardowe: udają się bez rzutu.<br>
                Działania niezwykle trudne i złożone: mod. +3.<br>
                Działania niemożliwe są możliwe: mod. -3.<br>
                Oprócz punktu umiejętności wymaga również zużycia 500 exp. + ew. nauki u mistrza lub lat praktyki.<br>
            </td>
        </tr>
    </table>
    <br><br><br>

    <h2 class="rules">Rozwój umiejętności</h2>
        <p>
            Punkty Umiejętności, podobnie jak Punkty Biegłości można wydawać w chwili awansu i tylko wtedy.
            Oznacza to, że aby uzyskać nową umiejętność wraz z awansem, należy ją rozwijać już wcześniej.
            Jeśli gracz tego nie robił bądź robił niemrawo, to dany awans nie przynosi punktu umiejętności albo biegłości,
            tak samo jak nie da +1 cechy, jeśli cały poziom został nabyty na stanowisku urzędnika portowego albo celnika na mało ruchliwym brodzie.
            W przypadku 2 i 3 poziomu umiejętności, które wymagają odpowiednio 200 exp i 500 exp., punkty te trzeba przeznaczyć na umiejętność w trakcie nauki,
            czyli w trakcie nabijania danego poziomu - co de facto opóźnia awans.
            Tylko pod tym warunkiem w chwili awansu jest się gotowym do wejścia na wyższy poziom danej umiejętności (przez wydanie Punktu Umiejętności).
            Deklarację o wydaniu 200/500 exp. można złożyć w dowolnym momencie w trakcie zdobywania nowego poziomu, ale najlepiej po uzyskaniu od Mistrza Gry potwierdzenia, że nauka przynosi pierwsze efekty.
        </p>
        <br><br><br>

    <h2><b class="hover-blue" data-toggle="collapse" data-target="#skills">Lista umiejętności</b></h2>
    <small>
        Lista umiejętności jest otwarta. Jeśli jesteś zainteresowany umiejętnością z listy, która nie ma jeszcze opisu albo
        taką, której nie ma na liście (a realnie istnieje), to wyślij Dezyderat do Mistrza Gry.
    </small>
    <br><br>
    <div id="skills" class="collapse">
        {% for skill in skills %}
            {% if skill.image %}
                <img src="{{ skill.image.url }}" class="border-double img-skill">
            {% else %}
                <img src="{% static 'img/skill-default.png' %}" class="border-double img-skill">
            {% endif %}
            <h1 class="hover-blue pt-2" data-toggle="collapse" data-target="#{{ skill.short_name }}">
                <b>{{ skill.name }}</b>
            </h1>

            <div id="{{ skill.short_name }}" class="collapse">
                <small>[{{ skill.tested_trait }}] {{ skill.description }}</small>
                <table class="skills-table">
                    {% if skill.lvl_0 %}
                    <tr>
                        <td class="align-top"><img src="{% static 'img/0.png' %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 justify">{{ skill.lvl_0|linebreaksbr }}<br><br></td>
                    </tr>
                    {% endif %}
                    {% if skill.lvl_1 %}
                    <tr>
                        <td class="align-top"><img src="{% static 'img/1.png' %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 justify">{{ skill.lvl_1|linebreaksbr }}<br><br></td>
                    </tr>
                    {% endif %}
                    {% if skill.lvl_2 %}
                    <tr>
                        <td class="align-top"><img src="{% static 'img/2.png' %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 justify">{{ skill.lvl_2|linebreaksbr }}<br><br></td>
                    </tr>
                    {% endif %}
                    {% if skill.lvl_3 %}
                    <tr>
                        <td class="align-top"><img src="{% static 'img/3.png' %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 justify">{{ skill.lvl_3|linebreaksbr }}<br></td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <br>
         {% endfor %}
    </div>
    <br>

    <h2 class="hover-blue border-top" data-toggle="collapse" data-target="#synergies"><br><b>Synergie</b></h2>
    <br>
    <div id="synergies" class="collapse">
        {% for synergy in synergies %}
            {% for skill in synergy.skills.all %}
                {% if skill.image %}
                    <img src="{{ skill.image.url }}" class="border-double img-skill">
                {% endif %}
            {% endfor %}
            <h2 class="hover-blue pt-3" data-toggle="collapse" data-target="#{{ synergy.short_name }}">
               {{ synergy.name }}
            </h2><br>
            <div id="{{ synergy.short_name }}" class="collapse">
                <table class="skills-table">
                    {% if synergy.lvl_1 %}
                    <tr>
                        <td class="align-top"><img src="{% static 'img/1.png' %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 justify">{{ synergy.lvl_1|linebreaksbr }}<br><br></td>
                    </tr>
                    {% endif %}
                    {% if synergy.lvl_2 %}
                    <tr>
                        <td class="align-top"><img src="{% static 'img/2.png' %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 justify">{{ synergy.lvl_2|linebreaksbr }}<br><br></td>
                    </tr>
                    {% endif %}
                    {% if synergy.lvl_2 %}
                    <tr>
                        <td class="align-top"><img src="{% static 'img/3.png' %}" class="border-double img-numeral"></td>
                        <td class="align-bottom pl-1 justify">{{ synergy.lvl_3|linebreaksbr }}<br></td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        {% endfor %}
    </div>
    <br><br>
{% endblock content %}
