{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'rules:main' %}">Zasady</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="rules-styling">
        <br><br><br>

        <h2 class="rules">Umiejętności początkowe i rozwój</h2>
        <br>
        <p>
            Każda postać rozpoczyna grę z pewnym zakresem Umiejętności, zależnym od jej biografii oraz Profesji.
            Początkowa ilość punktów Umiejętności do rozdysponowania różni się w zależności od Klasy i Profesji:
            Wojownik - 3, Awanturnik, Bard, Czarodziej, Kapłan i Łotrzyk  - 4.
            Szczegółowe opisy Profesji mogą zawierać modyfikacje (np. Syssition dysponuje aż 4 pkt Umiejętności w zamian za jedynie 3 pkt Biegłości).
            Niektóre Profesje dysponują Umiejętnościami startowymi, które zostały wskazane w ich opisach.
            Wszystkie Klasy dysponują pełnym dostępem do wszelkich znanych im Umiejętności, który jest ograniczony jedynie realiami świata i ramami fabuły.
        </p>
        <p>
            Podczas tworzenia postaci Gracz może przeznaczyć początkowe punkty Umiejętności na wykupienie nowych Umiejętności lub rozwinięcie posiadanych do poziomu [2].
            W takim przypadku nie obowiązuje zasada, iż poziom [2] wymaga wydania 200 doświadczenia poza 1 punktem Umiejętności.
            Postać rozpoczynająca grę nie może jednak posiadać Umiejętności na poziomie [3].
        </p>
        <p>
            Punkty Umiejętności, podobnie jak Punkty Biegłości można wydawać w chwili awansu i tylko wtedy.
            Oznacza to, że aby uzyskać nową Umiejętność wraz z awansem, należy ją rozwijać już wcześniej.
            Jeśli gracz tego nie robił bądź robił niemrawo, to dany awans nie przynosi punktu Umiejętności albo Biegłości,
            tak samo jak nie da +1 cechy, jeśli cały poziom został nabyty na stanowisku urzędnika portowego albo celnika na mało ruchliwym brodzie.
            W przypadku 2 i 3 poziomu Umiejętności, które wymagają odpowiednio 200 dośw. i 500 dośw., punkty te trzeba przeznaczyć na umiejętność w trakcie nauki,
            czyli w trakcie nabijania danego poziomu - co de facto opóźnia awans.
            Tylko pod tym warunkiem w chwili awansu jest się gotowym do wejścia na wyższy poziom danej Umiejętności (przez wydanie Punktu Umiejętności).
            Deklarację o wydaniu 200/500 dośw. można złożyć w dowolnym momencie w trakcie zdobywania nowego poziomu, ale najlepiej po uzyskaniu od Mistrza Gry potwierdzenia, że nauka przynosi pierwsze efekty.
        </p>
        <br><br><br>

        <h2 class="rules">Poziomy umiejętności</h2>
        <br>
        <table>
            <tr>
                <td class="align-top"><img src="{% static 'img/0.png' %}" class="border-double img-numeral"></td>
                <td class="align-bottom pl-1 justify">
                    <b>Brak umiejętności</b><br>
                    Postać nie posiada jakiejkolwiek sprawności w danym zakresie, która wykraczałaby ponad przeciętne rozeznanie w świecie i rozgarnięcie życiowe.
                    Ewentualnie postaci może się zdawać, że coś na dany temat wie albo umie. Oczywiście mało komu przeszkadza to, żeby się wymądrzać.
                    <br>
                    Jeśli postać spróbuje użyć danej Umiejętności, to istnieje oczywiście szansa na to, że próba się powiedzie, jednak jest to szansa niezwykle mała...
                    <br><br>
                </td>
            </tr>
            <tr>
                <td class="align-top"><img src="{% static 'img/1.png' %}" class="border-double img-numeral"></td>
                <td class="align-bottom pl-1 justify">
                    <b>Sprawność</b><br>
                    Pozwala na wykonywanie standardowych testów za powodzenie zastosowania danej Umiejętności z modyfikatorami zależnymi od sytuacji.
                    Taką Umiejętność można nabyć za 1 pkt Umiejętności otrzymany przy awansie.
                    <br><br>
                </td>
            </tr>
            <tr>
                <td class="align-top"><img src="{% static 'img/2.png' %}" class="border-double img-numeral"></td>
                <td class="align-bottom pl-1 justify">
                    <b>Poziom ekspercki</b><br>
                    Pozwala na pełne wykorzystanie danej Umiejętności oraz eksperymentowanie poza jej zakresem standardowego zastosowania.
                    Działania standardowe: mod. +3.<br>
                    Oprócz punktu Umiejętności wymaga również zużycia 200 dośw.  + ew. nauki u mistrza.<br><br>
                </td>
            </tr>
            <tr>
                <td class="align-top"><img src="{% static 'img/3.png' %}" class="border-double img-numeral"></td>
                <td class="align-bottom pl-1 justify">
                    <b>Poziom legendarny</b><br>
                    Pozwala na działania wykraczające poza zdolności pojmowania przeciętnego człowieka i przesuwające granicę między rzeczywistością a eposem…<br>
                    Działania standardowe: udają się bez rzutu.<br>
                    Działania niezwykle trudne i złożone: mod. +3.<br>
                    Działania niemożliwe są możliwe: mod. -3.<br>
                    Oprócz punktu Umiejętności wymaga również zużycia 500 dośw. + ew. nauki u mistrza lub lat praktyki.<br>
                </td>
            </tr>
        </table>
        <br><br><br>


        <h2><b class="hover-blue" data-toggle="collapse" data-target="#skills">Lista Umiejętności</b></h2>
        <small>
            Lista Umiejętności jest otwarta. Jeśli jesteś zainteresowany Umiejętnością z listy, która nie ma jeszcze opisu albo
            taką, której nie ma na liście (a realnie istnieje), to wyślij Dezyderat do Mistrza Gry.
        </small>
        <br><br>
        <div id="skills" class="collapse">
            {% for skill in skills %}
                {% if skill.image %}
                    <img src="{{ skill.image.url }}" class="border-double img-skill">
                {% else %}
                    <img src="{% static 'img/skill-default.png' %}" class="border-double img-skill">
                {% endif %}
                <h1 class="pt-2" data-toggle="collapse" data-target="#{{ skill.short_name }}">
                    <b class="hover-blue">&nbsp;{{ skill.name }}</b>
                    <small class="text-muted smaller"> [{{ skill.tested_trait }}]</small>
                </h1>

                <div id="{{ skill.short_name }}" class="collapse">
                    <table class="skills-table">
                        <br>
                        {% for skill_level in skill.skill_levels.all %}
                        <tr>
                            {% with level_img='img/'|add:skill_level.level|add:'.png' %}
                            <td class="align-top"><img src="{% static level_img %}" class="border-double img-numeral"></td>
                            <td class="align-bottom pl-1 text-justify">{% if skill_level.description %}{{ skill_level.description|linebreaksbr }}{% endif %}<br><br></td>
                            {% endwith %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <br>
             {% endfor %}
        </div>
        <br>

        <h2 class="border-top"><br><b class="hover-blue" data-toggle="collapse" data-target="#synergies">Synergie</b></h2>
        <small>
            Synergie to dodatkowe bonusy z tytułu połączenia pary lub więcej Umiejętności. Lista jest otwarta.
        </small>
        <br><br>
        <div id="synergies" class="collapse">
            {% for synergy in synergies %}
                {% for skill in synergy.skills.all %}
                    {% if skill.image %}
                        <img src="{{ skill.image.url }}" class="border-double img-skill">
                    {% endif %}
                {% endfor %}
                <h2 class="hover-blue pt-3" data-toggle="collapse" data-target="#{{ synergy.short_name }}">
                   &nbsp;{{ synergy.name }}
                </h2>
                <br>
                <div id="{{ synergy.short_name }}" class="collapse">
                    <table class="skills-table">
                        {% if synergy.lvl_1 %}
                        <tr>
                            <td class="align-top"><img src="{% static 'img/1.png' %}" class="border-double img-numeral"></td>
                            <td class="align-bottom pl-1 text-justify">{{ synergy.lvl_1|linebreaksbr }}<br><br></td>
                        </tr>
                        {% endif %}
                        {% if synergy.lvl_2 %}
                        <tr>
                            <td class="align-top"><img src="{% static 'img/2.png' %}" class="border-double img-numeral"></td>
                            <td class="align-bottom pl-1 text-justify">{{ synergy.lvl_2|linebreaksbr }}<br><br></td>
                        </tr>
                        {% endif %}
                        {% if synergy.lvl_3 %}
                        <tr>
                            <td class="align-top"><img src="{% static 'img/3.png' %}" class="border-double img-numeral"></td>
                            <td class="align-bottom pl-1 text-justify">{{ synergy.lvl_3|linebreaksbr }}<br></td>
                        </tr>
                        {% endif %}
                    </table>
                    <br><br>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
