{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling pt-3">
        
        <div class="mt-5" id="accordion">
          
            <!-- ALL SKILLS -->
            <div class="card mb-2">
                <div class="card-header" id="all-skills">
                    <label class="h4 font-weight-bold hover-blue mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Wszystkie
                    </label>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="all-skills" data-parent="#accordion">
                    <div class="card-body container">
                        {% for skill in skills %}
                            {% include 'rules/_skill.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
          
            <!-- SKILLS PER SKILL TYPES-->
            {% for skill_type in skill_types %}
                <div class="card mb-2">
                    <div class="card-header" id="{{ skill_type.name }}">
                        <label class="h4 font-weight-bold hover-blue mb-0" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                            {{ skill_type.name }}
                        </label>
                    </div>
                    <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="{{ skill_type.name }}" data-parent="#accordion">
                        <div class="card-body container">
                            {% for skill in skill_type.skills.all %}
                                {% include 'rules/_skill.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
        
    </div>
{% endblock content %}
