{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling pt-3">
        
        <div class="mt-5" id="accordion">
          
            <!-- ALL SKILLS -->
            <div class="card mb-2">
                <div class="card-header hover-blue" id="all-skills"
                     data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <label class="h4 font-weight-bold mb-0 hover-blue small-caps">
                        Wszystkie
                    </label>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="all-skills" data-parent="#accordion">
                    <div class="card-body container">
                        {% with id_suffix="skills-all" %}
                            {% for skill in skills %}
                                {% include 'rules/_skill.html' %}
                            {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            </div>
          
            <!-- SKILLS PER SKILL TYPES-->
            {% for skill_type in skill_types %}
                <div class="card mb-2">
                    <div class="card-header hover-blue" id="{{ skill_type.name }}"
                         data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                        <label class="h4 font-weight-bold mb-0 hover-blue">
                            {{ skill_type.name }}
                        </label>
                    </div>
                    <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="{{ skill_type.name }}" data-parent="#accordion">
                        <div class="card-body container">
                            <!-- This conditional is necessary to avoid regrouping of skills that have multiple SkillTypes within each SkillType
                                In some cases it would result in leaving most of the skills ungrouped while some of them grouped. -->
                            {% if skill_type.skill_groups.exists %}
                                {% with skills=skill_type.skills.all %}
                                    {% regroup skills|dictsort:"group.name" by group as skillgroup_list %}
                                    {% for skillgroup in skillgroup_list %}
                                        {% if skillgroup.grouper.name %}
                                            <h4 class="mt-4 mb-2 border-bottom text-center">
                                                {{ skillgroup.grouper.name }}
                                            </h4>
                                        {% endif %}
                                        {% for skill in skillgroup.list %}
                                            {% include 'rules/_skill.html' %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endwith %}
                            {% else %}
                                {% for skill in skill_type.skills.all %}
                                    {% with id_suffix=skill_type.name|rid_of_special_chars %}
                                        {% include 'rules/_skill.html' %}
                                    {% endwith %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
        
    </div>
{% endblock content %}
