{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load cache %}


{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}


{% block content %}
{% cache 30000 synergies skilltype_kind request.current_profile.user.username %}
    <div class="rules-styling">
        <div class="mt-5">
            {% with show_levels=False %}
                {% for synergy in synergies %}
                    {% include 'rules/_synergy.html' %}
                {% endfor %}
            {% endwith %}
        </div>
    </div>
{% endcache %}
{% endblock content %}
