{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling pt-3">

        <h2 class="rules mt-5 mb-3" id="TestCechy">
            Testy Cech
        </h2>
        <p>
            Test Cechy polega na dodaniu wartości Cechy, wyniku rzutu k20 oraz ewentualnych modyfikatorów wynikających z Umiejętności, przedmiotów, magii itp.,
            a następnie porównaniu tej sumy z Poziomem Trudności danej akcji. Wynik równy lub wyższy Poziomowi Trudności oznacza Sukces, a wynik niższy - Fiasko.
            Z kolei Konflikt Cechy, o którym dalej, polega na zestawieniu Testów Cechy dwóch lub więcej adwersarzy.
        </p>
        <ul class="rules ml-4 font-italic">
            <li>
                TEST CECHY: (Wartość Cechy + 1k20 + Modyfikatory) kontra (Poziom Trudności)
            </li>
            <li>
                KONFLIKT CECHY: (TEST CECHY Postaci I) kontra (TEST CECHY Postaci II)
            </li>
        </ul>
        <p>
            Poziom Trudności może być wyrażony liczbowo lub słownie.
            Dokładna wartość liczbowa może być znana Graczowi (tak jest w przypadku niektórych czynności opisanych dokładniej w Zasadach)
            albo znana jedynie Mistrzowi Gry (w przypadku pozostałych akcji nieujętych szczegółowo w Zasadach).
            Jednak w drugim przypadku Mistrz Gry określa Poziom Trudności słownie, przez co Gracz może oszacować jego wartość liczbową.
        </p>
        <p>
            Kiedy Poziom Trudności nie jest dokładnie znany Postaci, Mistrz Gry może go wyrazić przy pomocy sformułowań,
            które nie wskazują precyzyjnie na konkretną wartość liczbową, ale pozwalają ją oszacować, np. „bułka z masłem”, „absurdalnie trudny”, „dla ciebie - dosyć prosty”,
            „bardzo trudny, ale nie niemożliwy” albo "chyba żartujesz..." itp.
            Oczywiście może tu wchodzić w grę czynnik psychologiczny,
            na przykład Postaci pijanej, nastawionej pozytywnie do swoich możliwości albo wręcz cechującej się przerostem ego
            Mistrz Gry może dostarczyć opisu deprecjonującego faktyczny Poziom Trudności.
            Analogicznie, Postać stłamszona, wycieńczona, poraniona czy też pijana na smutno może przecenić Poziom Trudności.
        </p>
        <p>
            Poniższa tabela określa Poziomy Trudności na potrzeby dalszych Zasad, a także stanowi punkt odniesienia w przypadku ich słownego opisu przez Mistrza Gry.
            Ilekroć w Zasadach mowa o Teście Cechy bez podania Poziomu Trudności oznacza to Test na poziomie Prozaicznym.
        </p>
        <table class="table table-hover table-bordered table-sm mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>Poziom Trudności</th>
                    <th>Test Cechy</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Niepoważny</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Banalny</td>
                    <td>16</td>
                </tr>
                <tr>
                    <td>Prozaiczny</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Łatwy</td>
                    <td>22</td>
                </tr>
                <tr>
                    <td>Umiarkowany</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>Wymagający</td>
                    <td>26</td>
                </tr>
                <tr>
                    <td>Trudny</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>Bardzo Trudny</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Odstręczający</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>Heroiczny</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>Niemożliwy</td>
                    <td>40</td>
                </tr>
            </tbody>
        </table>
        <p>
            Jak widać, w przypadku najtrudniejszych wyczynów Postać ma nikłe szanse na Sukces,
            o ile nie dysponuje rozwiniętymi Umiejętnościami, które dostarczyłyby Bonusu do Testu Cechy.
        </p>
        
        <ol class="rules ml-4 font-italic text-justify">
            <li>
                Np. Postać o Sile 12 podejmuje próbę wykonania czynności o Poziomie Trudności "Prozaiczny" (20);
                czynność powiedzie się, jeśli na k20 wyrzuci 8 lub więcej (12 + 8 = 20).
            </li>
            <li>
                Np. Postać o Sile 12 podejmuje próbę wykonania czynności o Poziomie Trudności "Bardzo Trudny" (30);
                czynność powiedzie się, jeśli na k20 wyrzuci 18 lub więcej (12 + 18 = 30).
            </li>
            <li>
                Np. Postać o Sile 12 podejmuje próbę wykonania czynności o Poziomie Trudności "Heroiczny" (36);
                teoretycznie takie działanie nie ma szans powodzenia, ponieważ nawet przy maksymalnym wyniku rzutu k20 łączna wartość Cechy i wyniku rzutu to 32;
                jednak czynność powiedzie się w przypadku wyrzucenia 20 na k20 ze względu na zasady Pewnego Sukcesu omówione w dalszej części.
            </li>
        </ol>
        <p>
            W zależności od kontekstu sytuacyjnego, a dokładniej od tego, czy pozwala on Postaci na monitorowanie powodzenia czynności,
            Test Cechy może być wykonywany jawnie przez Gracza albo potajemnie przez Mistrza Gry.
            Pierwsza sytuacja zachodzi np. przy Wspinaczce, kiedy to Sukces i Fiasko są natychmiast odczuwalne dla Postaci,
            natomiast druga przy Skradaniu, kiedy to Postać nie ma pewności czy pozostaje niedostrzeżona.
            Zarazem, w przypadku rażącego niepowodzenia Mistrz Gry dostarczyć opisu pozwalającego na zorientowanie się co do porażki
            – zwłaszcza, gdy Gracz sensownie deklaruje sposób, w jaki jego Postać monitoruje wykonanie czynności.
        </p>
        <ol class="rules ml-4 font-italic text-justify">
            <li>
                Np. Postać podkrada się przez las do grupki podróżnych zasiadających wokół ogniska;
                potajemny rzut wykonany przez Mistrza Gry kończy się kompletnym Fiaskiem;
                Mistrz Gry opisuje jak gałązka trzasnęła pod niezdarnym krokiem Postaci.
            </li>
            <li>
                Np. Postać podkrada się do strażnika na warcie; potajemny rzut wykonany przez Mistrza Gry kończy się Fiaskiem,
                ale wynik rzutu był bliski Sukcesu – dlatego, paradoksalnie, Postać nie ma możliwości natychmiastowego uświadomienia sobie własnej porażki;
                żadna gałązka nie trzasnęła, żaden ptak nie zerwał się z krzykiem.
                A mimo to może się okazać, że strażnik zauważył kątem oka poruszenie, jednak nie dał tego po sobie poznać, ponieważ chce zaskoczyć rzezimieszka.
                Jednak, jeśli Gracz zadeklaruje, że uważnie obserwuje strażnika, zwracając uwagę na tempo jego kroku i postawę ciała
                (czy pozostaje swobodna, czy się zmieniła?), i jeśli ani na chwilę nie spuszcza go z oczu, wówczas Mistrz Gry (ew. wykonując dodatkowy Test ZRC)
                może opisać jak wartownik drgnął lekko i zesztywniał na ułamek chwili, choć nie wstrzymał kroku…
            </li>
        </ol>
        <p>
            W tym kontekście Fiasko ocierające się o Sukces to sytuacja szczególne ryzykowna dla wszelkich łotrzyków,
            ponieważ jest ewidentnego potwierdzenia porażki, który pozwoliłby w porę szukać ratunku w ucieczce.
            Jednak prawdziwi łotrzykowie i awanturnicy nie skarżą się na ten los, bo życie na krawędzi to ich chleb powszedni,
            a jeżeli ktoś dostrzega tu niesprawiedliwość, to wzruszają tylko ramionami i odsyłają go z powrotem do mamusi.
        </p>
        <p>
            <b>§ Konflikt Cechy.</b>
            Większość Testów Cech polega na konfrontacji Postaci z rzeczywistością, a więc zestawieniu sumy <i>wartość Cechy + 1k20 + Modyfikatory</i> z Poziomem Trudności działania.
            Jednak w sytuacjach takich jak siłowanie się na rękę, przeciąganie liny czy wzajemne duszenie należy przeprowadzić Konflikt Cechy.
            Polega on na tym, że każdy z przeciwników wykonuje Test Cechy, a wygrywa ten, kto ma więcej.
            Oprócz Konfliktów zestawiających te same Cechy przeciwników mogą się zdarzyć sytuacje mieszanie, np. próba wywinięcia się z uścisku osiłka (Konflikt ZRC vs. SIŁ).
            W przypadku miażdżącej przewagi Cechy jednego z oponentów połączonej z sytuacją ścisłego wyizolowania tejże Cechy Mistrz Gry może z góry określić wynik Konfliktu Cechy na korzyść mocniejszego.
            Sytuacja taka zachodzi przede wszystkim kontekście zawodów lekkoatletycznych, które polegają na porównaniu zdolności fizycznych uczestników w wyizolowany, jednoczynnikowy sposób.
            W przypadku rzutu dyskiem, biegu krótkodystansowego czy siłowania się na rękę, Konflikt Cechy może być automatycznie rozstrzygnięty,
            jeśli pomiędzy oponentami występuje duży rozstrzał wartości Cechy, np. SIŁ 10 kontra SIŁ 15.
            Konflikt Cechy (ZRC) jest również standardowym sposobem rozstrzygania o kolejce Inicjatywy w walce
            (☞<mark><a href="{% url 'rules:combat' %}">Przebieg walki</a></mark>),
            jednak jest to sytuacja wieloczynnikowa, niewyizolowana, dlatego w tym przypadku nie stosuje się zasad miażdżącej przewagi.
        </p>

        
        
        <h2 class="rules mt-5 mb-3">
            Pewny/Krytyczny Sukces/Fiasko
        </h2>
        <p>
            <b>§ Pewny Sukces i Pewne Fiasko.</b>
            Oba skrajne wyniki na k20, czyli 1 i 20, wskazują odpowiednio na Pewne Fiasko (Porażkę) albo na Pewny Sukces (Powodzenie).
            Pewny Sukces oznacza całkowite powodzenie akcji w ramach możliwego, normalnego powodzenia.
            W ten sposób nawet efekty teoretycznie pozostające poza zasięgiem danej Postaci, mogą okazać się osiągalne...
            Jednak w przypadku działań, których powodzenie jest obiektywnie niemożliwe, Postać może co najwyżej osiągnąć zaskakująco wiele w ramach niepowodzenia.
            Np. próba przeskoczenia pięciometrowego drzewa w przypadku Pewnego Sukcesu zakończy się fenomenalnym skokiem prosto na gałąź znajdującą się na wysokości dwóch metrów.
        </p>
        <p>
            <b>§ Krytyczny Sukces i Krytyczne Fiasko.</b>
            W celu określenia skali Pewnego Sukcesu lub Fiaska Gracz wykonuje kolejny rzut k20.
            W skrajnej sytuacji, gdy wyniki obu rzutów są identyczne (1 i 1 albo 20 i 20) zachodzi sytuacja Krytycznego Fiaska albo Krytycznego Sukcesu,
            która obfituje w nieprzewidziane i zaskakujące skutki, włącznie z interwencją sił wyższych.
            Kwestia ta pozostanie bez przykładu. Prędzej czy później dostarczy go Gra...
            Również w przypadku sytuacji ocierających się o Krytyczny Sukces/Fiasko Mistrz Gry może wprowadzić dodatkowe, jednak w jego ocenie nie nadmierne konsekwencje.
        </p>
        <p>
            Powyższa prezentacja Pewnego/Krytycznego Sukcesu/Fiaska służy zrozumieniu każdego z nich z osobna.
            Jednak w praktyce w przypadku Pewnego Sukcesu (20 na k20) lub Fiaska (1 na k20) Postać natychmiast wykonuje kolejny rzut w celu określenia ich dalszych skutków,
            które w przypadku powtórzenia się wyniku rzutu osiągają skalę Krytycznego Sukcesu (2x20 na k20) albo Krytycznego Fiaska (2x1 na k20).
            Nie ma możliwości rezygnacji z drugiego rzutu.
        </p>
        
        
        
        <h2 class="rules mt-5 mb-3">
            Bonus i Malus
        </h2>
        <p>
            Test Cechy może podlegać różnorakim modyfikatorom wynikającym z Umiejętności, właściwości użytych przedmiotów, magii lub kontekstu sytuacyjnego.
            Modyfikatory korzystne/dodatnie to Bonusy, a niekorzystne/ujemne to Malusy.
            Przykładem Bonusu sytuacyjnego jest modyfikator +2 do Testu Siły,
            gdy Postać starająca się przesunąć wielki głaz zawalający wejście do jaskini użyje grubego, twardego drąga i zastosuje dźwignię,
            natomiast przykładem Bonusu z Umiejętności jest modyfikator +1 do powyższego Testu, gdy Postać wykorzysta Umiejętność "Mobilizacja" na 1 poziomie.
            Z kolei przykładem Malusa sytuacyjnego jest modyfikator -6 do Testu Zręczności dla Postaci, która próbuje złapać rzuconą w jej stronę butelkę z gorzałą,
            jednak jej łydkę właśnie szarpie pijana dziwka;
            wprawdzie Postać jako wytrawny pijak posiada wybitne zdolności w zakresie łapania nadlatujących butelek (jest to dla niej Test o poziomie Prozaicznym),
            jednak tym razem doznaje istotnego dyskomfortu polegającego na zaburzeniu równowagi.
            Tego rodzaju Bonusy i Malusy mogą wystąpić w również kontekście każdej z Cech oraz pochodzących od nich współczynników
            (Klasa Pancera, Trafienie, Inicjatywa, Zaskoczenie, Wypatrywanie, Tropienie itd.).
        </p>
        <p>
            <b>§ Bonus i Malus Generalny.</b>
            Pewne niekorzystne dla Postaci sytuacje, do których należą przeciążenie ekwipunkiem, poważne rany, wycieńczenie lub klątwy i magia,
            mogą skutkować Malusem Generalnym, który stanowi w istocie "pakiet" pomniejszych Malusów.
            Ze względu na zwyczajowy tryb życia Postaci, który wynika stąd, że Gracze zazwyczaj nic sobie nie robią z ich wycieńczenia podróżą, ranami, walką czy zwyczajnym niedożywieniem,
            Malus Generalny jest o wiele częstszą bestią niż jego przeciwieństwo - Bonus Generalny.
            Ów rzadki, niemalże egzotyczny modyfikator pochodzi zazwyczaj z błogosławieństw od kapłanów i kapłanek,
            którzy ze względu na zobowiązującą ich doktrynę dostarczają opieki i schronienia osobnikom znajdującym się na skraju wydolności ludzkiego organizmu.
            Jednak, abstrahując od zgryźliwości, Bonus i Malus Generalny rządzą się tymi samymi prawami, które ilustruje poniższa tabela
            (wartość Bonusu/Malusa może się wahać między 1 a 5, przy czym w przypadku Malusa wartość 5 występuje np. w kontekście otrzymania Rany Śmiertelnej
            i wskazuje na utrudnienie w wykonaniu jakiejkolwiek akcji związane z faktem umierania).
        </p>
        <p>
            Wartość Bonusu lub Malusa Generalnego (1-5) należy zastosować do następujących Testów i Współczynników:
        </p>
        <ol class="rules bullets-2 ml-4 mt-2 font-italic text-justify">
            <li>Test Cechy.</li>
            <li>Test Umiejętności.</li>
            <li>Trafienie.</li>
            <li>Obrażenia.</li>
            <li>Inicjatywa.</li>
            <li>Klasa Pancerza.</li>
            <li>Wydolność.</li>
        </ol>
        <p>
            Bonus i Malus stosuje się do rezultatu wymienionych powyżej Testów i Współczynników.
            W przypadku, jeśli Malus Generalny obniża Test Cechy/Umiejętności lub Trafienie do 1 lub mniej, nie oznacza to Pewnego Fiaska/Pudła,
            ponieważ te zdarzenia są nieodłącznie powiązane z "fizycznym" wynikiem na kości.
        </p>

        
        
        <h2 class="rules mt-5 mb-3" id="Przeciążenie">
            Przeciążenie
        </h2>
        <p>
            Z Przeciążeniem mierzy się Postać, która nosi na swoich plecach ekwipunek przewyższający jej Udźwig.
            stanowi przykład zastosowania zasad Malusa Generalnego.
            Każdy z Progów Przeciążenia (I-II-III-IV) wprowadza Malus Generalny o wartości odpowiednio -1, -2, -4 oraz -10,
            a także ograniczenie Ruchu o 25%, 50%, 75% oraz 99%.
            Oznacza to, że Postać taszcząca ze sobą kilkadziesiąt kilogramów dobytku i wkraczająca w III Próg Przeciążenia otrzymuje Malus Generalny -4,
            co skutkuje zastosowaniem modyfikatora -4 do wszystkich Testów i Współczynników występujących na liście Bonusu/Malusa Generalnego.
            Postać skrajnie przeciążona jest zatem nieruchawa, ociężała i niezdolna do pełnego wykorzystania swoich atutów fizycznych.
            Czyli bardzo, bardzo źle...
        </p>
        <p>
            Postać wchodzi w Próg Przeciążenia w chwili, gdy osiąga jego dolną wartość;
            górne wartości Udźwigu Normalnego oraz Progów Przeciążenia mieszczą w sobie całość danego "kilograma".
            Np. Postać o Udźwigu Podstawowym 20 kg nie wchodzi jeszcze w I Próg Przeciążenia, jeśli niesie na sobie 20.99 kg.
        </p>
        <table class="table table-hover table-bordered table-sm mt-3">
            <thead class="thead-dark align-center">
                <tr>
                    <th>Siła</th>
                    <th>Udźwig Normalny</th>
                    <th>I Próg Przeciążenia</th>
                    <th>II Próg Przeciążenia</th>
                    <th>III Próg Przeciążenia</th>
                    <th>IV Próg Przeciążenia</th>
                </tr>
            </thead>
            <tbody class="align-center">
                {% for load_info in load_infos %}
                    <tr>
                        <th class="text-center">{{ forloop.counter }}</th>
                        <td>{{ load_info.load_regular }}</td>
                        <td>{{ load_info.overload_1 }}</td>
                        <td>{{ load_info.overload_2 }}</td>
                        <td>{{ load_info.overload_3 }}</td>
                        <td>{{ load_info.overload_4 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>

{% endblock content %}
