{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling pt-3">

        <h2 class="rules mt-5 mb-3">Funkcja Cech</h2>
        <p>
            Podstawową funkcją, jaką spełniają w systemie Cechy, jest określenie szans powodzenia Postaci podczas działań, które wymagają sprawności fizycznej.
            W każdym przypadku, kiedy Postać próbuje wykonać czynność o poziomie trudności wyższym niż banalny z perspektywy Cech, jakimi dysponuje,
            Mistrz Gry może zarządzić test Cechy. Również wykorzystanie niektórych Umiejętności polega na wykonaniu Testu Cechy.
            Ponadto każda z Cech dostarcza kilku współczynników pochodnych, np. Siła -> Udźwig, Zręczność -> Inicjatywa, Kondycja -> Życie i Progi Ran.
            Zasady przeprowadzania Testu Cechy przedstawione w są w kolejnej sekcji ---> link.
        </p>
        <p>
            Wartości Cech mogą ulegać zmianie ze względów fabularnych (choroba, kalectwo, wpływ magii itp.) oraz w następstwie Rozwoju Postaci.
            Podobnie jak Umiejętności, również Cechy mogą być podniesione w zamian za Punkty Doświadczenia.
            Maksymalna wartość możliwa do osiągnięcia przez znakomitą większość Postaci to 18 dla każdej z Cech.
            Wartości Cech na poziomie 19-20 można określić jako heroiczne; są zarezerwowane dla Postaci znajdujących się pod wpływem magii lub dysponujących nadnaturalną fizjologią.
        </p>
        <p>
            Rozwój Cech przekłada się oczywiście na wynikające z nich modyfikatory, jednak mają one charakter czysto mechaniczny
            (większa Siła zapewnia mocniejszy cios, a Kondycja - wytrzymałość na rany),
            natomiast nie wynikają z nich żadne dodatkowe zdolności o charakterze Umiejętności.
            Oznacza to na przykład, że niezależnie od bardzo wysokiej wartości Zręczności, Postać nie umie żonglować, dopóki nie nabędzie Umiejętności "Żonglerka",
            a jeśli podejmie próbę żonglowania, to będzie musiała liczyć się z bardzo trudnym Testem Cechy.
        </p>
        <p>
            W przypadku Cech obowiązuje zasada Paska Postępu (wyjaśniona dokładniej w sekcji "Umiejętności"),
            przy czym każdy poziom Cechy wymaga 10 doświadczeń o poziomie trudności wyższym niż banalny z punktu widzenia aktualnej wartości Cechy.
            Jedno i to samo doświadczenie może zostać użyte do wypełnienia Paska Postępu zarówno dla Umiejętności, jak i dla Cechy.
            Poniższa tabela ilustruje koszty podniesienia wartości Cech wyrażone w Punktach Doświadczenia.
        </p>
        <div class="overflow-auto">
            <table class="table table-sm mb-0 mt-2 table-striped">
                <thead class="thead-dark text-center">
                    <tr>
                        <th class="mx-auto">Wartość</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                        <th>17</th>
                        <th>18</th>
                        <th>19</th>
                        <th>20</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="font-14">
                        <th>Koszt</th>
                        <td>n/a</td>
                        <td>4000</td>
                        <td>2000</td>
                        <td>1000</td>
                        <td>800</td>
                        <td>600</td>
                        <td>400</td>
                        <td>300</td>
                        <td>300</td>
                        <td>300</td>
                        <td>400</td>
                        <td>600</td>
                        <td>800</td>
                        <td>1000</td>
                        <td>1200</td>
                        <td>1600</td>
                        <td>2000</td>
                        <td>3000</td>
                        <td>4000</td>
                        <td>5000</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <h2 class="rules mt-5 mb-3">
            Siła
        </h2>
        <p>
            Siła odpowiada za szansę powodzenia przy rozmaitych wyczynach opartych na muskulaturze, a także za szanse na przebicie się przez pancerz i skórę przeciwnika, tak aby go zranić,
            a także za zdolność Udźwigu, od którego z kolei zależy prędkość poruszania się obciążonej ekwipunkiem Postaci oraz możliwość czerpania premii ze ZRC przy obciążeniu.
        </p>
        <table class="traits mt-4">
            <colgroup>
                <col class="strength-value">
                <col class="strength-hit">
                <col class="strength-damage">
                <col class="load">
                <col class="max-load">
            </colgroup>
            <thead class="align-center dark">
                <tr class="border-bottom-dark">
                    <th class="border-custom-right small-caps"><h2><b>Sił</b></h2></th>
                    <th class="small-caps">Trafienie</th>
                    <th class="small-caps">Obrażenia</th>
                    <th class="small-caps">Udźwig<br>Normalny</th>
                    <th class="small-caps">Udźwig<br>Maksymalny</th>
                </tr>
            </thead>

            <tbody class="align-center dark">
                <tr><td class="border-custom-right">1</td>      <td class="rules-red">-10</td>      <td class="rules-red">-10</td>      <td class="rules-red">0</td>       <td class="rules-red">1</td></tr>
                <tr><td class="border-custom-right">2</td>      <td class="rules-red">-6</td>       <td class="rules-red">-6</td>       <td class="rules-red">2</td>       <td class="rules-red">5</td></tr>
                <tr><td class="border-custom-right">3</td>      <td class="rules-red">-5</td>       <td class="rules-red">-5</td>       <td class="rules-red">3</td>       <td class="rules-red">10</td></tr>
                <tr><td class="border-custom-right">4</td>      <td class="rules-red">-4</td>       <td class="rules-red">-4</td>       <td class="rules-red">6</td>       <td class="rules-red">15</td></tr>
                <tr><td class="border-custom-right">5</td>      <td class="rules-red">-3</td>       <td class="rules-red">-3</td>       <td class="rules-red">9</td>       <td class="rules-red">22</td></tr>
                <tr><td class="border-custom-right">6</td>      <td class="rules-red">-2</td>       <td class="rules-red">-2</td>       <td class="rules-red">12</td>      <td class="rules-red">25</td></tr>
                <tr><td class="border-custom-right">7</td>      <td class="rules-red">-1</td>       <td class="rules-red">-2</td>       <td class="rules-red">15</td>      <td class="rules-red">28</td></tr>
                <tr><td class="border-custom-right">8</td>      <td class="rules-red">-1</td>       <td class="rules-red">-1</td>       <td class="rules-red">18</td>      <td class="rules-red">35</td></tr>
                <tr><td class="border-custom-right">9</td>                           <td>0</td>     <td class="rules-red">-1</td>                           <td>20</td>    <td class="rules-red">45</td></tr>
                <tr><td class="border-custom-right">10</td>                          <td>0</td>                          <td>0</td>                         <td>20</td>                         <td>57</td></tr>
                <tr><td class="border-custom-right">11</td>                          <td>0</td>     <td class="rules-green">+1</td>                         <td>20</td>     <td class="rules-green">62</td></tr>
                <tr><td class="border-custom-right">12</td>     <td class="rules-green">+1</td>     <td class="rules-green">+1</td>     <td class="rules-green">23</td>     <td class="rules-green">70</td></tr>
                <tr><td class="border-custom-right">13</td>     <td class="rules-green">+1</td>     <td class="rules-green">+2</td>     <td class="rules-green">24</td>     <td class="rules-green">75</td></tr>
                <tr><td class="border-custom-right">14</td>     <td class="rules-green">+2</td>     <td class="rules-green">+2</td>     <td class="rules-green">27</td>     <td class="rules-green">85</td></tr>
                <tr><td class="border-custom-right">15</td>     <td class="rules-green">+2</td>     <td class="rules-green">+3</td>     <td class="rules-green">30</td>     <td class="rules-green">90</td></tr>
                <tr><td class="border-custom-right">16</td>     <td class="rules-green">+3</td>     <td class="rules-green">+3</td>     <td class="rules-green">35</td>     <td class="rules-green">98</td></tr>
                <tr><td class="border-custom-right">17</td>     <td class="rules-green">+3</td>     <td class="rules-green">+4</td>     <td class="rules-green">40</td>     <td class="rules-green">110</td></tr>
                <tr><td class="border-custom-right">18</td>     <td class="rules-green">+4</td>     <td class="rules-green">+4</td>     <td class="rules-green">55</td>     <td class="rules-green">128</td></tr>
                <tr><td class="border-custom-right">19</td>     <td class="rules-green">+5</td>     <td class="rules-green">+5</td>     <td class="rules-green">68</td>     <td class="rules-green">140</td></tr>
                <tr><td class="border-custom-right">20</td>     <td class="rules-green">+6</td>     <td class="rules-green">+6</td>     <td class="rules-green">80</td>     <td class="rules-green">153</td></tr>
            </tbody>
        </table>
        <br>
        <p>
            <b>§ Trafienie i Obrażenia.</b>
            Wraz ze wzrostem Siły Postaci wzrasta jej zdolność do zadawania ciosów,
            które dzięki brutalnej sile przebiją się przez pancerz albo gardę przeciwnika (Trafienie = TRAF) i ugodzą jego ciało (Obrażenia = OBR).
            W zależności, czy Postać jest bardziej zręczna, czy silna, zazwyczaj decyduje się na pewną technikę walki.
            W przypadku Siły polega ona w dużej mierze na zadawaniu potężnych, brutalnych ciosów.
            Premie do TRAF i OBR z Siły są rozłączne wobec premii do TRAF i OBR ze Zręczności, tzn. nie mogą być używane łącznie.
            Opisy broni zawarte w dalszych Zasadach wskazują każdorazowo, czy broń nadaje się do techniki walki opartej na Sile, na Zręczności, czy pozwala na zastosowanie obu z nich, alternatywnie.
        </p>
        <p>
            <b>§ Udźwig Normalny i Udźwig Maksymalny.</b>
            W zależności od Siły oraz aktualnego obciążenia, zdolność do prędkiego poruszania się Postaci może być ograniczona.
            Im większą Siłą Postać dysponuje, tym więcej może unieść zanim ciężar ekwipunku zacznie spowalniać jej marsz i ograniczać możliwość szybkiego biegu.
            Limit wagi możliwej do uniesienia bez Przeciążenia wskazuje Udźwig Normalny.
            Oczywiście, ekwipunek zawsze można odrzucić, aby uwolnić się od tego ograniczenia - tak czynią choćby wojowie, którzy odrzucają tarczę w panicznej ucieczce.
            Udźwig Maksymalny wskazuje najwyższy ciężar, jaki Postać jest w stanie unieść z ziemi, by wykonać z nim kilka kroków.
            Pomiędzy nimi rozciągają się trzy Progi Przeciążenia I, II i III, które opisują w jaki sposób Przeciążenie ogranicza sprawność fizyczną Postaci
            (zob. sekcja Testy Cech TODO LINK).
            Wpływ Obciążenia przy poszczególnych wartościach Siły opisuje poniższa tabela.
        </p>
        <iframe width="409" height="243" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21192&authkey=%21ABjhqB8zQtZkw8I&em=2&wdAllowInteractivity=False&AllowTyping=True&ActiveCell='CECHY'!C25&Item='CECHY'!A24%3AG31&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>


        <h2 class="rules mt-5 mb-3">
            Zręczność
        </h2>
        <p>
            Zręczność opisuje za szanse powodzenia działań wymagających szybkości, zwinności i precyzji, na przykład wyczynów akrobatycznych
            albo próby prędkiego i precyzyjnego ugodzenia przeciwnika lub uchylenia się od jego ciosu.
        </p>
        <table class="traits mt-4">
            <colgroup>
                <col class="agility-value">
                <col class="agility-hit">
                <col class="agility-damage">
                <col class="ac-dodge">
                <col class="reflex">
            </colgroup>
            <thead class="align-center dark">
                <tr class="border-bottom-dark">
                    <th class="border-custom-right small-caps"><h2><b>Zrc</b></h2></th>
                    <th class="small-caps">Trafienie</th>
                    <th class="small-caps">Obrażenia</th>
                    <th class="small-caps">KP<br>Uniki</th>
                    <th class="small-caps">Inicjatywa</th>
                </tr>
            </thead>

            <tbody class="align-center dark">
                <tr><td class="border-custom-right">1</td>      <td class="rules-red">-10</td>      <td class="rules-red">-10</td>      <td class="rules-red">-10</td>     <td class="rules-red">-10</td></tr>
                <tr><td class="border-custom-right">2</td>      <td class="rules-red">-6</td>       <td class="rules-red">-6</td>       <td class="rules-red">-5</td>      <td class="rules-red">-6</td></tr>
                <tr><td class="border-custom-right">3</td>      <td class="rules-red">-5</td>       <td class="rules-red">-5</td>       <td class="rules-red">-4</td>      <td class="rules-red">-5</td></tr>
                <tr><td class="border-custom-right">4</td>      <td class="rules-red">-4</td>       <td class="rules-red">-4</td>       <td class="rules-red">-3</td>      <td class="rules-red">-4</td></tr>
                <tr><td class="border-custom-right">5</td>      <td class="rules-red">-3</td>       <td class="rules-red">-3</td>       <td class="rules-red">-2</td>      <td class="rules-red">-3</td></tr>
                <tr><td class="border-custom-right">6</td>      <td class="rules-red">-2</td>       <td class="rules-red">-2</td>       <td class="rules-red">-1</td>      <td class="rules-red">-2</td></tr>
                <tr><td class="border-custom-right">7</td>      <td class="rules-red">-2</td>       <td class="rules-red">-1</td>       <td class="rules-red">-1</td>      <td class="rules-red">-1</td></tr>
                <tr><td class="border-custom-right">8</td>      <td class="rules-red">-1</td>       <td class="rules-red">-1</td>                            <td>0</td>    <td class="rules-red">-1</td></tr>
                <tr><td class="border-custom-right">9</td>      <td class="rules-red">-1</td>                            <td>0</td>                          <td>0</td>                          <td>0</td></tr>
                <tr><td class="border-custom-right">10</td>                          <td>0</td>                          <td>0</td>                          <td>0</td>                          <td>0</td></tr>
                <tr><td class="border-custom-right">11</td>     <td class="rules-green">+1</td>                          <td>0</td>                          <td>0</td>                          <td>0</td></tr>
                <tr><td class="border-custom-right">12</td>     <td class="rules-green">+1</td>     <td class="rules-green">+1</td>     <td class="rules-green">+1</td>     <td class="rules-green">+1</td></tr>
                <tr><td class="border-custom-right">13</td>     <td class="rules-green">+2</td>     <td class="rules-green">+1</td>     <td class="rules-green">+1</td>     <td class="rules-green">+1</td></tr>
                <tr><td class="border-custom-right">14</td>     <td class="rules-green">+2</td>     <td class="rules-green">+2</td>     <td class="rules-green">+2</td>     <td class="rules-green">+2</td></tr>
                <tr><td class="border-custom-right">15</td>     <td class="rules-green">+3</td>     <td class="rules-green">+2</td>     <td class="rules-green">+2</td>     <td class="rules-green">+2</td></tr>
                <tr><td class="border-custom-right">16</td>     <td class="rules-green">+3</td>     <td class="rules-green">+2</td>     <td class="rules-green">+3</td>     <td class="rules-green">+3</td></tr>
                <tr><td class="border-custom-right">17</td>     <td class="rules-green">+4</td>     <td class="rules-green">+3</td>     <td class="rules-green">+3</td>     <td class="rules-green">+3</td></tr>
                <tr><td class="border-custom-right">18</td>     <td class="rules-green">+4</td>     <td class="rules-green">+3</td>     <td class="rules-green">+4</td>     <td class="rules-green">+4</td></tr>
                <tr><td class="border-custom-right">19</td>     <td class="rules-green">+5</td>     <td class="rules-green">+4</td>     <td class="rules-green">+5</td>     <td class="rules-green">+5</td></tr>
                <tr><td class="border-custom-right">20</td>     <td class="rules-green">+6</td>     <td class="rules-green">+4</td>     <td class="rules-green">+6</td>     <td class="rules-green">+6</td></tr>
            </tbody>
        </table>
        <br>
        <p>
            <b>§ Trafienie i Obrażenia.</b>
            Wraz ze wzrostem Zręczności Postaci wzrasta jej zdolność do zadawania ciosów,
            które dzięki precyzji i prędkości ominą gardę przeciwnika i ugodzą go w skrawek odsłoniętego ciała (Trafienie = TRAF) zadając dotkliwą ranę (Obrażenia = OBR).
            W zależności, czy Postać jest bardziej zręczna, czy silna, zazwyczaj decyduje się na pewną technikę walki.
            W przypadku Zręczności polega ona w dużej mierze na zadawaniu precyzyjnych ciosów lub ataku z broni dystansowej (łuk czy kusza, oszczep, nóż czy siekierka użyte jako broń miotana).
            Premie do TRAF i OBR ze Zręczności są rozłączne wobec premii do TRAF i OBR z Siły, tzn. nie mogą być używane łącznie.
            Opisy broni zawarte w dalszych Zasadach wskazują każdorazowo, czy broń nadaje się do techniki walki opartej na Sile, na Zręczności, czy pozwala na zastosowanie obu z nich, alternatywnie.
        </p>
        <p>
            <b>§ Uniki.</b>
            Premia do Klasy Pancerza (KP) z tytułu zdolności do stosowania Uników przysługuje Postaci,
            która reaguje prędko na nadchodzące ciosy i uchyla się przed nimi, zamiast przyjmować je na tarczę albo parować bronią.
            Premia do KP z Uników (ZRC) jest rozłączna wobec premii do KP z Parowania (KON). Modyfikatory te opisują dwie odrębne strategie uniknięcia obrażeń w walce,
            tj. uchylanie się od ciosu, albo umiejętne przyjmowanie go na siebie w kontrolowany sposób, czyli na tarczę lub pancerz, albo zbicie bronią bez odnoszenia szkody.
            Modyfikator KP z Uników można zastosować tylko przeciwko wrogom znajdującym się w polu widzenia, a więc nie za plecami albo atakującymi z boku, gdy Postać walczy z kimś naprzeciwko.
        </p>
        <p>
            <b>§ Inicjatywa.</b>
            Dzięki dobremu refleksowi Postacie z wysoką Zręcznością są w stanie wyprzedzić przeciwnika z zadaniem ciosu (modyfikatory Inicjatywy)
            oraz prędzej reagować w sytuacji Zaskoczenia (np. zasadzka).
        </p>

        <h2 class="rules mt-5 mb-3">
            Kondycja
        </h2>
        <p>
            Kondycja odpowiada za żywotność Postaci, czyli jej zdolność na wytrzymywanie długotrwałych obciążeń fizycznych oraz do znoszenia i regeneracji ran.
            Ponadto Kondycja określa odporność Postaci na choroby i trucizny.
        </p>
        <table class="traits mt-4">
            <colgroup>
                <col class="endurance-value">
                <col class="life">
                <col class="consciousness-threshold">
                <col class="damage-thresholds">
                <col class="ac-parrying">
            </colgroup>
            <thead class="align-center dark">
                <tr class="border-bottom-dark">
                    <th class="border-custom-right small-caps"><h2><b>Kon</b></h2></th>
                    <th class="small-caps">Życie</th>
                    <th class="small-caps">Próg<br>Przytomności</th>
                    <th class="small-caps align-right">Progi Ran<br>L/Śr/C/Śm</th>
                    <th class="small-caps">KP<br>Parowanie</th>
                </tr>
            </thead>

            <tbody class="align-center dark">
                <tr><td class="border-custom-right">1</td>       <td class="rules-red">?</td>       <td class="rules-red">?</td>          <td class="rules-red align-right"> - / - / - / pac!</td>              <td class="rules-red">-10</td>  </tr>
                <tr><td class="border-custom-right">2</td>       <td class="rules-red">1</td>       <td class="rules-red">[1]</td>        <td class="rules-red align-right">- / - / - / 1+</td>                 <td class="rules-red">-5</td>   </tr>
                <tr><td class="border-custom-right">3</td>       <td class="rules-red">3</td>       <td class="rules-red">[1]</td>        <td class="rules-red align-right">- / - / 1 / 2+</td>                 <td class="rules-red">-4</td>   </tr>
                <tr><td class="border-custom-right">4</td>       <td class="rules-red">5</td>       <td class="rules-red">[4]</td>        <td class="rules-red align-right">1 / 2 / 3 / 4+</td>                 <td class="rules-red">-3</td>   </tr>
                <tr><td class="border-custom-right">5</td>       <td class="rules-red">7</td>       <td class="rules-red">[6]</td>        <td class="rules-red align-right">1 / 2-3 / 4-6 / 7+</td>             <td class="rules-red">-2</td>   </tr>
                <tr><td class="border-custom-right">6</td>       <td class="rules-red">10</td>      <td class="rules-red">[9]</td>       <td class="rules-red align-right">1-2 / 3-4 / 5-7 / 8+</td>            <td class="rules-red">-1</td>   </tr>
                <tr><td class="border-custom-right">7</td>       <td class="rules-red">12</td>     <td class="rules-red">[10]</td>      <td class="rules-red align-right">2-3 / 4-5 / 6-8 / 9+</td>             <td class="rules-red">-1</td>   </tr>
                <tr><td class="border-custom-right">8</td>       <td class="rules-red">15</td>     <td class="rules-red">[13]</td>      <td class="rules-red align-right">2-3 / 5-6 / 7-9 / 10+</td>                               <td>0</td>  </tr>
                <tr><td class="border-custom-right">9</td>       <td class="rules-red">17</td>     <td class="rules-red">[14]</td>      <td class="rules-red align-right">3-5 / 6-8 / 9-10 / 11+</td>                              <td>0</td>  </tr>
                <tr><td class="border-custom-right">10</td>                          <td>20</td>                       <td>[17]</td>    <td class="align-right">3-5 / 6-8 / 9-11 / 12+</td>                                        <td>0</td>  </tr>
                <tr><td class="border-custom-right">11</td>      <td class="rules-green">23</td>   <td class="rules-green">[20]</td>    <td class="align-right">3-5 / 6-8 / 9-11 / 12+</td>                                        <td>0</td>  </tr>
                <tr><td class="border-custom-right">12</td>      <td class="rules-green">25</td>   <td class="rules-green">[22]</td>    <td class="align-right">3-5 / 6-8 / 9-11 / 12+</td>                    <td class="rules-green">+1</td> </tr>
                <tr><td class="border-custom-right">13</td>      <td class="rules-green">28</td>   <td class="rules-green">[25]</td>    <td class="rules-green align-right">3-5 / 6-9 / 10-12 / 13+</td>       <td class="rules-green">+1</td> </tr>
                <tr><td class="border-custom-right">14</td>      <td class="rules-green">30</td>   <td class="rules-green">[27]</td>    <td class="rules-green align-right">3-6 / 7-9 / 10-13 / 14+</td>       <td class="rules-green">+2</td> </tr>
                <tr><td class="border-custom-right">15</td>      <td class="rules-green">33</td>   <td class="rules-green">[29]</td>    <td class="rules-green align-right">4-6 / 7-10 / 11-13 / 14+</td>      <td class="rules-green">+2</td> </tr>
                <tr><td class="border-custom-right">16</td>      <td class="rules-green">35</td>   <td class="rules-green">[30]</td>    <td class="rules-green align-right">5-7 / 8-11 / 12-14 / 15+</td>      <td class="rules-green">+3</td> </tr>
                <tr><td class="border-custom-right">17</td>      <td class="rules-green">38</td>   <td class="rules-green">[32]</td>    <td class="rules-green align-right">6-8 / 9-12 / 13-15 / 16+</td>      <td class="rules-green">+3</td> </tr>
                <tr><td class="border-custom-right">18</td>      <td class="rules-green">40</td>   <td class="rules-green">[36]</td>    <td class="rules-green align-right">6-9 / 10-13 / 14-16 / 17+</td>     <td class="rules-green">+4</td> </tr>
                <tr><td class="border-custom-right">19</td>      <td class="rules-green">43</td>   <td class="rules-green">[37]</td>    <td class="rules-green align-right">6-10 / 11-14 / 15-17 / 18+</td>    <td class="rules-green">+5</td> </tr>
                <tr><td class="border-custom-right">20</td>      <td class="rules-green">46</td>   <td class="rules-green">[40]</td>    <td class="rules-green align-right">6-11 / 12-15 / 16-18 / 19+</td>    <td class="rules-green">+6</td> </tr>
            </tbody>
        </table>
        <br>
        <p>
            <b>§ Życie, Próg Przytomności i Progi Ran.</b>
            Życie określa ilość Obrażeń, jakie Postać jest w stanie znieść, zanim padnie martwa albo znajdzie się w stanie zbyt ciężkim, aby możliwe było jej odratowanie.
            Próg przytomności charakteryzuje zdolność Postaci do walki do upadłego.
            Utrata punktów życia równa lub wyższa niż Próg przytomności skutkuje natychmiastową utratą świadomości niezależnie od rodzaju otrzymanych ran.
            Progi Ran L/Śr/C/Śm (Lekkie/Średnie/Ciężkie/Śmiertelne) mają znaczenie dla ograniczeń sprawności Postaci w bieżącej walce
            (np. Rany Ciężkie powodują natychmiastowe malusy do różnych współczynników bojowych) oraz tempa gojenia się Obrażeń po zakończeniu walki.
            Próg przytomności oblicza się w następujący sposób: Próg Przytomności = (Życie - dolna granica Ran Lekkich).
            Skoro zaś Próg Przytomności jest zależny od Progów Ran, to wszelkie modyfikacje Progów Ran (Umiejętności, modyfikatory sytuacyjne) skutkują przesunięciem Progu Przytomności.
        </p>
        <p>
            <b>§ Parowanie.</b>
            Premia do Klasy Pancerza (KP) z tytułu zdolności do Parowania ciosów przeciwnika przysługuje Postaci,
            która dysponuje tarczą albo bronią opisaną jako umożliwiająca Parowanie.
            Premia do KP z Parowania (KON) jest rozłączna wobec premii do KP z Uników (ZRC).
            Modyfikatory te opisują dwie odrębne strategie uniknięcia obrażeń w walce,
            tj. uchylanie się od ciosu, albo umiejętne zbijanie go własną bronią albo przyjmowanie na siebie w kontrolowany sposób i bez odnoszenia szkody, czyli na tarczę lub pancerz.
            Parowanie wymaga odpowiedniego wyposażenia - co najmniej jednego z następujących typów: tarcza, broń nadającą się do Parowania lub zbroja płytowo-kolcza lub jeszcze wyższej klasy;
            dla zawadiaki z dwoma nożami w garściach, nawet odzianego w dobrej klasy kolczugę, Parowanie nie wchodzi w grę.
            Premię z KON do KP (Parowanie) można zastosować do wszystkich przeciwników znajdujących się naprzeciwko (w polu widzenia) Postaci,
            ale nie do tych, którzy atakują z innych stron.
        </p>
        <p>
            <b>§ Wydolność.</b>
            Wydolność określa, jak długo Postać jest w stanie wykonywać aktywność fizyczną o wysokiej intensywności
            (walka w zwarciu, szybki bieg, wspinaczka, dźwiganie ciężaru bliskiego Udźwigowi Maksymalnemu).
            Podstawowa Wydolność Postaci jest równa jej Kondycji, jednak może podlegać modyfikatorom sytuacyjnym oraz wynikającym z Umiejętności.
            Dalsza część Zasad zawiera szczegółowe informacje dotyczące skutków zużycia i regeneracji Wydolności.
            Wydolność podlega również testowi w sytuacjach walki z chorobą, trucizną albo innym rodzajem potężnego obciążenia fizjologicznego (tzw. Rzut Obronny = RO).
        </p>
        
    </div>

{% endblock content %}
