{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling pt-3">

        <h2 class="rules mt-5 mb-3">Moc, a jednak...</h2>
        <p>
            Wbrew temu, co się zdaje pospólstwu, kwestia Cech nie kończy się na Sile, Zręczności i Kondycji.
            Nieliczni, którzy dostąpili łaski bóstwa, poznają, czym jest Moc.
            Ale cicho sza...
        </p>


        <h2 class="rules mt-5 mb-3">
            Moc
        </h2>
        <p>
            Moc stanowi o sile mocy kapłana albo maga. Bełkot? Owszem, więcej na ten temat wiedzą inaczej magowie, a inaczej kapłani.
            Albowiem i azaliż, choć Moc jest Cechą, z której korzystają jedni i drudzy, to w zupełnie inny sposób, znany tylko jednym, ale nie drugim.
            W sensie - Moc w poniższym ujęciu określa wspólne dla magów i kapłanów ramy, które mają inny sens w zależności od obrazu, jaki zawierają.
        </p>
        <table class="traits mt-4">
            <thead class="align-center dark">
                <tr class="border-bottom-dark">
                    <th class="border-custom-right small-caps"><h2><b class="mx-3">Moc</b></h2></th>
                    <th class="small-caps"><span class="mx-2">Amplifikacja</span></th>
                    <th class="small-caps"><span class="mx-2">Energia</span></th>
                </tr>
            </thead>

            <tbody class="align-center dark">
                <tr><td class="border-custom-right">1</td>     <td>1</td>    <td>4</td>     </tr>
                <tr><td class="border-custom-right">2</td>     <td>2</td>    <td>5</td>     </tr>
                <tr><td class="border-custom-right">3</td>     <td>2</td>    <td>6</td>     </tr>
                <tr><td class="border-custom-right">4</td>     <td>2</td>    <td>7</td>     </tr>
                <tr><td class="border-custom-right">5</td>     <td>3</td>    <td>8</td>     </tr>
                <tr><td class="border-custom-right">6</td>     <td>3</td>    <td>9</td>     </tr>
                <tr><td class="border-custom-right">7</td>     <td>3</td>    <td>10</td>     </tr>
                <tr><td class="border-custom-right">8</td>     <td>4</td>    <td>12</td>     </tr>
                <tr><td class="border-custom-right">9</td>     <td>4</td>    <td>14</td>       </tr>
                <tr><td class="border-custom-right">10</td>    <td>4</td>    <td>16</td>     </tr>
                <tr><td class="border-custom-right">11</td>    <td>5</td>    <td>18</td>     </tr>
                <tr><td class="border-custom-right">12</td>    <td>5</td>    <td>20</td>     </tr>
                <tr><td class="border-custom-right">13</td>    <td>5</td>    <td>25</td>     </tr>
                <tr><td class="border-custom-right">14</td>    <td>6</td>    <td>30</td>     </tr>
                <tr><td class="border-custom-right">15</td>    <td>6</td>    <td>35</td>     </tr>
                <tr><td class="border-custom-right">16</td>    <td>7</td>    <td>40</td>     </tr>
                <tr><td class="border-custom-right">17</td>    <td>7</td>    <td>50</td>     </tr>
                <tr><td class="border-custom-right">18</td>    <td>8</td>    <td>60</td>     </tr>
                <tr><td class="border-custom-right">19</td>    <td>9</td>    <td>80</td>     </tr>
                <tr><td class="border-custom-right">20</td>    <td>10</td>   <td>100</td>    </tr>
            </tbody>
        </table>
        <br>
        <p>
            <b>§ Wsółcznnik 1.</b>
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        </p>
        <p>
            <b>§ Wsółcznnik 2.</b>
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        </p>

        
    </div>

{% endblock content %}
