{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'rules:main' %}">Zasady</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="rules-styling">
        <br><br><br>

        <h2 class="rules">Podstępy początkowe i rozwój</h2>
        <br>
        <p>
            Używanie i rozwój Podstępów są dostępne dla każdej Klasy i Profesji.
            Domyślna wartość początkowa to 0% dla wszystkich Podstępów, chyba że opis Profesji stwierdza inaczej.
            Każdy awans każdej Profesji może skutkować bonusem +5% do Podstępów, o ile jest to uzasadnione fabularnie poprzez wielokrotne użycie.
            Profesje należące do Klas Awanturnik, Łotr i Złodziej mogą otrzymać więcej punktów Podstępu co poziom
            (zob. tabele awansów poszczególnych Profesji w: <u><a href="{% url 'rules:professions' %}">Klasa, Profesja i rozwój postaci</a></u>).
            Na szanse powodzenia danego Podstępu wpływa stopień jego trudności oraz szereg modyfikatorów.
        </p>
        <br>

        <h5><b>Kradzież kieszonkowa</b></h5>
        <p>
            Umiejętność niezauważalnego zawijania i podrzucania małych przedmiotów przyczepionych do cudzego pasa lub
            znajdujących się w cudzym bagażu podręcznym, a także leżących na stole czy w ogóle w jakikolwiek inny sposób uśmiechające się do każdego rzezimieszka.
            Trudność tego rodzaju postępku jest wielce zależna od czujności ofiary i różnorodnych dystraktorów.
        </p>
        <br>

        <h5><b>Otwieranie zamków</b></h5>
        <p>
            Umiejętność otwierania zamków w drzwiach i skrzyniach, a także kłódek.
            Jej zastosowanie wymaga posiadania metalowego drucika, a w przypadku bardziej zaawansowanych zamków specjalistycznego przybornika złodziejskiego.
        </p>
        <br>

        <h5><b>Skradanie</b></h5>
        <p>
            Umiejętność bezszelestnego podchodzenia, zachodzenia, podpełzania i przekradania się.
            Umiejętność ta rozbita jest na dwoje ze względu na to, że środowisko naturalne, jak las czy łąka, stawia w tym zakresie zupłenie inne wyzwania niż miasto czy miasteczko.
            Trudność Skradania zależy od czujności i spostrzegawczości drugiej strony, a także od hałasów, pośród których mogą się ukryć kroki skradającego.
        </p>
        <br>

        <h5><b>Ukrycie</b></h5>
        <p>
            Umiejętność niezauważalnego przyczajenia się w zaroślach, trawie lub ciemnym miejscu.
            Podobnie jak Skradanie rozbite jest na miasto i teren.
            Szanse na Ukrycie zależą od gęstości osłony oraz spostrzegawczości drugiej strony.
        </p>
        <br>

        <h5><b>Wspinaczka</b></h5>
        <p>
            Umiejętność wspinania się po drzewach, skarpach, ścianach przepaści oraz budynków. A także - umiejętność schodzenia...
        </p>
        <br>

        <h5><b>Wykrywanie i rozbrajanie pułapek</b></h5>
        <p>
            Zdolność zauważania mechanizmów spustowych różnego rodzaju pułapek i sideł, czy to w środowisku naturalnym, czy w pomieszczeniach.
            A w razie, gdy pułapki nie da się wyminąć - także ich unieszkodliwiania, co jest nie mniejszą sztuką.
            Zdolność ta nie ma charakteru biernego - wymaga uważności postaci, czyli deklaracji Gracza.
        </p>
        <br><br><br>

        <h2 class="rules">Modyfikatory Podstępów</h2>
        <br>
        <p>
            Obliczanie szans na powodzenie danego Podstępu jest procesem dość skomplikowanym, ponieważ w grę wchodzi wiele czynników.
            Pierwsza grupa czynników składa się na bazową wartość danego Podstępu. Jest ona zależna od początkowych wartości Podstępów dla danej Profesji,
            Zręczności i posiadanych Umiejętności oraz dotychczasowego rozwoju Podstępów. Druga grupa czynników to modyfikatory sytuacyjne,
            tj. ograniczenia wynikające z noszonego przez postać pancerza oraz trudność danego wyczynu.
            Ten ostatni modyfikator nigdy nie jest do końca znany Graczowi, choć jego doświadczenie oraz opis Mistrza Gry mogą sugerować przybliżoną wartość.
        </p>
        <p>
            Istnieją czynniki ułatwiające Podstęp, jak hałas w przypadku Skradania oraz ciemność w przypadku Ukrycia,
            a także utrudniające, jak czujnośc i spostrzegawczość przeciwnika lub ofiary, otwarty teren, jasne światło itd.
            W przypadku Otwierania zamków oraz Wykrywania i rozbrajania pułapek dużą rolę odgrywa znajomość mechanizmu,
            a także okoliczności ułatwiające lub utrudniające koncentrację i precyzję ruchów.
        </p>
        <br>

        <h5 class="rules">Tabele modyfikatorów</h5>
        <p>
            Poniższe tabele zawierają ogólne modyfikatory i pozwalają przeprowadzić symulację wartości Podstępów dla postaci 0 poziomu.
            Nie uwzględniają natomiast rozwoju Podstępów w toku awansów oraz rozdzielenia punktów początkowych przez Łotrzyków.
            Indywidualne wartości Podstępów zawiera Karta Postaci => <u><a href="{% url 'characters:tricks-sheet' %}">Podstępy</a></u>.
        </p>
        <br>

        <h6><b>Sumaryczne ujęcie modyfikatorów Podstępów</b></h6>
        <p>
            <iframe width="815" height="322" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=8F4C9A725BD05324%21202&authkey=%21AM-S-30rTz7kQzw&em=2&wdAllowInteractivity=False&AllowTyping=True&ActiveCell='Podst%C4%99py'!B4&Item='Podst%C4%99py'!A1%3AJ11&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>
        </p>
        <br><br>

        <table class="agility-and-tricks">
            <colgroup>
                <col class="plate">
                <col class="pickpocketing">
                <col class="lockpicking">
                <col class="sneaking-towns">
                <col class="sneaking-wilderness">
                <col class="hiding-towns">
                <col class="hiding-wilderness">
                <col class="climbing">
                <col class="traps">
            </colgroup>
            <thead class="align-center dark">
                <tr>
                    <th colspan="1" rowspan="2" class="align-center">ZRC</th>
                    <th colspan="1" rowspan="2">Kradzież<br>kieszonkowa</th>
                    <th colspan="1" rowspan="2">Otwieranie<br>zamków</th>
                    <th colspan="2" rowspan="1">Skradanie</th>
                    <th colspan="2" rowspan="1">Ukrycie</th>
                    <th colspan="1" rowspan="2">Wspinaczka</th>
                    <th colspan="1" rowspan="2">Wykrywanie i<br>rozbrajanie<br>pułapek</th>
                </tr>
                <tr class="border-custom-base">
                    <th>miasto</th>
                    <th>teren</th>
                    <th>miasto</th>
                    <th>teren</th>
                </tr>
            </thead>
            <tbody class="align-center">
                <tr>                    <td>1</td>   <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td>       <td class="rules-red">-100%</td>     <td class="rules-red">-100%</td>    <td class="rules-red">-100%</td></tr>
                <tr class="back-gray">  <td>2</td>   <td class="rules-red">-90%</td>     <td class="rules-red">-80%</td>     <td class="rules-red">-90%</td>     <td class="rules-red">-90%</td>     <td class="rules-red">-80%</td>        <td class="rules-red">-80%</td>      <td class="rules-red">-75%</td>     <td class="rules-red">-85%</td></tr>
                <tr>                    <td>3</td>   <td class="rules-red">-70%</td>     <td class="rules-red">-60%</td>     <td class="rules-red">-70%</td>     <td class="rules-red">-70%</td>     <td class="rules-red">-60%</td>        <td class="rules-red">-60%</td>      <td class="rules-red">-55%</td>     <td class="rules-red">-65%</td></tr>
                <tr class="back-gray">  <td>4</td>   <td class="rules-red">-50%</td>     <td class="rules-red">-40%</td>     <td class="rules-red">-50%</td>     <td class="rules-red">-50%</td>     <td class="rules-red">-40%</td>        <td class="rules-red">-40%</td>      <td class="rules-red">-35%</td>     <td class="rules-red">-45%</td></tr>
                <tr>                    <td>5</td>   <td class="rules-red">-30%</td>     <td class="rules-red">-20%</td>     <td class="rules-red">-30%</td>     <td class="rules-red">-30%</td>     <td class="rules-red">-20%</td>        <td class="rules-red">-20%</td>      <td class="rules-red">-15%</td>     <td class="rules-red">-25%</td></tr>
                <tr class="back-gray">  <td>6</td>   <td class="rules-red">-20%</td>     <td class="rules-red">-15%</td>     <td class="rules-red">-25%</td>     <td class="rules-red">-25%</td>     <td class="rules-red">-15%</td>        <td class="rules-red">-15%</td>      <td class="rules-red">-10%</td>     <td class="rules-red">-20%</td></tr>
                <tr>                    <td>7</td>   <td class="rules-red">-15%</td>     <td class="rules-red">-10%</td>     <td class="rules-red">-20%</td>     <td class="rules-red">-20%</td>     <td class="rules-red">-10%</td>        <td class="rules-red">-10%</td>      <td class="rules-red">-5%</td>      <td class="rules-red">-15%</td></tr>
                <tr class="back-gray">  <td>8</td>   <td class="rules-red">-10%</td>     <td class="rules-red">-5%</td>      <td class="rules-red">-15%</td>     <td class="rules-red">-15%</td>     <td class="rules-red">-5%</td>         <td class="rules-red">-5%</td>       <td class="rules-red">-</td>        <td class="rules-red">-10%</td></tr>
                <tr>                    <td>9</td>   <td>-</td>                          <td>-</td>                          <td class="rules-red">-10%</td>     <td class="rules-red">-10%</td>     <td>-</td>                             <td>-</td>                           <td>-</td>                          <td class="rules-red">-5%</td></tr>
                <tr class="back-gray">  <td>10</td>  <td>-</td>                          <td>-</td>                          <td class="rules-red">-5%</td>      <td class="rules-red">-5%</td>      <td>-</td>                             <td>-</td>                           <td>-</td>                          <td>-</td></tr>
                <tr>                    <td>11</td>  <td>-</td>                          <td>-</td>                          <td>-</td>                          <td>-</td>                          <td>-</td>                             <td>-</td>                           <td>-</td>                          <td>-</td></tr>
                <tr class="back-gray">  <td>12</td>  <td>-</td>                          <td>-</td>                          <td>-</td>                          <td>-</td>                          <td class="rules-green">+5%</td>       <td class="rules-green">+5%</td>     <td class="rules-green">+5%</td>    <td>-</td></tr>
                <tr>                    <td>13</td>  <td class="rules-green">+5%</td>    <td class="rules-green">+5%</td>    <td class="rules-green">+5%</td>    <td class="rules-green">+5%</td>    <td class="rules-green">+10%</td>      <td class="rules-green">+10%</td>    <td class="rules-green">+10%</td>   <td class="rules-green">-</td></tr>
                <tr class="back-gray">  <td>14</td>  <td class="rules-green">+10%</td>   <td class="rules-green">+10%</td>   <td class="rules-green">+10%</td>   <td class="rules-green">+10%</td>   <td class="rules-green">+15%</td>      <td class="rules-green">+15%</td>    <td class="rules-green">+15%</td>   <td class="rules-green">+5%</td></tr>
                <tr>                    <td>15</td>  <td class="rules-green">+15%</td>   <td class="rules-green">+15%</td>   <td class="rules-green">+15%</td>   <td class="rules-green">+15%</td>   <td class="rules-green">+20%</td>      <td class="rules-green">+20%</td>    <td class="rules-green">+20%</td>   <td class="rules-green">+10%</td></tr>
                <tr class="back-gray">  <td>16</td>  <td class="rules-green">+20%</td>   <td class="rules-green">+20%</td>   <td class="rules-green">+20%</td>   <td class="rules-green">+20%</td>   <td class="rules-green">+25%</td>      <td class="rules-green">+25%</td>    <td class="rules-green">+25%</td>   <td class="rules-green">+15%</td></tr>
                <tr>                    <td>17</td>  <td class="rules-green">+25%</td>   <td class="rules-green">+25%</td>   <td class="rules-green">+25%</td>   <td class="rules-green">+25%</td>   <td class="rules-green">+30%</td>      <td class="rules-green">+30%</td>    <td class="rules-green">+30%</td>   <td class="rules-green">+20%</td></tr>
                <tr class="back-gray">  <td>18</td>  <td class="rules-green">+30%</td>   <td class="rules-green">+30%</td>   <td class="rules-green">+30%</td>   <td class="rules-green">+30%</td>   <td class="rules-green">+35%</td>      <td class="rules-green">+35%</td>    <td class="rules-green">+35%</td>   <td class="rules-green">+25%</td></tr>
                <tr>                    <td>19</td>  <td class="rules-green">+35%</td>   <td class="rules-green">+35%</td>   <td class="rules-green">+35%</td>   <td class="rules-green">+35%</td>   <td class="rules-green">+40%</td>      <td class="rules-green">+40%</td>    <td class="rules-green">+40%</td>   <td class="rules-green">+30%</td></tr>
                <tr class="back-gray">  <td>20</td>  <td class="rules-green">+40%</td>   <td class="rules-green">+40%</td>   <td class="rules-green">+40%</td>   <td class="rules-green">+40%</td>   <td class="rules-green">+45%</td>      <td class="rules-green">+45%</td>    <td class="rules-green">+45%</td>   <td class="rules-green">+35%</td></tr>
            </tbody>
        </table>
        <br><br><br>

        {% include 'rules/_plate_and_tricks_table.html' %}

        <br>
    </div>
{% endblock content %}
