{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling pt-3">

        <h2 class="rules mt-5 mb-3">Klasa broni</h2>
        <p>
            Przedstawione poniżej statystyki broni określają jej przydatność w sytuacji walki.
            Podział na Klasy jest istotny ze względu na Umiejętności podnoszące skuteczność Postaci w posługiwaniu się bronią; są to Biegłość w broni
            (Umiejętność, która może być wybrana wielokrotnie) oraz Obycie z bronią.
            Odpowiedni rozwój Postaci w kontekście tych Umiejętności może pozwalać jej na korzystanie w skuteczny sposób z szerokiego wyboru broni o rozmaitym charakterze.
        </p>
        
        <table class="weapon-types rules-table mt-2">
            <colgroup>
                <col class="class">
                <col class="damage">
                <col class="special">
                <col class="range">
                <col class="size">
                <col class="trait">
                <col class="price">
                <col class="weight">
            </colgroup>
            <thead class="align-center">
                <tr>
                    <th></th>
                    <th>Obrażenia</th>
                    <th>Specjalne</th>
                    <th>Zasięg</th>
                    <th>Cecha</th>
                    <th>Rozm</th>
                    <th>Cena</th>
                    <th>Waga</th>
                </tr>
            </thead>
            <tbody>
                {% for weapon_type in weapon_types %}
                    <tr class="{% if forloop.counter|divisibleby:2 %} bg-gray {% endif %}">
                        <td class="hover-blue" data-toggle="collapse" data-target="#{{ weapon_type|remove_special_chars }}">
                            <span class="px-1">{{ weapon_type.name }}</span>
                        </td>
                        <td class="align-center"><small>{{ weapon_type.damage_types.first.short }}</small></td>
                        <td class="align-center"><small>{{ weapon_type.damage_types.first.special|default_if_none:""|linebreaksbr }}</small></td>
                        <td class="align-center nowrap">{{ weapon_type.damage_types.first.range|default_if_none:"" }}</td>
                        <td class="align-center">{{ weapon_type.trait }}</td>
                        <td class="align-center">{{ weapon_type.size }}</td>
                        <td class="align-center">{{ weapon_type.avg_price_value }} {{ weapon_type.avg_price_currency }}</td>
                        <td class="align-center">{{ weapon_type.avg_weight.normalize }}</td>
                    </tr>
                    {% for damage_type in weapon_type.damage_types.all %}
                        {% if not forloop.first %}
                            <tr class="{% if forloop.parentloop.counter|divisibleby:2 %} bg-gray {% endif %}" >
                                <td></td>
                                <td class="align-center"><small>{{ damage_type.short }}</small></td>
                                <td class="align-center"><small>{{ damage_type.special|default_if_none:"" }}</small></td>
                                <td class="align-center"><small>{{ damage_type.range|default_if_none:"" }}</small></td>
                                <td colspan="4"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr id="{{ weapon_type|remove_special_chars }}" class="collapse {% if forloop.counter|divisibleby:2 %} bg-gray {% endif %}">
                        <td colspan="10" class="px-2">
                            <div class="m-1 mr-2 font-italic text-justify">
                                {{ weapon_type.description|linebreaksbr }}
                            </div>
                            {% if weapon_type.picture_set %}
                                <div class="mb-1">
                                    <div class="d-flex justify-content-center my-3">
                                        {% for picture in weapon_type.picture_set|pictureset_pictures_in_custom_order %}
                                            {% with hide_description=True %}
                                                {% include '_pic_with_modal.html' %}
                                            {% endwith %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h5 class="mt-5"><b>Legenda</b></h5>
        <table class="rules-table">
            <tbody>
                <tr><td><b>&nbsp;3m</b></td><td>Broń do walki wręcz o dużym zasięgu - umożliwia atak rundę wcześniej niż przeciwnik, jednak staje się bezużyteczna, jeśli przeciwnikowi uda się zbliżyć.</td></tr>
                <tr><td><b>&nbsp;nie zabija!</b></td><td>Przy odebraniu ostatnich Punktów Życia broń nie zabija, tylko pozbawia przytomności. Zabicie wymaga dalszego pastwienia się nad nieprzytomną ofiarą. Szybciej już zwykłym nożem...</td></tr>
                <tr><td><b>&nbsp;1 AT/2r</b></td><td>Wskazuje liczbę AT/r w przypadku broni, której użycie wymaga długiego przygotowania.</td></tr>
                <tr><td><b>&nbsp;+15% Oszołomienie</b></td><td>Wskazuje szanse na Oszołomienie przeciwnika w przypadku trafienia (przeciwnik przez 1R nie może atakować; może przejść do Defensywy).</td></tr>
                <tr><td><b>&nbsp;+Par</b></td><td>Broń umożliwiająca Parowanie, czyli zastosowanie premii z KON do KP Parowanie.</td></tr>
                <tr><td><b>&nbsp;Przeb+3</b></td><td>Przebicie określa, ile punktów Wyparowań zbroi dana broń ignoruje w przypadku trafienia.</td></tr>
                <tr><td><b>&nbsp;K:Przeb+1</b></td><td>Wskazuje, że Przebicie jest zależne od zastosowania konkretnego Typu OBR przy broni o wielu typach.</td></tr>
                <tr><td><b>&nbsp;Szarża konna +1k6 OBR</b></td><td>Określa dodatkowe OBR przy broni o dewastującej szarży w przypadku zastosowana z wierzchowca.</td></tr>
                <tr><td><b>&nbsp;vs. szarży </b></td><td>Bonus przy wykorzystaniu Umiejętności "Przyjęcie szarży".</td></tr>
                <tr>
                    <td><b>&nbsp;-ZRC/Ruch/AT</b></td>
                    <td>
                        W zależności od tego, czy Trafienie dotyczy korpusu, nóg czy broni - albo powoduje Malus do wszystkich współczynników zręcznościowych
                        (KP Uniki, IN, TRAF, OBR, test ZRC), albo ogranicza Ruch do 0, albo pozbawia możliwości ataku tą bronią.
                        Warunkiem oswobodzenia jest wygranie Konfliktu Siły z atakującym oraz poświęcenie 1 rundy na oswobodzenie (lasso) lub poświęcenie 1k2 rund na oswobodzenie (bolas).
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
