{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling pt-3">

        <h2 class="rules mt-5 mb-3">Klasa broni</h2>
        <p>
            Przedstawione poniżej statystyki broni określają jej przydatność w sytuacji walki.
            Podział na Klasy jest istotny ze względu na Umiejętności podnoszące skuteczność Postaci w posługiwaniu się bronią; są to Biegłość w broni
            (Umiejętność, która może być wybrana wielokrotnie) oraz Obycie z bronią.
            Odpowiedni rozwój Postaci w kontekście tych Umiejętności może pozwalać jej na korzystanie w skuteczny sposób z szerokiego wyboru broni o rozmaitym charakterze.
        </p>
        
        {% for weapon_type in weapon_types %}
            <table class="weapons-table rules-table mt-2">
                <colgroup>
                    <col class="class">
    <!--                <col class="delay">-->
                    <col class="damage">
                    <col class="damage-type">
                    <col class="special">
                    <col class="range">
                    <col class="size">
                    <col class="trait">
                    <col class="price">
                    <col class="weight">
                </colgroup>
                <thead class="align-center">
                    <tr>
                        <th class="small-caps align-left pl-2 font-17" >{{ weapon_type.name }}</th>
    <!--                    <th>Opóźń</th>-->
                        <th>Obrażenia</th>
                        <th>Typ</th>
                        <th>Specjalne</th>
                        <th>Zasięg</th>
                        <th>Rozm</th>
                        <th>Cecha</th>
                        <th>Cena</th>
                        <th>Waga</th>
                    </tr>
                </thead>
                <tbody>
                    {% for weapon in weapon_type.weapons.all %}
                        <tr>
                            <td class="hover-blue" data-toggle="collapse" data-target="#{{ weapon.short_name }}">&nbsp;{{ weapon.name }}</td>
    <!--                        <td class="align-center">{{ weapon.delay }}</td>-->
                            <td class="align-center">{{ weapon.damage_summary }}</td>
                            <td class="align-center">{{ weapon.damage_type }}</td>
                            <td class="align-center"><small>{{ weapon.special|linebreaksbr }}</small></td>
                            <td class="align-center nowrap">{% if weapon.range %}{{ weapon.range }}{% endif %}</td>
                            <td class="align-center">{{ weapon.size }}</td>
                            <td class="align-center">{{ weapon.trait }}</td>
                            <td class="align-center">{{ weapon.avg_price_value }} {{ weapon.avg_price_currency }}</td>
                            <td class="align-center">{{ weapon.avg_weight.normalize }}</td>
                        </tr>
                        <tr id="{{ weapon.short_name }}" class="collapse">
                            <td colspan="10" class="weapons-img px-2">
                                <br>
                                {{ weapon.description|linebreaksbr }}
                                <br><br>
                                <div class="mb-1">
                                    {% for picture_set in weapon.picture_sets.all %}
                                        <div class="d-flex justify-content-center my-3">
                                            {% for picture in picture_set|pictureset_pictures_in_custom_order %}
                                                {% include '_pic_with_modal.html' %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}

        <h5 class="mt-5"><b>Legenda</b></h5>
        <br>
        <table class="key">
            <colgroup>
                <col class="point">
                <col class="explanation">
            </colgroup>
            <tbody>
                <tr><td><b>&nbsp;3m</b></td><td>Broń do walki wręcz o dużym zasięgu - umożliwia atak rundę wcześniej niż przeciwnik, jednak staje się bezużyteczna, jeśli przeciwnikowi uda się zbliżyć.</td></tr>
                <tr><td><b>&nbsp;nie zabija!</b></td><td>Broń zadająca obrażenia, które raczej nie są w stanie spowodować śmierci.</td></tr>
                <tr><td><b>&nbsp;1 AT/2r</b></td><td>Wskazuje liczbę AT/R w przypadku broni, której użycie wymaga długiego przygotowania.</td></tr>
                <tr><td><b>&nbsp;+15% Oszołomienie</b></td><td>Wskazuje szanse na Oszołomienie przeciwnika w przypadku trafienia (przeciwnik przez 1R nie może atakować; może przejść do Defensywy).</td></tr>
                <tr><td><b>&nbsp;+Par</b></td><td>Broń umożliwiająca parowanie, czyli zastosowanie premii z KON do KP.</td></tr>
                <tr><td><b>&nbsp;Przeb+3</b></td><td>Przebicie broni określa, ile punktów Wyparowań zbroi ignoruje w przypadku trafienia.</td></tr>
                <tr><td><b>&nbsp;K:Przeb+1</b></td><td>Wskazuje, że Przebicie jest zależne od zastosowania konkretnego Typu OBR przy broni o wielu typach.</td></tr>
                <tr><td><b>&nbsp;Szarża konna +1k6 OBR</b></td><td>Określa dodatkowe OBR przy broni o dewastującej szarży w przypadku zastosowana z wierzchowca.</td></tr>
                <tr><td><b>&nbsp;vs. szarży +1TRAF +1OBR</b></td><td>Modyfikatory sytuacyjne broni nadającej się do przyjęcia szarży (sumują się z normalną premią).</td></tr>
                <tr><td><b>&nbsp;-ZRC</b></td><td>Trafienie znosi wszystkie premie ze ZRC lub ogranicza ruch (zależnie czy trafienie w ręce, czy w nogi), a w przypadku trafienia w broń pozbawia możliwości ataku tą bronią, nie ograniczając premii ze ZRC. Określa warunek/czas oswobodzenia.</td></tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
