{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'rules:main' %}">Zasady</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br><br>

    <table class="weapons">
        {% for weapon_class in weapons_classes_with_types_dict %}
        <colgroup>
            <col class="class">
            <col class="delay">
            <col class="damage">
            <col class="damage-type">
            <col class="special">
            <col class="range">
            <col class="size">
            <col class="trait">
            <col class="price">
            <col class="weight">
        </colgroup>
        <thead class="align-center">
            <tr>
                <th>{{ weapon_class.name }}</th>
                <th>Opóźń</th>
                <th>OBR<br>M / D</th>
                <th>OBR<br>Typ</th>
                <th>Specjalne</th>
                <th>Zasięg</th>
                <th>Rozm</th>
                <th>Cecha</th>
                <th>Cena<br>≈</th>
                <th>Waga<br>≈</th>
            </tr>
        </thead>
        <tbody>
            {% for weapon_type in weapons_classes_with_types_dict|dict_lookup:weapon_class %}
                <tr>
                    <td>&nbsp;{{ weapon_type.name }}</td>
                    <td class="align-center">{{ weapon_type.delay }}</td>
                    <td class="align-center">{{ weapon_type.damage_summary }}</td>
                    <td class="align-center">{{ weapon_type.damage_type }}</td>
                    <td class="align-center"><small>{{ weapon_type.special|linebreaksbr }}</small></td>
                    <td class="align-center">{{ weapon_type.range }}</td>
                    <td class="align-center">{{ weapon_type.size }}</td>
                    <td class="align-center">{{ weapon_type.trait }}</td>
                    <td class="align-center">{{ weapon_type.avg_price_value }} {{ weapon_type.avg_price_currency }}</td>
                    <td class="align-center">{{ weapon_type.avg_weight }}</td>
                </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>

    <br><br><br>

    <h2 class="rules">XXXX</h2>
    <br>
    <p>
        XXXX
    </p>
    <br><br><br>




{% endblock content %}
