{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling">

        <h2>Typy broni</h2>
        <p>
            Przedstawione poniżej statystyki broni określają jej przydatność w różnych sytuacjach na polu walki,
            jak również inne cechy, które mogą mieć niebanalne znaczenie dla możliwości pozyskania, naprawy i przechowywania uzbrojenia.
        </p>
        <p>
            <b>§ Obrażenia.</b>
            Standardowe Obrażenia typowego egzemplarza danej broni w połączeniu z informacją o ich Typie (K - kłute, O - obuchowe, S - sieczne).
            Niektóre typy broni posiadają możliwość zastosowania więcej niż jednego Typu Obrażeń, w zależności od sposobu użycia.
            Ponadto, w niektórych przypadkach Typ Obrażeń decyduje o odmiennych właściwościach ataku opisanych w sekcjach "Specjalne" oraz "Zasięg".
        </p>
        <p>
            <b>§ Właściwości.</b>
            Dodatkowe cechy broni mające istotny wpływ na jej zastosowanie i przydatność w różnych sytuacjach bitewnych.
            Legenda oznaczeń znajduje się poniżej Tabeli Broni.
        </p>
        <p>
            <b>§ Cecha.</b>
            Określa, z której Cechy broń może czerpać Bonusy do Trafienia i Obrażeń.
            Większość typów broni nadaje się albo do techniki walki z akcentem na siłę, albo na precyzję uderzenia,
            jednak niektóre dopuszczają obie.
        </p>
        <p>
            <b>§ Rozmiar.</b>
            Współczynnik ten nie zawsze pozostaje w bezpośrednim związku z faktycznymi wymiarami przestrzennymi lub wagą broni.
            Decyduje on o możliwości wykorzystania danego typu broni w ramach niektórych Atutów (Umiejętności).
        </p>
        <p>
            <b>§ Cena.</b>
            Cena broni stanowi o jej dostępności dla Postaci - z jednej strony ze względu na zawartość jej kiesy,
            z drugiej zaś świadczy o ogólnej popularności danego typu uzbrojenia, a więc również o łatwości nabycia i naprawy.
            Broń o wysokiej cenie zazwyczaj wymaga skomplikowanego procesu produkcyjnego lub stosunkowo drogich składników.
        </p>
        <p>
            <b>§ Waga.</b>
            Waga broni ma istotne znaczenie ze względu na Udźwig.
            Broń lekka lepiej nadaje się dla tych Postaci, które polegają na szybkości i zwinności.
        </p>
        
        <h2>Zasięg broni dystansowej</h2>
        <p>
            <b>§ Zasięg Podstawowy.</b>
            Zasięg broni nadającej się do ataków dystansowych opisany jest w ramach Właściwości i oznaczony jest symbolem "Dyst-5", "Dyst-30" itd.
            Wskazana w nim liczba określa Zasięg Podstawowy broni, to jest górny próg odległości, która pozwala na wykonanie ataku bez Malusa do Trafienia.
            Każdy kolejny próg zasięgu stanowi mnożnik Zasięgu Podstawowego i wiąże się z Malusem TRAF -1
            (np. Zasięg Bazowy 5 pozwala na atak bez Malusa na odległość 5 m, a dalej do 10 m z Malusem -1 TRAF, do 15 m z Malusem -2 TRAF, i tak dalej).
        </p>
        <p>
            <b>§ Zasięg Maksymalny.</b>
            Dziesięciokrotność Zasięgu Podstawowego to Zasięg Maksymalny. Określa on limit odległości, jaką może osiągnąć atak dystansowy
            (np. nośność strzały czy bełtu, największa fizycznie możliwa odległość rzutu oszczepem czy harpunem).
        </p>
        
        <h2>Tabela broni</h2>
        <table class="weapon-types rules-table mt-3">
            <colgroup>
                <col class="class">
                <col class="damage">
                <col class="special">
                <col class="size">
                <col class="trait">
                <col class="price">
                <col class="weight">
            </colgroup>
            <thead class="align-center">
                <tr>
                    <th class="py-2">Broń</th>
                    <th>Obrażenia</th>
                    <th>Właściwości</th>
                    <th>Cecha</th>
                    <th>Rozm</th>
                    <th>Cena</th>
                    <th>Waga</th>
                </tr>
            </thead>
            <tbody>
                {% for weapon_type in weapon_types %}
                    <tr class="align-top {% if forloop.counter|divisibleby:2 %} bg-gray {% endif %}">
                        <td class="hover-blue" rowspan="{{ weapon_type.damage_types.count }}"
                            data-toggle="collapse" data-target="#{{ weapon_type|remove_special_chars }}" >
                            <div class="ml-1 font-weight-bold" style="letter-spacing: 0.03rem;">{{ weapon_type.name }}</div>
                        </td>
                        <td class="align-center"><small>{{ weapon_type.damage_types.first.short }}</small></td>
                        <td class="align-center"><small>{{ weapon_type.damage_types.first.special|default_if_none:""|linebreaksbr }}</small></td>
                        <td class="align-center" rowspan="{{ weapon_type.damage_types.count }}">{{ weapon_type.trait }}</td>
                        <td class="align-center" rowspan="{{ weapon_type.damage_types.count }}">{{ weapon_type.size }}</td>
                        <td class="align-center" rowspan="{{ weapon_type.damage_types.count }}">
                            {{ weapon_type.avg_price_value|default_if_none:"-" }} {{ weapon_type.avg_price_currency|default_if_none:"" }}
                        </td>
                        <td class="align-center" rowspan="{{ weapon_type.damage_types.count }}">{{ weapon_type.avg_weight.normalize }}</td>
                    </tr>
                    {% for damage_type in weapon_type.damage_types.all %}
                        {% if not forloop.first %}
                            <tr class="{% if forloop.parentloop.counter|divisibleby:2 %} bg-gray {% endif %}" >
                                {% if weapon_type.damage_types.count == 1 %}<td></td>{% endif %}
                                <td class="align-center"><small>{{ damage_type.short }}</small></td>
                                <td class="align-center"><small>{{ damage_type.special|default_if_none:"" }}</small></td>
                                {% if weapon_type.damage_types.count == 1 %}
                                    <td colspan="4"></td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr id="{{ weapon_type|remove_special_chars }}" class="collapse {% if forloop.counter|divisibleby:2 %} bg-gray {% endif %}">
                        <td colspan="10" class="px-2">
                            <div class="m-1 mr-2 font-italic text-justify">
                                {{ weapon_type.description|linebreaksbr }}
                            </div>
                            {% if weapon_type.comparables.exists %}
                                <small class="smaller text-justify text-muted ml-1">
                                    Podobne: {{ weapon_type.comparables.all|join:' | ' }}
                                </small>
                            {% endif %}
                            {% if weapon_type.picture_set %}
                                <div class="mb-1">
                                    <div class="d-flex justify-content-center my-3">
                                        {% for picture in weapon_type.picture_set|pictureset_pictures_in_custom_order %}
                                            {% with hide_description=True %}
                                                {% include '_pic_with_modal.html' %}
                                            {% endwith %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h5 class="mt-5"><b>Legenda</b></h5>
        
        <table class="table table-hover table-bordered table-sm mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>Oznaczenie</th>
                    <th>Wyjaśnienie</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>OBR z SIŁ</th>
                    <td>
                        Niektóre egzemplarze łuku długiego, dostosowane do wyjątkowo silnego łucznika,
                        mogą pozwalać na dodanie Obrażeń z Siły do poziomu,
                        jednak tylko do poziomu, do jakiego przystosowany jest łuk.
                    </td>
                </tr>
                <tr>
                    <th>Drzewce-3m</th>
                    <td>
                        Broń drzewcowa nadaje się lepiej do przyjmowania szarży,
                        ponadto ze względu na długość zapewnia Inicjatywę w walce w zwarciu,
                        o ile przeciwnik dysponuje krótszą bronią.
                        Drzewce-4m wygrywa z Drzewce-3m oraz z każdą bronią nie-drzewcową służącą do walki w zwarciu.
                    </td>
                </tr>
                <tr>
                    <th>Dyst-10</th>
                    <td>
                        Zasięg Podstawowy broni dystansowej w metrach (patrz zasady Zasięgu broni dystansowej powyżej).
                    </td>
                </tr>
                <tr>
                    <th>NieZabija</th>
                    <td>
                        Przy odebraniu ostatnich Punktów Życia broń nie zabija, tylko kaleczy i pozbawia przytomności.
                        Zabicie nieprzytomnego wymaga osobnej akcji.
                    </td>
                </tr>
                <tr>
                    <th>1 AT/2r</th>
                    <td>
                        Wskazuje liczbę AT/r w przypadku broni, której użycie wymaga długiego przygotowania.
                    </td>
                </tr>
                <tr>
                    <th>+15% Oszołomienie</th>
                    <td>
                        Wskazuje szanse na Oszołomienie przeciwnika w przypadku trafienia
                        (przeciwnik przez 1R nie może atakować; może przejść do Defensywy).
                    </td>
                </tr>
                <tr>
                    <th>+Par</th>
                    <td>
                        Broń umożliwiająca Parowanie, czyli zastosowanie premii z KON do KP Parowanie.
                    </td>
                </tr>
                <tr>
                    <th>PRZEB+3</th>
                    <td>
                        Przebicie: określa, ile punktów Wyparowań zbroi dana broń ignoruje w przypadku trafienia.
                    </td>
                </tr>
                <tr>
                    <th>vs. szarży</th>
                    <td>
                        TODO - przenieść do Umiejętności - albo synergia z Obyciem z bronią / czymś
                        Bonus przy wykorzystaniu Umiejętności "Przyjęcie szarży".
                    </td>
                </tr>
                <tr>
                    <th>-ZRC/Ruch/AT</th>
                    <td>
                        W zależności od tego, czy Trafienie dotyczy korpusu, nóg czy broni - albo powoduje Malus do wszystkich współczynników zręcznościowych
                        (KP Uniki, IN, TRAF, OBR, test ZRC), albo ogranicza Ruch do 0, albo pozbawia możliwości ataku tą bronią.
                        Warunkiem oswobodzenia jest wygranie Konfliktu Siły z atakującym oraz poświęcenie 1 rundy na oswobodzenie (lasso)
                        lub poświęcenie 1k2 rund na oswobodzenie (bolas).
                    </td>
                </tr>

            </tbody>
        </table>
        
        
    </div>
{% endblock content %}
