{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock head_extra %}

{% block content %}
    <div class="rules-styling pt-3">

        <h2 class="rules mt-5 mb-3">Typy broni</h2>
        <p>
            Przedstawione poniżej statystyki broni określają jej przydatność w różnych sytuacjach na polu walki,
            jak również inne cechy, które mogą mieć niebanalne znaczenie dla możliwości pozyskania, naprawy i przechowywania uzbrojenia.
        </p>
        <p>
            <b>§ Obrażenia.</b>
            Standardowe Obrażenia typowego egzemplarza danej broni w połączeniu z informacją o ich Typie (K - kłute, O - obuchowe, S - sieczne).
            Niektóre typy broni posiadają możliwość zastosowania więcej niż jednego Typu Obrażeń, w zależności od sposobu użycia.
            Ponadto, w niektórych przypadkach Typ Obrażeń decyduje o odmiennych właściwościach ataku opisanych w sekcjach "Specjalne" oraz "Zasięg".
        </p>
        <p>
            <b>§ Właściwości.</b>
            Dodatkowe cechy broni mające istotny wpływ na jej zastosowanie i przydatność w różnych sytuacjach bitewnych.
            Legenda oznaczeń znajduje się poniżej Tabeli Broni.
        </p>
        <p>
            <b>§ Cecha.</b>
            Określa, z której Cechy broń może czerpać Bonusy do Trafienia i Obrażeń.
            Większość typów broni nadaje się albo do techniki walki z akcentem na siłę, albo na precyzję uderzenia,
            jednak niektóre dopuszczają obie.
        </p>
        <p>
            <b>§ Rozmiar.</b>
            Współczynnik ten nie zawsze pozostaje w bezpośrednim związku z faktycznymi wymiarami przestrzennymi lub wagą broni.
            Decyduje on o możliwości wykorzystania danego typu broni w ramach niektórych Atutów (Umiejętności).
        </p>
        <p>
            <b>§ Cena.</b>
            Cena broni stanowi o jej dostępności dla Postaci - z jednej strony ze względu na zawartość jej kiesy,
            z drugiej zaś świadczy o ogólnej popularności danego typu uzbrojenia, a więc również o łatwości nabycia i naprawy.
            Broń o wysokiej cenie zazwyczaj wymaga skomplikowanego procesu produkcyjnego lub stosunkowo drogich składników.
        </p>
        <p>
            <b>§ Waga.</b>
            Waga broni ma istotne znaczenie ze względu na Udźwig.
            Broń lekka lepiej nadaje się dla tych Postaci, które polegają na szybkości i zwinności.
        </p>
        
        <h2 class="rules mt-5 mb-3">Zasięg broni dystansowej</h2>
        <p>
            <b>§ Zasięg Podstawowy.</b>
            Zasięg broni nadającej się do ataków dystansowych opisany jest w ramach Właściwości i oznaczony jest symbolem "Dyst-5", "Dyst-30" itd.
            Wskazana w nim liczba określa Zasięg Podstawowy broni, to jest górny próg odległości, która pozwala na wykonanie ataku bez Malusa do Trafienia.
            Każdy kolejny próg zasięgu stanowi mnożnik Zasięgu Podstawowego i wiąże się z Malusem TRAF -1
            (np. Zasięg Bazowy 5 pozwala na atak bez Malusa na odległość 5 m, a dalej do 10 m z Malusem -1 TRAF, do 15 m z Malusem -2 TRAF, i tak dalej).
        </p>
        <p>
            <b>§ Zasięg Maksymalny.</b>
            Dziesięciokrotność Zasięgu Podstawowego to Zasięg Maksymalny. Określa on limit odległości, jaką może osiągnąć atak dystansowy
            (np. nośność strzały czy bełtu, największa fizycznie możliwa odległość rzutu oszczepem czy harpunem).
        </p>
        
        <h2 class="rules mt-5 mb-3">Tabela broni</h2>

        <table class="weapon-types rules-table mt-3">
            <colgroup>
                <col class="class">
                <col class="damage">
                <col class="special">
                <col class="range">
                <col class="size">
                <col class="trait">
                <col class="price">
                <col class="weight">
            </colgroup>
            <thead class="align-center">
                <tr>
                    <th></th>
                    <th>Obrażenia</th>
                    <th>Właściwości</th>
                    <th>Zasięg</th>
                    <th>Cecha</th>
                    <th>Rozm</th>
                    <th>Cena</th>
                    <th>Waga</th>
                </tr>
            </thead>
            <tbody>
                {% for weapon_type in weapon_types %}
                    <tr class="{% if forloop.counter|divisibleby:2 %} bg-gray {% endif %}">
                        <td class="hover-blue" data-toggle="collapse" data-target="#{{ weapon_type|remove_special_chars }}">
                            <span class="px-1">{{ weapon_type.name }}</span>
                        </td>
                        <td class="align-center"><small>{{ weapon_type.damage_types.first.short }}</small></td>
                        <td class="align-center"><small>{{ weapon_type.damage_types.first.special|default_if_none:""|linebreaksbr }}</small></td>
                        <td class="align-center nowrap">{{ weapon_type.damage_types.first.range|default_if_none:"" }}</td>
                        <td class="align-center">{{ weapon_type.trait }}</td>
                        <td class="align-center">{{ weapon_type.size }}</td>
                        <td class="align-center">{{ weapon_type.avg_price_value|default_if_none:"" }} {{ weapon_type.avg_price_currency|default_if_none:"" }}</td>
                        <td class="align-center">{{ weapon_type.avg_weight.normalize }}</td>
                    </tr>
                    {% for damage_type in weapon_type.damage_types.all %}
                        {% if not forloop.first %}
                            <tr class="{% if forloop.parentloop.counter|divisibleby:2 %} bg-gray {% endif %}" >
                                <td></td>
                                <td class="align-center"><small>{{ damage_type.short }}</small></td>
                                <td class="align-center"><small>{{ damage_type.special|default_if_none:"" }}</small></td>
                                <td class="align-center"><small>{{ damage_type.range|default_if_none:"" }}</small></td>
                                <td colspan="4"></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr id="{{ weapon_type|remove_special_chars }}" class="collapse {% if forloop.counter|divisibleby:2 %} bg-gray {% endif %}">
                        <td colspan="10" class="px-2">
                            <div class="m-1 mr-2 font-italic text-justify">
                                {{ weapon_type.description|linebreaksbr }}
                            </div>
                            {% if weapon_type.picture_set %}
                                <div class="mb-1">
                                    <div class="d-flex justify-content-center my-3">
                                        {% for picture in weapon_type.picture_set|pictureset_pictures_in_custom_order %}
                                            {% with hide_description=True %}
                                                {% include '_pic_with_modal.html' %}
                                            {% endwith %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h5 class="mt-5"><b>Legenda</b></h5>
        <table class="rules-table">
            <tbody>
                <tr><td><b>&nbsp;Drzewcowa 3m</b></td><td>Broń drzewcowa nadaje się lepiej do przyjmowania szarży, ponadto ze względu na długość zapewnia Inicjatywę w walce w zwarciu, o ile przeciwnik sam nie dysponuje podobną bronią.</td></tr>
                <tr><td><b>&nbsp;nie zabija!</b></td><td>Przy odebraniu ostatnich Punktów Życia broń nie zabija, tylko pozbawia przytomności. Zabicie wymaga dalszego pastwienia się nad nieprzytomną ofiarą. Szybciej już zwykłym nożem...</td></tr>
                <tr><td><b>&nbsp;1 AT/2r</b></td><td>Wskazuje liczbę AT/r w przypadku broni, której użycie wymaga długiego przygotowania.</td></tr>
                <tr><td><b>&nbsp;+15% Oszołomienie</b></td><td>Wskazuje szanse na Oszołomienie przeciwnika w przypadku trafienia (przeciwnik przez 1R nie może atakować; może przejść do Defensywy).</td></tr>
                <tr><td><b>&nbsp;+Par</b></td><td>Broń umożliwiająca Parowanie, czyli zastosowanie premii z KON do KP Parowanie.</td></tr>
                <tr><td><b>&nbsp;Przeb+3</b></td><td>Przebicie określa, ile punktów Wyparowań zbroi dana broń ignoruje w przypadku trafienia.</td></tr>
                <tr><td><b>&nbsp;vs. szarży </b></td><td>Bonus przy wykorzystaniu Umiejętności "Przyjęcie szarży".</td></tr>
                <tr>
                    <td><b>&nbsp;-ZRC/Ruch/AT</b></td>
                    <td>
                        W zależności od tego, czy Trafienie dotyczy korpusu, nóg czy broni - albo powoduje Malus do wszystkich współczynników zręcznościowych
                        (KP Uniki, IN, TRAF, OBR, test ZRC), albo ogranicza Ruch do 0, albo pozbawia możliwości ataku tą bronią.
                        Warunkiem oswobodzenia jest wygranie Konfliktu Siły z atakującym oraz poświęcenie 1 rundy na oswobodzenie (lasso) lub poświęcenie 1k2 rund na oswobodzenie (bolas).
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
