{% load static %}
{% load custom_filters %}

<div class="container anchor mt-n5" id="event_{{ event.id }}">
    <div class="row border-top">
        
        <!-- ACTIONS -->
        {% if request.user.profile.can_action %}
            <div class="col-12 col-sm-1 p-0">
                <div class="d-inline" data-toggle="tooltip" data-placement="bottom" title="Poinformuj o wydarzeniu">
                    <a class="btn btn-outline-dark icon-inform mt-1 py-2" href="{% url 'chronicles:game-event-inform' event.id %}" target="_blank"></a>
                </div>
    <!--            <div class="d-inline" data-toggle="tooltip" data-placement="bottom" title="Notatki (w budowie)">-->
    <!--                <a class="btn btn-outline-dark icon-note mt-1 py-2 disabled" href="#"></a>-->
    <!--            </div>-->
                {% if request.user.profile.status == 'gm' %}
                    <div class="d-inline" data-toggle="tooltip" data-placement="bottom" title="Edytuj wydarzenie">
                        <a class="btn btn-outline-secondary icon-edit mt-1 py-2" href="{% url 'admin:chronicles_gameevent_change' event.id %}" target="_blank"></a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        
        
        <!-- EVENT -->
        <div class="col-12 col-sm-11 mt-2 p-0 pl-sm-2 pl-lg-0">
            <!-- AUDIO -->
            {% if event.audio %}
                {% if request.user.profile in event.known_directly.all or request.user.profile.can_view_all %}
                    <audio class="chronicle-audio-main" controls loop>
                        <source src="{{ event.audio.path }}" type="audio/mpeg">
                    </audio>
                {% endif %}
            {% endif %}
            
            <!-- DESCRIPTION -->
            <p class="font-18 font-italic px-1 py-1 mb-0 text-justify">
                {% if request.user.profile in event.known_indirectly.all %}
                    <span class="text-muted">(Znasz z opowieści) {{ event.description_long|linebreaksbr }}</span>
                {% else %}
                    {{ event.description_long|custom_linebreaksbr:2 }}
                {% endif %}
            </p>
            
            <!-- PICTURE SETS -->
            {% if request.user.profile not in event.known_indirectly.all %}
                {% for picture_set in event.picture_sets.all %}
                    <div class="d-flex justify-content-center my-3">
                        {% for picture in picture_set|pictureset_pictures_in_custom_order %}
                            {% include '_pic_with_modal.html' %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
            
            <!-- DEBATES -->
            {% if event.debates and request.user.profile not in event.known_indirectly.all %}
                <div>
                    {% for debate in event.debates.all %}
                        {% if request.user.profile in debate.known_directly.all or request.user.profile.can_view_all %}
                            <ul class="bullets-3 mt-5 pl-3">
                                <li class="align-middle">
                                    <span class="font-18 font-italic hover-blue text-justify" data-toggle="collapse" data-target="#debate_{{ debate.id }}">
                                        <span class="small-caps">Narada:</span> {{ debate.name }}
                                    </span>
        
                                    <div id="debate_{{ debate.id }}" class="collapse show">
                                        <div class="mt-2">
                                            <a href="{% url 'debates:debate' debate.id %}" class="btn btn-outline-dark">Idź do narady</a>
                                            <a class="btn btn-outline-secondary" href="#"  data-toggle="collapse" data-target="#debate_{{ debate.id }}">Zwiń naradę</a>
                                        </div>
                                        <div class="mt-5">
                                            {% include 'debates/_debate_body.html' %}
                                        </div>
                                        <div class="text-right">
                                            <p class="btn btn-outline-secondary" data-toggle="collapse" data-target="#debate_{{ debate.id }}">Zwiń naradę</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            
            <!-- NOTES -->
<!--        {% for note in event.notes.all %}-->
<!--            {% if request.user == note.author %}-->
<!--                {% if note.text != '' %}-->
<!--                    <div class="font-italic text-justify px-1 py-1" style="color:{{ note.color }}">-->
<!--                        <h5>Przemyślenia:</h5>-->
<!--                        <p>{{ note.text|linebreaksbr }}</p>-->
<!--                    </div>-->
<!--                {% endif %}-->
<!--            {% endif %}-->
<!--        {% endfor %}-->
        </div>
    </div>
</div>

