{% load static %}
{% load custom_filters %}

<div class="container">
    <div class="row border-top">
        
        <!-- ACTIONS -->
        <div class="col-12 col-sm-1 p-0">
            <a class="btn btn-outline-dark mt-1" href="{% url 'chronicles:game-event-inform' event.id %}" target="_blank">
                <i class="icon-inform-medium"></i>
            </a>
            <a class="btn btn-outline-dark mt-1 disabled" href="#">
                <i class="icon-note-medium"></i>
            </a>
        </div>
        
        <!-- EVENT -->
        <div class="col-12 col-sm-11 mt-2 p-0">
            
            <!-- DESCRIPTION -->
            {% if request.user.profile in event.known_indirectly.all %}
                <p class="font-18 font-italic px-1 py-1 text-justify">
                    <small class="text-muted">(Znasz z opowieści) {{ event.description_long|linebreaksbr }}</small>
                </p>
            {% else %}
                <p class="font-18 font-italic px-1 py-1 text-justify">{{ event.description_long|linebreaksbr }}</p>
            {% endif %}
            
            <!-- PICTURES -->
            {% if event.pictures.all and request.user.profile not in event.known_indirectly.all %}
                {% for row in event.pictures.all|columns:3 %}
                    <div class="d-flex justify-content-center">
                        {% for picture in row %}
                            <figure class="figure mx-auto chronicle-img mt-4">
                                <img src="{{ picture.image.url }}" alt="Event img">
                                {% if picture.description %}
                                    <figcaption class="figure-caption text-center pt-1">{{ picture.description }}</figcaption>
                                {% endif %}
                            </figure>
                        {% endfor %}
                    </div>
                {% endfor %}
                <br>
            {% endif %}
            
            <!-- DEBATES -->
            {% if event.debate and request.user.profile not in event.known_indirectly.all %}
                <div class="font-18 font-italic text-justify px-1 py-1">
                    <p>
                        <a href="{% url 'debates:debate' event.debate.id %}" id="debate_{{ event.debate.id }}">
                            ❖ Narada: {{ event.debate.name }}
                        </a>
                    </p>
                </div>
            {% endif %}
            
            <!-- NOTES -->
<!--        {% for note in event.notes.all %}-->
<!--            {% if request.user == note.author %}-->
<!--                {% if note.text != '' %}-->
<!--                    <div class="font-italic text-justify px-1 py-1" style="color:{{ note.color }}">-->
<!--                        <h5>Przemyślenia:</h5>-->
<!--                        <p>{{ note.text|linebreaksbr }}</p>-->
<!--                    </div>-->
<!--                {% endif %}-->
<!--            {% endif %}-->
<!--        {% endfor %}-->
        </div>
    </div>
</div>

