{% load static %}
{% load custom_filters %}

<div class="container anchor mt-n5" id="event_{{ event.id }}">
    <div class="row border-top">
        
        <!-- ACTIONS -->
        <div class="col-12 col-sm-1 p-0">
            <a class="btn btn-outline-dark mt-1" href="{% url 'chronicles:game-event-inform' event.id %}" target="_blank">
                <i class="icon-inform-medium"></i>
            </a>
            <a class="btn btn-outline-dark mt-1 disabled" href="#">
                <i class="icon-note-medium"></i>
            </a>
        </div>
        
        <!-- EVENT -->
        <div class="col-12 col-sm-11 mt-2 p-0 pl-sm-2 pl-lg-0">
            <!-- DESCRIPTION -->
            <p class="font-18 font-italic px-1 py-1 mb-0 text-justify">
                {% if request.user.profile in event.known_indirectly.all %}
                    <small class="text-muted">(Znasz z opowieści) {{ event.description_long|linebreaksbr }}</small>
                {% else %}
                    {{ event.description_long|custom_linebreaksbr:2 }}
                {% endif %}
            </p>
            
            <!-- PICTURES -->
            {% if event.pictures.all and request.user.profile not in event.known_indirectly.all %}
            <div class="mb-4">
                {% for row in event.pictures.all|columns:3 %}
                    <div class="d-flex justify-content-center">
                        {% for picture in row %}
                            <!-- Modal controls -->
                            <figure class="chronicle-img figure mx-auto for-modal mb-0 mt-4 px-1" data-toggle="modal" data-target="#imgModal{{ picture.id }}">
                                <img src="{{ picture.image.url }}" alt="Event img">
                                {% if picture.description %}
                                    <figcaption class="figure-caption text-center pt-1">{{ picture.description }}</figcaption>
                                {% endif %}
                            </figure>
                            <!-- Modal -->
                            <div class="modal fade img-modal" id="imgModal{{ picture.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-body">
                                    <img src="{{ picture.image.url }}" alt="Event img">
                                  </div>
                                </div>
                              </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
            
            <!-- DEBATES -->
            {% if event.debates and request.user.profile not in event.known_indirectly.all %}
                <div>
                    {% for debate in event.debates.all %}
                    <ul class="bullets-3 mt-5 pl-3">
                        <li class="align-middle" >
                            <span class="font-18 font-italic hover-blue text-justify" data-toggle="collapse" data-target="#debate_{{ debate.id }}">
                                <span class="small-caps">Narada:</span> {{ debate.name }}
                            </span>

                            <div id="debate_{{ debate.id }}" class="collapse show">
                                <div class="mt-2">
                                    <a href="{% url 'debates:debate' debate.id %}" class="btn btn-outline-dark">Idź do narady</a>
                                    <a class="btn btn-outline-secondary" href="#"  data-toggle="collapse" data-target="#debate_{{ debate.id }}">Zwiń naradę</a>
                                </div>
                                <div class="mt-5">
                                    {% include 'debates/_debate_body.html' %}
                                </div>
                                <div class="text-right">
                                    <p class="btn btn-outline-secondary" data-toggle="collapse" data-target="#debate_{{ debate.id }}">Zwiń naradę</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            {% endif %}
            
            <!-- NOTES -->
<!--        {% for note in event.notes.all %}-->
<!--            {% if request.user == note.author %}-->
<!--                {% if note.text != '' %}-->
<!--                    <div class="font-italic text-justify px-1 py-1" style="color:{{ note.color }}">-->
<!--                        <h5>Przemyślenia:</h5>-->
<!--                        <p>{{ note.text|linebreaksbr }}</p>-->
<!--                    </div>-->
<!--                {% endif %}-->
<!--            {% endif %}-->
<!--        {% endfor %}-->
        </div>
    </div>
</div>

