{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/chronicles.css' %}">
{% endblock head_extra %}

{% block content %}
    {% if not chapters and not games %}
        <section class="mt-5">
            <h4 class="font-italic text-center mt-4">Brak wydarzeń do wyświetlenia!</h4>
        </section>
    {% else %}
        <section class="mt-5 pt-4">
            <div class="container mb-5">
                <div class="row">
                    <div class="col-1 p-0 img-div">
                        <a href="{% url 'chronicles:chronicle-all' %}">
                            <figure class="figure" data-toggle="tooltip" data-placement="right" title="Pełna Kronika">
                                <img class="img-chapter" src="{% static 'img/chronicle_all.png' %}">
                            </figure>
                        </a>
                    </div>
                    <div class="col-10 mb-2 col-11 pl-4 pl-xs-3 pl-sm-3 pl-lg-2 ml-lg-n2 ml-xl-n3">
                        <a href="{% url 'chronicles:chronicle-all' %}" class="h2 font-weight-bold">
                            <div class="mt-1">
                                <span class="border-bottom small-caps">
                                    Pełna Kronika
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                
                {% include 'chronicles/_chapters_list.html' %}

            </div>
        </section>
    
        <section class="border-top">
            <div class="container mt-4 p-0 ml-lg-n4 ml-xl-n5">
                {% for game in games %}
                    {% if game.chapter %}
                        <div class="row">
                            <div class="col-1 pt-1">
                            
                            </div>
                            <div class="col-1 p-0 pl-1">
                                <figure class="figure mb-0" data-toggle="tooltip" data-placement="right" title="{{ game.chapter.title }}">
                                    <img class="img-game" src="{{ game.chapter.image.url }}">
                                </figure>
                            </div>
                            <div class="col-10 mb-1 ml-n1 ml-sm-n3 ml-lg-n4 ml-xl-n4 pl-2 pl-lg-0">
                                <div class="mt-1 font-italic">
                                    <a href="{% url 'chronicles:chronicle-game' game.id %}"
                                       class="mr-2 font-18 {% if game.any_participants == 0 and request.current_profile.status != 'gm' %} text-muted {% endif %}">
                                        {{ game.title }}
                                    </a>
                                    <div class="d-inline-flex">
                                        {% for profile in game|game_participants %}
                                            <a href="{% url 'prosoponomikon:character' profile.character.id %}"
                                               data-toggle="tooltip" data-placement="top" data-html="true"
                                               title='<span class="font-italic">Prosoponomikon:<br>"{{ profile }}"</span>'>
                                                <div class="d-inline ml-1 align-top">
                                                   <img class="rounded-circle portait img-xs border border-dark mb-1" src="{{ profile.image.url }}">
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <div>
                                        {% for event in game.game_events.all %}
                                            {% for debate in event.debates.all %}
                                                <ul class="bullets-3 bullets-sm pl-3 mb-0">
                                                    <li class="pl-1">
                                                        <div class="d-md-inline">
                                                            <span class="d-inline font-14">
                                                                <a class="pr-1" href="{% url 'communications:thread' debate.id None %}"
                                                                    data-toggle="tooltip" data-placement="top" data-html="true"
                                                                    title='
                                                                        <div class="m-1">
                                                                            {% for profile in debate.participants.all %}
                                                                                {% if profile.status != "gm" %}
                                                                                    <img class="img-md rounded-circle" src="{{ profile.image.url }}">
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </div>'>
                                                                    {{ debate.title }}
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock content %}
