{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/chronicles.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br>
    {% for chapter in chapters %}
        <h3 class="mb-0">
            {% if chapter.image %}
                <img class="img-chapter" src="{{ chapter.image.url }}" alt="Chapter img">
            {% endif %}
            <a href="#{{ chapter.id }}" class="align-middle pt-2 small-caps border-bottom-dark">{{ chapter.title }}</a>
        </h3>
        <br>
    {% endfor %}
    <br><br>
 
    {% for chapter in chapters %}
        <div id="{{chapter.id}}" class="py-5">
            <br><br>
            {% if chapter.image %}
                <img class="img-chapter-header" src="{{ chapter.image.url }}" alt="Chapter img">
            {% endif %}
            <h1 class="mt-3">
                <b>
                    <a class="align-middle pt-2 small-caps border-bottom-dark">
                    {{ chapter.title }}
                    </a>
                </b>
            </h1>
        </div>
        {% with games=chapter.game_sessions.all %}
            {% include 'chronicles/_chapter.html' %}
        {% endwith %}
    {% endfor %}

{% endblock content %}