{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/chronicles.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br>
    <div class="container px-2 border-bottom">
        <div class="row">
            <h2 class="unblue pb-3">
                <img class="img-chapter" src="{% static 'img/chronicle_all.png' %}" alt="Chapter img">
                <b><a href="{% url 'chronicles:chronicle-all' %}" class="align-middle pt-2">Pełna Kronika</a></b>
            </h2>
        </div>
    </div>
    
    <div class="container mt-4 px-2">
        {% for chapter in chapters %}
            <div class="row mt-2">
                <div class="col-1 p-0 ">
                    <img class="img-chapter" src="{{ chapter.image.url }}" alt="Chapter img">
                </div>
                <div class="col-11 pl-4 pl-sm-2 pl-lg-0 ml-lg-n2 ml-xl-n3">
                    <h3 class="unblue mb-3">
                        <a href="{% url 'chronicles:chronicle-chapter' chapter.id %}" class="align-middle pt-2 small-caps border-bottom-dark">
                            <b class="header-title">{{ chapter.title }}</b>
                        </a>
                    </h3>
                    {% for game in chapter.game_sessions.all %}
                        <h6 class="unblue {% if not game.any_known_directly and request.user.profile.status != 'gm' %} text-muted {% endif %}">
                            {{ forloop.counter }}.
                            <a href="{% url 'chronicles:chronicle-game' game.id %}"
                               class="{% if not game.any_known_directly and request.user.profile.status != 'gm' %} text-muted {% endif %}">
                                {{ game.title }}
                            </a>
                        </h6>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
