{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/chronicles.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br>
    <table class="chronicle" id="chronicle" data-search="true" data-toggle="table">
        <colgroup>
            <col class="description">
            <col class="actions">
        </colgroup>
        <!-- This is neccessary to display table with Search feature nicely  -->
        <thead class="hide">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for event in events %}

                {% include 'chronicles/_event.html' %}

            {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock content %}