{% extends 'base.html' %}
{% load cache %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/chronicles.css' %}">
{% endblock head_extra %}


{% block content %}
{% cache 604800 chronicle request.current_profile.user.id  %}

<section class="mt-5 pt-4">
    <div class="container mb-5">
        {% include 'chronicles/_chapters_list.html' %}
    </div>
    </section>

    {% for chapter in chapters %}
        <div class="container">
            <div id="{{chapter.id}}" class="pt-5 row">
                <div>
                    <img class="img-chapter-header" src="{{ chapter.image.url }}">
                </div>
                <div class="ml-2 ml-lg-3 mt-1 mt-sm-2 mt-lg-3">
                    <span class="chapter-title align-middle font-weight-bold small-caps border-bottom-dark">
                        {{ chapter.title }}
                    </span>
                </div>
            </div>
            {% with games=chapter.game_sessions.all %}
                {% include 'chronicles/_chapter.html' %}
            {% endwith %}
        </div>
    {% endfor %}

{% endcache %}
{% endblock content %}