{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/chronicles.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br>
    {% for chapter in chapters %}
        <h3 class="mb-0">
            {% if chapter.image %}
                <img class="img-chapter mr-2" src="{{ chapter.image.url }}">
            {% endif %}
            <a href="#{{ chapter.id }}" class="align-middle pt-2 small-caps border-bottom-dark">{{ chapter.title }}</a>
        </h3>
        <br>
    {% endfor %}
    <br><br>
 
    {% for chapter in chapters %}
        <div class="container">
            <div id="{{chapter.id}}" class="pt-5 row">
                <div>
                    <img class="img-chapter-header" src="{{ chapter.image.url }}">
                </div>
                <div class="ml-2 ml-lg-3 mt-1 mt-sm-2 mt-lg-3">
                    <span class="chapter-title align-middle font-weight-bold small-caps border-bottom-dark">
                        {{ chapter.title }}
                    </span>
                </div>
            </div>
            {% with games=chapter.game_sessions.all %}
                {% include 'chronicles/_chapter.html' %}
            {% endwith %}
        </div>
    {% endfor %}

{% endblock content %}