{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
{% endblock head_extra %}

{% block content %}
    <br>
    <p class="font-18 font-italic text-justify">{{ header }}</p>
    <br><br><br>

    <table class="timeline" data-search="true" data-toggle="table">
        <colgroup>
            <col class="date">
            <col class="thread">
            <col class="description">
            <col class="participants">
            <col class="locations">
            <col class="game">
            <col class="actions">
        </colgroup>
        <thead>
            <tr>
                <th>Data</th>
                <th>Wątki</th>
                <th>Wydarzenie</th>
                <th>Postaci</th>
                <th>Lokacje</th>
                <th>Sesja</th>
                <th>Akcja</th>
            </tr>
        </thead>
        
        <tbody>
        {% for event in events %}
            <tr>
                <td class="align-center align-top unblue-black">
                    <a class="hover-pointer" href="#">
                        {{ event.dates }}
                    </a>
                </td>
                <td class="timeline-event-thread align-top unblue-black">
                    <ul class="bullets-1 pl-2">
                        {% for thread in event.threads.all %}
                            <li><a id="thread" class="hover-pointer" href="#">{{ thread }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="timeline-event text-justify align-top unblue-black pl-2 pr-2">
                    <a href="#">{{ event.description_short|linebreaksbr }}</a>
<!--                    {% for note in event.notes.all %}-->
<!--                        {% if request.user == note.author %}-->
<!--                            {% if note.text != '' %}-->
<!--                                <a style="color:{{ note.color }}"><br>Przemyślenia:<br>{{ note.text|linebreaksbr }}</a>-->
<!--                            {% endif %}-->
<!--                        {% endif %}-->
<!--                    {% endfor %}-->
                </td>
                <td class="timeline-small align-top unblue-black">
                    {% for profile in event.known_directly.all %}
                        <a class="hover-pointer" href="#">
                            <small>{{ profile.character_name|get_first_word }}</small>
                        </a>
                    <br>
                    {% endfor %}
                    {% for profile in event.known_indirectly.all %}
                        <a class="hover-pointer" href="#">
                            <small>+{{ profile.character_name|get_first_word }}</small>
                        </a>
                        <br>
                    {% endfor %}
                </td>
                <td class="timeline-small align-top unblue-black">
                    {% for location in event.locations.all %}
                        <a class="hover-pointer"  href="#">{{ location.name }}</a>
                    {% endfor %}
                </td>
                <td class="align-center align-top unblue-black">
                    {% if event.game.game_no > 0 %}
                        <small>
                            <a href="#">
                                -{{ event.game.game_no }}-
                            </a>
                        </small>
                    {% elif event.game.game_no == 0 %}
                        <small hidden><b>***</b></small>
                    {% else %}
                        <small>
                            <a href="#">-X-</a>
                        </small>
                    {% endif %}
                </td>
                <td class="align-top">
                    <a class="btn btn-outline-dark btn-sm py-0" href="{% url 'chronicles:game-event-inform' event.id %}" target="_blank">
                        <i class="icon-inform-small"></i>
                    </a>
                    <a class="btn btn-outline-dark btn-sm py-0 disabled" href="#">
                        <i class="icon-note-small"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    <br>
{% endblock content %}

