{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/chronicles.css' %}">
{% endblock head_extra %}

{% block content %}
    <section class="mt-3">
        <p class="font-18 font-italic text-justify">
            Opisane tu wydarzenia rozpoczęły swój bieg 20. roku Archonatu Nemetha Samatiana w Ebbonie,
            choć zarodki wielu z nich sięgają znacznie odleglejszych czasów...
        </p>
    </section>
    
    <div class="text-center my-5">
        <input class="btn btn-dark" type="submit" value="Filtruj Kalendarium" data-toggle="modal" data-target="#filterModal">
    </div>
    
    <!-- Filters Modal-->
    <div class="modal fade filters-modal" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="get">
                    
                    <div class="modal-body font-15 mb-3 ml-4">
                    
                        <div class="container m-auto">
                            
                            <div class="row pl-0 pl-sm-2">
                                <!-- Description short -->
                                <div class="col-12 col-lg-6 my-3 container px-0">
                                    <div class="row">
                                        <div class="col-2 px-2 d-none d-sm-block">
                                            <div class="d-flex">
                                                <img class="img-timeline-filter" src="{% static 'img/timeline_descr_short.png' %}">
                                            </div>
                                        </div>
                                        <div class="col-10 container">
                                            <div class="row">
                                                <p class="h4 font-weight-bold border-bottom">{{ events_filter.form.description_short.label }}</p>
                                            </div>
                                            <div class="row input-18">
                                                {{ events_filter.form.description_short }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Description long -->
                                <div class="col-12 col-lg-6 my-3 container px-0">
                                    <div class="row">
                                        <div class="col-2 px-2 d-none d-sm-block">
                                            <div class="d-flex">
                                                <img class="img-timeline-filter" src="{% static 'img/timeline_descr_long.png' %}">
                                            </div>
                                        </div>
                                        <div class="col-10 container pr-0">
                                            <div class="row">
                                                <p class="h4 font-weight-bold border-bottom">{{ events_filter.form.description_long.label }}</p>
                                            </div>
                                            <div class="row input-18">
                                                {{ events_filter.form.description_long }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="row pl-0 pl-sm-2">
                                <!-- PlotThreads -->
                                <div class="col-12 col-lg-6 my-3 container px-0">
                                    <div class="row">
                                        <div class="col-2 px-2 d-none d-sm-block">
                                            <div class="d-flex">
                                                <img class="img-timeline-filter" src="{% static 'img/timeline_threads.png' %}">
                                            </div>
                                        </div>
                                        <div class="col-10 container">
                                            <div class="row">
                                                <p class="h4 font-weight-bold border-bottom">{{ events_filter.form.plot_threads.label }}</p>
                                            </div>
                                            <div class="row" data-toggle="tooltip" data-placement="top" data-html="true"
                                                 title='<span class="font-italic">Wciśnij CTRL, aby zaznaczyć wiele albo odznaczyć wybór.</span>'>
                                                {{ events_filter.form.plot_threads }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Locations -->
                                <div class="col-12 col-lg-6 my-3 container px-0">
                                    <div class="row">
                                        <div class="col-2 px-2 d-none d-sm-block">
                                            <div class="d-flex">
                                                <img class="img-timeline-filter" src="{% static 'img/timeline_locations.png' %}">
                                            </div>
                                        </div>
                                        <div class="col-10 container pr-0">
                                            <div class="row">
                                                <p class="h4 font-weight-bold border-bottom">{{ events_filter.form.locations.label }}</p>
                                            </div>
                                            <div class="row" data-toggle="tooltip" data-placement="top" data-html="true"
                                                 title='<span class="font-italic">Wciśnij CTRL, aby zaznaczyć wiele albo odznaczyć wybór.</span>'>
                                                {{ events_filter.form.locations }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row pl-0 pl-sm-2">
                                <!-- Participants = event.participants -->
                                <div class="col-12 col-lg-6 my-3 container px-0">
                                    <div class="row">
                                        <div class="col-2 px-2 d-none d-sm-block">
                                            <div class="d-flex">
                                                <img class="img-timeline-filter" src="{% static 'img/timeline_participants.png' %}">
                                            </div>
                                        </div>
                                        <div class="col-10 container">
                                            <div class="row">
                                                <p class="h4 font-weight-bold border-bottom">{{ events_filter.form.participants.label }}</p>
                                            </div>
                                            <div class="row" data-toggle="tooltip" data-placement="top" data-html="true"
                                                 title='<span class="font-italic">Wciśnij CTRL, aby zaznaczyć wiele albo odznaczyć wybór.</span>'>
                                                {{ events_filter.form.participants|players_names_bold }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Games -->
                                <div class="col-12 col-lg-6 my-3 container px-0">
                                    <div class="row">
                                        <div class="col-2 px-2 d-none d-sm-block">
                                            <div class="d-flex">
                                                <img class="img-timeline-filter" src="{% static 'img/timeline_games.png' %}">
                                            </div>
                                        </div>
                                        <div class="col-10 container pr-0">
                                            <div class="row">
                                                <p class="h4 font-weight-bold border-bottom">{{ events_filter.form.games.label }}</p>
                                            </div>
                                            <div class="row" data-toggle="tooltip" data-placement="top" data-html="true"
                                                 title='<span class="font-italic">Wciśnij CTRL, aby zaznaczyć wiele albo odznaczyć wybór.</span>'>
                                                {{ events_filter.form.games }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <h5 class="text-center text-danger">
                            <small class="smaller">
                                1. Wybór wielu opcji w ramach jednego filtru - pokazuje wszystkie wyniki należące do którejś z opcji.<br>
                                2. Wybór opcji należących do różnych filtrów - pokazuje tylko wyniki spełniające oba kryteria.<br>
                                (W ramach 1 filtru "OR", a między filtrami "AND" a przy połączeniu filtrów... fuckinshit...)<br>
                                Uczestnicy(Gracz1 + Gracz2) + Lokacje(Lokacja1) ==> (Gracz1 AND Lokacja1) OR (Gracz2 AND Lokacja1)
                            </small>
                        </h5>
                        
                    </div>
                
                    <div class="modal-footer">
                        <input class="btn btn-dark mx-auto" type="submit" value="Zastosuj">
                    </div>
                
                </form>
                
            </div>
        </div>
    </div>
    <!-- Filters Modal End -->
    

    {% if not events_filter.qs %}
        <div class="font-italic text-center h4 mt-4">Brak wydarzeń spełniających podane kryteria!</div>
    {% else %}
        <table class="timeline">
            <colgroup>
                <col class="date">
                <col class="plot_thread">
                <col class="description">
                <col class="participants">
                <col class="locations">
                <col class="actions">
            </colgroup>
            <thead>
                <tr>
                    <th class="py-5 py-sm-3 border-right timeline">Data</th>
                    <th class="py-5 py-sm-3 border-right timeline">Wątki</th>
                    <th class="py-5 py-sm-3 border-right timeline">Wydarzenie</th>
                    <th class="py-5 py-sm-3 border-right timeline">Postaci</th>
                    <th class="py-5 py-sm-3 border-right timeline">Lokacje</th>
                    <th class="py-5 py-sm-3 timeline">Sesja Akcja</th>
                </tr>
            </thead>
            
            <tbody>
            {% for event in events_filter.qs %}
                <tr>
                    <!-- DATES -->
                    <td class="align-center align-top font-weight-bold timeline">
                        <a class="hover-pointer-black" href="{% url 'chronicles:chronicle-game' event.game.id %}#event_{{ event.id }}">
                            <span  data-toggle="tooltip" data-placement="top" data-html="true" title='Idź do kroniki Wydarzenia'>
                                {{ event.date_in_period|add_season_img }}
                            </span>
                        </a>
                    </td>
                    <!-- PLOT THREADS -->
                    <td class="align-top pl-2 timeline">
                        <ul class="bullets-1 pl-2">
                            {% for plot_thread in event.plot_threads.all %}
                                <li class="pl-0-15 {% if plot_thread.is_ended %} text-muted {% endif %}">
                                    {{ plot_thread }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <!-- DESCRIPTION SHORT -->
                    <td class="text-left text-sm-justify align-top font-italic hover-pointer pl-2 pr-2 pb-3 timeline"
                        data-toggle="modal" data-target="#event_{{ event.id }}">
                        <span class="{% if request.current_profile not in event.participants.all and request.current_profile.status != 'gm' %} text-muted {% endif %}"
                              data-toggle="tooltip" data-placement="top" data-html="true" title='<span class="font-italic">Pokaż pełny opis wydarzenia</span>'>
                            {{ event.description_short|custom_linebreaksbr:1 }}
                        </span>
                        <!-- Modal -->
                        <div class="modal fade" id="event_{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            <a class="btn btn-outline-dark btn-sm mt-1 py-1" href="{% url 'chronicles:game-event-inform' event.id %}" target="_blank"
                                                data-toggle="tooltip" data-placement="top" data-html="true" title='<span class="font-italic">Poinformuj o wydarzeniu</span>'>
                                                <i class="icon-inform icon-medium"></i>
                                            </a>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body font-15 mb-3">
                                        {{ event.description_long|custom_linebreaksbr:2 }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <!-- KNOWN DIRECTLY AND INDIRECTLY -->
                    <td class="font-13 align-center align-top timeline">
                        {% if event.participants.exists %}
                            <div class="pb-1">
                                {% for profile in event.participants.all %}
                                    {% if not profile.only_indirectly %}
                                        {% if profile.status == 'player' or profile == request.current_profile %}
                                            <a href="{% url 'prosoponomikon:character' profile.character.id %}"
                                               data-toggle="tooltip" data-placement="top" data-html="true"
                                               title='<span class="font-italic">Prosoponomikon<br>"{{ profile }}"</span>'>
                                                <div class="d-inline">
                                                   <img class="rounded-circle portait img-xs border border-dark mt-1" src="{{ profile.image.url }}">
                                                </div>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                    {% if forloop.counter|divisibleby:2 and not forloop.last and profile.status == 'player' %}<br>{% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if event.informees.all %}
                            -✧-
                            <div>
                                {% for profile in event.informees.all %}
                                    {% if profile.status == 'player' or profile == request.current_profile %}
                                        <a href="{% url 'prosoponomikon:character' profile.character.id %}"
                                           data-toggle="tooltip" data-placement="top" data-html="true"
                                           title='<span class="font-italic">Prosoponomikon<br>"{{ profile }}"</span>'>
                                            <div class="d-inline">
                                               <img class="rounded-circle img-grayscale portait img-xs border border-dark mt-1" src="{{ profile.image.url }}">
                                            </div>
                                        </a>
                                    {% endif %}
                                    {% if forloop.counter|divisibleby:2 and not forloop.last and profile.status == 'player' %}<br>{% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                    <!-- SECONDARY LOCATIONS -->
                    <td class="font-13 align-top">
                        <ul class="bullets-4 pl-1 line-height-13">
                            {% for location in event.locations.all %}
                                <li class="pl-0-05">
                                    <a class="hover-pointer" href="{% url 'toponomikon:location' location.name %}"
                                       data-toggle="tooltip" data-placement="top" data-html="true" title='<span class="font-italic">Toponomikon<br>"{{ location.name }}"</span>'>
                                        <small>
                                            {{ location.name }}
                                        </small>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <!-- GAME / ACTION -->
                    <td class="align-center align-top">
                        {% if event.game.game_no == 0 %}
                            ✴
                        {% else %}
                            <a href="{% url 'chronicles:chronicle-game' event.game.id %}">
                                <small data-toggle="tooltip" data-placement="top" data-html="true"
                                       title='<span class="font-italic">Kronika Sesji<br>"{{ event.game.title }}"</span>'>
                                    {% if event.game.game_no > 0 %}
                                        -{{ event.game.game_no }}-
                                    {% else %}
                                        -Bio-
                                    {% endif %}
                                </small>
                            </a>
                        {% endif %}
                        <div data-toggle="tooltip" data-placement="bottom" title="Notatki (w budowie)">
                            <a class="btn btn-outline-dark btn-sm icon-note icon-small mt-1 py-1 disabled"
                               href="#">
                            </a>
                        </div>
                        {% if request.current_profile.status == 'gm' %}
                            <div class="mt-1" data-toggle="tooltip" data-placement="bottom" title="Edytuj wydarzenie">
                                <a class="btn btn-outline-dark btn-sm icon-edit icon-small py-1"
                                   href="{% url 'admin:chronicles_gameevent_change' event.id %}" target="_blank">
                                </a>
                            </div>
                            <div class="mt-1" data-toggle="tooltip" data-placement="bottom" title="Edytuj Sesję">
                                <a class="btn btn-outline-dark btn-sm icon-edit icon-small py-1"
                                   href="{% url 'admin:chronicles_gamesession_change' event.game.id %}" target="_blank">
                                </a>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    
        </table>
    {% endif %}

{% endblock content %}
