{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/chronicles.css' %}">
{% endblock head_extra %}

{% block content %}
    <br>
    <p class="font-18 font-italic text-justify">{{ header }}</p>
    <br><br><br>

    <table class="timeline">
        <colgroup>
            <col class="date">
            <col class="thread">
            <col class="description">
            <col class="participants">
            <col class="locations">
            <col class="actions">
        </colgroup>
        <thead>
            <tr>
                <th class="px-1 border-right">Data</th>
                <th class="px-1 border-right">Wątki</th>
                <th class="px-1 border-right">Wydarzenie</th>
                <th class="px-1 border-right">Postaci</th>
                <th class="px-1 border-right">Lokacje</th>
                <th class="px-1">Sesja<br>Akcja</th>
            </tr>
        </thead>
        
        <tbody>
        {% for event in events %}
            <tr>
                <td class="font-13 align-center align-top hover-pointer" data-toggle="collapse" data-target="#event_{{ event.id }}">
                    <b>{{ event.date_in_period|add_season_img }}</b>
                </td>
                <td class="font-13 align-top unblue-black pl-2">
                    <ul class="bullets-1 pl-2">
                        {% for thread in event.threads.all %}
                            <li class="{% if thread.is_ended %} text-muted {% endif %}">
                                <span id="thread" class="{% if thread.is_ended %} text-muted {% endif %}">
                                    {{ thread }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="font-14 text-justify align-top font-italic unblue-black pl-2 pr-2 pb-3">
                    <a href="{% url 'chronicles:chronicle-game' event.game.id %}#event_{{ event.id }}">
                        <span class="{% if request.user.profile not in event.known_directly.all and request.user.profile.status != 'gm' %} text-muted {% endif %}">
                            {{ event.description_short|custom_linebreaksbr:1 }}
                        </span>
                    </a>
<!--                    {% for note in event.notes.all %}-->
<!--                        {% if request.user == note.author %}-->
<!--                            {% if note.text != '' %}-->
<!--                                <a style="color:{{ note.color }}"><br>Przemyślenia:<br>{{ note.text|linebreaksbr }}</a>-->
<!--                            {% endif %}-->
<!--                        {% endif %}-->
<!--                    {% endfor %}-->
                </td>
                <td class="font-13 align-center align-top unblue-black">
                    {% for profile in event.known_directly.all %}
                        <a class="hover-pointer" href="#">
                            <img class="rounded-circle img-smaller" src="{{ profile.image.url }}" alt="Profile img">
                        </a>
                        {% if forloop.counter|divisibleby:2 and not forloop.last %}<br>{% endif %}
                    {% endfor %}
                    {% if event.known_directly.all %}<br>{% endif %}
                    {% if event.known_indirectly.all %}-✧-<br>{% endif %}
                    {% for profile in event.known_indirectly.all %}
                        <a class="hover-pointer" href="#">
                            <img class="rounded-circle img-grayscale img-smaller" src="{{ profile.image.url }}" alt="Profile img">
                        </a>
                        {% if forloop.counter|divisibleby:2 and not forloop.last %}<br>{% endif %}
                    {% endfor %}
                </td>
                <td class="font-13 align-top unblue-black">
                    <ul class="bullets-4 pl-1">
                        {% for location in event.locations.all %}
                            <li>
                                <a id="location" class="hover-pointer" href="{% url 'toponomikon:location' location.name %}">
                                    <small>{{ location.name }}</small>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="align-center align-top unblue-black">
                    {% if event.game.game_no == 0 %}
                        ✴
                    {% else %}
                        <a href="{% url 'chronicles:chronicle-game' event.game.id %}">
                            <small data-toggle="tooltip" data-placement="top" data-html="true"
                                   title='<span class="font-italic px-2">"{{ event.game.title }}"</span>'>
                                {% if event.game.game_no > 0 %}
                                    -{{ event.game.game_no }}-
                                {% else %}
                                    -Bio-
                                {% endif %}
                            </small>
                        </a>
                    {% endif %}
                    <a class="btn btn-outline-dark btn-sm mt-1 py-1 disabled" href="#">
                        <i class="icon-note-small"></i>
                    </a>
                </td>
            </tr>
            <tr class="collapse" id="event_{{ event.id }}">
                {% if event.description_long %}
                    <td colspan="5" class="font-italic text-justify align-top pl-3 pr-3 pb-3">
                        <span class="{% if request.user.profile not in event.known_directly.all and request.user.profile.status != 'gm' %} text-muted {% endif %}">
                            <small>{{ event.description_long|custom_linebreaksbr:2 }}</small>
                        </span>
                    </td>
                {% else %}
                    <td colspan="5" class="font-italic text-justify align-top pl-3 pr-3 pb-3">
                        <span class="{% if request.user.profile not in event.known_directly.all and request.user.profile.status != 'gm' %} text-muted {% endif %}">
                            <small>To wydarzenie nie posiada dokładniejszego opisu.</small>
                        </span>
                    </td>
                {% endif %}
                <td class="align-center align-top">
                    <a class="btn btn-outline-dark btn-sm mt-1 py-1" href="{% url 'chronicles:game-event-inform' event.id %}" target="_blank">
                        <i class="icon-inform-medium"></i>
                    </a>
                </td>
            </tr>
            
        {% endfor %}
        </tbody>

    </table>
    <br>
{% endblock content %}

