{% load static %}
{% load custom_filters %}

<div class="anchor mt-n5" id="bio_packet_{{ biography_packet.id }}">
    
    <div class="container mb-5">
        
        <!-- TITLE -->
        <div class="row">
            <h3 class="mb-3">
                {% if biography_packet.author and biography_packet.author.status != 'gm' %}
                    <img class="rounded-circle img-small mr-1 mt-1" src="{{ biography_packet.author.image.url }}">
                {% endif %}
                <span class="border-bottom-dark">
                    {{ biography_packet.title }}
                </span>
            </h3>
        </div>
        
        <div class="row">
        
            <!-- BUTTONS -->
            <div class="col-12 col-sm-1 p-0">
                <div class="d-inline" data-toggle="tooltip" data-placement="bottom" title="Przekaż wiedzę o biografii">
                    <!-- Modal -->
                    <span class="btn btn-outline-dark icon-user-add mt-1 py-2" data-toggle="modal" data-target="#infoBioPacketModal_{{ biography_packet.id }}"></span>
                    <div class="modal fade" id="infoBioPacketModal_{{ biography_packet.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                        {% with informables=biography_packet.informables inform_type=biography_packet|get_model_name id_=biography_packet.id %}
                            {% include '_inform.html' %}
                        {% endwith %}
                    </div>
                </div>
                <div class="d-inline" data-toggle="tooltip" data-placement="bottom" title="Notatki (w budowie)">
                    <a class="btn btn-outline-dark icon-list mt-1 py-2 disabled" href="#"></a>
                </div>
                <div class="d-inline" data-toggle="tooltip" data-placement="bottom" title="Edytuj pakiet biograficzny">
                    <a class="btn btn-outline-dark icon-indent-right mt-1 py-2" href="{% url 'prosoponomikon:bio-packet-form' character.id biography_packet.id %}"></a>
                </div>
            </div>
            
            <!-- TEXT -->
            <!-- If not text, Pictures should be dragged into the same row as buttons -->
            {% if biography_packet.text %}
                <div class="col-12 col-sm-11 my-2 p-0 pl-sm-3 pl-lg-0">
                    <p class="font-italic text-justify linebreaks-style font-18">
                        {{ biography_packet.text|custom_linebreaksbr:2 }}
                    </p>
                </div>
                <div class="col-12 col-sm-1 p-0"></div>
            {% endif %}
            
            <!-- Pictures in BiographyPacket should be visible to the author and GM exclusively -->
            {% if request.user.profile.status == 'gm' or request.user.profile == biography_packet.author or request.user.profile in biography_packet.acquired_by.all %}
                <div class="col-12 col-sm-11 p-0 mt-n4 pl-sm-3 pl-lg-0">
                    {% for row in biography_packet.pictures.all|columns:3 %}
                        {% include '_row_of_pics_with_modals.html' %}
                    {% endfor %}
                </div>
            {% endif %}
            
        </div>
    </div>

</div>

