{% load static %}
{% load custom_filters %}


<div class="container mt-2">
    
    <!-- TITLE -->
    <div class="row">
        <h3 class="mb-3">
            <span class="border-bottom-dark">
                {{ dialogue_packet.title }}
            </span>
        </h3>
    </div>
    
    <div class="row">
    
        <!-- BUTTONS -->
        <div class="col-12 col-sm-1 p-0">
            <div class="d-inline" data-toggle="tooltip" data-placement="bottom" title="Edytuj Dialogi">
                <a class="btn btn-outline-dark icon-biography-packet mt-1 py-2" href="{% url 'admin:knowledge_dialoguepacket_change' dialogue_packet.id %}" target="_blank"></a>
            </div>
        </div>
        
        <!-- TEXT -->
        <div class="col-12 col-sm-11 my-2 p-0 pl-sm-3 pl-lg-0">
            <p class="font-italic text-justify font-18">
                {{ dialogue_packet.text|linebreaksbr }}
            </p>
        </div>
        
    </div>
</div>

