{% load static %}
{% load custom_filters %}


<!-- This has to be a separate snippet to include knowledge packets links into
     Toponomikon and elsewhere without listing them by skill. -->


<ul class="bullets-1 bullets-lg mb-2 pl-4">
    <li class="pl-1">
        <!-- Skill id has to be included in data-attribute/id to distinguish between multiple occurrences of one knowledge packets in Almanac etc. -->
        <span class="hover-blue" data-toggle="collapse" data-target="#kn_packet{{ kn_packet.id }}_in_{{ skill.id }}">
            {% if kn_packet.author %}
                <img class="rounded-circle portait img-xs border border-dark mr-1" src="{{ kn_packet.author.image.url }}">
            {% endif %}
            {{ kn_packet.title }}
        </span>
    </li>
</ul>


<div id="kn_packet{{ kn_packet.id }}_in_{{ skill.id }}" class="collapse container bg-light border ml-sm-5 mb-3 p-2 pb-5">
    
    <!-- BUTTONS -->
    <div class="row pl-2">
        {% if request.current_profile.can_action %}
            <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Przekaż wiedzę">
                <!-- Modal -->
                <p class="btn btn-outline-dark icon-inform py-2" data-toggle="modal" data-target="#infoKnPacketModal_{{ kn_packet.id }}"></p>
                <div class="modal fade" id="infoKnPacketModal_{{ kn_packet.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                    {% with informables=kn_packet.informables inform_type=kn_packet|get_model_name id_=kn_packet.id %}
                        {% include '_inform.html' %}
                    {% endwith %}
                </div>
            </div>
        {% endif %}
<!--        <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Notatki (w budowie)">-->
<!--            <a class="btn btn-outline-dark icon-note py-2 disabled" href="#"></a>-->
<!--        </div>-->
        {% if request.current_profile.status == 'gm'  %}
            <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Edytuj pakiet wiedzy">
                <a class="btn btn-outline-secondary icon-edit py-2" href="{% url 'admin:knowledge_knowledgepacket_change' kn_packet.id %}" target="_blank"></a>
            </div>
        {% elif request.current_profile == kn_packet.author %}
            <div class="ml-1" data-toggle="tooltip" data-placement="bottom" title="Edytuj pakiet wiedzy">
                <a class="btn btn-outline-dark icon-edit py-2" href="{% url 'knowledge:kn-packet-form' kn_packet.id %}" target="_blank"></a>
            </div>
        {% endif %}
    </div>
    
    <!-- Title -->
    <p class="mt-3 mb-0 text-center">✧</p>
    <p class="mb-0 text-center">✧ ✦ ✧</p>
    <p class="h3 text-center mb-3 mt-2">
        {{ kn_packet.title|replace:":__<br>"|replace:'[0]__'|replace:'[1]__'|replace:'[2]__'|replace:'[3]__' }}
    </p>
    <p class="mb-0 text-center">✧ ✦ ✧</p>
    <p class="mb-5 mt-0 text-center">✧</p>

    <!-- Content -->
    <h6 class="font-18 font-italic text-justify">
        {{ kn_packet.text|custom_linebreaksbr:2 }}
    </h6>
    
    {% for picture_set in kn_packet.picture_sets.all %}
        <div class="d-flex justify-content-center my-3">
            {% for picture in picture_set|pictureset_pictures_in_custom_order %}
                {% include '_pic_with_modal.html' %}
            {% endfor %}
        </div>
    {% endfor %}
    
    <!-- Collapse button -->
    <button class="btn btn-outline-secondary float-right"
            data-toggle="collapse" data-target="#kn_packet{{ kn_packet.id }}_in_{{ skill.id }}">
        Zwiń
    </button>

</div>