{% load static %}
{% load custom_filters %}


<!-- Title -->
<p class="mb-0 text-center">✧</p>
<p class="mb-0 text-center">✧ ✦ ✧</p>
<p class="h3 text-center mb-2 mt-1">
    {{ map_packet.title|replace:":__<br>"|replace:'[0]__'|replace:'[1]__'|replace:'[2]__'|replace:'[3]__' }}
</p>
<p class="mb-0 text-center">✧ ✦ ✧</p>
<p class="mb-4 mt-0 text-center">✧</p>

<div id="map_packet{{ map_packet.id }}" class="bg-light border mb-5 px-5 py-3">
    {% for picture_set in map_packet.picture_sets.all %}
        <div class="d-flex justify-content-center my-3">
            {% for picture in picture_set|pictureset_pictures_in_custom_order %}
                {% include '_pic_with_modal.html' %}
            {% endfor %}
        </div>
    {% endfor %}


</div>


