{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/knowledge.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>

    {% for type in kn_packet_types %}
        {% if type.knowledge_packets.all %}
            <h2><b>{{ type.name }}</b></h2>
            {% for kn_packet in type.knowledge_packets.all %}
    
                {% with specifier=1 %}
                        {% include '_knowledge_packet.html' %}
                {% endwith %}
    
            {% endfor %}
            <br>
        {% endif %}
    {% endfor  %}

{% endblock content %}
