{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/knowledge.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>

    {% for skill in skills_with_kn_packets %}

        <div class="pb-2">
            {% if skill.image %}
                <img class="img-skill" src="{{ skill.image.url }}" alt="Skill img">
            {% else %}
                <img class="img-skill" src="{% static 'img/skill-default.png' %}" alt="Skill img">
            {% endif %}
            <h1 class="pt-2" data-toggle="collapse" data-target="#{{ skill.short_name }}">
                <b class="hover-blue">&nbsp;{{ skill.name }}</b>
            </h1>
        </div>
        
        <div class="pl-4 collapse show" id="{{ skill.short_name }}">
            {% for kn_packet in skill.knowledge_packets.all %}
        
                {% include '_knowledge_packet.html' %}
        
            {% endfor %}
        </div>

    {% endfor  %}

{% endblock content %}
