{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/knowledge.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>

    {% if arcana_kn_packets %}
        <h2><b>Arkana</b></h2>
        {% for kn_packet in arcana_kn_packets %}

            {% with specifier=1 %}
                    {% include '_knowledge_packet.html' %}
            {% endwith %}

        {% endfor %}
        <br><br>
    {% endif %}

    {% if bestiary_kn_packets %}
        <h2><b>Bestiariusz</b></h2>
        {% for kn_packet in bestiary_kn_packets %}

            {% with specifier=2 %}
                    {% include '_knowledge_packet.html' %}
            {% endwith %}

        {% endfor %}
        <br><br>
    {% endif %}

   
    {% if geography_kn_packets %}
        <h2><b>Geografia</b></h2>
        {% for kn_packet in geography_kn_packets %}

            {% with specifier=3 %}
                    {% include '_knowledge_packet.html' %}
            {% endwith %}

        {% endfor %}
        <br><br>
    {% endif %}

    {% if history_kn_packets %}
        <h2><b>Historia</b></h2>
        {% for kn_packet in history_kn_packets %}

            {% with specifier=4 %}
                    {% include '_knowledge_packet.html' %}
            {% endwith %}

        {% endfor %}
        <br><br>
    {% endif %}


    {% if library_kn_packets %}
        <h2><b>Biblioteka</b></h2>
        {% for kn_packet in library_kn_packets %}

            {% with specifier=5 %}
                    {% include '_knowledge_packet.html' %}
            {% endwith %}

        {% endfor %}
        <br><br>
    {% endif %}

    {% if theology_kn_packets %}
        <h2><b>Teologia</b></h2>
        {% for kn_packet in theology_kn_packets %}

            {% with specifier=6 %}
                    {% include '_knowledge_packet.html' %}
            {% endwith %}

        {% endfor %}
        <br><br>
    {% endif %}

    {% if varia_kn_packets %}
        <h2><b>Varia</b></h2>
        {% for kn_packet in varia_kn_packets %}

            {% with specifier=7 %}
                    {% include '_knowledge_packet.html' %}
            {% endwith %}

        {% endfor %}
        <br><br>
    {% endif %}

{% endblock content %}
