{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/knowledge.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>

    <h2><b>Umiejętności</b></h2>
    <br>
    {% for kn_packet in skills_kn_packets %}
        {% with specifier=1 %}

            {% include '_knowledge_packet.html' %}

        {% endwith %}
    {% endfor %}
    <br><br>

    <h2><b>Toponomikon</b></h2>
    <br>
    {% for kn_packet in toponomikon_kn_packets %}
        {% with specifier=2 %}

            {% include '_knowledge_packet.html' %}

        {% endwith %}
    {% endfor %}
    <br><br>

{% endblock content %}
