{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/knowledge.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>

    {% for skill in theology_skills %}

        <div class="pl-5">
            {% include 'characters/_skills_with_knowledge_packets.html' %}
        </div>

    {% endfor  %}

{% endblock content %}
