{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/knowledge.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>

    {% for type in kn_packet_types %}
        {% if type.knowledge_packets.all %}
            <h2><b>{{ type.name }}</b></h2>
            {% if type.name == 'Teologia' %}
                {% for skill in theology_skills %}

                    <div class="pl-5">
                        {% include 'characters/_skills_with_kn_packets.html' %}
                    </div>

                {% endfor %}
            {% else %}
                    {% for kn_packet in type.knowledge_packets.all %}
            
                        {% with specifier=type.id %}
                                {% include '_knowledge_packet.html' %}
                        {% endwith %}
            
                    {% endfor %}
            {% endif %}
            <br>
        {% endif %}
    {% endfor  %}

{% endblock content %}
