{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/knowledge.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-button">
        
        <header class="mb-5">
            <a href="{% url 'knowledge:kn-packet-form' 0 %}" class="btn btn-outline-dark">Nowy pakiet wiedzy</a>
        </header>
    
        <div class="pt-5">
            {% for skill in skills %}
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-12 p-0">
                            {% if skill.image %}
                                <img class="img-skill" src="{{ skill.image.url }}">
                            {% else %}
                                <img class="img-skill" src="{% static 'img/skill-default.png' %}">
                            {% endif %}
                            <h1 class="mt-2" data-toggle="collapse" data-target="#{{ skill|rid_of_special_chars }}">
                                <b class="hover-blue">&nbsp;{{ skill.name }}</b>
                            </h1>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-1"></div>
                        <div class="col-11 p-0">
                            <div class="collapse show" id="{{ skill|rid_of_special_chars }}">
                                {% for kn_packet in skill.knowledge_packets.all %}
                                    {% include 'knowledge/_knowledge_packet.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor  %}
        </div>
        
    </article>
{% endblock content %}
