{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/knowledge.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-button">
        
        <header class="mb-5">
            {% if request.current_profile.status == 'gm' %}
                <a href="{% url 'admin:knowledge_knowledgepacket_add' %}" class="btn btn-outline-dark">Nowy pakiet wiedzy</a>
            {% else %}
                <a href="{% url 'knowledge:kn-packet-form' 0 %}" class="btn btn-outline-dark">Nowy pakiet wiedzy</a>
            {% endif %}
        </header>
    
        <div class="pt-5">
            {% for skill in skills %}
                <div class="container">
                    
                    <div class="d-flex flex-row mb-2">
                        
                        {% include 'rules/_skill_img.html' %}
                        
                        <div class="skill-or-synergy-name ml-2 mt-2" data-toggle="collapse" data-target="#{{ skill|cut:' ' }}">
                            <a class="hover-blue font-weight-bold" href="{% url 'admin:rules_skill_change' skill.id %}" target="_blank" data-toggle="tooltip" data-placement="right" title="Edycja">
                                {{ skill.name }}
                            </a>
                        </div>
                    </div>
                    
                    <div class="d-flex flex-row">
                        <div class="col-1"></div>
                        <div class="col-11 p-0">
                            <div class="collapse show mb-4" id="{{ skill|cut:' ' }}">
                                {% for kn_packet in skill.knowledge_packets.all %}
                                    {% include 'knowledge/_knowledge_packet.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                </div>
            {% endfor  %}
        </div>
        
    </article>
{% endblock content %}
