{% load custom_filters %}

<!-- BUTTONS -->
<div class="row">
    <div data-toggle="tooltip" data-placement="bottom" title="Narady">
        <a class="btn btn-outline-dark icon-cursor py-2 mt-1" href="{% url 'debates:main' %}"></a>
    </div>
    {% if not debate.is_ended %}
        <div data-toggle="tooltip" data-placement="bottom" title="Dołącz nowych uczestników do narady">
            <p class="btn btn-outline-dark icon-user-add py-2 ml-1 mt-1" data-toggle="modal" data-target="#infoLocationModal"></p>
            <!-- The Modal -->
            <div class="modal fade img-modal" id="infoLocationModal" tabindex="-1" role="dialog" aria-hidden="true">
                {% with informables=debate.informables inform_type=debate|get_model_name id_=debate.id %}
                    {% include '_inform.html' %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
    <div data-toggle="tooltip" data-placement="bottom" title="Notatki (w budowie)">
        <a class="btn btn-outline-dark icon-list py-2 ml-1 mt-1 disabled" href="#"></a>
    </div>
</div>

<!-- INFO -->
<div class="row mt-3">
    <div class="col-2 pl-0 h5">Temat:</div>
    <div class="col-10 col-sm-10 pl-5 pl-lg-0">
        <h5 class="mr-2 mr-sm-3">
            <a  class="font-italic" href="{% url 'debates:main' %}#topic_{{ debate.topic.id }}">{{ debate.topic.title }}</a>
        </h5>
    </div>
</div>
{% if debate.events.all %}
    <div class="row">
        <div class="col-2 pl-0 h5">Kronika:</div>
        <div class="col-10 pl-5 pl-lg-0">
            <h5 class="mr-2 mr-sm-3">
                {% for event in debate.events.all %}
                    <a class="font-italic" href="{% url 'chronicles:chronicle-game' event.game.id %}#debate_{{ debate.id }}">{{ event.game.title }}</a>
                {% endfor %}
            </h5>
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-2 pl-0 h5">Uczestnicy:</div>
    <div class="col-10 pl-5 pl-lg-0">
        {% for profile in debate_known_directly %}
            <img class="rounded-circle img-small" src="{{ profile.image.url }}">
        {% endfor %}
    </div>
</div>


