{% load crispy_forms_tags %}
{% load custom_filters %}

<!-- REMARKS -->

{% with remarks=debate.remarks.all %}
    {% for remark in debate.remarks.all %}
        <div id="remark-{{ remark.id }}" class="container anchor px-0 mt-n5">
            <div class="row">
                {% if remark.author.status == 'gm' %}
                    <div class="col-12">
                        <span class="font-18 font-italic text-justify">{{ remark.text|capfirst|linebreaks }}</span>
                        {% if remark.image %}
                            <p><img class="img-fluid mx-auto d-block" src="{{ remark.image.url }}"></p>
                            <br>
                        {% endif %}
                    </div>
                {% else %}
                    {% with post=remark %}
                        {% include '_post_divs.html' %}
                    {% endwith %}
                {% endif %}
            </div>
            
            {% if not debate.is_ended %}
                <div class="row mt-n3" id="{% if forloop.last and not debate.is_ended %} page-bottom {% endif %}">
                    {% if remark.author.status != 'gm' %}
                        <div class="col-2"></div>
                    {% endif %}
                    <div class="{% if remark.author.status != 'gm' %} col-10 mt-3 {% else %} col-12 mt-2 {% endif %}">
                        {% with next_remark=remarks|next_elem:forloop.counter0 %}
                            {% for profile in debate_known_directly %}
                                {% if profile in remark.seen_by.all and profile not in next_remark.seen_by.all  %}
                                    {% if profile != remark.author and profile.status != 'npc'  %}
                                        <img class="rounded-circle portait img-sm border border-dark" src="{{ profile.image.url }}">
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                        {% if forloop.last and not debate.is_ended %}
                            {% for profile in remark.seen_by.all %}
                                <img class="rounded-circle portait img-sm border border-dark" src="{{ profile.image.url }}">
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            
        </div>
    {% endfor %}
{% endwith %}