{% load crispy_forms_tags %}


<!-- TEXT EDITOR OR END-SIGN DEPENDING ON WHETHER CLOSED OR NOT  -->
{% if debate.is_ended %}
<div class="row">
    <div class="col-12">
        <p class="mt-5 mb-0 text-center">✧</p>
        <p class="mb-0 text-center">✧ ✦ ✧</p>
        <p class="mb-5 mt-0 text-center">✧</p>
    </div>
</div>
{% else %}
    <div class="row my-5 py-5">
        <div class="col-12">
            <form method="POST" action=".#page-bottom" enctype="multipart/form-data">
                {% csrf_token %}
                {% if request.user.profile.status == 'gm' %}
                    <div class="col-md-3">
                        {{ form.author|as_crispy_field }}
                    </div>
                {% else %}
                    <!--  necessary for form to validate - hidden author form field  -->
                    <div class="collapse">
                        {{ form.author }}
                    </div>
                {% endif %}
                {{ form.author.errors }}

                <div class="col-md-12">
                    {{ form.text|as_crispy_field }}
                </div>
                {{ form.image|as_crispy_field }}
                <input class="btn btn-dark" type="submit" value="Tak rzeknij">
            </form>
        </div>
    </div>
{% endif %}

