{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'debates:main' %}">Narady</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <form method="POST">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.title.errors }}<br>
        {{ form.description }}<br><br>
        <input class="btn btn-dark" type="submit" value="Stwórz temat i zapoczątkuj naradę"/>
    </form>

{% endblock content %}
