{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_extra %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/debates.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'debates:main' %}">Narady</a></li>
    <li class="breadcrumb-item active">{{ topic.title }}: {{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <form method="POST" enctype="multipart/form-data" class="allowed-profiles-form-debate" >
        {% csrf_token %}

        {{ debate_form.title }}<br>
        {{ debate_form.title.errors }}<br>

        <h6>Włącz uczestników do narady:</h6>
        <small>1) Włączaj tylko postacie znajdujące się w pobliżu w chwili zakończenia ostatniej sesji.</small><br>
        <small>2) Postacie będące w pobliżu, ale nie włączone do narady, mogą to zauważyć.</small><br>
        <small>3) Jeśli chcesz zaczekać na sposobny moment, powiadom MG.</small><br>
        <small>4) Jeśli chcesz się naradzić z postacią, której nie ma na liście, powiadom MG.</small>


        <br><br>
        {{ debate_form.allowed_profiles }}
        <br>
        <small>***Aby zaznaczyć wiele postaci - użyj CTRL albo SHIFT.</small><br><br>

        {% if request.user.profile.character_status == 'gm' %}
            {{ debate_form.is_individual }}
            <label>Dyskusja indywidualna?</label><br><br>
        {% endif %}

        {{ remark_form|crispy }}

        <input class="btn btn-dark" type="submit" value="Rozpocznij naradę"/>
    </form>
{% endblock content %}
