{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Narady</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
    {% if request.user.profile.character_name == '' %}
        <p><a href="/users/profile">Uzupełnij imię postaci, aby móc uczestniczyć w naradach!</a></p>
    {% else %}
        <div class="mb-4">
            <a href="{% url 'create-topic' %}" class="btn btn-outline-dark">Nowy temat narad</a>
        </div>

        <br><br>
        {% for topic in queryset %}
            {% if request.user.profile.character_name in topic_with_allowed_profiles_dict|dict_lookup:topic or request.user.profile.character_status == 'gm' %}

                <h3>{{ topic.title }}</h3>
                {% if topic.description %}
                    <small>{{ topic.description }}</small> <br>
                {% endif %}<br>

                <table class="forum">
                    <thead>
                        <tr>
                            <th>Narada</th>
                            <th>Inicjator</th>
                            <th>Uczestnicy</th>
                            <th>Wypowiedzi</th>
                            <th>Ostatnie słowo</th>
                        </tr>
                    </thead>


                    <tbody>
                    {% for debate in topic.debates.all %}
                        {% if request.user.profile in debate.allowed_profiles.all or request.user.profile.character_status == 'gm' %}
                            <tr>
                                <td class="unblue">
                                    <a href="{{ debate.get_absolute_url }}">{{ debate.title }}</a>
                                </td>
                                <td>
                                    {{ debate.starter.profile.character_name|get_first_word  }}<br>
                                    <small>{{ debate.date_created|date:'d-M-Y' }}</small>
                                </td>
                                <td>
                                    {% for profile in debate.allowed_profiles.all %}
                                        {% if profile.character_status != 'gm' %}
                                            <small>{{ profile.character_name|get_first_word }}</small><br>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ debates_with_remarks_by_players_count|dict_lookup:debate }}</td>
                                <td>
                                    {{ debates_with_last_active_user_dict|dict_lookup:debate|get_first_word }}<br>
                                    <small>{{ debates_with_last_remark_date_dict|dict_lookup:debate|date:'d-M-Y' }}</small>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <br>
                <div class="mb-4">
                    <a href="{% url 'create-debate' topic.slug %}" class="btn btn-outline-dark">Nowa narada</a>
                </div><br><br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock content %}