{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'debates:main' %}">Narady</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    {% if request.user.profile not in debate.allowed_profiles.all and request.user.profile.character_status != 'gm' %}
        <h4>Nie jesteś uczestnikiem tej narady</h4>
    {% else %}
        <table class="forms">
            <tr>
                <td><h6>Temat:</h6></td>
                <td><small>{{ debate.topic.title }}</small></td>
            </tr>
            <tr>
                <td><h6>Inicjator:</h6></td>
                <td><small>{{ debate.starter.profile.character_name|get_first_word }}</small></td>
            </tr>
            <tr>
                <td><h6>Uczestnicy:</h6></td>
                <td><small>{{ allowed }}</small></td>
            </tr>
            <tr>
                <td><h6>Uważni uczestnicy:</h6></td>
                <td><small>{{ followers }}</small></td>
            </tr>
        </table>

        <br>
        <div class="mb-4">
            <a href="{% url 'debates:invite' debate.topic.id debate.id %}" class="btn btn-outline-dark">Dodaj uczestników narady</a>&emsp;
            {% if request.user.profile in debate.followers.all %}
                <a href="{% url 'debates:unfollow' topic.id debate.id %}" class="btn btn-dark">Przestań śledzić</a>
            {% else %}
                <a href="{% url 'debates:follow' topic.id debate.id %}" class="btn btn-dark">Śledź naradę</a>
            {% endif %}
        </div>
        <br>

        {% for remark in debate.remarks.all %}
            {% if remark.author.profile.character_status == 'gm' %}
                <table>
                    <tbody>
                        <tr class="posts-and-news">
                            <td>
                                {{ remark.text|capfirst|linebreaks }}
                                {% if remark.image %}
                                    <img src="{{ remark.image.url }}" class="border-double">
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table><br>

            {% else %}
                <table>
                    <tbody>
                        <tr class="posts-and-news">
                            <td class="center">
                                <img class="rounded-circle article-img" src="{{ remark.author.profile.image.url }}">
                                <small>{{ remark.author.profile.character_name }}</small>
                            </td>
                            <td>
                                <small>{{ remark.date_posted|date:'d-M-Y' }}</small>
                                {{ remark.text|capfirst|linebreaks }}
                                {% if remark.image %}
                                    <img src="{{ remark.image.url }}" class="border-double">
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table><br>
            {% endif %}
        {% endfor %}
        <br>

        {% if debate.is_ended %}
            <h4><b>Tak oto zakończyła się Wasza rozmowa.</b></h4><br>
        {% else %}
            <div id="page-bottom">
                <form method="POST" action=".#page-bottom" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-dark" type="submit" value="Tak rzeknij">
                </form>
            </div>
        {% endif %}
    {% endif %}
{% endblock content %}