{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/debates.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br>
    <table class="forms">
        <tr>
            <td><h6>Temat:</h6></td>
            <td><h6 class="font-italic px-1 text-justify">{{ debate.topic.title }}</h6></td>
        </tr>
        <tr>
            <td class="align-middle"><h6>Uczestnicy:</h6></td>
            <td>
                {% for profile in debate_allowed_profiles %}
                    <img class="rounded-circle img-small" src="{{ profile.image.url }}" alt="Profile img">
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td class="align-middle"><h6 class="mb-0">Uważni uczestnicy:</h6></td>
            <td>
                {% for profile in debate_followers %}
                    <img class="rounded-circle img-small" src="{{ profile.image.url }}" alt="Profile img">
                {% endfor %}

            </td>
        </tr>
    </table>

    <br>
    {% if not debate.is_ended %}
        <div class="mb-4">
            <p class="btn btn-outline-dark icon-inform mt-1" data-toggle="modal" data-target="#infoLocationModal"></p>
                <!-- The Modal -->
                <div class="modal fade" id="infoLocationModal" tabindex="-1" role="dialog" aria-hidden="true">
                    {% with informable=debate.informable inform_type='debate' %}
                        {% include '_inform.html' %}
                    {% endwith %}
                </div>
            {% if request.user.profile in debate_followers %}
                <a href="{% url 'debates:unfollow' topic.id debate.id %}" class="align-top btn btn-dark mt-1">Nie obserwuj</a>
            {% else %}
                <a href="{% url 'debates:follow' topic.id debate.id %}" class="align-top btn btn-dark mt-1">Obserwuj</a>
            {% endif %}
        </div>
    {% endif %}
    <br>

    <table>
        <tbody>
            {% for remark in remarks %}
                {% if remark.author.profile.status == 'gm' %}
                    <tr class="posts-and-news">
                        <td colspan="2" class="font-18 font-italic text-justify">
                            {{ remark.text|capfirst|linebreaks }}
                            {% if remark.image %}
                                <p><img class="img-fluid mx-auto d-block" src="{{ remark.image.url }}" alt="Remark img"></p>
                                <br>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr class="posts-and-news">
                        <td class="align-top align-center pt-3 px-2">
                            <img class="rounded-circle article-img" src="{{ remark.author.profile.image.url }}" alt="Profile img">
                            <br>
                            <small class="font-12 font-italic text-nowrap text-muted">{{ remark.author.profile.character_name }}</small>
                        </td>
                        <td class="font-18 font-italic px-2 py-2 text-justify">
                            <small class="text-muted text-nowrap">{{ remark.date_posted|date:'d-M-Y | H:i' }}</small><br>
                            {{ remark.text|capfirst|linebreaks }}
                            {% if remark.image %}
                                <p><img class="img-fluid mx-auto d-block" src="{{ remark.image.url }}" alt="Remark img"></p>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                {% if not debate.is_ended %}
                    {% if last_remark.author.profile.status == 'gm' %}
                        <td>
                            {% for image in last_remark_seen_by_imgs %}
                                <img class="rounded-circle img-small" src="{{ image.url }}" alt="Profile small img">
                            {% endfor %}
                        </td>
                    {% else %}
                        <td></td>
                        <td>
                            {% for image in last_remark_seen_by_imgs %}
                                <img class="rounded-circle img-small" src="{{ image.url }}" alt="Profile small img">
                            {% endfor %}
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        </tbody>
    </table>
    <br><br>

    {% if debate.is_ended %}
        <h4><b>Tak zakończyła się Wasza rozmowa.</b></h4><br>
    {% else %}
        <div id="page-bottom">
            <br>
            <form method="POST" action=".#page-bottom" enctype="multipart/form-data">
                {% csrf_token %}
                {% if request.user.profile.status == 'gm' %}
                    <div class="col-md-3">
                        {{ form.author|as_crispy_field }}
                    </div>
                {% else %}
                <!--  necessary for form to validate - hidden author form field  -->
                    <div class="collapse">
                        {{ form.author }}
                    </div>
                {% endif %}
                {{ form.author.errors }}

                <div class="col-md-12">
                    {{ form.text|as_crispy_field }}
                </div>
                {{ form.image|as_crispy_field }}
                <input class="btn btn-dark" type="submit" value="Tak rzeknij">
            </form>
        </div>
    {% endif %}
{% endblock content %}
