{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/debates.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-button">
        
        <header class="mb-5">
            <a href="{% url 'debates:create-topic' %}" class="btn btn-outline-dark">Nowy temat narad</a>
        </header>
    
        <article class="pt-5">
            {% for topic in topics %}
                <section id="topic_{{ topic.id }}">
                    <h3 class="small-caps">
                        <b class="border-bottom-dark">{{ topic.title }}</b>
                    </h3>
                    <a href="{% url 'debates:create-debate' topic.id %}" class="btn btn-outline-dark">Nowa narada</a>
                    <br><br>
                    
                    <ul class="bullets-3 pl-3">
                        {% for debate in topic.debates.all %}
                            <li class="{% if not debate.is_ended %} bullet-ongoing {% endif %} pb-2">
                                <div class="d-md-inline">
                                    <h5 class="d-sm-inline font-18">
                                        <a class="pr-1" href="{% url 'debates:debate' debate.id %}">
                                            {{ debate.name }}
                                        </a>
                                    </h5>
                                </div>
                                <div class="d-sm-inline">
                                    {% for profile in debate.known_directly.all %}
                                        {% if profile.status != 'gm' %}
                                            <img class="rounded-circle img-smaller" src="{{ profile.image.url }}" alt="Profile img">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="d-xs-inline d-sm-block mt-lg-n2">
                                    <small class="font-11 font-italic text-muted">
                                        {% for event in debate.events.all %}
                                            {% if forloop.counter > 1 %} | {% endif %}
                                            {{ event.game.title }}
                                        {% endfor %}
                                    </small>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <br>
                </section>
            {% endfor %}
        </article>
        
    </article>
{% endblock content %}