{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/debates.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Narady</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
    <div class="mb-4">
        <a href="{% url 'debates:create-topic' %}" class="btn btn-outline-dark">Nowy temat narad</a>
    </div>
    <br><br><br>

    {% for topic in topics_with_debates_dict %}
        <h3 class="small-caps ">
                <b class="border-custom-base">{{ topic.title }}</b>
        </h3>
        <a href="{% url 'debates:create-debate' topic.id %}" class="btn btn-outline-dark">Nowa narada</a>

        {% if topic.description %}
            <small>&nbsp;&nbsp;{{ topic.description }}</small>
        {% endif %}<br><br>
        {% for debate in topics_with_debates_dict|dict_lookup:topic %}
            <h6 class="unblue">
                <a href="{% url 'debates:debate' debate.topic.id debate.id %}">
                    {% if not debate.is_ended %}
                        <b class="deep-red">&#9758;</b>
                    {% else %}
                        &#10023;
                    {% endif %}
                    {{ debate.name }}&nbsp;
                </a>
                <small>
                {% if debate.first_player_remark_date|date:'d-M-Y' != debate.last_player_remark_date|date:'d-M-Y' %}
                   [{{ debate.first_player_remark_date|date:'d' }}-{{ debate.last_player_remark_date|date:'d M Y' }}
                {% else %}
                    [{{ debate.first_player_remark_date|date:'d M Y' }}
                {% endif %}
                &#10033;
                Wypowiedzi: {{ debate.player_remarks_count }}]
                &emsp;
                {% for profile in debate.allowed_profiles.all %}
                    {% if profile.character_status != 'gm' %}
                        <img class="rounded-circle img-small" src="{{ profile.image.url }}">
                    {% endif %}
                {% endfor %}
                </small>
            </h6>
        {% endfor %}
        <br><br>
    {% endfor %}



{% endblock content %}