{% load static %}
{% load custom_filters %}


<a href="{% url 'prosoponomikon:character' character.id %}">
    <div class="d-inline float-right ml-1" data-toggle="tooltip" data-placement="left" data-html="true"
        title='
            <span class="font-italic">
            <img class="portait img-xl rounded-circle mt-2 mx-2" src="{{ character.profile.image.url }}">
            <br>
            {{ character.profile }}
            </span>'
        >
    <img class="rounded-circle portait img-xs border border-dark" src="{{ character.profile.image.url }}">
    </div>
</a>
