{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <b>{{ form|crispy }}</b>
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Zapisz</button>
            </div>
        </form>
    </div>
{% endblock content %}