{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="javascript:history.go(-1)">Profil</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-success" type="submit">Zapisz</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Twoja postać poległa?
                <a class="ml-2" href="{% url 'register' %}">Nowa postać</a>
            </small>
        </div>
    </div>
{% endblock content %}