{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'users/users.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'users:profile' %}">Profil</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <div class="content-section-user">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Zapisz</button>
            </div>
        </form>
    </div>
{% endblock content %}