{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <article>
        
        <!--   Random pictures from Chronicle    -->
        <section>
            <div class="container px-3 mb-2">
                <div class="row">
                    {% for event in rand_gameevents %}
                        <p class="font-18 font-italic px-2 mt-3 text-justify content-section border-none text-fading-top-bottom ">
                            <span class="{% if current_profile not in event.participants.all %} text-muted {% endif %}">
                                <a href="{% url 'chronicles:chronicle-game' event.game.id %}#event_{{ event.id }}">{{ event.description_long|get_random_paragraph_caption }}</a>
                            </span>
                        </p>
                    {% endfor %}
                </div>
            </div>
        </section>
        
        <!--   Random pictures from Prosoponomikon    -->
        <section>
            <div class="container px-2 mb-2">
                <div class="row">
                    {% for character in rand_characters %}
                        {% include 'prosoponomikon/_char_img.html' %}
                    {% endfor %}
                </div>
            </div>
        </section>
        
        <!--   Random pictures from Toponomikon    -->
        <section>
            <div class="container px-2">
                <div class="row">
                    {% for location in rand_locations %}
                        <div class="col-sm-12 col-lg-6 px-2">
                            {% include 'toponomikon/_loc_img.html' %}
                            <p class="pt-1 font-italic font-14 text-center">{{ location.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        
        <!--   Random pictures from Therarion    -->
        <section>
            <div class="container px-2">
                <div class="row">
                
                </div>
            </div>
        </section>
        
    </article>

{% endblock content %}
