{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <b>{{ form|crispy }}</b>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Zaloguj</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small>
                Twoja Postać poległa?
                <a class="ml-2" href="{% url 'users:register' %}">Nowa Postać</a>
            </small>
        </div>
    </div>
{% endblock content %}