{% load static %}
{% load custom_filters %}


<div class="anchor mt-n5" id="location_{{ location.id }}">
    <div class="row">
        <div class="col-md-4 px-0 py-1">
            {% with show_caption=False %}
                {% include 'toponomikon/_loc_img.html' %}
            {% endwith %}
        </div>
        <div class="col-md-8 ml-n2 pl-2 pr-0 pl-md-4 pr-0">
            <h2 class="border-bottom-dark">
                <small class="pr-5 {% if location.only_indirectly %} text-muted {% endif %}">
                    {{ location.name }}
                </small>
            </h2>
            <h6 class="font-italic text-justify {% if location.only_indirectly %} text-muted {% endif %}">
                {% if location.description %} {{ location.description|custom_linebreaksbr:1 }} {% endif %}
            </h6>
            <p class="text-justify">
                {% for location in location.locations.all %}
                    <small class="smaller">
                        <a class="text-muted" href="{% url 'toponomikon:location' location.name %}">{{ location }}</a>
                        {% if not forloop.last %} |{% endif %}
                    </small>
                {% endfor %}
            </p>
        </div>
    </div>
</div>
