
<a href="{% url 'toponomikon:location' location.name %}">
    <div class="img-hover-zoom border-double m-0" data-toggle="tooltip" data-placement="bottom" data-html="true"
        title='<span class="font-italic">{% if location.only_indirectly %} {{ location }}<br>(Lokacja znana ze słyszenia) {% else %} {{ location }} {% endif %}</span>'>
        <img class="img-fluid {% if location.only_indirectly %} img-grayscale {% endif %}"
             src="{% if location.main_image %} {{ location.main_image.image.image.url }} {% else %} {{ location.location_type.default_img.image.url }} {% endif %}">
    </div>
</a>
{% if show_caption %}
    <p class="pt-1 font-italic font-14 text-center">{{ location.name }}</p>
{% endif %}
