{% load static %}


<div class="row mb-5 mb-md-4">
    <div class="col-md-4 px-0 py-1">
        <a href="{% url 'toponomikon:location' location.name %}">
            <div class="img-hover-zoom">
                <img class="img-fluid {% if location.only_indirectly %} img-grayscale {% endif %}"
                     src="{% if location.main_image %} {{ location.main_image.image.image.url }} {% else %} {{ location.location_type.default_img.image.url }} {% endif %}"
                     alt="Location img">
            </div>
        </a>
    </div>
    <div class="col-md-8 ml-n2 pl-2 pr-0 pl-md-4 pr-0">
        <h2 class="border-bottom-dark">
            <small class="pr-5 {% if location.only_indirectly %} text-muted {% endif %}">
                {{ location.name }}
                {% if location.only_indirectly  %} (znasz z opowieści) {% endif %}
            </small>
        </h2>
        <h6 class="font-italic linebreaks-style text-justify
            {% if location.only_indirectly %} text-muted {% endif %}">
            {% if location.description %} {{ location.description|linebreaks }} {% endif %}
        </h6>
        <p class="text-justify">
            {% for location in location.locations.all %}
                <small class="smaller">
                    <a class="text-muted" href="{% url 'toponomikon:location' location.name %}">{{ location }}</a>
                    {% if not forloop.last %} |{% endif %}
                </small>
            {% endfor %}
        </p>

    </div>
</div>



