{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/toponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-image">
        
        <header class="mb-5">
            <div class="container">
                <div class="row">
                    <img class="mb-4 toponomikon {% if only_indirectly %} img-grayscale {% endif %}"
                         src="{% if gen_loc.main_image %} {{ gen_loc.main_image.image.url }} {% else %} {{ gen_loc.location_type.default_img.image.url }} {% endif %}"
                         alt="General location img">
                </div>
                <div class="row">
                    <div class="col-md-11 p-0">
                        <h6 class="font-18 font-italic linebreaks-style text-justify">{{ gen_loc.description|linebreaks }}</h6>
                    </div>
                    <div class="col-md-1">
                        <p class="btn btn-outline-dark icon-inform mt-1" data-toggle="modal" data-target="#infoLocationModal"></p>
                            <!-- The Modal -->
                            <div class="modal fade" id="infoLocationModal" tabindex="-1" role="dialog" aria-hidden="true">
                                {% with informable=gen_loc.informable inform_type='location' %}
                                    {% include '_inform.html' %}
                                {% endwith %}
                            </div>
                        <p class="btn btn-outline-dark icon-note mt-1 disabled"><a href="#"></a></p>
                    </div>
                </div>
            </div>
        </header>
        

        <article class="tabset">
            <!-- Tabs -->
            {% if spec_locs %}
                <input type="radio" name="tabset" id="tab1" aria-controls="lokacje" checked>
                <label class="h3" for="tab1">Lokacje</label>
            {% endif %}
            {% if kn_packets %}
                <input type="radio" name="tabset" id="tab2" aria-controls="wiedza">
                <label class="h3" for="tab2">Wiedza</label>
            {% endif %}
            {% if pictures %}
                <input type="radio" name="tabset" id="tab3" aria-controls="obrazy">
                <label class="h3" for="tab3">Obrazy</label>
            {% endif %}
            
            <!-- Tabs content -->
            <div class="tab-panels pt-1">
                {% if spec_locs %}
                    <section id="lokacje" class="tab-panel">
                        <div class="container">
                            {% for location in spec_locs %}
                            {% with loc_view='toponomikon:specific-location' %}
                                {% include 'toponomikon/_location.html' %}
                            {% endwith %}
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}
                {% if kn_packets %}
                    <section id="wiedza" class="tab-panel">
                        {% for kn_packet in kn_packets %}
                            {% include 'knowledge/_knowledge_packet.html' %}
                        {% endfor %}
                    </section>
                {% endif %}
                {% if pictures %}
                    <section id="obrazy" class="tab-panel">
                        {{ pictures }}
                    </section>
                {% endif %}
            </div>
        </article>
        
    </article>

{% endblock content %}
