
<div class="py-3 border-double">
    <h5 class="text-center text-danger">
        Informuj jedynie postacie, którym w kompleksowy sposób przekazałeś wiedzę w świecie gry.
        <br>
        W razie wątpliwości skonsultuj się z MG.
    </h5>
    <br>
    <h4 class="text-center">
        {% for profile in informable.all %}
            <a class="img-link" href="{% url 'toponomikon:inform' profile.id gen_loc_id spec_loc_id %}">
                <img class="article-img rounded-circle" src="{{ profile.image.url }}">
            </a>
        {% endfor %}
    </h4>
</div>


