{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/toponomikon.css' %}">
{% endblock head_extra %}

{% block content %}

    <article class="tabset top-space">
        
        <!-- TAB HEADER: Locations -->
        {% if primary_locs %}
            <input type="radio" name="tabset" id="tab1" aria-controls="locations" checked>
            <label class="font-resp-15 resp-tab-label" for="tab1">Lokacje</label>
        {% endif %}
        
        <!-- TAB HEADER: Index -->
        {% if all_locs %}
            {% if not primary_locs %}
                <input type="radio" name="tabset" id="tab2" aria-controls="index" checked>
            {% else %}
                <input type="radio" name="tabset" id="tab2" aria-controls="index">
            {% endif %}
            <label class="font-resp-15 resp-tab-label" for="tab2">Indeks</label>
        {% endif %}
        
        <!-- TAB HEADER: Maps -->
        {% if all_maps %}
            {% if not primary_locs and not all_locs %}
                <input type="radio" name="tabset" id="tab3" aria-controls="maps" checked>
            {% else %}
                <input type="radio" name="tabset" id="tab3" aria-controls="maps">
            {% endif %}
            <label class="font-resp-15 resp-tab-label" for="tab3">Mapy i plany</label>
        {% endif %}
        
        
        <div class="tab-panels">
            
            <!-- TAB CONTENT: Locations -->
            {% if primary_locs %}
                <section id="locations" class="tab-panel py-5">
                    <div class="container">
                        <p class="mb-0 text-center">✧</p>
                        <p class="mb-0 text-center">✧ ✦ ✧</p>
                        <p class="h3 text-center mb-1">Krainy</p>
                        <p class="mb-0 text-center">✧ ✦ ✧</p>
                        <p class="mb-5 mt-0 text-center">✧</p>
                        {% for location in primary_locs %}
                            {% include 'toponomikon/_location.html' %}
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
            
            <!-- TAB CONTENT: Index -->
            {% if all_locs %}
                <section id="index" class="tab-panel py-5">
                    <div class="container">
                        <p class="mb-0 text-center">✧</p>
                        <p class="mb-0 text-center">✧ ✦ ✧</p>
                        <p class="h3 text-center mb-1">Indeks geograficzny</p>
                        <p class="mb-0 text-center">✧ ✦ ✧</p>
                        <p class="mb-5 mt-0 text-center">✧</p>
                        <div class="row">
                            {% for row in all_locs|ordered_columns:3 %}
                                <div class="col-sm-4 pr-0">
                                    <ul class="bullets-2 bullets-xl mb-0">
                                        {% for loc in row %}
                                            <li>
                                                <a href="{% url 'toponomikon:location' loc.name %}" >
                                                    <b class="h3">{{ loc.name|slice:":1" }}</b><small>{{ loc.name|slice:"1:" }}</small>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            {% endif %}
            
            <!-- TAB CONTENT: Maps -->
            {% if all_maps %}
                <section id="maps" class="tab-panel py-5">
                    {% for map_packet in all_maps %}
                        {% include 'knowledge/_map_packet.html' %}
                    {% endfor %}
                </section>
            {% endif %}
            
        </div>
    </article>

{% endblock content %}


