{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/toponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <br>

    <article>
        
        <header class="mb-5">
            <div class="container">
                <div class="row">
                    <img class="mb-4 toponomikon {% if only_indirectly %} img-grayscale {% endif %}"
                         src="{% if spec_loc.main_image %} {{ spec_loc.main_image.image.url }} {% else %} {{ spec_loc.location_type.default_img.image.url }} {% endif %}"
                         alt="Specific location img">
                </div>
                <div class="row">
                    <div class="col-md-11 p-0">
                        <h6 class="font-18 font-italic linebreaks-style text-justify">{{ spec_loc.description|linebreaks }}</h6>
                    </div>
                    <div class="col-md-1">
                        <p class="btn btn-outline-dark icon-inform mt-1" id="btnModal"></p>
                            <!-- The Modal -->
                            <div class="modal fade" id="infoLocationModal" tabindex="-1" role="dialog" aria-hidden="true">
                                {% with informable=spec_loc.informable %}
                                    {% include '_inform.html' %}
                                {% endwith %}
                            </div>
                        <a class="btn btn-outline-dark icon-note mt-1 disabled" href="#"></a>
                    </div>
                </div>
            </div>
        </header>
       
        
        <div class="tabset">
            <!-- Tabs -->
            
<!-- FOR LATER USE: sub_spec_locs -->
<!--            {% if spec_locs %}-->
<!--                <input type="radio" name="tabset" id="tab1" aria-controls="lokacje" checked>-->
<!--                <label class="h3" for="tab1">Lokacje</label>-->
<!--            {% endif %}-->
            {% if knowledge_packets %}
                <input type="radio" name="tabset" id="tab2" aria-controls="wiedza" checked>
                <label class="h3" for="tab2">Wiedza</label>
            {% endif %}
            {% if pictures %}
                <input type="radio" name="tabset" id="tab3" aria-controls="obrazy">
                <label class="h3" for="tab3">Obrazy</label>
            {% endif %}
            
            <!-- Tabs content -->
            <div class="tab-panels">
            
<!-- FOR LATER USE: sub_spec_locs -->
<!--                {% if spec_locs %}-->
<!--                    <section id="lokacje" class="tab-panel">-->
<!--                        <div class="container">-->
<!--                            {% for location in spec_locs %}-->
<!--                            {% with view='toponomikon:specific-location' %}-->
<!--                                {% include 'toponomikon/_location.html' %}-->
<!--                            {% endwith %}-->
<!--                            {% endfor %}-->
<!--                        </div>-->
<!--                    </section>-->
<!--                {% endif %}-->
                {% if knowledge_packets %}
                    <section id="wiedza" class="tab-panel">
                        {% for kn_packet in knowledge_packets %}
                            {% include '_knowledge_packet.html' %}
                        {% endfor %}
                    </section>
                {% endif %}
                {% if pictures %}
                    <section id="obrazy" class="tab-panel">
                        {{ pictures }}
                    </section>
                {% endif %}
            </div>
        </div>
        
    </article>

{% endblock content %}
