{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/toponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    {% with audio_set=this_location|get_audio_set %}
        <article class="top-image">
            <header class="mb-5">
                <div class="container">
                    <div class="row">
                        <img class="toponomikon {% if this_location.only_indirectly %} img-grayscale {% endif %}"
                             src="{% if this_location.main_image %} {{ this_location.main_image.image.image.url }} {% else %} {{ this_location.location_type.default_img.image.url }} {% endif %}">
                        {% if audio_set %}
                            <audio class="toponomikon-audio-main" controls loop>
                                <!-- For Google Drive construct path by: https://docs.google.com/uc?export=download&id=XXXXXXXX
                                 where XXXXXXXX equals file id take from the share link:
                                 https://drive.google.com/file/d/XXXXXXXX/view?usp=sharing ==> XXXXXXXX
                                 RESULT: https://docs.google.com/uc?export=download&id=XXXXXXXX -->
                                <source src="{{ audio_set.main_audio.path }}" type="audio/mpeg">
                            </audio>
                        {% endif %}
                    </div>
                    
                    <div class="row mt-0 mt-2 mt-md-3 pr-1 pr-lg-0 mr-lg-n4">
                        <!-- BUTTONS -->
                        <div class="col-12 col-md-1 p-0 mb-1 mt-md-1 ml-lg-1">
                            <a class="btn btn-outline-dark icon-parent-obj py-2 mb-sm-1"
                               href="
                                   {% if this_location.in_location %}
                                       {% url 'toponomikon:location' this_location.in_location.name %}#location_{{ this_location.id }}
                                   {% else %}
                                       {% url 'toponomikon:main' %}#location_{{ this_location.id }}
                                   {% endif %}"
                               data-toggle="tooltip" data-placement="left" title="Przejdź do lokacji nadrzędnej">
                            </a>
                            {% if request.user.profile.can_action %}
                                <span data-toggle="modal" data-target="#infoLocationModal">
                                    <span class="btn btn-outline-dark icon-inform py-2 mb-sm-1"
                                        data-toggle="tooltip" data-placement="left" title="Przekaż wiedzę o lokacji">
                                    </span>
                                </span>
                                <!-- The Modal -->
                                <div class="modal fade" id="infoLocationModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    {% with informables=this_location.informables inform_type=this_location|get_model_name id_=this_location.id %}
                                        {% include '_inform.html' %}
                                    {% endwith %}
                                </div>
<!--                            <a class="btn btn-outline-dark icon-note py-2 mb-sm-1 disabled"-->
<!--                                href="#"-->
<!--                                data-toggle="tooltip" data-placement="left" title="Notatki"></a>-->
                            {% endif %}
                            {% if request.user.profile.status == 'gm' %}
                                <a class="btn btn-outline-secondary icon-edit py-2 mb-sm-1"
                                   href="{% url 'admin:toponomikon_location_change' this_location.id %}" target="_blank"
                                   data-toggle="tooltip" data-placement="left" title="Edytuj lokację">
                                </a>
                                <a class="btn btn-outline-danger icon-handshake-o py-2 mb-sm-1"
                                   onclick="return confirm('Na pewno zapoznać ze sobą wszystkie postacie w lokacji?');"
                                   href="{% url 'prosoponomikon:acquaintances' this_location.id %}"
                                   data-toggle="tooltip" data-placement="left" title="Zapoznaj ze sobą wszystkich mieszkańców">
                                </a>
                            {% endif %}
                        </div>
                        <!-- DESCRIPTION -->
                        <div class="col-12 col-md-11 p-0 pl-md-3 ml-lg-n3 ml-xl-n4">
                            <h6 class="font-18 font-italic linebreaks-style text-justify
                                {% if this_location.only_indirectly %} text-muted {% endif %}">
                                {{ this_location.description|linebreaks }}
                            </h6>
                        </div>
                    </div>
                </div>
            </header>
            
    
            <article class="tabset">
                
                <!-- TAB HEADER: Locations -->
                {% if location_types %}
                    <input type="radio" name="tabset" id="tab1" aria-controls="locations" checked>
                    <label class="h3" for="tab1">Lokacje</label>
                {% endif %}

                <!-- TAB HEADER: Characters (Prosoponomikon) -->
                {% if characters %}
                    {% if location_types %}
                        <input type="radio" name="tabset" id="tab2" aria-controls="characters">
                    {% else %}
                        <input type="radio" name="tabset" id="tab2" aria-controls="characters" checked>
                    {% endif %}
                    <label class="h3" for="tab2">Postacie</label>
                {% endif %}

                <!-- TAB HEADER: Knowledge packets -->
                {% if this_location.knowledge_packets.all %}
                    {% if location_types or characters %}
                        <input type="radio" name="tabset" id="tab3" aria-controls="knowledge">
                    {% else %}
                        <input type="radio" name="tabset" id="tab3" aria-controls="knowledge" checked>
                    {% endif %}
                    <label class="h3" for="tab3">Wiedza</label>
                {% endif %}
                
                <!-- TAB HEADER: Map packets -->
                {% if this_location.map_packets.all %}
                    {% if location_types or characters or this_location.knowledge_packets.all %}
                        <input type="radio" name="tabset" id="tab4" aria-controls="maps">
                    {% else %}
                        <input type="radio" name="tabset" id="tab4" aria-controls="maps" checked>
                    {% endif %}
                    <label class="h3" for="tab4">Mapy</label>
                {% endif %}
                
                <!-- TAB HEADER: Picture Sets -->
                {% if this_location.picture_sets.all %}
                    {% if location_types or characters or this_location.knowledge_packets.all or this_location.map_packets.all %}
                        <input type="radio" name="tabset" id="tab5" aria-controls="picture_sets">
                    {% else %}
                        <input type="radio" name="tabset" id="tab5" aria-controls="picture_sets" checked>
                    {% endif %}
                    <label class="h3" for="tab5">Obrazy</label>
                {% endif %}

                <!-- TAB HEADER: Audio -->
                {% if request.user.profile.status == 'gm' and audio_set %}
                    {% if location_types or characters or this_location.knowledge_packets.all or this_location.map_packets.all or this_location.picture_sets.all %}
                        <input type="radio" name="tabset" id="tab6" aria-controls="audios">
                    {% else %}
                        <input type="radio" name="tabset" id="tab6" aria-controls="audios" checked>
                    {% endif %}
                    <label class="h3" for="tab6">Audio</label>
                {% endif %}
    
                
                <div class="tab-panels">
                    
                    <!-- TAB CONTENT: Locations -->
                    {% if location_types %}
                        <section id="locations" class="tab-panel">
                            <div class="container">
                                {% for location_type in location_types %}
                                    <div class="mb-5">
                                        <p class="mb-0 text-center">✧</p>
                                        <p class="mb-0 text-center">✧ ✦ ✧</p>
                                        <p class="h3 text-center mb-2 mt-1">{{ location_type.name_plural }}</p>
                                        <p class="mb-0 text-center">✧ ✦ ✧</p>
                                        <p class="mt-0 text-center">✧</p>
                                        {% for location in location_type.locations.all %}
                                            {% include 'toponomikon/_location.html' %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}

                    <!-- TAB CONTENT: Characters (Prosoponomikon) -->
                    {% if characters %}
                        <section id="characters" class="tab-panel">
                            <div class="container">
                                <p class="mb-0 text-center">✧</p>
                                <p class="mb-0 text-center">✧ ✦ ✧</p>
                                <p class="h3 text-center mb-2 mt-1">Mieszkańcy i bywalcy</p>
                                <p class="mb-0 text-center">✧ ✦ ✧</p>
                                <p class="mb-5 mt-0 text-center">✧</p>
                                <div class="container">
                                    <div class="row">
                                        {% for character in characters %}
                                            {% include 'prosoponomikon/_char_img.html' %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </section>
                    {% endif %}
                    
                    <!-- TAB CONTENT: Knowledge packets -->
                    {% if this_location.knowledge_packets.all %}
                        <section id="knowledge" class="tab-panel">
                            <div class="container">
                                <p class="mb-0 text-center">✧</p>
                                <p class="mb-0 text-center">✧ ✦ ✧</p>
                                <p class="h3 text-center mb-2 mt-1">Pakiety wiedzy</p>
                                <p class="mb-0 text-center">✧ ✦ ✧</p>
                                <p class="mb-5 mt-0 text-center">✧</p>
                                {% for kn_packet in this_location.knowledge_packets.all %}
                                    {% include 'knowledge/_knowledge_packet.html' %}
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
                    
                    <!-- TAB CONTENT: Map packets -->
                    {% if this_location.map_packets.all %}
                        <section id="maps" class="tab-panel py-5">
                            {% for map_packet in this_location.map_packets.all %}
                                {% include 'knowledge/_map_packet.html' %}
                            {% endfor %}
                        </section>
                    {% endif %}
                    
                    <!-- TAB CONTENT: Picture Sets -->
                    {% if this_location.picture_sets.all %}
                        <section id="picture_sets" class="tab-panel">
                            {% for picture_set in this_location.picture_sets.all %}
                                <div class="d-flex justify-content-center my-3">
                                    {% for picture in picture_set|pictureset_pictures_in_custom_order %}
                                        {% include '_pic_with_modal.html' %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </section>
                    {% endif %}

                    
<!--                    {% if this_location.pictures.all %}-->
<!--                        <section id="picture_sets" class="tab-panel">-->
<!--                            {% for picture in this_location.pictures.all %}-->
<!--                                {{ picture }}-->
<!--                            {% endfor %}-->
<!--                        </section>-->
<!--                    {% endif %}-->
                    
                    <!-- TAB CONTENT: Audio -->
                    {% if request.user.profile.status == 'gm' and audio_set %}
                        <section id="audios" class="tab-panel">
                            <div class="container">
                                <p class="mb-0 text-center">✧</p>
                                <p class="mb-0 text-center">✧ ✦ ✧</p>
                                <p class="h3 text-center mb-2 mt-1">Ścieżka dźwiękowa</p>
                                <p class="mb-0 text-center">✧ ✦ ✧</p>
                                <p class="mb-5 mt-0 text-center">✧</p>
    
                                <!-- Location's main audio first -->
                                <div class="row">
                                    <div class="col-6">
                                        <audio class="toponomikon-audio-small" controls loop>
                                            <source src="{{ audio_set.main_audio.path }}" type="audio/mpeg">
                                        </audio>
                                    </div>
                                    <div class="col-6">
                                        {{ audio_set.main_audio }}
                                    </div>
                                </div>
                                
                                <!-- Location's other audios -->
                                {% for audio in audio_set.audios.all %}
                                    <div class="row">
                                        <div class="col-6">
                                            <audio class="toponomikon-audio-small" controls loop>
                                                <source src="{{ audio.path }}" type="audio/mpeg">
                                            </audio>
                                        </div>
                                        <div class="col-6">
                                            {{ audio }}
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            </div>
                        </section>
                    {% endif %}
                    
                </div>
            </article>
            
        </article>
    {% endwith %}
{% endblock content %}
