{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/toponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-image">
        <header class="mb-5">
            <div class="container">
                <div class="row">
                    <img class="toponomikon {% if this_location.only_indirectly %} img-grayscale {% endif %}"
                         src="{% if this_location.main_image %} {{ this_location.main_image.image.url }} {% else %} {{ this_location.location_type.default_img.image.url }} {% endif %}"
                         alt="Location img">
                    {% if this_location|get_audio_path %}
                        <audio class="toponomikon-audio" controls loop>
                            <!-- For Google Drive construct path by: https://docs.google.com/uc?export=download&id= plus file id -->
                            <source src="{{ this_location|get_audio_path }}" type="audio/mpeg">
                        </audio>
                    {% endif %}
                </div>
                <div class="row mt-0 mt-sm-3">
                    <div class="col-12 col-md-1 p-0">
                        <a class="btn btn-outline-dark icon-cursor-medium mb-sm-1"
                           href="
                               {% if this_location.in_location %}
                                   {% url 'toponomikon:location' this_location.in_location.name %}
                               {% else %}
                                   {% url 'toponomikon:main' %}
                               {% endif %}"
                           data-toggle="tooltip" data-placement="left" title='Przejdź do lokacji nadrzędnej'>
                        </a>
                        <span data-toggle="modal" data-target="#infoLocationModal">
                            <span class="btn btn-outline-dark icon-inform-medium mb-sm-1"
                                data-toggle="tooltip" data-placement="left" title='Przekaż wiedzę o lokacji'>
                            </span>
                        </span>
                            <!-- The Modal -->
                            <div class="modal fade" id="infoLocationModal" tabindex="-1" role="dialog" aria-hidden="true">
                                {% with informables=this_location.informables inform_type=this_location|get_model_name id_=this_location.id %}
                                    {% include '_inform.html' %}
                                {% endwith %}
                            </div>
                        <span class="btn btn-outline-dark icon-note-medium mb-sm-1 disabled"><a href="#"></a></span>
                    </div>
                    <div class="col-12 col-md-11 p-0 pl-sm-2 pl-lg-0">
                        <h6 class="font-18 font-italic linebreaks-style text-justify
                            {% if this_location.only_indirectly %} text-muted {% endif %}">
                            {{ this_location.description|linebreaks }}
                        </h6>
                    </div>
                </div>
            </div>
        </header>
        

        <article class="tabset">
            <!-- Tabs -->
            {% if location_types %}
                <input type="radio" name="tabset" id="tab1" aria-controls="locations" checked>
                <label class="h3" for="tab1">Lokacje</label>
            {% endif %}
            {% if this_location.knowledge_packets.all %}
                {% if not location_types %}
                    <input type="radio" name="tabset" id="tab2" aria-controls="knowledge" checked>
                {% else %}
                    <input type="radio" name="tabset" id="tab2" aria-controls="knowledge">
                {% endif %}
                <label class="h3" for="tab2">Wiedza</label>
            {% endif %}
            {% if this_location.pictures.all %}
                {% if not location_types and not this_location.knowledge_packets.all %}
                    <input type="radio" name="tabset" id="tab3" aria-controls="pictures" checked>
                {% else %}
                    <input type="radio" name="tabset" id="tab3" aria-controls="pictures">
                {% endif %}
                <label class="h3" for="tab3">Obrazy</label>
            {% endif %}
            
            <!-- Tabs content -->
            <div class="tab-panels">
                {% if location_types %}
                    <section id="locations" class="tab-panel pt-1">
                        <div class="container">
                            {% for location_type in location_types %}
                                <p class="mt-5 mb-0 text-center">✧</p>
                                <p class="mb-0 text-center">✧ ✦ ✧</p>
                                <p class="h3 text-center mb-1">{{ location_type.name_plural }}</p>
                                <p class="mb-0 text-center">✧ ✦ ✧</p>
                                <p class="mb-5 mt-0 text-center">✧</p>
                                {% for location in location_type.locations.all %}
                                    {% include 'toponomikon/_location.html' %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}
                {% if this_location.knowledge_packets.all %}
                    <section id="knowledge" class="tab-panel">
                        {% for kn_packet in this_location.knowledge_packets.all %}
                            {% include 'knowledge/_knowledge_packet.html' %}
                        {% endfor %}
                    </section>
                {% endif %}
                {% if this_location.pictures.all %}
                    <section id="pictures" class="tab-panel">
                        {% for picture in this_location.pictures.all %}
                            {{ picture }}
                        {% endfor %}
                    </section>
                {% endif %}
            </div>
        </article>
        
    </article>

{% endblock content %}
