{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/toponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-image">
        
        <header class="mb-5">
            <div class="container">
                <div class="row">
                    <img class="mb-4 toponomikon {% if location.only_indirectly %} img-grayscale {% endif %}"
                         src="{% if location.main_image %} {{ location.main_image.image.url }} {% else %} {{ location.location_type.default_img.image.url }} {% endif %}"
                         alt="Location img">
                </div>
                <div class="row">
                    <div class="col-md-11 p-0">
                        <h6 class="font-18 font-italic linebreaks-style text-justify
                            {% if location.only_indirectly %} text-muted {% endif %}">
                            {{ location.description|linebreaks }}
                        </h6>
                    </div>
                    <div class="col-md-1 pl-0 pl-md-3">
                        <p class="btn btn-outline-dark icon-inform-medium mt-1" data-toggle="modal" data-target="#infoLocationModal"></p>
                            <!-- The Modal -->
                            <div class="modal fade" id="infoLocationModal" tabindex="-1" role="dialog" aria-hidden="true">
                                {% with informables=location.informables inform_type='location' %}
                                    {% include '_inform.html' %}
                                {% endwith %}
                            </div>
                        <p class="btn btn-outline-dark icon-note-medium disabled"><a href="#"></a></p>
                    </div>
                </div>
            </div>
        </header>
        

        <article class="tabset">
            <!-- Tabs -->
            {% if location_types %}
                <input type="radio" name="tabset" id="tab1" aria-controls="locations" checked>
                <label class="h3" for="tab1">Lokacje</label>
            {% endif %}
            {% if location.knowledge_packets.all %}
                {% if not location_types %}
                    <input type="radio" name="tabset" id="tab2" aria-controls="knowledge" checked>
                {% else %}
                    <input type="radio" name="tabset" id="tab2" aria-controls="knowledge">
                {% endif %}
                <label class="h3" for="tab2">Wiedza</label>
            {% endif %}
            {% if location.pictures.all %}
                {% if not location_types and not kn_packets %}
                    <input type="radio" name="tabset" id="tab3" aria-controls="pictures" checked>
                {% else %}
                    <input type="radio" name="tabset" id="tab3" aria-controls="pictures">
                {% endif %}
                <label class="h3" for="tab3">Obrazy</label>
            {% endif %}
            
            <!-- Tabs content -->
            <div class="tab-panels">
                {% if location_types %}
                    <section id="locations" class="tab-panel pt-1">
                        <div class="container">
                            {% for location_type in location_types %}
                                <p class="mt-5 mb-0 text-center">✧</p>
                                <p class="mb-0 text-center">✧ ✦ ✧</p>
                                <p class="h3 text-center mb-1">{{ location_type.name_plural }}</p>
                                <p class="mb-0 text-center">✧ ✦ ✧</p>
                                <p class="mb-5 mt-0 text-center">✧</p>
                                {% for location in location_type.locations.all %}
                                    {% include 'toponomikon/_location.html' %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}
                {% if location.knowledge_packets.all %}
                    <section id="knowledge" class="tab-panel">
                        {% for kn_packet in location.knowledge_packets.all %}
                            {% include 'knowledge/_knowledge_packet.html' %}
                        {% endfor %}
                    </section>
                {% endif %}
                {% if location.pictures.all %}
                    <section id="pictures" class="tab-panel">
                        {% for picture in location.pictures.all %}
                            {{ picture }}
                        {% endfor %}
                    </section>
                {% endif %}
            </div>
        </article>
        
    </article>

{% endblock content %}
