{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/toponomikon.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'toponomikon:main' %}">Toponomikon</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>

    <article>
        
        <section class="mb-5">
            <div class="container">
                
                <div class="row">
                    <img class="mb-3 toponomikon {% if gen_loc_known_only_indirectly %} img-grayscale {% endif %}"
                         src="{{ gen_loc.main_image.image.url }}"
                         alt="General location img">
                </div>
                
                <div class="row">
                    <div class="col-md-11 p-0">
                        <p class="font-italic text-justify">{{ gen_loc.description|linebreaksbr }}</p>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-outline-dark mt-1" href="{% url 'toponomikon:inform' gen_loc.id '0' %}">
                            <i class="icon-inform"></i>
                        </a>
                        <a class="btn btn-outline-dark mt-1" href="{% url 'toponomikon:inform' gen_loc.id '0' %}">
                            <i class="icon-note"></i>
                        </a>
                    </div>
                </div>
                
            </div>
        </section>
        
        <section>
            <h2><b class="hover-blue" data-toggle="collapse" data-target="#specific_locations">Lokacje</b></h2>
            <div id="specific_locations" class="collapse mt-4 ml-2">
                
                {% if not spec_locs %}
                    <p class="font-18 font-italic pt-1 pl-5 text-justify">Terra incognita...</p>
                {% else %}
                    <div class="container">
                        {% for spec_loc in spec_locs %}
                            <div class="row mb-4">
                                <div class="col-md-4 px-2 py-1">
                                    <a class="img-link" href="{% url 'toponomikon:specific-location' spec_loc.id %}">
                                        <img class="img-fluid toponomikon-img {% if spec_loc.known_only_indirectly %} img-grayscale {% endif %}"
                                             src="{{ spec_loc.main_image.image.url }}"
                                             alt="Specific location img"
                                        >
                                    </a>
                                </div>
                                
                                <div class="col-md-8 ml-n2">
                                    <h3 class="border-custom-base">
                                        <small class="pr-5 {% if spec_loc.known_only_indirectly %} text-muted {% endif %}">
                                            {{ spec_loc.name }}
                                            {% if spec_loc.known_only_indirectly %} (znasz z opowieści) {% endif %}
                                        </small>
                                    </h3>
                                    <p class="font-italic text-justify {% if spec_loc.known_only_indirectly %} text-muted {% endif %}">
                                        <small>{% if spec_loc.description %} {{ spec_loc.description|linebreaksbr }} {% endif %}</small>
                                    </p>
                                </div>
                                
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                
            </div>
            <br>
        </section>
    
        <section>
            {% if knowledge_packets %}
                <h2><b class="hover-blue" data-toggle="collapse" data-target="#knowledge-packets">Szczegółowe informacje o krainie</b></h2>
                <div id="knowledge-packets" class="collapse mt-4">
                    {% for kn_packet in knowledge_packets %}
                        {% include '_knowledge_packet.html' %}
                    {% endfor %}
                </div>
            {% endif %}
        </section>
        
    </article>
{% endblock content %}