{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/toponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <br>

    <article>
        <section class="mb-5">
            <div class="container">
                
                <div class="row">
                    <img class="mb-4 toponomikon {% if spec_loc_known_only_indirectly %} img-grayscale {% endif %}"
                         src="{% if spec_loc.main_image %} {{ spec_loc.main_image.image.url }} {% else %} {{ spec_loc.location_type.default_img.image.url }} {% endif %}"
                         alt="Specific location img">
                </div>
                
                <div class="row">
                    <div class="col-md-11 p-0">
                        <p class="font-18 font-italic text-justify">{{ spec_loc.description|linebreaksbr }}</p>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-outline-dark mt-1" href="{% url 'toponomikon:inform' 0 spec_loc.id %}">
                            <i class="icon-inform"></i>
                        </a>
                        <a class="btn btn-outline-dark mt-1 disabled" href="#">
                            <i class="icon-note"></i>
                        </a>
                    </div>
                </div>
                
            </div>
        </section>

        
        <section>
            {% if knowledge_packets %}
                <h2><b class="hover-blue" data-toggle="collapse" data-target="#knowledge-packets">Szczegółowe informacje o lokacji</b></h2>
                <div id="knowledge-packets" class="collapse mt-4">
                    {% for kn_packet in knowledge_packets %}
                        {% include '_knowledge_packet.html' %}
                    {% endfor %}
                </div>
            {% endif %}
        </section>
        
    </article>
{% endblock content %}