{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/toponomikon.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>

    <article>
        <div class="container pr-0">
            {% for gen_loc in gen_locs %}
                <div class="row mb-4">
    
                    <div class="col-md-4 p-0">
                        <figure class="m-0 mr-2">
                            <a href="{% url 'toponomikon:general-location' gen_loc.id %}">
                                <img src="{{ gen_loc.main_image.image.url }}" alt="{{ gen_loc.name }}"
                                     class="img-fluid border-double toponomikon-img {% if gen_loc.known_only_indirectly %} img-grayscale {% endif %}"
                                >
                            </a>
                        </figure>
                    </div>
                
                    <div class="col-md-8 ml-n2">
                        <h2 class="border-custom-base">
                            <small class="pr-5 {% if gen_loc.known_only_indirectly %} text-muted {% endif %}">
                                {{ gen_loc.name }}
                                {% if gen_loc.known_only_indirectly %} (znasz z opowieści) {% endif %}
                            </small>
                        </h2>
                        <p class="font-italic text-justify {% if gen_loc.known_only_indirectly %} text-muted {% endif %}">
                            <small>
                                {% if gen_loc.description %} {{ gen_loc.description|linebreaksbr }} {% endif %}
                            </small>
                        </p>
                    </div>
                
                </div>
            {% endfor %}
        </div>
    </article>

{% endblock content %}


