{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/toponomikon.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    {% for gen_loc in gen_locs %}
        <table class="toponomikon">
            <tr class="toponomikon-img pb-3">
                <td class="unblue-black align-top">
                    <a href="#">
                        <img src="{{ gen_loc.main_image.image.url }}" class="border-double">
                    </a>
                </td>
                <td valign="top" align="left" colspan="2" class="pl-1">
                    <h3><a href="#" class="border-custom-base">{{ gen_loc.name }}</a></h3>
                    <small class ="text-justify"><i>{{ gen_loc.description }}</i></small>
                </td>
            </tr>
            <tr class="toponomikon-img">
                {% for spec_loc in gen_loc.specific_locations.all %}
                    <td class="unblue">
                        <a href="#">
                            <img src="{{ spec_loc.main_image.image.url }}" class="border-double">
                        </a>
                        <a href="#">{{ spec_loc.name }}</a>&emsp;
                    </td>
                    {% if forloop.counter|divisibleby:3 %}
                        </tr><tr class="toponomikon-img">
                    {% endif %}
                {% endfor %}
            </tr>
        </table>
        <br><br><br>
    {% endfor %}
{% endblock content %}


