{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/toponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br>

    <article>
        <div class="container">
            {% for location in gen_locs %}
            {% with loc_view='toponomikon:general-location' %}
                {% include 'toponomikon/_location.html' %}
            {% endwith %}
            {% endfor %}
        </div>
    </article>

{% endblock content %}


