{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'chronicle-chapters' %}">Historia</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <table class="chronicle" id="chronicle" data-search="true" data-toggle="table">

        <colgroup>
            <col class="description">
            <col class="actions">
        </colgroup>

        <thead class="hide">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for event in game.described_events.all %}
                {% if event in request.user.profile.described_events_participated.all or event in request.user.profile.described_events_informed.all or request.user.profile.character_status == 'gm' %}
                    <tr>
                        <td class="chronicle-event">
                            <p>
                                {% if event in request.user.profile.described_events_informed.all %}
                                    <small>(Znasz z opowieści)</small>
                                {% endif %}

                                {{ event.description|linebreaksbr }}

                                {% for note in event.notes.all %}
                                    {% if request.user == note.author %}
                                        {% if note.text != '' %}
                                            <a style="color:{{ note.color }}"><br>Notatka:<br>{{ note.text|linebreaksbr }}</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </td>
                        <td class="align-top">
                            <h6><a href="{% url 'described-event-add-informed' event.id %}"><img src="{% static 'img/inform.png' %}" class="small-img"></a></h6>
                            <h6><a href="{% url 'described-event-note' event.id %}"><img src="{% static 'img/note.png' %}" class="small-img"></a></h6>
                            {% if request.user.profile.character_status == 'gm' %}
                                <h6><a href="{% url 'edit-described-event' event.id %}"><img src="{% static 'img/edit.png' %}" class="small-img"></a></h6>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock content %}