{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/characters.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br>

    <article class="skills-for-gm">
        <div class="container">
            <div class="row">
                {% for profile in profiles %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <a class="img-link" href="{% url 'development:skills' profile.id %}" >
<!--                            <img class="img-fluid mx-auto d-block {% if profile.status == 'dead_player' %} img-grayscale {% endif %}"-->
                            <img class="img-fluid mx-auto d-block {% if not profile.is_alive %} img-grayscale {% endif %}"
                                 src="{{ profile.image.url }}"
                                 alt="Profile img">
                        </a>
                        <p class="pt-1">{{ profile.persona.name }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>

{% endblock content %}
