{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/toponomikon.css' %}">
{% endblock head_extra %}

{% block content %}
    <header class="my-5 pt-4">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4 px-0 px-sm-2 mb-2">
                    <img class="img-fluid d-block" src="{{ profile.image.url }}" alt="Profile img">
                </div>
                <div class="col-xs-12 col-md-8 pl-0 pl-lg-1">
                    <h3 class="border-bottom-dark">
                        {{ profile.character.name }}
                    </h3>

                    <div class="container mt-3 pl-1">
                        <div class="row my-1">
                            <div class="col-4 col-lg-3 h5 m-0 font-weight-bold">Pochodzenie:</div>
                            <div class="col-8 col-lg-9 m-0 pl-md-4 font-italic ">
                                <span class="align-middle">{{ birthplace }}</span>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-4 col-lg-3 h5 m-0 font-weight-bold">Urodzony:</div>
                            <div class="col-8 col-lg-9 m-0 pl-md-4 font-italic ">
                                <span class="align-middle">{{ birthtime }}</span>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-4 col-lg-3 h5 m-0 font-weight-bold">Profesje/klasy:</div>
                            <div class="col-8 col-lg-9 m-0 pl-md-4 font-italic">
                                <span class="align-middle">
                                    {% for profession in professions %}
                                        {{ profession }}: {{ profession.klasses.all|join:', ' }}<br>
                                    {% endfor %}
                                    
                                </span>
                            </div>
                        </div>
                        
                        <div class="row my-1">
                            <div class="col-4 col-lg-3 h5 m-0 font-weight-bold"></div>
                            <div class="col-8 col-lg-9 m-0 pl-md-4 font-italic">
                                <span class="align-middle"></span>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </header>

    <article class="tabset top-space">
        
        <!-- TABS -->
        
        <!-- Bio tab -->
        <input type="radio" name="tabset" id="tab1" aria-controls="bio" checked>
        <label class="h3" for="tab1">Opis</label>
        
        <!-- Professions tab -->
        {% if professions %}
            <input type="radio" name="tabset" id="tab2" aria-controls="professions">
            <label class="h3" for="tab2">Profesje</label>
        {% endif %}
        
        <!-- Skills tab -->
        {% if skills %}
            <input type="radio" name="tabset" id="tab3" aria-controls="skills">
            <label class="h3" for="tab3">Umiejętności</label>
        {% endif %}
        
        <!-- Tricks tab -->
        {% if tricks %}
            <input type="radio" name="tabset" id="tab4" aria-controls="tricks">
            <label class="h3" for="tab4">Podstępy</label>
        {% endif %}
        
        <!-- Achievements tab -->
        {% if achievements %}
            <input type="radio" name="tabset" id="tab5" aria-controls="achievements">
            <label class="h3" for="tab5">Osiągnięcia</label>
        {% endif %}
        
        <!-- Pictures tab -->
        {% if pictures %}
            <input type="radio" name="tabset" id="tab6" aria-controls="pictures">
            <label class="h3" for="tab6">Obrazy</label>
        {% endif %}
        
        
        
        
        <!-- TABS CONTENT -->
        <div class="tab-panels">
            
            <!-- Bio content -->
            <section id="bio" class="tab-panel pt-1">
                <div class="container mt-5 px-0">
                    TODO
                </div>
            </section>
            
            <!-- Professions content -->
            {% if professions %}
                <section id="professions" class="tab-panel pt-1">
                    <div class="container mt-5 px-0">
                        Tutaj zawołać profile_klass a nie professions i klasses
                        {% for profession in professions %}
                            <div>
                                {{ profession }}<br>
                                {% for klass in profession.klasses.all %}
                                    - {{ klass }}<br>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
            
            <!-- Skills content -->
            {% if skills %}
                <section id="skills" class="tab-panel pt-1">
                    <div class="container mt-5 px-0">
                        <div class="mb-4">
                            {% with show_levels=True %}
                                {% for skill in skills %}
                                    {% include 'rules/_skill.html' %}
                                {% endfor %}
                            {% endwith %}
                        </div>
                        <div class="mb-4">
                            {% with show_levels=True %}
                                {% for synergy in synergies %}
                                    {% include 'rules/_synergy.html' %}
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </div>
                </section>
            {% endif %}
            
            <!-- Tricks content -->
            {% if tricks %}
                <section id="tricks" class="tab-panel pt-1">
                    <div class="container mt-5 px-0">

                    </div>
                </section>
            {% endif %}
            
            <!-- Achievements content -->
            {% if achievements %}
                <section id="achievements" class="tab-panel pt-1">
                    <div class="container mt-5 px-0">

                    </div>
                </section>
            {% endif %}
            
            <!-- Pictures content -->
            {% if pictures %}
                <section id="pictures" class="tab-panel pt-1">
                    <div class="container mt-5 px-0">

                    </div>
                </section>
            {% endif %}
            
            
        </div>
    </article>

{% endblock content %}


