
<div class="container-fluid px-0 mt-4">
    <div class="row">

        <div class="col-2 pr-1 pr-sm-0">
            <figure class="align-top mx-auto mb-0 px-lg-3 pt-1">
                <img class="img-fluid rounded" src="/media/user_pics/profile_gm.jpg">
                <figcaption class="font-12 font-italic text-center pt-1">
                    Łukasz
                </figcaption>
            </figure>
        </div>

        <div class="col-10 font-18 font-italic text-justify mt-n1">
            <small class="text-muted">
                2023-10-31 | 13:55
            </small>

            <div class="statement">
                <p>
                    fsd
                </p>
            </div>

            <div class="row mt-2 ml-1">
                <div>
                    <img class="portait img-sm border border-dark rounded mr-1" src="/media/user_pics/default.jpg">
                </div>
            </div>
        </div>

    </div>
</div>