{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}



<div id="display">
    <!-- Used as container for statements -->
</div>

{% if thread.is_ended %}
    <div class="row">
        <div class="col-12">
            <p class="mt-5 mb-0 text-center">✧</p>
            <p class="mb-0 text-center">✧ ✦ ✧</p>
            <p class="mb-5 mt-0 text-center">✧</p>
        </div>
    </div>
{% else %}
    {% include '_create_form.html' %}
    <input type="hidden" name="thread_id" id="thread_id" value="{{thread.id}}"/>
{% endif %}



{% block javascript %}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>


    <script>
        $(document).ready(function(){
            CKEDITOR.config.startupFocus = true;
        })
    </script>


    <script>
        function reloadStatements(){
        
            $.ajax({
                type: 'GET',
                url : "/communications/statements/{{thread_id}}/",
                success: function(response){
                    console.log(response);
                    $("#display").empty();
                    
                    for (var num in response.statements)
                    {
                    
                        var threadKind = response.statements[num].thread_obj.kind;
                        var isGmAndDebate = ( response.statements[num].author_obj.status == 'gm' && threadKind == 'Debate' );
                        var isLastStatement = ( num == response.statements.length - 1 );

                        var anchor = ``;
                        if (isLastStatement) {
                            anchor = `<a class="anchor anchor3" id="page-bottom"></a>`
                        };

                        if ( response.statements[num].image_obj.url !== '' ) {
                            var stmtImage = `<p><img class="img-fluid mx-auto d-block" src="${response.statements[num].image_obj.url}"></p>`
                        } else {
                            var stmtImage = ``
                        };
                        
                        
                        var authorImg;
                        if ( threadKind == 'Announcement' ) {

                            authorImg = `
                                <img class="img-fluid rounded" src="${response.statements[num].author_obj.user.image.url}">
                                <figcaption class="font-12 font-italic text-center pt-1">
                                    ${response.statements[num].author_obj.user.username}
                                </figcaption>
                            `
                        } else if ( threadKind == 'Debate' ) {

                            authorImg = `
                                 <img class="img-fluid rounded-circle" src="${response.statements[num].author_obj.image.url}">
                                 <figcaption class="font-12 font-italic text-center pt-1">
                                    ${response.statements[num].author_obj.character.fullname}
                                 </figcaption>
                            `
                        };
                        


                        if ( !response.statements[num].thread_obj.is_ended ) {

                            var seenByImgs = ``;
                            var seenByProfiles = response.statements[num].seen_by_objs;
                            try {
                                var nextnum = parseInt(num) + 1;
                                var seenByProfilesNextStatementIds = [];
                                for ( var idx in response.statements[nextnum].seen_by_objs ) {
                                    seenByProfilesNextStatementIds.push(response.statements[nextnum].seen_by_objs[idx].id);
                                };
                            }
                            catch(err) {
                                var seenByProfilesNextStatementIds = [];
                            }
                            
                            for (var cnt in seenByProfiles) {
                                var imgSmall = ``;
                                if ( !seenByProfilesNextStatementIds.includes(seenByProfiles[cnt].id)  && !(seenByProfiles[cnt].id == response.statements[num].author_id)) {
                                    
                                    if ( threadKind == 'Debate' ) {
                                        imgSmall = `<img class="portait img-sm border border-dark rounded-circle mr-1" src="${seenByProfiles[cnt].image.url}">`;
                                    } else if ( threadKind == 'Announcement' ) {
                                        imgSmall = `<img class="portait img-sm border border-dark rounded mr-1" src="${seenByProfiles[cnt].user.image.url}">`;
                                    };
                                };
                                seenByImgs += imgSmall;
                            };
                            
                            
                            var seenByRow = `
                                <div class="row mt-2 ml-1">
                                    <div>
                                        ${seenByImgs}
                                    </div>
                                </div>
                            `
                        } else {
                            var seenByRow = ``
                        };
                        
                        
                        var stmtText = `<div class="statement">${response.statements[num].text}</div>`
                        var createdAt = response.statements[num].created_datetime;
                        
                        if ( isGmAndDebate ) {

                            var stmtRow = `
                                <div class="col-12 font-18 font-italic text-justify">
                                    ${stmtText}
                                    ${stmtImage}
                                </div>
                            `
                        } else {

                            var stmtRow = `
                                <div class="col-2 pr-0">
                                    <figure class="figure align-top mx-auto mb-0 px-lg-3 pt-1">
                                        ${authorImg}
                                    </figure>
                                </div>
                                <div class="col-10 font-18 font-italic text-justify mt-n1">
                                    <small class="text-muted">
                                        ${createdAt}
                                    </small>
                                    ${stmtText}
                                    ${stmtImage}
                                    ${seenByRow}
                                </div>
                            `
                        };
                        
                        
                        var stmt = `
                            ${anchor}
                            <div class="container px-0 mt-4">
                                <div class="row">
                                    ${stmtRow}
                                </div>
                            </div>
                            
                            `
                        
                        $("#display").append(stmt);
                    }
                }
                /*
                ,
                error: function(response){
                    alert('An error occured');
                    // console.log('ggggggg', response);
                }
                */
                
            });
        }
        
        // first call before page is ready
        reloadStatements();
        
        // subsequent calls with interval
        $(document).ready(function(){
            setInterval(reloadStatements,3000);
        })
    </script>


    <script type="text/javascript">
        function newStatement(e){
            // Event.preventDefault() prevents default handling of click action
            // (stops page from reloading)
            e.preventDefault();
            
            frames = document.getElementsByClassName('cke_wysiwyg_frame');
            ckeditortext = frames[0].contentDocument.activeElement.innerHTML;
            
            var formData = new FormData();
            formData.append('thread_id', $('#thread_id').val());
            formData.append('author_id', $('#id_author').val());
            formData.append('ckeditortext', ckeditortext);
            formData.append('csrfmiddlewaretoken', $('input[name=csrfmiddlewaretoken]').val());
            formData.append('file', document.getElementById('id_image').files[0]);
            
            $.ajax({
                type:'POST',
                url:'/communications/statement-create',
                
                // processData and contentType required to use FormData
                processData: false,
                contentType: false,
                data: formData,
                
                success: function(data){
                 //alert(data)
                }
            });
            
            document.getElementsByClassName('cke_wysiwyg_frame ')[0].contentDocument.activeElement.innerText = null;
            document.getElementById('id_image').value = null;
        }
        
        $(document).on('submit','#post-form',newStatement);
    </script>

{% endblock javascript %}