{% load crispy_forms_tags %}
{% load custom_filters %}

<!-- BUTTONS -->
<div class="row">

    <div>
        <a class="btn btn-outline-dark icon-up py-2 mt-1" href="{% url 'communications:threads' thread.kind tag_title %}#thread_{{ thread.id }}"
            data-toggle="tooltip" data-placement="bottom" title="
                {% if thread.kind == 'Announcement' %}
                     Ogłoszenia
                {% elif thread.kind == 'Debate' %}
                     Narady
                {% elif thread.kind == 'Demand' %}
                    Dezyderaty
                {% elif thread.kind == 'Plan' %}
                    Plany
                {% elif thread.kind == 'Report' %}
                    Zgłoszenia
                {% endif %}">
        </a>
    </div>

    {% if not thread.is_ended and not thread.is_exclusive %}
        <div>
            <p data-toggle="tooltip" data-placement="bottom" title="Udostępnij">
                <span class="btn btn-outline-dark icon-inform py-2 ml-1 mt-1" data-toggle="modal" data-target="#infoThreadModal"></span>
            </p>
        </div>
        <!-- The Modal -->
        <div class="modal fade img-modal" id="infoThreadModal" tabindex="-1" role="dialog" aria-hidden="true">
            {% with inform_type=thread.kind id_=thread.id %}
                {% include '_inform.html' %}
            {% endwith %}
        </div>
    {% endif %}

    {% if not thread.is_ended %}
        <div>
            {% if request.current_profile in thread.followers.all %}
                <a class="btn btn-outline-dark icon-unfollow py-2 ml-1 mt-1" href="{% url 'communications:unfollow' thread.id %}"
                   data-toggle="tooltip" data-placement="bottom" title="Nie obserwuj">
                </a>
            {% else %}
                <a class="btn btn-outline-dark icon-follow py-2 ml-1 mt-1" href="{% url 'communications:follow' thread.id %}"
                    data-toggle="tooltip" data-placement="bottom" title="Obserwuj">
                </a>
            {% endif %}
        </div>
    {% endif %}

    <div>
        <p data-toggle="tooltip" data-placement="bottom" title="Edytuj tagi">
            <span class="btn btn-outline-dark icon-hash py-2 ml-1 mt-1" data-toggle="modal" data-target="#tagsModal{{ thread.id }}"></span>
        </p>
        <!-- Modal -->
        <div class="modal fade" id="tagsModal{{ thread.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- Form rendered "manually" to achieve colored options-->
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div id="div_id_tags" class="form-group">
                                <div>
                                    <select name="tags" size="8" class="selectmultiple form-control custom-select" id="id_tags" multiple="">
                                        {% with selected_objs=thread_tags_form.tags|get_selected %}
                                            {% for choice in thread_tags_form.tags.field.choices %}
                                                {{ choice|render_option:selected_objs }}
                                            {% endfor %}
                                        {% endwith %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" value="Zapisz" class="btn btn-primary btn-dark d-block mx-auto mt-3 mb-n3" id="submit-id-submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div data-toggle="tooltip" data-placement="bottom" title="Notatki (w budowie)">
        <a class="btn btn-outline-dark icon-note py-2 ml-1 mt-1 disabled" href="#"></a>
    </div>
    {% if request.current_profile.status == 'gm' %}
        <div class="d-inline" data-toggle="tooltip" data-placement="bottom" title="Edycja">
            {% if thread.kind == "Debate" %}
                <a class="btn btn-outline-secondary icon-edit py-2 ml-1 mt-1" href="{% url 'admin:communications_debate_change' thread.id %}" target="_blank"></a>
            {% elif thread.kind == "Announcement" %}
                <a class="btn btn-outline-secondary icon-edit py-2 ml-1 mt-1" href="{% url 'admin:communications_announcement_change' thread.id %}" target="_blank"></a>
            {% endif %}
        </div>
    {% endif %}
</div>


<!-- INFO -->
<div class="col mt-3 p-0">

    {% if thread.kind == 'Debate' %}
        <div class="row">
            <div class="col-2 pl-0 h5">
                Kronika:
            </div>
            <div class="col-10 col-sm-10 pl-5 pl-lg-0">
                <div class="h5 mr-2 mr-sm-3 font-italic">
                {% for event in thread.events.all %}
                    <a class="font-italic" href="{% url 'chronicles:chronicle-game' event.game.id %}#event_{{ event.id }}">{{ event.game.title }}</a>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if thread.tags.first %}
        <div class="row">
            <div class="col-2 pl-0 h5">
                Tagi:
            </div>
            <div class="col-10 pl-5 pl-lg-0 h5">
                {% for tag in thread.tags.all %}
                    <span class="font-italic pr-1" style="color: {{ tag.color }};">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-2 pl-0 h5 my-1">
            Uczestnicy:
        </div>
        <div class="col-10 pl-5 pl-lg-0">
            {% for profile in thread.participants.all %}
                {% if thread.kind != 'Debate' or profile.status != 'gm' %}
                    {% include '_img_sm.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if not thread.is_ended %}
        <div class="row">
            <div class="col-2 pl-0 h5 my-1">
                Obserwują:
            </div>
            <div class="col-10 pl-5 pl-lg-0">
                {% for profile in thread.followers.all %}
                    {% if thread.kind != "Debate" or profile.status != "gm" %}
                        {% include '_img_sm.html' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

</div>
