{% load custom_filters %}


<div class="container my-1 border rounded
    {% if thread in unseen %}
        border-dark
        {% if thread_kind == 'Announcement' %}
            bg-bluish
        {% elif thread_kind == 'Debate' %}
            bg-greengrayish
        {% endif %}
    {% else %}
        bg-inner
    {% endif %}">
    
    <span class="pt-5" id="thread_{{ thread.id }}"></span>
    <div class="row p-1">
        <div class="col-auto px-0 mr-n3">
            <img class="portait img-md rounded
                {% if thread_kind == 'Announcement' %}
                     rounded
                {% elif thread_kind == 'Debate' %}
                     rounded-circle
                {% endif %}"
                 src="{{ thread.statements.first.author.image.url }}">
        </div>
        <div class="col pr-0 ml-n1">
            <div class="container h-100">
                <div class="row">
                    <div class="col pr-0">
                        <div class="font-11 font-italic text-muted align-top">
                            {% if thread_kind == 'Announcement' %}
                                {{ thread.created_at|date:'d-M-Y' }} | {{ thread.last_activity|date:'d-M-Y' }}
                            {% elif thread_kind == 'Debate' %}
                                {% for event in thread.events.all %}
                                    {% if forloop.counter > 1 %} | {% endif %}
                                    {{ event.game.title }}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col pr-0">
                        <div class="float-right font-15 mr-1">
                            {% if current_profile in thread.followers.all %}
                                <a class="icon-unfollow ml-1" href="{% url 'communications:unfollow' thread.id %}"
                                   data-toggle="tooltip" data-placement="bottom" title="Nie obserwuj">
                                </a>
                            {% else %}
                                <a class="icon-follow ml-1" href="{% url 'communications:follow' thread.id %}"
                                    data-toggle="tooltip" data-placement="bottom" title="Obserwuj">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row mt-n1">
                    <div class="col pr-0">
                        <div class="font-16 ">
                            <a class="border-bottom align-top font-17" href="{% url 'communications:thread' thread.id tag_title %}#page-bottom">
                                {{ thread.title|capfirst }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto pr-0">
                        <div class="font-11 mt-1">
                            {% for tag in thread.tags.all %}
                                {% if tag.author == current_profile %}
                                    <a class="mr-2" style="color: {{ tag.color }};" href="{% url 'communications:threads' thread_kind tag.title %}">{{ tag }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-auto p-0 ml-auto mt-auto">
                        <div class="mr-2">
                            {% with statements=thread.statements.all|dictsort:"author.id" %}
                                {% regroup statements by author as author_list %}
                                <!-- Add profiles without statements to the author_list with empty statements lists -->
                                {% with author_list=author_list|include_silent_participants:thread %}
                            
                                    {% for author in author_list %}
                                        <!-- Ensure GM picture is hidden in Debates -->
                                        {% if thread_kind != 'Debate' or author.grouper.status != 'gm' %}
                                            <img class="portait img-xs ml-1 border border-dark
                                                {% if thread_kind == 'Announcement' %}
                                                     rounded
                                                {% elif thread_kind == 'Debate' %}
                                                     rounded-circle
                                                {% endif %}"
                                                 src="{{ author.grouper.image.url }}">
                                            <span class="font-13">{{ author.list|length }}</span>
                                        {% endif %}
                                    {% endfor %}
                            
                                {% endwith %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
