{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/communications.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-button">
        <header class="mb-5">
            <a href="{% url 'communications:create-topic' 'Announcement' %}" class="btn btn-outline-dark">Nowy temat</a>
            <a href="{% url 'communications:create-thread' 'Announcement' %}" class="btn btn-outline-dark">Nowe ogłoszenie</a>
        </header>
        
        TODO reload ze starych Ogłoszeń

        <div class="pt-5">
            {% if unseen_announcements %}
                <div id="topic_unseen_announcements" class="mb-5">
                    <h3 class="small-caps mb-3">
                        <b class="border-bottom-dark">Nieprzeczytane</b>
                    </h3>
                    {% for announcement in unseen_announcements %}
                        {% with show_topic=True %}
                            {% include 'communications/_announcement.html' %}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endif %}
            {% for topic in topics %}
                <div id="topic_{{ topic.id }}" class="mb-5">
                    <h3 class="small-caps mb-3">
                        <b class="border-bottom-dark">{{ topic.title }}</b>
                    </h3>
                    {% for announcement in topic.threads.all %}
                        {% include 'communications/_announcement.html' %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        
    </article>

{% endblock content %}