{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/communications.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-button">
        TODO reload ze starych Ogłoszeń
        <header class="mb-5">
            <a href="{% url 'communications:create-topic' 'Announcement' %}" class="btn btn-outline-dark">Nowy temat</a>
            <a href="{% url 'communications:create-thread' 'Announcement' %}" class="btn btn-outline-dark">Nowe ogłoszenie</a>
        </header>
        
        <article class="pt-5">
            {% for topic in topics %}
                <div id="topic_{{ topic.id }}" class="mb-5">
                    <h3 class="small-caps mb-3">
                        <b class="border-bottom-dark">{{ topic.title }}</b>
                    </h3>
                    {% for announcement in topic.threads.all %}
                    
                        <div class="container my-1 border rounded {% if announcement in unseen_announcements %} bg-bluish {% else %} bg-inner {% endif %}">
                            <span class="pt-5" id="announcement_{{ announcement.id }}"></span>
                            <div class="row my-2">
                                
                                <div class="col-2 p-0 pl-2">
                                    <img class="rounded-circle article-img" src="{{ announcement.statements.first.author.image.url }}">
                                </div>
                                
                                <div class="col-10 pl-5 pl-sm-4 pl-lg-0 ml-lg-n2 ml-xl-n4">
                                    <div class="row">
                                        <small class="font-italic text-nowrap text-muted">{{ announcement.created_at|date:'d-M-Y | H:i' }}</small>
                                    </div>
                                    <div class="row">
                                        <a class="pr-1 h3 border-bottom" href="{% url 'communications:thread' announcement.id %}">{{ announcement.title }}</a>
                                    </div>
                                    <div class="row">
                                        <div class="float-left">
                                            {% for answer in announcement.statements.all %}
                                                <img class="rounded-circle img-small mb-1" src="{{ answer.author.image.url }}">
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <small class="font-italic text-muted">
                                            Ostatnia aktywność: {{ announcement.last_activity|date:'d-M-Y | H:i' }}
                                        </small>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    
                    {% endfor %}
                </div>
            {% endfor %}
        </article>
        
    </article>

{% endblock content %}