{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}


{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/communications.css' %}">
{% endblock head_extra %}


{% block content %}
    <div class="container">
        {% include 'communications/_thread_header.html' %}
    </div>
    <div class="container mt-5 pt-3 pl-0">
        {% include 'communications/_thread_body_CHAT.html' %}
    </div>
{% endblock content %}


{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){
        
        setInterval(function(){
            $.ajax({
                type: 'GET',
                url : "/communications/getStatements/{{thread_id}}/",
                success: function(response){
                    console.log(response);
                    $("#display").empty();
                    for (var key in response.statements)
                    {
                        var temp="<div class='container darker my-1 border'><b>"+response.statements[key].author_id+"</b><p class='time-left'>"+response.statements[key].created_at+"</p><p>"+response.statements[key].text+"</p></div>";
                        $("#display").append(temp);
                    }
                },
                error: function(response){
                    alert('An error occured')
                }
            });
        },3000);
        })
    </script>

    <script type="text/javascript">
      $(document).on('submit','#post-form',function(e){
        e.preventDefault();
    
        $.ajax({
          type:'POST',
          url:'/communications/send2',
          data:{
              thread_id:$('#thread_id').val(),
              text:$('#text').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function(data){
             //alert(data)
          }
        });
        document.getElementById('text').value = ''
      });
    </script>

{% endblock javascript %}