{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/communications.css' %}">
{% endblock head_extra %}

{% block content %}
    <article class="top-button">
        <header class="mb-5">
            <a href="{% url 'communications:create-thread' thread_kind %}" class="btn btn-outline-dark">
                {% if thread_kind == 'Announcement' %}
                    Nowe Ogłoszenie
                {% elif thread_kind == 'Debate' %}
                    Nowa Narada
                {% endif %}
            </a>
            <a data-toggle="tooltip" data-placement="bottom" title="Edytuj tagi">
                <span class="btn btn-outline-dark" data-toggle="modal" data-target="#tagsModal">Edytuj Tagi</span>
            </a>
            <div class="modal fade" id="tagsModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="container px-0 pb-2">
                                <div class="row text-center">
                                    <div class="col-7">Tag</div>
                                    <div class="col-3">Kolor</div>
                                    <div class="col-1 pl-2">Usuń?</div>
                                </div>
                            </div>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% crispy formset formset_helper %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% if tag_title == 'None' %}
                <span data-toggle="tooltip" data-placement="bottom" title="Filtruj po tagu">
                    <span class="btn btn-outline-dark icon-filter" data-toggle="modal" data-target="#tagFilterModal">
                    </span>
                </span>
                <div class="modal fade tags-modal" id="tagFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
                    {% include 'communications/_tag_filter_modal.html' %}
                </div>
            {% else %}
                <a class="btn btn-warning icon-filter border border-dark text-dark"
                   data-toggle="tooltip" data-placement="bottom" title="Wyczyść filtr"
                   href="{% url 'communications:threads' thread_kind None %}">
                    <span class="font-italic">#{{ tag_title }}</span>
                </a>
            {% endif %}
            
        </header>
        
        <div>
            <div id="unseen" class="mb-5">
                {% for thread in unseen %}
                    {% include 'communications/_thread.html' %}
                {% endfor %}
            </div>
            <div class="mb-5">
                {% for thread in threads %}
                    {% include 'communications/_thread.html' %}
                {% endfor %}
            </div>
        </div>
        
    </article>

{% endblock content %}