{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}


{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/communications.css' %}">
{% endblock head_extra %}



{% block content %}
    <article class="top-button">
        <header class="mb-5">


            <!-- Add -->
            <a class="btn btn-outline-dark"
                href="{% url 'communications:create-thread' thread_kind %}"
                data-toggle="tooltip" data-placement="bottom"
                {% if thread_kind == 'Announcement' %}
                    title="Nowe Ogłoszenie"
                {% elif thread_kind == 'Debate' %}
                    title="Nowa Narada"
                {% endif %}
                >
                <i class="icon-plus"></i>
            </a>


            <!-- Edit tags -->
            <span data-toggle="tooltip" data-placement="bottom" title="Edytuj tagi">
                <a class="btn btn-outline-dark"
                    href="{% url 'communications:threads' thread_kind None %}"
                    data-toggle="modal" data-target="#tagsModal">
                    <i class="icon-filter ml-n1"></i>
                    <i class="icon-details ml-n2 icon-small"></i>
                </a>
            </span>

            <div class="modal fade" id="tagsModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="container px-0 pb-2">
                                <div class="row text-center">
                                    <div class="col-7">Tag</div>
                                    <div class="col-3">Kolor</div>
                                    <div class="col-1 pl-2">Usuń?</div>
                                </div>
                            </div>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% crispy formset formset_helper %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Filter by tag -->
            {% if tag_title == 'None' %}
                <span data-toggle="tooltip" data-placement="bottom" title="Filtruj po tagu">
                    <a class="btn btn-outline-dark"
                        href="{% url 'admin:prosoponomikon_character_add' %}" target="_blank" rel="noopener noreferrer"
                        data-toggle="modal" data-target="#tagFilterModal">
                        <i class="icon-filter"></i>
                    </a>
                </span>
                <div class="modal fade tags-modal" id="tagFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
                    {% include 'communications/_tag_filter_modal.html' %}
                </div>
            {% else %}
                <span data-toggle="tooltip" data-placement="bottom" title="Wyczyść filtr">
                    <a class="btn btn-warning border border-dark text-dark"
                        href="{% url 'communications:threads' thread_kind None %}">
                        <i class="icon-filter font-italic">#{{ tag_title }}</i>
                    </a>
                </span>
            {% endif %}

        </header>


        <div>
            <div id="unseen" class="mb-5">
                {% for thread in unseen %}
                    {% include 'communications/_thread.html' %}
                {% endfor %}
            </div>
            <div class="mb-5">
                {% for thread in threads %}
                    {% include 'communications/_thread.html' %}
                {% endfor %}
            </div>
        </div>

    </article>

{% endblock content %}