{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <article class="top-space">
        {{ form_1.media }}
        {{ form_2.media }}
        {{ form_3.media }}
        {{ form_4.media }}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_1|crispy }}
            {{ form_2|crispy }}
            {{ form_3|crispy }}
            {{ form_4|crispy }}
            <input class="btn btn-dark" type="submit" value="Utwórz"/>
        </form>
    </article>
{% endblock content %}