{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <article>
        <form method="POST">
            <input id="formset-1" value="formset-1" name="formset-1" type="hidden">
            {{ formset_1.management_form }}
            <!-- Upper submit button for easier handling of very large formsets -->
            {% if formset_1.total_form_count > 10 %}
                <input id="submit-id-submit" class="btn btn-primary btn-dark mb-3" type="submit" name="submit" value="Zapisz zmiany">
            {% endif %}
            {% csrf_token %}
            {% crispy formset_1 formset_1.helper %}
        </form>
    </article>
{% endblock content %}
