

{% if thread_kind == 'Announcement' %}
     <img class="portait img-xs ml-1 border border-dark rounded" src="{{ author.grouper.user_img_url }}">
{% elif thread_kind == 'Debate' %}
     <img class="portait img-xs ml-1 border border-dark rounded-circle" src="{{ author.grouper.image.url }}">

<!-- Prosoponomikon -->
{% else %}
     <img class="portait img-xs ml-1 border border-dark rounded-circle" style="z-index: 2; position: absolute; top: 0.5rem; left: 0.7rem;" src="{{ acquaintanceship.knowing_character.profile.image.url }}">
{% endif %}
