

{% if thread.kind == 'Announcement' %}
     <img class="portait img-sm border border-dark rounded" src="{{ profile.user_img_url }}">
{% elif thread.kind == 'Debate' %}

     <!-- TODO temp Syngir, Murkon - temp is only this "if-else block", the nested one should stay -->
     {% if profile.id == 18 and request.current_profile.id == 82 or profile.id == 18 and request.current_profile.id == 93 %}
          <img class="portait img-sm border border-dark rounded-circle" src="media/profile_pics/profile_Dalamar_Szarogwardzista_2.jpg">
     {% else%}

          <img class="portait img-sm border border-dark rounded-circle" src="{{ profile.image.url }}">

     {% endif %}
     <!-- TODO END temp Syngir, Murkon -->


{% endif %}

