
<div class="modal-dialog" role="document">
    <div class="modal-content">
        
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <!-- The form encloses modal-body and modal-footer in order to enclose submit button -->
        <form method="POST" action="." name="{{ inform_type }}_form{{ id_ }}">
            {% csrf_token %}
            
            {% if not informables %}
            
                <h5 class="text-center text-danger m-3">
                    {% if inform_type == 'Announcement' %}
                        Brak Graczy możliwych do dołączenia.
                    {% else %}
                        Brak Postaci możliwych do dołączenia.
                    {% endif %}
                </h5>
            
            {% else %}

                <div class="modal-body">
                    <h5 class="text-center text-danger m-3">
                        {% if inform_type == 'Debate' %}
                            Dołączaj do Narad tylko Postacie znajdujące się w pobliżu.
                        {% elif inform_type == 'Announcement' %}
                            Udostępniaj Ogłoszenia tylko osobom zainteresowanym.
                        {% else %}
                            Informuj Postacie, którym przekazałeś już wiedzę w grze.
                        {% endif %}
                        <br>
                        W razie wątpliwości skonsultuj się z MG.
                    </h5>
                    <div class="text-center m-3">
                        <div>
                            {% for profile in informables %}
                                {% if profile.status == 'player' %}
                                    <input class="select-profile" type="checkbox" id="id_{{ forloop.counter }}{{ id_ }}" name="{{ profile.id }}">
                                    <label for="id_{{ forloop.counter }}{{ id_ }}">
                                        {% if inform_type != "Announcement" %}
                                            {% include '_profile_round_img.html' %}
                                        {% else %}
                                            {% include '_user_round_img.html' %}
                                        {% endif %}
                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div>
                            {% for profile in informables %}
                                {% if profile.status != 'player' %}
                                    <input class="select-profile" type="checkbox" id="id_{{ forloop.counter }}{{ id_ }}" name="{{ profile.id }}">
                                    <label for="id_{{ forloop.counter }}{{ id_ }}">
                                        {% include '_profile_round_img.html' %}
                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <h5 class="text-center text-danger">
                        {% if inform_type == 'Debate' %}
                            <small class="smaller">*Nowi uczestnicy są automatycznie wtajemniczani w całość Narady.</small>
                        {% elif inform_type == 'Announcement' %}
                            <small class="smaller">*Nowi uczestnicy zyskują dostęp do całości Ogłoszenia.</small>
                        {% else %}
                            <!-- Fill in if applicable  -->
                        {% endif %}
                    </h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark mx-auto" type="submit" name="{{ inform_type }}" value="{{ id_ }}">
                        {% if inform_type  == 'Debate' %}
                            Dołącz
                        {% else %}
                            Poinformuj
                        {% endif %}
                    </button>
                </div>
            {% endif %}
            
        </form>
        
    </div>
</div>
