
<div class="modal-dialog" role="document">
    <div class="modal-content">
        
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        {% if informables %}
        
            <form method="POST" action="." name="{{ inform_type }}_form{{ id_ }}">
                {% csrf_token %}
                <div class="modal-body">
                    <h5 class="text-center text-danger">
                        {% if inform_type  != 'Debate' %}
                            Informuj bohaterów, którym przekazałeś wiedzę w grze.
                        {% else %}
                            Dołączaj do narad tylko bohaterów znajdujących się w pobliżu.*
                        {% endif %}
                        <br>
                        W razie wątpliwości skonsultuj się z MG.
                    </h5>
                    <br>
                    <h4 class="text-center">
                        {% for profile in informables %}
                            <input class="select-profile" type="checkbox" id="id_{{ forloop.counter }}{{ id_ }}" name="{{ profile.id }}">
                            <label for="id_{{ forloop.counter }}{{ id_ }}">
                                <figure class="pointer">
                                    <img class="article-img img-pointer rounded-circle" src="{{ profile.image.url }}">
                                </figure>
                                
                            </label>
                        {% endfor %}
                    </h4>
                    <h5 class="text-center text-danger">
                        {% if inform_type  == 'Debate' %}
                            <small class="smaller">*Nowi uczestnicy są automatycznie wtajemniczani w całość narady.</small>
                            <br>
                            <small class="smaller">*Aby włączyć do narady BNa, wyślij dezyderat.</small>
                        {% else %}
                            <!-- Fill in if applicable  -->
                        {% endif %}
                    </h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark mx-auto" type="submit" name="{{ inform_type }}" value="{{ id_ }}" onclick="window.close()">
                        Dołącz / Poinformuj
                    </button>
                </div>
            </form>
        
        {% else %}
        
            <div class="modal-body mb-1">
                <h5 class="text-center text-danger">
                    Wszyscy obecni człokowie drużyny dobrze już o tym wiedzą.
                </h5>
            </div>
        
        {% endif %}

    </div>
</div>
