
<div class="modal-dialog" role="document">
    <div class="modal-content">
        
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        {% if informable %}
        
            <form method="POST" action="." name="{{ inform_type }}_form{{ id_ }}">
                {% csrf_token %}
                <div class="modal-body">
                    <h5 class="text-center text-danger">
                        Informuj jedynie postacie, którym przekazałeś wiedzę w świecie gry.
                        <br>
                        W razie wątpliwości skonsultuj się z MG.
                    </h5>
                    <br>
                    <h4 class="text-center">
                        {% for profile in informable %}
                            <input class="select-profile" type="checkbox" id="id_{{ forloop.counter }}{{ id_ }}" name="{{ profile.id }}">
                            <label for="id_{{ forloop.counter }}{{ id_ }}">
                                <img class="article-img rounded-circle" src="{{ profile.image.url }}">
                            </label>
                        {% endfor %}
                    </h4>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark" type="submit" name="{{ inform_type }}" value="{{ id_ }}" onclick="window.close()">
                        Poinformuj
                    </button>
                </div>
            </form>
        
        {% else %}
        
            <div class="modal-body mb-1">
                <h5 class="text-center text-danger">
                    Wszyscy obecni człokowie drużyny dobrze już o tym wiedzą.
                </h5>
            </div>
        
        {% endif %}

    </div>
</div>
