
<div class="col-2 pr-0">
    <figure class="figure align-top mx-auto mb-0 px-lg-3 pt-1">
        <img class="rounded-circle img-fluid" src="{{ post.author.image.url }}">
        <figcaption class="font-12 font-italic text-center pt-1">{{ post.author.character.name }}</figcaption>
    </figure>
</div>
<div class="col-10 font-18 font-italic text-justify ">
    <small class="text-muted">{{ post.created_at|date:'d-M-Y | H:i' }}</small><br>
    <p class="">{{ post.text|capfirst|linebreaksbr }}</p>
    {% if post.image %}
        <p><img class="img-fluid mx-auto d-block" src="{{ post.image.url }}" alt="Post img"></p>
    {% endif %}
</div>
