
<div class="d-flex justify-content-center">
    {% for picture in row %}
        <!-- Modal controls -->
        <figure class="modal-img figure text-center mx-auto pointer mb-0 mt-4 px-1" data-toggle="modal" data-target="#imgModal{{ picture.id }}">
            <img src="{{ picture.image_replacement_field.image.url }}" alt="Image in modal">
            {% if picture.description %}
                <figcaption class="font-italic font-14 text-center pt-1">{{ picture.description }}</figcaption>
            {% endif %}
        </figure>
        <!-- Modal -->
        <div class="modal fade img-modal" id="imgModal{{ picture.id }}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <img src="{{ picture.image_replacement_field.image.url }}" alt="Event img">
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
</div>
