{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" text="text/css" href="{% static 'css/main.css' %}">

    {% if page_title %}
        <title>RPG - {{ page_title }}</title>
    {% else %}
        <title> RPG ?|?|?|?|?|?|</title>
    {% endif %}
</head>

<body>
    <!--  HEADER  -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">
              {% if user.is_authenticated %}
                {{ user.username}}
              {% else %}
                RPG
              {% endif %}
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'forum' %}">- Wieczorne narady -</a>
                <a class="nav-item nav-link" href="{% url 'news-main' %}">- Słup ogłoszeń -</a>
                <a class="nav-item nav-link" href="#">- Zasady i tabele -</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="btn btn-dark btn-space" href="{% url 'logout' %}">Wyloguj</a>
                {% else %}
                    <a class="btn btn-dark btn-space" href="{% url 'register' %}">Nowa postać :(</a>
                    <a class="btn btn-dark btn-space" href="{% url 'login' %}">Zaloguj</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!--  NAVIGATION BAR  -->
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <!--    CONTENT        -->
            {% if user.is_authenticated or 'log' in request.path or 'register' in request.path %}
                <div class="border-bottom pt-3">
                    <h2>{{ page_title }}</h2>
                </div>
                {% block content %}{% endblock %}
            {% else %}
                <small class="text-muted">
                <a class="ml-2" href="{% url 'login' %}">Logowanie</a>
                </small>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
        <div class="col-md-4">
            <div class="content-section">
                <h3>{{ user.username }}</h3>
                <img class="account-img" src="{{ user.profile.image.url }}">
                <p class='text-muted'>
                    Przydomki i funkcje
                    <br>
                    Dalsze przydomki i funkcje
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Biografia</li>
                    <li class="list-group-item list-group-item-light">Historia w drużynie</li>
                    <li class="list-group-item list-group-item-light">Wiedza</li>
                    <li class="list-group-item list-group-item-light">Notatki</li>
                    <li class="list-group-item list-group-item-light">Karta postaci</li>
                </ul>
                </p>
            </div>
        </div>
       {% endif %}
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>