<!DOCTYPE html>
{% load static %}
<html lang="pl">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer&display=swap">
        <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
        <!-- Own CSS etc. -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" />

        {% if page_title %}
            <title>RPG - {{ page_title }}</title>
        {% else %}
            <title> RPG ?|?|?|?|?|?|</title>
        {% endif %}

        {% block head_extra %}
        {% endblock head_extra %}
    </head>

    <body>
        <!--  NAVBAR  -->
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-navbar fixed-top">
                {% include '_navbar.html' %}
            </nav>
        </header>

        <main role="main" class="container px-2">
            <div class="row">
                <div class="col-md-9">

                    <!--   BREADCRUMBS   -->
<!--                    <div class="breadcrumbs">-->
<!--                        <small>-->
<!--                            <ol class="breadcrumb my-1">-->
<!--                                {% block breadcrumb %}-->
<!--                                {% endblock breadcrumb %}-->
<!--                            </ol>-->
<!--                        </small>-->
<!--                    </div>-->

                    <!--   PAGE TITLE   -->
                    <br>
                    <header>
                        <div class="d-flex">
                            <div class="mt-auto">
                                <img class="img-page-title" src="{% static 'img/skadia.png' %}" alt="Page title img">
                            </div>
                            <div class="border-custom-base mt-auto pb-1 pl-2 pr-4">
                                <h1 class="mb-0"><strong class="align-bottom small-caps">{{ page_title|linebreaksbr }}</strong></h1>
                            </div>
                        </div>
                    </header>

                    <!--  MESSAGES  -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <!--   CONTENT   -->
                        {% block content %}
                        {% endblock content %}

                </div>
                
                <!--   SIDEBAR   -->
                <div class="col-md-3 pl-5">
                    <div class="content-section-sidebar">
                        <aside>
                            {% if user.is_authenticated %}
                                {% include '_sidebar.html' %}
                            {% endif %}
                        </aside>
                    </div>
                </div>
                
                <!--   SCROLL-UP BUTTON   -->
                <a id="upp" class="scrollup col-md-0"></a>
            </div>
            
            
            <!--   FOOTER   -->
            <div class="row mt-5 pt-5">
                <div class="col-md-9 pt-5">
                {% if user.is_authenticated %}
                    <footer class="footer pt-5">
                        <div class="border-top pb-2 pt-2 text-center">
                            <small>Gra zaczyna się na emeryturze, więc dbajcie o zdrówko!</small>
                        </div>
                    </footer>
                {% endif %}
                </div>
            </div>
            
        </main>
        

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>

        <!-- Scrolling -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
        <script>
            jQuery(function($)
            {
                // reset scroll on page loading
                $.scrollTo(0);
                // when click on element with class .scrollup scroll to 'body' element (=top)
                $('.scrollup').click(function() { $.scrollTo($('body'), 1000); });
            }
            );

            // Show scrollup button when scrolled down > 300px
            $(window).scroll(function()
            {
                if($(this).scrollTop()>300) $('.scrollup').fadeIn();
                else $('.scrollup').fadeOut();
            }
            );
        </script>
        <script>
            $("body").on("contextmenu", "img", function(e) {
                return false;
            });
        </script>

        {% block javascript %}
        {% endblock javascript %}
    </body>

</html>
