{% load custom_filters %}
{% load static %}


<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-navbar fixed-top">
        <div class="container">
            <span class="navbar-brand mr-5">Hyllemath</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">    <!-- id="navbarToggle" -->

                <!-- Navbar Left Side -->
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link " href="{% url 'news:main' %}">Ogłoszenia</a>
                    <a class="nav-item nav-link" href="{% url 'rules:main' %}">Zasady</a>
                    &emsp;&emsp;&emsp;
                    <a class="nav-item nav-link" href="{% url 'history:chronicle-main' %}">Kronika</a>
                    <a class="nav-item nav-link" href="{% url 'history:timeline-main' %}">Kalendarium</a>
                    <a class="nav-item nav-link" href="{% url 'debates:main' %}">Narady</a>
                    &emsp;&emsp;
                </div>

                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        {% if user.profile.character_name != '' %}
                            <a class="navbar-brand mr-2" href="{% url 'users:profile' %}">{{ user.profile.character_name|get_first_word }}</a>
                            {% if request.user.profile.character_status == 'gm' %}
                                <a href="{% url 'contact:main' %}"><img src="{% static 'img/mailing.png' %}" class="mr-2 mt-1"></a>
                            {% endif %}
                            <a href="{% url 'contact:main' %}"><img src="{% static 'img/report.png' %}" class="mr-3 mt-2"></a>
                            &emsp;
                        {% else %}
                            <a class="navbar-brand mr-2" href="{% url 'users:profile' %}">Uzupełnij profil</a>
                        {% endif %}
                        <a class="btn btn-outline-light btn-space" href="{% url 'users:logout' %}">Wyloguj</a>
                    {% else %}
                        <a class="btn btn-outline-light btn-space" href="{% url 'users:register' %}">Nowa postać</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>