{% load static %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock head_extra %}

{% if user.is_authenticated %}

<div class="col-md-3">
    <div class="content-section-sidebar">
        <br>
        <img class="account-img-sidebar" src="{{ user.profile.image.url }}">
        <h3>{{ user.profile.character_name }}</h3>
        <br>

        <!-- For game master -->
        {% if user.profile.character_status == 'gm' %}
        <ul class="list-group hover-pointer unblue">
            <li class="list-group-item list-group-item-light small-caps"><a href="{% url 'admin:index' %}">Admin</a></li>
            <li class="list-group-item list-group-item-light" data-toggle="collapse" data-target="#timeline"><h6><strike>Wydarzenia</strike></h6></li>
                <div id="timeline" class="list-group collapse unblue">
                    <a class="list-group-item list-group-item-light" href="{% url 'admin:history_gamesession_add' %}"><small>+ SESJA</small></a>
                    <a class="list-group-item list-group-item-light" href="{% url 'history:chronicle-create' %}"><small>+ Wydarzenie | KRONIKA</small></a>
                    <a class="list-group-item list-group-item-light" href="{% url 'history:timeline-create' %}"><small>+ Wydarzenie | KALENDARIUM</small></a>
                </div>
            <li class="list-group-item list-group-item-light small-caps" data-toggle="collapse" data-target="#actions"><h6>Techniczne</h6></li>
                <div id="actions" class="list-group collapse unblue">
                    <a class="list-group-item list-group-item-light" href="{% url 'reload:reload-main' %}"><strike><small>Przeładowanie sorting_name</small></strike></a>
                </div>
            <li class="list-group-item list-group-item-light small-caps" data-toggle="collapse" data-target="#character_sheets"><h6>Karty postaci</h6></li>
                <div id="character_sheets" class="list-group collapse unblue">
                    <a class="list-group-item list-group-item-light" href="{% url 'characters:tricks-sheet' %}"><small>Podstępy</small></a>
                </div>
            <li class="list-group-item list-group-item-light small-caps"><a href="{% url 'contact:plans-for-gm' %}">Plany graczy</a></li>
            <li class="list-group-item list-group-item-light small-caps"><a href="{% url 'contact:plans-main' %}">TODO</a></li>
        </ul>

        <!-- For players  -->
        {% else %}
        <ul class="list-group hover-pointer">
            <li class="list-group-item list-group-item-light small-caps" data-toggle="collapse" data-target="#character_sheet"><h6>Karta postaci</h6></li>
                <div id="character_sheet" class="list-group collapse unblue">
                    <a class="list-group-item list-group-item-light" href="#"><strike><small>Cechy i walka</small></strike></a>
                    <a class="list-group-item list-group-item-light" href="#"><strike><small>Doświadczenie | Tabela awansów</small></strike></a>
                    <a class="list-group-item list-group-item-light" href="#"><strike><small>Ekwipunek | Skrytki</small></strike></a>
                    <a class="list-group-item list-group-item-light" href="#"><strike><small>Umiejętności</small></strike></a>
                    <a class="list-group-item list-group-item-light" href="{% url 'characters:tricks-sheet' %}"><small>Podstępy</small></a>
                    <a class="list-group-item list-group-item-light" href="#"><strike><small>Arkana</small></strike></a>
                </div>
            <li class="list-group-item list-group-item-light small-caps" data-toggle="collapse" data-target="#knowledge"><h6><strike>Wiedza</strike></h6></li>
                <div id="knowledge" class="list-group collapse unblue">
                    <a class="list-group-item list-group-item-light" href="#"><strike><small>Prosoponomikon</small></strike></a>
                    <a class="list-group-item list-group-item-light" href="#"><strike><small>Toponomikon</small></strike></a>
                    <a class="list-group-item list-group-item-light" href="#"><strike><small>Bestiariusz</small></strike></a>
                    <a class="list-group-item list-group-item-light" href="#"><strike><small>Biblioteka | Mapy</small></strike></a>
                    <a class="list-group-item list-group-item-light" href="#"><strike><small>Varia</small></strike></a>
                </div>
            <li class="list-group-item list-group-item-light small-caps" data-toggle="collapse" data-target="#notes"><h6>Plany i przemyślenia</h6></li>
                <div id="notes" class="list-group collapse unblue">
                    <a class="list-group-item list-group-item-light" href="{% url 'contact:plans-main' %}"><small>Plany</small></a>
                    <a class="list-group-item list-group-item-light" href="#"><strike><small>Przemyślenia</small></strike></a>
                </div>
        </ul>

        {% endif %}
        <br>
    </div>
</div>
{% endif %}
