{% if user.is_authenticated %}
<div class="col-md-3">
    <div class="content-section-sidebar">
        <br>
        <img class="account-img-sidebar border-double" src="{{ user.profile.image.url }}">
        <h3>{{ user.profile.character_name }}</h3>
        <p class='text-muted'></p>

        {% if user.profile.character_status != 'gm' %}
        <!-- For players -->
        <ul class="list-group hover-pointer">
            <li class="list-group-item list-group-item-light" data-toggle="collapse" data-target="#character_sheet"><h6><strike>Karta postaci</strike></h6></li>
                <ul id="character_sheet" class="list-group collapse unblue">
                    <a href="#"><li class="list-group-item list-group-item-light"><strike><small>Cechy i walka</small></strike></li></a>
                    <a href="#"><li class="list-group-item list-group-item-light"><strike><small>Doświadczenie | Tabela awansów</small></strike></li></a>
                    <a href="#"><li class="list-group-item list-group-item-light"><strike><small>Ekwipunek | Skrytki</small></strike></li></a>
                </ul>
            <li class="list-group-item list-group-item-light" data-toggle="collapse" data-target="#skills"><h6><strike>Umiejętności</strike></h6></li>
                <ul id="skills" class="list-group collapse unblue">
                    <a href="#"><li class="list-group-item list-group-item-light"><strike><small>Klasowe</small></strike></li></a>
                    <a href="#"><li class="list-group-item list-group-item-light"><strike><small>Złodziejskie</small></strike></li></a>
                    <a href="#"><li class="list-group-item list-group-item-light"><strike><small>Arkana</small></strike></li></a>
                </ul>
            <li class="list-group-item list-group-item-light" data-toggle="collapse" data-target="#knowledge"><h6><strike>Wiedza</strike></h6></li>
                <ul id="knowledge" class="list-group collapse unblue">
                    <a href="#"><li class="list-group-item list-group-item-light"><strike><small>Prosoponomikon</small></strike></li></a>
                    <a href="#"><li class="list-group-item list-group-item-light"><strike><small>Toponomikon</small></strike></li></a>
                    <a href="#"><li class="list-group-item list-group-item-light"><strike><small>Bestiariusz</small></strike></li></a>
                    <a href="#"><li class="list-group-item list-group-item-light"><strike><small>Biblioteka | Mapy</small></strike></li></a>
                    <a href="#"><li class="list-group-item list-group-item-light"><strike><small>Varia</small></strike></li></a>
                </ul>
            <li class="list-group-item list-group-item-light" data-toggle="collapse" data-target="#notes"><h6><strike>Notatki</strike></h6></li>
                <ul id="notes" class="list-group collapse unblue">
                    <a href="#"><li class="list-group-item list-group-item-light"><strike><small>Dziennik</small></strike></li></a>
                    <a href="#"><li class="list-group-item list-group-item-light"><strike><small>Synteza</small></strike></li></a>
                </ul>

        {% else %}
        <!-- For game master -->
        <ul class="list-group hover-pointer unblue">
            <li class="list-group-item list-group-item-light"><h6><a href="{% url 'admin:index' %}">KREATORIUM</a></h6></li>
            <li class="list-group-item list-group-item-light" data-toggle="collapse" data-target="#timeline"><h6><strike>WYDARZENIA</strike></h6></li>
                <ul id="timeline" class="list-group collapse unblue">
                    <a href="{% url 'admin:history_gamesession_add' %}"><li class="list-group-item list-group-item-light"><strike><small>+ SESJA</small></strike></li></a>
                    <a href="{% url 'history:chronicle-create' %}"><li class="list-group-item list-group-item-light"><strike><small>+ Wydarzenie | Historia</small></strike></li></a>
                    <a href="{% url 'history:timeline-create' %}"><li class="list-group-item list-group-item-light"><strike><small>+ Wydarzenie | Kalendarium</small></strike></li></a>
                </ul>
            <li class="list-group-item list-group-item-light" data-toggle="collapse" data-target="#knowledge"><h6><strike>???</strike></h6></li>
                <ul id="##" class="list-group collapse unblue">
                    <a href="#"><li class="list-group-item list-group-item-light"><strike><small>Prosoponomikon</small></strike></li></a>
                </ul>
            <li class="list-group-item list-group-item-light" data-toggle="collapse" data-target="#notes"><h6><strike>TODO</strike></h6></li>
                <ul id="xz" class="list-group collapse unblue">
                    <a href="#"><li class="list-group-item list-group-item-light"><strike><small>Dziennik</small></strike></li></a>
                </ul>

        {% endif %}
        </ul>
        <br>
    </div>
</div>
{% endif %}
