{% load static %}


{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock head_extra %}


<nav class="sidebar-text small-caps">

    <a class="list-group-item" href="{% url 'prosoponomikon:character' request.current_profile.character.id %}">Postać</a>
    {% if request.current_profile.status == 'gm' %}
        <a class="list-group-item" href="{% url 'contact:plans-for-gm' %}">Plany Graczy</a>
    {% else %}
        <a class="list-group-item" href="{% url 'contact:plans-main' %}">Plany</a>
    {% endif %}

    <hr class="show-nonmobile">

    <a class="list-group-item" href="{% url 'chronicles:timeline' %}">Kalendarium</a>
    <a class="list-group-item" href="{% url 'chronicles:chronicle-main' %}">Kronika</a>
    <a class="list-group-item" href="{% url 'communications:threads' 'Debate' None %}">
        Narady
        {% with unseen_debates=request.current_profile.unseen_debates %}
            {% if unseen_debates %}
                <span class="info-row-sub debates-bubble float-right ml-1">
                    <div class="number-circle-sub bg-greengray d-flex align-items-center">
                        <span class="mx-auto number-circle-main-inner">{{ unseen_debates.count }}</span>
                    </div>
                </span>
            {% endif %}
        {% endwith %}
    </a>

    <hr class="show-nonmobile">

    <a class="list-group-item" href="{% url 'knowledge:almanac' %}">Almanach</a>
    <a class="list-group-item" href="{% url 'prosoponomikon:acquaintanceships' %}">Prosoponomikon</a>
    <a class="list-group-item" href="{% url 'toponomikon:main' %}">Toponomikon</a>

</nav>

