{% load crispy_forms_tags %}


<div class="container mb-3">
    <header>
        <div class="row">
            <div class="col-2 text-nowrap">
                <div class="d-inline">
                    <img class="rounded-circle portait img-sm border border-dark {% if is_done %} img-grayscale {% endif %}" src="{{ demand.author.image.url }}">
                    ☛
                    <img class="rounded-circle portait img-sm border border-dark {% if is_done %} img-grayscale {% endif %}" src="{{ demand.addressee.image.url }}">
                </div>
                <div class="d-inline ml-3">
                    <a class="btn btn-darkblue"
                        href="{% url 'contact:demands-detail' demand.id %}"
                        data-toggle="tooltip" data-placement="bottom" title="Szczegóły">
                        <i class="icon-details"></i>
                    </a>
                    {% if is_done %}
                        <a class="btn btn-darkyellow"
                            href="{% url 'contact:demand-undone' demand.id %}"
                            data-toggle="tooltip" data-placement="bottom" title="Niezrobiony">
                            <i class="icon-up-hand"></i>
                        </a>
                        {% if request.user == demand.author.user %}
                            <a class="btn btn-darkred"
                                href="{% url 'contact:demands-delete' demand.id %}"
                                data-toggle="tooltip" data-placement="bottom" title="Usuń"
                                onclick="return confirm('Czy na pewno chcesz usunąć Dezyderat?');">
                                <i class="icon-delete"></i>
                            </a>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-darkgreen"
                            href="{% url 'contact:demand-done' demand.id %}"
                            data-toggle="tooltip" data-placement="bottom" title="Zrobiony">
                            <i class="icon-done"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="row">
            <div class="col-2 text-nowrap">
                <small class="font-italic text-muted">{{ demand.date_created|date:'d-M-Y | H:i' }}</small>
            </div>
        </div>
        <div class="row">
            <div class="col-12 font-18 font-italic text-justify">
                <a data-toggle="collapse" data-target="#demand{{ demand.id }}">{{ demand.text|capfirst|linebreaks }}</a>
                {% if demand.image %}
                    <img class="img-fluid mx-auto d-block" src="{{ demand.image.url }}">
                {% endif %}
            </div>

            <div class="collapse container mb-5" id="demand{{ demand.id }}">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11">

                        {% for answer in demand.demand_answers.all %}
                            <div class="row">
                                <div class="col-1 pr-lg-0">
                                    <img class="mt-2 portait img-sm border border-dark rounded-circle text-right {% if is_done %} img-grayscale {% endif %}" src="{{ answer.author.image.url }}">
                                </div>
                                <div class="col-11 pl-lg-0 font-italic text-justify">
                                    <small class="align-bottom smaller text-nowrap text-muted">{{ answer.date_posted|date:'d-M-Y | H:i' }}</small>
                                    <p>{{ answer.text|capfirst|linebreaksbr }}</p>
                                    {% if answer.image %}
                                        <p><img class="img-fluid" src="{{ answer.image.url }}"></p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="row mt-4">
                            <div class="col-1 pr-lg-0"></div>
                            <div class="col-11 pl-lg-0 ">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <input type="hidden" name="form_id" value="{{ demand.id }}">
                                    <input class="btn btn-dark" type="submit" value="Odpowiedz">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>

</div>