{% load crispy_forms_tags %}


<div class="container mb-3">
    <header>
        <div class="row">
            <div class="col-2 text-nowrap">
                <div class="d-inline">
                    <img class="rounded-circle img-small {% if is_done %} img-grayscale {% endif %}" src="{{ demand.author.image.url }}">
                    ☛
                    <img class="rounded-circle img-small {% if is_done %} img-grayscale {% endif %}" src="{{ demand.addressee.image.url }}">
                </div>
                <div class="d-inline ml-3">
                    <a class="btn btn-dark px-2" href="{% url 'contact:demands-detail' demand.id %}">&nbsp;☷&nbsp;</a>
                    {% if is_done %}
                        <a href="{% url 'contact:demand-undone' demand.id %}" class="btn btn-dark">&nbsp;☝&nbsp;</a>
                        {% if request.user == demand.author.user_fk %}
                            <a href="{% url 'contact:demands-delete' demand.id %}" class="btn btn-danger">✘</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'contact:demand-done' demand.id %}" class="btn btn-dark">✔</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    
    <article>
        <div class="row">
            <div class="col-2 text-nowrap">
                <small class="font-italic text-muted">{{ demand.date_created|date:'d-M-Y | H:i' }}</small>
            </div>
        </div>
        <div class="row">
            <div class="col-12 font-18 font-italic text-justify">
                <a data-toggle="collapse" data-target="#demand{{ demand.id }}">{{ demand.text|capfirst|linebreaks }}</a>
                {% if demand.image %}
                    <img src="{{ demand.image.url }}">
                {% endif %}
            </div>
            
            <div class="collapse container mb-5" id="demand{{ demand.id }}">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11">

                        {% for answer in demand.demand_answers.all %}
                            <div class="row">
                                <div class="col-1 pr-lg-0">
                                    <img class="mt-2 img-small rounded-circle text-right {% if is_done %} img-grayscale {% endif %}" src="{{ answer.author.image.url }}">
                                </div>
                                <div class="col-11 pl-lg-0 font-italic text-justify">
                                    <small class="align-bottom smaller text-nowrap text-muted">{{ answer.date_posted|date:'d-M-Y | H:i' }}</small>
                                    <p>{{ answer.text|capfirst|linebreaksbr }}</p>
                                    {% if answer.image %}
                                        <p><img class="img-fluid" src="{{ answer.image.url }}"></p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="row mt-4">
                            <div class="col-1 pr-lg-0"></div>
                            <div class="col-11 pl-lg-0 ">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <input type="hidden" name="form_id" value="{{ demand.id }}">
                                    <input class="btn btn-dark" type="submit" value="Odpowiedz">
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </article>

</div>