{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
    <a href="{% url 'contact:demands-create' %}" class="btn btn-outline-dark">Nowy dezyderat</a>
    <br><br><br><br>

    <ul class="tabs">
        <li class="tab">
            <input type="radio" name="tabs" checked="checked" id="tab1"/>
            <label for="tab1">OTRZYMANE</label>
            <div id="tab-content1" class="content">
                {% include 'contact/received_demands.html' %}
            </div>
        </li>
        <li class="tab">
            <input type="radio" name="tabs" id="tab2"/>
            <label for="tab2">WYSŁANE</label>
            <div id="tab-content2" class="content">
                {% include 'contact/sent_demands.html' %}
            </div>
        </li>
    </ul>
{% endblock content %}