{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br><br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-3">
            {{ form.addressee|as_crispy_field }}
            {{ form.addressee.errors }}
        </div>
        <div class="col-md-12">
            {{ form.text|as_crispy_field }}
        </div>
        {{ form.image|as_crispy_field }}
        <input class="btn btn-dark" type="submit" value="Wyślij dezyderat">
    </form>
{% endblock content %}
