{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'contact:demands-main' %}">Dezyderaty</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br><br>
    <table>
        <tr class="posts-and-news">
            <td>
                <img class="rounded-circle article-img" src="{{ demand.author.profile.image.url }}">
            </td>
            <td>
                <small>{{ demand.date_created|date:'d-M-Y, H:i' }}</small>
                {{ demand.text|capfirst|linebreaks }}
                {% if demand.image %}
                    <img src="{{ demand.image.url }}">
                {% endif %}
            </td>
        </tr>
    </table>
    <br>

    <table>
        <tbody>
        {% for answer in demand.demand_answers.all %}
            <tr class="posts-and-news">
                <td>
                    <img class="rounded-circle article-img" src="{{ answer.author.profile.image.url }}">
                </td>
                <td class="align-center">
                    <small class="left-float">{{ answer.date_posted|date:'d-M-Y, H:i' }}</small><br>
                    {{ answer.text|capfirst|linebreaks }}
                    {% if answer.image %}
                        <img src="{{ answer.image.url }}" class="border-double">
                    {% endif %}
                    <br><br>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>

    <div id="page-bottom">
        <br>
        <form method="POST" action=".#page-bottom" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
            <input class="btn btn-dark" type="submit" value="Odpowiedz">
        </form>
    </div>
{% endblock content %}