{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock head_extra %}

{% block content %}
    <br><br><br><br>
    <table class="border-bottom">
        <tr>
            <td class="align-top pt-3 px-2">
                <img class="rounded-circle article-img" src="{{ demand.author.profile.image.url }}" alt="Profile img">
            </td>
            <td class="font-18 font-italic px-2 py-2 text-justify">
                <small class="font-italic text-nowrap text-muted">{{ demand.date_created|date:'d-M-Y | H:i' }}</small>
                <p>{{ demand.text|capfirst|linebreaksbr }}</p>
                {% if demand.image %}
                    <img src="{{ demand.image.url }}" alt="Demand img">
                {% endif %}
                <br><br>
            </td>
        </tr>
    </table>
    <br><br>

    <table>
        <tbody>
            {% for answer in answers %}
                {% with post=answer %}
                    {% include '_post.html' %}
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    <br><br>

    <div id="page-bottom">
        <br>
        <form method="POST" action=".#page-bottom" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
            <input class="btn btn-dark" type="submit" value="Odpowiedz">
        </form>
    </div>
{% endblock content %}