{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block head_extra %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url 'contact:main' %}">Dezyderaty</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
    <a href="{% url 'contact:main' %}" class="btn btn-outline-dark">Twoje dezyderaty</a>
    <br><br><br><br><br>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-dark" type="submit" value="Zmodyfikuj">
    </form>
{% endblock content %}
