{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock head_extra %}

{% block content %}
<br><br><br><br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-2">
                {{ form.inform_gm|as_crispy_field }}
                <small>
                    Wiedza MG może wpłynąć na szanse powodzenia planu tylko w granicach uprzednio przyjętych realiów.
                    Celem nie będzie nigdy ukrócenie śmiałych planów. Jeśli obawiasz się, że może być inaczej, utrzymaj plan w tajemnicy!
                </small>
            </div>
            <div class="col-md-10">
                {{ form.text|as_crispy_field }}
            </div>
        </div>
        {{ form.image|as_crispy_field }}
        <input class="btn btn-dark" type="submit" value="Snuj plan">
    </form>
{% endblock content %}
