{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
    <a href="{% url 'contact:create-todo' %}" class="btn btn-outline-dark">Nowy plan</a>
    <br><br><br><br>

    <h3>Oczekujące:</h3>
    <br><br>
    {% for demand in self_demands_undone %}
        <table>
            <tr class="posts-and-news">
                <td>
                    <img class="rounded-circle article-img" src="{{ demand.author.profile.image.url }}">
                    <br>
                    <small>{{ demand.date_created|date:'d-M-Y' }}</small>
                </td>
                <td class="unblue"><a href="{% url 'contact:detail' demand.id %}">{{ demand.text }}</a></td>
                {% if request.user == demand.author %}
                    <td><a href="{% url 'contact:modify' demand.id %}" class="btn btn-warning">&#9998;</a></td>
                {% endif %}
                <td><a href="{% url 'contact:done' demand.id %}" class="btn btn-success">&#10004;</a></td>
                {% if request.user.profile.character_status == 'gm' %}
                    <td><a href="{% url 'contact:done-answer' demand.id %}" class="btn btn-success">&#10004;<br>&#9993;</a></td>
                {% endif %}
            </tr>
        </table>
        <br><br>
    {% endfor %}
    <br><br><br>

    <h3>Zrobione:</h3>
    <br><br>
    {% for demand in self_demands_done %}
        <table>
            <tr class="posts-and-news">
                <td>
                    <img class="rounded-circle article-img" src="{{ demand.author.profile.image.url }}">
                    <br>
                    <small>{{ demand.date_created|date:'d-M-Y' }}</small>
                </td>
                <td class="unblue"><a href="{% url 'contact:detail' demand.id %}">{{ demand.text }}</a></td>
                <td><a href="{% url 'contact:undone' demand.id %}" class="btn btn-warning">&#9757;</a></td>
                {% if request.user == demand.author %}
                    <td><a href="{% url 'contact:delete' demand.id %}" class="btn btn-danger">&#10008;</a></td>
                {% endif %}
            </tr>
        </table>
        <br>
    {% endfor %}
    <br><br>


{% endblock content %}