{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="javascript:history.go(-1)">Historia</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
    <table class="chronicles" id="chronicles" data-search="true" data-toggle="table">
        <colgroup>
            <col class="description">
            <col class="actions">
        </colgroup>

        {% for event in game.described_events.all %}
                    {% if event in request.user.profile.described_events_participated.all or event in request.user.profile.described_events_informed.all or request.user.profile.character_status == 'gm' %}
                        <tr>
                            <td class="chronicle-event">
                                <p>
                                    {% if event in request.user.profile.described_events_informed.all %}
                                        <small>(Znasz z opowieści)</small>
                                    {% endif %}

                                    {{ event.description|linebreaksbr }}

                                    {% for note in event.notes.all %}
                                        {% if request.user == note.author %}
                                            {% if note.text != '' %}
                                                <a style="color:{{ note.color }}"><br>Notatka:<br>{{ note.text|linebreaksbr }}</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </td>
                            <td class="align-top">
                                <h6><a href="#"><img src="{% static 'img/inform.png' %}" class="small-img"></a></h6>
                                <h6><a href="#"><img src="{% static 'img/note.png' %}" class="small-img"></a></h6>
                                {% if request.user.profile.character_status == 'gm' %}
                                    <h6><a href="#"><img src="{% static 'img/edit.png' %}" class="small-img"></a></h6>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
        {% endfor %}
    </table>
    <br>
{% endblock content %}