{% extends 'base.html' %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'timeline-main' %}">Kalendarium</a></li>
    <li class="breadcrumb-item"><a href="javascript:history.go(-1)">Kalendarium: wydarzenia</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <form method="POST">
        {% csrf_token %}
        <table class="create-event">
        {% for field in form %}
            <tr>
                <td class="padding">
                    <label for="{{ forloop.counter }}">{{ field.label }}:</label>
                </td>
                <td class="padding">
                    <a id="{{ forloop.counter }}">{{ field }}</a>
                </td>
            </tr>
        {% endfor %}
        </table>
        <br>

        <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
        <input class="btn btn-dark" type="submit" value="Utwórz wydarzenie"/>
    </form>
{% endblock content %}