{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'timeline-main' %}">Kalendarium</a></li>
    <li class="breadcrumb-item"><a href="javascript:history.go(-1)">Kalendarium: wydarzenia</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br><br><br>
    <table class="forms">
        {% if event.game_no %}
        <tr>
            <td><h6>Sesja:</h6></td>
            <td class="justify"><small>{{ event.game_no }}</small></td>
        </tr>
        {% endif %}
        <tr>
            <td><h6>Data:</h6></td>
            <td class="justify">
                <small>
                    Rok: {{ event.year }}  [{{ event.year|add:19 }}. rok Archonatu Nemetha Samatiana]<br>
                    Pora roku:
                    {% if event.season == '1' %}
                        Wiosna
                    {% elif event.season == '2' %}
                        Lato
                    {% elif event.season == '3' %}
                        Jesień
                    {% elif event.season == '4' %}
                        Zima
                    {% endif %}
                    <br>
                    Dzień:
                    {% if event.day_end %}
                        {{ event.day_start }}-{{ event.day_end }}
                    {% else %}
                        {{ event.day_start }}
                    {% endif %}
                </small>
            </td>
        </tr>
        <tr>
            <td><h6>Wątki:</h6></td>
            <td class="justify">
                <small>
                    {% for thread in event.threads.all %}
                    *{{ thread }}<br>
                    {% endfor %}
                </small>
            </td>
        </tr>
        <tr>
            <td><h6>Lokacja:</h6></td>
            <td class="justify">
                <small>{{ event.general_location }}:
                    {% for loc in event.specific_locations.all %}
                    {{ loc }}
                    {% endfor %}
                </small>
            </td>
        </tr>
        <tr>
            <td><h6>Wydarzenie:</h6></td>
            <td class="justify"><small>{{ event.description }}</small></td>
        </tr>
        <tr>
            <td><h6>Uczestnicy:</h6></td>
            <td><small>{{ participants }}</small></td>
        </tr>
        {% if informed %}
        <tr>
            <td><h6>Poinformowani:</h6></td>
            <td><small>{{ informed }}</small></td>
        </tr>
        {% endif %}
    </table><br><br>

    <h6>Poinformuj towarzyszy o wydarzeniu:</h6>
    <small>1) Opowiadaj swoje losy tylko towarzyszom obecnym przy Tobie w chwili zakończenia sesji!</small><br>
    <small>2) Nie informuj uczestników zdarzeń!</small><br>
    <small class="red">3) Jeśli ktoś już jest poinformowany - nie usuwaj go!</small><br>
    <br>

    <div class="allowed-profiles-form">
        <form method="POST">
            {% csrf_token %}
            {{ form.informed }}<br>
            <small>***Aby zaznaczyć wiele postaci - użyj CTRL albo SHIFT.</small><br><br>
            <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
            <input class="btn btn-dark" type="submit" value="Poinformuj">
        </form>
    </div>
{% endblock content %}
