{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block head_extra %}
{{ post_form.media }}
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
    {{ events }}
    {% if request.user.profile.character_name == 'MG' %}
        <div class="mb-4">
            <a href="{% url 'create_event' %}" class="btn btn-outline-secondary">Nowe wydarzenie</a>
        </div><br>
    {% endif %}

    <table class="timeline" data-search="true" data-toggle="table">
        <colgroup>
            <col class="year">
            <col class="day">
            <col class="thread">
            <col class="description">
            <col class="participants">
            <col class="locations">
            <col class="game">
            <col class="actions">
        </colgroup>
        <thead>
            <tr>
                <th>R</th>
                <th>D</th>
                <th>Wątek</th>
                <th>Wydarzenie</th>
                <th>Postaci</th>
                <th>Lokacja</th>
                <th>S</th>
                <th>Akcje</th>
            </tr>
        </thead>

        <tbody>
        {% for event in queryset %}
            <tr>
                <td class="center {{ seasons_with_styles_dict|dict_lookup:event.season }}">
                    {{ event.year }}
                </td>
                <td class="center {{ seasons_with_styles_dict|dict_lookup:event.season }}">
                    {% if event.day_end %}
                        {{ event.day_start }}-{{ event.day_end }}
                    {% else %}
                        {{ event.day_start }}
                    {% endif %}
                </td>
                <td class="timeline-event">
                    {% for thread in event.threads.all %}
                        *{{ thread }}<br>
                    {% endfor %}
                </td>
                <td class="timeline-event">
                    {{ event.description|linebreaksbr }}
                    {% for note in event.notes.all %}
                        {% if request.user == note.author %}
                            {% if note.text != '' %}
                                <a style="color:{{ note.color }}"><br>Notatka:<br>{{ note.text|linebreaksbr }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="timeline-small">
                    {% for profile in event.participants.all %}
                        <small>{{ profile.character_name|get_first_word }}</small><br>
                    {% endfor %}
                    {% for profile in event.informed.all %}
                        <small>+{{ profile.character_name|get_first_word }}</small><br>
                    {% endfor %}
                </td>
                <td >
                    {{ event.general_location }}<br>
                    {% for location in event.specific_locations.all %}
                        <small>{{ location }}</small><br>
                    {% endfor %}
                </td>
                <td class="center"><small>{{ event.game_no.game_no }}</small></td>
                <td>
                    <h6><a href="{% url 'add_informed' event.id %}"><img src="{% static 'img/inform.png' %}" class="small-img"></a></h6>
                    <h6><a href="{% url 'event_note' event.id %}"><img src="{% static 'img/note.png' %}" class="small-img"></a></h6>
                    {% if request.user.profile.character_status == 'gm' %}
                        <h6><a href="{% url 'edit_event' event.id %}"><img src="{% static 'img/edit.png' %}" class="small-img"></a></h6>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

{% endblock content %}