{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>

    {% if request.user.profile.character_name == 'MG' %}
        <div class="mb-4">
            <a href="{% url 'create-event' %}" class="btn btn-outline-dark">Nowe wydarzenie</a>
        </div><br>
    {% endif %}

    <h4>Lata:</h4>
    <ul>
        {% for y in years %}
            <li>{{ y }}</li>
        {% endfor %}
    </ul>



    <h4>Wątki:</h4>
    <ul>
        {% for t in threads %}
            <li>{{ t }}</li>
        {% endfor %}
    </ul>

    <h4>Uczestnicy:</h4>
    <ul>
        {% for p in participants %}
            <li>{{ p }}</li>
        {% endfor %}
    </ul>

    <h4>Lokacje:</h4>
    <ul>
        {% for gl in general_locations %}
            <li>{{ gl }}</li>
        {% endfor %}
    </ul>

    <h4>Lokacje szczegółowe:</h4>
    <ul>
        {% for sl in specific_locations %}
            <li>{{ sl }}</li>
        {% endfor %}
    </ul>

    <br>

{% endblock content %}