{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'timeline-main' %}">Kalendarium</a></li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>
    <p>{{ header }}</p>
    <br><br><br>

    <table class="timeline" data-search="true" data-toggle="table">
        <colgroup>
            <col class="year">
            <col class="day">
            <col class="thread">
            <col class="description">
            <col class="participants">
            <col class="locations">
            <col class="game">
            <col class="actions">
        </colgroup>
        <thead>
            <tr>
                <th>Rok</th>
                <th>Dzień</th>
                <th>Wątki</th>
                <th>Wydarzenie</th>
                <th>Postaci</th>
                <th>Lokacja</th>
                <th>Sesja</th>
                <th>Akcja</th>
            </tr>
        </thead>

        <tbody>
        {% for event in queryset %}
            <tr>
                <td class="center align-top unblue-black {{ seasons_with_styles_dict|dict_lookup:event.season }}">
                    <a class="hover-pointer" href="{% url 'timeline-by-year-and-season' event.year '0' %}">{{ event.year }}</a>
                </td>
                <td class="center align-top unblue-black {{ seasons_with_styles_dict|dict_lookup:event.season }}">
                    <a href="{% url 'timeline-by-year-and-season' event.year event.season %}">
                    {% if event.day_end %}
                        {{ event.day_start }}-{{ event.day_end }}
                    {% else %}
                        {{ event.day_start }}
                    {% endif %}
                    </a>
                </td>
                <td class="timeline-event align-top unblue-black">
                    {% for thread in event.threads.all %}
                        <a class="hover-pointer" href="{% url 'timeline-by-thread' thread.id %}">&#10023;{{ thread }}</a><br>
                    {% endfor %}
                </td>
                <td class="timeline-event justify align-top">
                    {{ event.description|linebreaksbr }}
                    {% for note in event.notes.all %}
                        {% if request.user == note.author %}
                            {% if note.text != '' %}
                                <a style="color:{{ note.color }}"><br>Notatka:<br>{{ note.text|linebreaksbr }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="timeline-small align-top unblue">
                    {% for profile in event.participants.all %}
                        <a class="hover-pointer" href="{% url 'timeline-by-participant' profile.id %}"><small>{{ profile.character_name|get_first_word }}</small></a><br>
                    {% endfor %}
                    {% for profile in event.informed.all %}
                        <a class="hover-pointer" href="{% url 'timeline-by-participant' profile.id %}"><small>+{{ profile.character_name|get_first_word }}</small></a><br>
                    {% endfor %}
                </td>
                <td class="timeline-small align-top unblue-black">
                    <a class="hover-pointer"  href="{% url 'timeline-by-general-location' event.general_location.id %}">{{ event.general_location }}</a><br>
                    {% for loc in event.specific_locations.all %}
                        <a class="hover-pointer" href="{% url 'timeline-by-specific-location' loc.id %}"><small>{{ loc }}</small></a><br>
                    {% endfor %}
                </td>
                <td class="center align-top unblue-black">
                    {% if event.game_no.game_no > 0 %}
                        <small><a href="{% url 'chronicle-chapter' event.game_no.id %}">
                            -{{ event.game_no.game_no }}-
                        </a></small>
                    {% elif event.game_no.game_no == 0 %}
                        <small hidden><b>***</b></small>
                    {% else %}
                        <small><a href="{% url 'chronicle-chapter' event.game_no.id %}">-X-</a></small>
                    {% endif %}
                </td>
                <td class="align-top">
                    <h6><a href="{% url 'add-informed' event.id %}"><img src="{% static 'img/inform.png' %}" class="small-img"></a></h6>
                    <h6><a href="{% url 'event-note' event.id %}"><img src="{% static 'img/note.png' %}" class="small-img"></a></h6>
                    {% if request.user.profile.character_status == 'gm' %}
                        <h6><a href="{% url 'edit-event' event.id %}"><img src="{% static 'img/edit.png' %}" class="small-img"></a></h6>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock content %}

