{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>

    {% if request.user.profile.character_name == 'MG' %}
        <div class="mb-4">
            <a href="{% url 'create-event' %}" class="btn btn-outline-dark">Nowe wydarzenie</a>
        </div><br>
    {% endif %}
    <br>

    <h3 class="unblue">
        <strong><a href="{% url 'timeline-events' %}">Pełne Kalendarium</a></strong>
    </h3>
    <br><br>

    <h3>Wątki</h3>
    <small>Wykaz wątków, w jakie uwikłane są Twoje losy</small><br><br>
    <table>
        <tr>
        {% for t in threads %}
            <td class="unblue">
                &#10023; <a href="{% url 'timeline-by-thread' t.1.id %}">{{ t.0 }}</a>&emsp;&emsp;
            </td>
            {% if forloop.counter|divisibleby:3 %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <br><br><br>

    <h3>Uczestnicy</h3>
    <small>Członkowie drużyny współuczestniczący w wydarzeniach</small><br><br>
    <table>
        <tr>
        {% for p in participants %}
            <td>
                &#10023; {{ p.0 }}&emsp;&emsp;
            </td>
            {% if forloop.counter|divisibleby:4 %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <br><br><br>

    <h3>Krainy</h3>
    <small>Wykaz znanych Ci krain i lokacji występujących w Kalendarium</small><br>
    <table>
        {% for gl in general_locs_with_specific_locs_list %}
            <tr>
                <td>
                    <br><h5>&#10037; {{ gl.0 }}&emsp;&emsp;</h5>
                </td>
            </tr>
            <tr>
            {% for sl in gl.1 %}
                <td>
                    &#10023; {{ sl.0 }}&emsp;&emsp;
                </td>
                {% if forloop.counter|divisibleby:4 %}
                        </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table><br><br><br>

    <h3>Lata</h3>
    <small>Chronologia według Archonatu Nemetha Samatiana w Ebbonie</small><br><br>
    <table>
        <tr class="chronicles">
        {% for y in years %}
            <td>
                {{ y }}&emsp;&emsp;
            </td>
            <!--{% if forloop.counter|divisibleby:5 %}-->
                </tr>
            <!--{% endif %}-->
        {% endfor %}
    </table>
    <br><br><br>

{% endblock content %}
