{% extends 'base.html' %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block head_extra %}
{{ post_form.media }}
{% endblock head_extra %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ page_title }}</li>
{% endblock breadcrumb %}

{% block content %}
    <br>

    <table>
        <thead>
            <tr>
                <th>Rok</th>
                <th>Dni</th>
                <th>Wątek</th>
                <th>Wydarzenie</th>
                <th>Udział<br><small>------</small><br>Info</th>
                <th>Lokacja</th>
                <th>Sesja</th>
            </tr>
        </thead>

        <tbody>
        {% for event in event_list %}
            {% if request.user.profile in event.participants.all or request.user.profile in event.informed.all %}
                <tr>
                    <td>{{ event.year }}</td>
                    <td>
                        {% if event.day_end %}
                            {{ event.day_start }}-{{ event.day_end }}
                        {% else %}
                            {{ event.day_start }}
                        {% endif %}
                    </td>
                    <td class="timeline-thread">{{ event.thread }}</td>
                    <td class="timeline-description">{{ event.description }}</td>
                    <td class="timeline-small">
                        {% for profile in event.participants.all %}
                            {% if profile.character_status != 'gm' %}
                                <small>{{ profile.character_name|get_first_word }}</small><br>
                            {% endif %}
                        {% endfor %}
                        {% if event.informed.all %}
                            <small>------</small><br>
                            {% for profile in event.informed.all %}
                                {% if profile.character_status != 'gm' %}
                                    <small>{{ profile.character_name|get_first_word }}</small><br>
                                {% endif %}
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td>{{ event.location1 }}<br>{{ event.location2 }}</td>
                    <td>{{ event.game_no }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <br>

{% endblock content %}