{% extends 'base.html' %}


{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'forum' %}">Wieczorne narady</a></li>
  <li class="breadcrumb-item active">{{ board.title }}</li>
{% endblock %}


{% block content %}
    <h1>{{ board.title }}</h1><br>
    <h4>{{ board.description }}</h4><br>

    <table border="1">
        <thead>
            <tr>
                <th>Tytuł narady</th>
                <th>Pierwsze słowo</th>
                <th>Głosy w naradzie</th>
                <th>Ostatnie słowo</th>
            </tr>
        </thead>

        <tbody>
        {% for topic in topics %}
            <tr>
                <td>
                    <a href="{% url 'topic' topic.id %}">{{ topic.topic_name }}</a>
                    <br>
                </td>
                <td>...</td>
                <td>0</td>
                <td>...</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}