{% extends 'base.html' %}
<!-- load dict_lookup from custom_filters.py in forum/templatetags -->
{% load custom_filters %}

{% block content %}
    <h1>Wieczorne narady</h1><br>

    {% for board in boards %}
    <h4>{{ board.title }}</h4>
    <small style="color: #888">{{ board.description }}</small>
    <br><br>

    <table border="1">
        <thead>
            <tr>
                <th>Narada</th>
                <th>Inicjator</th>
                <th>Wypowiedzi</th>
                <th>Uczestnicy</th>
                <th>Ostatnie słowo</th>
            </tr>
        </thead>


        <tbody>
            {% for topic in board.topics.filter %}
            <tr>
                <td>
                    <a href="{% url 'topic' topic.slug %}">{{ topic.topic_name }}</a>
                </td>
                <td>
                    {{ topic.starter }}<br>
                    <small style="color: #888">{{ topic.created_date|date:'d-M-Y' }}</small>
                </td>

                <td>{{ topic.posts.count }}</td>
                <td>{{ topics_with_participants|dict_lookup:topic }}</td>
                <td>
                    {{ topics_with_last_active_user|dict_lookup:topic }}<br>
                    <small style="color: #888">{{ topics_with_last_post_date|dict_lookup:topic|date:'d-M-Y' }}</small>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="mb-4">
        <a href="{% url 'create_topic' board.slug %}" class="btn btn-primary">Nowa narada</a>
    </div>
    <br><br>
    {% endfor %}
{% endblock content %}

<!---->