{% extends 'base.html' %}
<!-- load dict_lookup from custom_filters.py in forum/templatetags -->
{% load custom_filters %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Wieczorne narady</li>
{% endblock %}

{% block content %}
    <h1>Wieczorne narady</h1><br>

    <table border="1">
        <thead>
            <tr>
                <th>Temat</th>
                <th>Ilość narad</th>
                <th>Ilość wypowiedzi</th>
                <th>Pierwsza narada</th>
                <th>Ostatni głos</th>
            </tr>
        </thead>

        <tbody>
        {% for board in boards %}
            <tr>
                <td>
                    <a href="{% url 'board' board.slug %}">{{ board.title }}</a>
                    <br>
                    <small style="color: #888">{{ board.description }}</small>
                </td>
                <td>{{ board.topics.count }}</td>
                <td>{{ boards_with_posts_sum|dict_lookup:board }}</td>
                <td>{{ boards_with_created_date|dict_lookup:board|date:'d-M-Y' }}</td>
<!--                todo add user name for last activity-->
                <td>
                    {{ boards_with_last_post_date|dict_lookup:board|date:'d-M-Y, H:i' }}
                    {{ boards_with_last_active_user|dict_lookup:board }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}