{% extends 'base.html' %}

{% block content %}
  <h1>{{ board.title }}</h1><br>
  <h3>Narada: {{ topic.topic_name }}</h3><br>
  {% for post in topic.posts.all %}
  <table border="0">
    <tbody>
      <tr>
        <td>
            <p>{{ post.author }}</p>
            <small style="color: #888">{{ post.date_posted|date:'d-M-Y' }}</small>
        </td>
        <td class="post-text-in-topic">
            <p>{{ post.text }}</p>
        </td>

      </tr>

    </tbody>
  </table>
  <br>
  {% endfor %}

  <form method="POST">
    {% csrf_token %}
    {{ new_post }}
    <br>
    <input type="submit" value="Tak rzeknij"}}>
    <br><br><br><br>
  </form>

{% endblock content %}