{% extends 'base.html' %}

{% block content %}
  <h1>{{ board }}</h1><br>
  <h3>Narada: {{ page_title }}</h3><br>
  {% for post in topic_posts_list %}
  <table border="0">
    <thead>
      <tr>
        <td>
          {{ post.author }}<br>
          <small style="color: #888">{{ post.date_posted|date:'d-M-Y' }}</small>
        </td>
        <td>
          {{ post.text }}
        </td>

      </tr>

    </thead>
  </table>
  <br>
  {% endfor %}

    <div class="mb-4">
        <a href="#" class="btn btn-primary">Odpowiedz</a>
    </div>

{% endblock content %}